@charset "UTF-8";
#subNav {
  position: relative;
  width: 100%;
  margin-top: 55px;
  padding: 0 20px;
}

#subNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#subNav ul li {
  display: inline-block;
}

#subNav ul li a {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  color: #666;
  font-weight: 300;
}

#subNav ul li a:hover {
  color: #3e72ed;
  font-weight: bold;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 3px solid #3e72ed;
}

#subNav ul li a.active {
  color: #3e72ed;
  font-weight: bold;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 3px solid #3e72ed;
}

#subNav.garo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #d6d6d6;
  background: #fff;
  margin-top: 0;
}

#subNav.garo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1030px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#subNav.garo ul li {
  height: 61px;
  line-height: 61px;
}

#subNav.garo ul li a {
  height: 61px;
  line-height: 61px;
  font-size: 14px;
  color: #333;
  padding: 0 20px;
  letter-spacing: -0.025em;
  font-weight: 300;
}

#subNav.garo ul li a .label {
  background: #3e72ed;
  border-radius: 7px;
  font-size: 12px;
  font-weight: 300;
}

#subNav.garo ul li a:hover {
  color: #3e72ed;
  font-weight: 400;
  border: 0;
}

#subNav.garo ul li a.active {
  color: #3e72ed;
  font-weight: 400;
  border: 0;
}

#subNav.garo ul li:first-child::before {
  content: '';
}

#subNav.garo ul li::before {
  content: '│';
  color: #d8d8d8;
  font-size: 14px;
}

#itemTop {
  position: relative;
  width: 100%;
  margin-top: 60px;
  overflow: hidden;
  padding: 0 20px;
}

#itemTop .itemInfo {
  display: block;
  width: 100%;
  float: left;
}

#itemTop .itemInfo .name {
  display: inline-block;
}

#itemTop .itemInfo .name strong {
  font-size: 36px;
  color: #333;
  text-indent: 5px;
  font-weight: 700;
}

#itemTop .itemInfo .price {
  display: inline-block;
  padding-left: 18px;
}

#itemTop .itemInfo .price span {
  font-size: 24px;
  font-weight: 300;
}

#itemTop .itemInfo .per {
  display: inline-block;
  padding-left: 16px;
}

#itemTop .itemInfo .per span {
  font-size: 24px;
  font-weight: 300;
}

#itemTop .itemInfo .time {
  display: inline-block;
  padding-left: 10px;
}

#itemTop .itemInfo .time span {
  font-size: 13px;
  color: #666;
}

#itemTop .userMn {
  position: absolute;
  top: 0;
  right: 20px;
}

#itemTop .userMn a {
  display: block;
  width: 50px;
  float: left;
  overflow: hidden;
  margin-left: 20px;
}

#itemTop .userMn a.ins.act .ico .on {
  display: block;
}

#itemTop .userMn a.ins.act .ico .off {
  display: none;
}

#itemTop .userMn a .ico {
  display: block;
  width: 100%;
  height: 30px;
  float: left;
  text-align: center;
  padding-top: 5px;
}

#itemTop .userMn a .ico em {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#itemTop .userMn a .ico em.off {
  display: block;
}

#itemTop .userMn a .ico em.on {
  display: none;
}

#itemTop .userMn a .name {
  display: block;
  width: 100%;
  float: left;
  padding-top: 15px;
  font-size: 11px;
  color: #333;
  font-weight: 400;
  text-align: center;
}

#itemTop .tag {
  display: block;
  width: 860px;
  float: left;
  margin-top: 15px;
}

#itemTop .tag .list {
  display: block;
  width: 100%;
}

#itemTop .tag .list a {
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  background: #d8e2fa;
  font-size: 14px;
  color: #333;
  font-weight: 300;
  letter-spacing: -0.075em;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

#itemTop .tag .list a:last-child {
  margin-right: 0;
}

#itemTop .tag .list a em {
  font-size: 14px;
  color: #4c84ff;
  font-weight: 300;
  padding-right: 3px;
}

.item_board_nav {
  position: relative;
  display: block;
  width: 100%;
}

.item_board_nav .nav {
  border-bottom: 1px solid #d6d6d6;
}

.item_board_nav .nav li:last-child a {
  border-right: 1px solid #d6d6d6;
}

.item_board_nav .nav li.active a {
  border: 1px solid #d6d6d6;
  border-right: 0;
  font-weight: 700;
  color: #fff;
  background: #3e72ed;
}

.item_board_nav .nav li a {
  width: 160px;
  margin-right: 0;
  height: 54px;
  line-height: 54px;
  border: 1px solid #d6d6d6;
  border-right: 0;
  padding: 0;
  font-size: 16px;
  color: #333;
  font-weight: 300;
  text-align: center;
  border-radius: 0;
}

.item_board_nav .nav li a:hover {
  border: 1px solid #d6d6d6;
  border-right: 0;
  background: #3e72ed;
  color: #fff;
  font-weight: 700;
}

.item_board_nav button {
  position: absolute;
  top: 9px;
  right: 0;
  height: 37px;
  line-height: 35px;
  border: 1px solid #d6d6d6;
  background: #fff;
  padding: 0 15px;
}

.item_board_nav button img {
  float: left;
  margin-top: 10px;
  margin-right: 9px;
}

.infoMn {
  display: block;
  width: 100%;
  margin-top: 60px;
  text-align: center;
  float: left;
  clear: both;
  overflow: hidden;
}

.infoMn ul {
  display: inline-block;
}

.infoMn ul li {
  display: block;
  float: left;
  padding: 0 20px;
  border-right: 1px solid #ddd;
}

.infoMn ul li:last-child {
  border-right: 0;
}

.infoMn ul li a {
  font-size: 14px;
  color: #333;
  font-weight: 300;
}

.infoMn ul li a:focus {
  text-decoration: none;
}

.ai_rmd .left {
  display: block;
  width: 260px;
  height: 460px;
  float: left;
  overflow: hidden;
}

.ai_rmd .left #chartdiv {
  width: 100%;
  height: 460px;
}

.ai_rmd .right {
  display: block;
  float: left;
  width: calc(100% - 260px);
  height: 435px;
}

.ai_rmd .right .itemRmdBox_w {
  position: relative;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox {
  display: block;
  width: 100%;
  overflow: hidden;
  padding-left: 30px;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox {
  display: block;
  width: 100%;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info {
  display: block;
  width: 100%;
  height: 155px;
  float: left;
  overflow: hidden;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .thumb {
  display: block;
  float: left;
  width: 127px;
  height: 153px;
  overflow: hidden;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info {
  position: relative;
  display: block;
  width: calc(100% - 127px);
  padding: 10px 0 0 20px;
  float: left;
  overflow: hidden;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .title {
  display: block;
  width: 100%;
  float: left;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .title strong {
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .con {
  display: block;
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .con span {
  display: block;
  width: 100%;
  height: 30px;
  float: left;
  line-height: 30px;
  font-size: 15px;
  color: #666;
  font-weight: 300;
  letter-spacing: -0.025em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .date {
  position: absolute;
  top: 10px;
  right: 0;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .date span {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  font-weight: 300;
  letter-spacing: -0.025em;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .itemInfo {
  display: block;
  width: 100%;
  height: 40px;
  background: #f6f6f6;
  padding: 0 15px;
  margin: 20px 0 0 0;
  float: left;
  overflow: hidden;
  clear: both;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .itemInfo dl {
  display: block;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .itemInfo dl dt {
  display: block;
  height: 40px;
  line-height: 40px;
  float: left;
  font-size: 14px;
  color: #333;
  font-weight: 700;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .itemInfo dl dd {
  display: block;
  height: 40px;
  line-height: 40px;
  float: left;
  padding-left: 15px;
  font-size: 14px;
  color: #333;
  font-weight: 300;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_graph {
  display: block;
  width: 100%;
  height: 220px;
  margin-top: 20px;
  float: left;
  background: #f8f8f8;
}

.rmd_bot_tabw .nav {
  border-bottom: 0;
}

.rmd_bot_tabw .nav li {
  width: auto;
  height: 32px;
  padding-right: 30px;
}

.rmd_bot_tabw .nav li:last-child {
  padding-right: 0;
}

.rmd_bot_tabw .nav li:first-child::before {
  content: '';
  padding-right: 0;
}

.rmd_bot_tabw .nav li::before {
  content: '│';
  line-height: 17px;
  font-size: 15px;
  color: #666;
  padding: 2px 30px 0 0;
  float: left;
}

.rmd_bot_tabw .nav li.active a {
  border: 0;
  color: #333;
  font-weight: 700;
  border-bottom: 3px solid #333;
}

.rmd_bot_tabw .nav li a {
  padding: 0 0 17px 0;
  margin: 0;
  line-height: 17px;
  font-size: 15px;
  color: #666;
  font-weight: 300;
  float: left;
}

.rmd_bot_tabw .nav li a:hover {
  border: 0;
  color: #333;
  font-weight: 700;
  border-bottom: 3px solid #333;
  background: none;
}

.rmd_bot_tabw .tab-content {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 40px;
}

.rmd_bot_tabw .tab-content .tab-pane {
  display: block;
  width: 100%;
}

.rmd_bot_tabw .tab-content .tab-pane dl {
  display: block;
  overflow: hidden;
}

.rmd_bot_tabw .tab-content .tab-pane dl dt {
  display: block;
  width: 120px;
  margin: 0 0 20px 0;
  float: left;
  clear: left;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  color: #333;
  font-weight: 700;
  text-align: left;
  text-indent: 5px;
}

.rmd_bot_tabw .tab-content .tab-pane dl dd {
  display: block;
  margin: 0 0 20px 0;
  height: 20px;
  line-height: 20px;
  padding: 0;
  float: left;
}

.rmd_bot_tabw .tab-content .tab-pane dl dd label {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  font-weight: 300;
  float: left;
  padding-right: 15px;
}

.rmd_bot_tabw .rmd-bot-sch {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: 44px;
  line-height: 43px;
  border-top: 1px solid #d7d7d7;
  text-align: center;
}

.rmd_bot_tabw .rmd-bot-sch button {
  border: 0;
  outline: 0;
  background: none;
  font-size: 14px;
  color: #3e72ed;
  font-weight: 300;
}

.rmd_bot_tabw .rmd-bot-sch button span {
  padding: 0 3px;
}

.rmd-bot-top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 65px;
  line-height: 65px;
  border-bottom: 1px solid #d7d7d7;
  padding: 0 35px;
}

.rmd-bot-top strong {
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.rmd-bot-top .close {
  margin-top: 25px;
}

.rmd-bot-cont {
  display: block;
  width: 100%;
  padding-top: 30px;
}

.rmd-bot-cont .left {
  display: block;
  width: 220px;
  height: 380px;
  float: left;
  background: #f6f6f6;
}

.rmd-bot-cont .left .bot {
  display: block;
  width: 100%;
  height: 230px;
  float: left;
}

.rmd-bot-cont .left .info {
  display: block;
  width: 100%;
  float: left;
}

.rmd-bot-cont .left .info dl {
  padding: 0 25px;
}

.rmd-bot-cont .left .info dl dt {
  width: 105px;
  text-align: left;
  font-size: 14px;
  color: #333;
  font-weight: 300;
  float: left;
  clear: left;
  margin-bottom: 8px;
}

.rmd-bot-cont .left .info dl dt:last-child {
  margin-bottom: 0;
}

.rmd-bot-cont .left .info dl dd {
  width: calc(100% - 105px);
  margin-left: 0;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  float: left;
  margin-bottom: 8px;
}

.rmd-bot-cont .left .info dl dd:last-child {
  margin-bottom: 0;
}

.rmd-bot-cont .right {
  display: block;
  width: 738px;
  float: left;
  padding-left: 40px;
  overflow: hidden;
}

.rmd-bot-cont .right dl {
  display: block;
  width: 100%;
}

.rmd-bot-cont .right dl dt {
  width: 125px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  letter-spacing: -0.025em;
  float: left;
  clear: left;
}

.rmd-bot-cont .right dl dd {
  width: 570px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
  color: #666;
  font-weight: 300;
  letter-spacing: -0.025em;
  padding: 0;
  margin: 0;
  float: left;
}

.sub-content {
  position: relative;
  clear: both;
}

.sub-content .sub-title {
  display: block;
  width: 100%;
  text-indent: 8px;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.sub-content .sub-section {
  display: block;
  margin-top: 20px;
  width: 100%;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  padding: 40px 35px 60px;
  overflow: hidden;
}

.sub-content-banner {
  display: block;
  width: 100%;
  float: left;
  margin: 40px 0;
  overflow: hidden;
}
/*# sourceMappingURL=sub.css.map */