@charset "UTF-8";
#subNav { position: relative; width: 100%; margin-top: 55px; padding: 0 20px; }

#subNav ul { display: flex; width: 100%; justify-content: space-between; }

#subNav ul li { display: inline-block; }

#subNav ul li a { height: 35px; line-height: 35px; font-size: 18px; color: #666; font-weight: 300; }

#subNav ul li a:hover { color: #3e72ed; font-weight: bold; padding-bottom: 2px; text-decoration: none; border-bottom: 3px solid #3e72ed; }

#subNav ul li a.active { color: #3e72ed; font-weight: bold; padding-bottom: 2px; text-decoration: none; border-bottom: 3px solid #3e72ed; }

#subNav.garo { position: absolute; top: 0; left: 0; width: 100%; height: 62px; border-bottom: 1px solid #d6d6d6; background: #fff; margin-top: 0; }

#subNav.garo ul { display: flex; width: 1030px; margin: 0 auto; justify-content: center; }

#subNav.garo ul li { height: 61px; line-height: 61px; }

#subNav.garo ul li a { height: 61px; line-height: 61px; font-size: 14px; color: #333; padding: 0 20px; letter-spacing: -0.025em; font-weight: 300; }

#subNav.garo ul li a .label { background: #3e72ed; border-radius: 7px; font-size: 12px; font-weight: 300; }

#subNav.garo ul li a:hover { color: #3e72ed; font-weight: 400; border: 0; }

#subNav.garo ul li a.active { color: #3e72ed; font-weight: 400; border: 0; }

#subNav.garo ul li:first-child::before { content: ''; }

#subNav.garo ul li::before { content: '│'; color: #d8d8d8; font-size: 14px; }

#direct .modal-header { position: relative; padding: 0; border: 0; }

#direct .modal-header button { position: absolute; top: 10px; right: 10px; z-index: 999; }

#direct .modal-body { padding: 20px 15px 50px; }

#direct .modal-body .top { display: block; text-align: center; }

#direct .modal-body .top > span { display: block; font-size: 20px; color: #333; font-weight: 300; padding: 10px 0; }

#direct .modal-body .top strong { display: block; font-size: 20px; font-weight: 700; color: #333; }

#direct .modal-body .top strong span { font-size: 30px; font-weight: 700; color: #fb5360; }

#direct .modal-body .con { display: block; padding-top: 30px; text-align: center; }

#direct .modal-body .con ul { display: inline-block; width: 480px; }

#direct .modal-body .con ul li { width: 215px; text-align: center; float: left; }

#direct .modal-body .con ul li:first-child { width: 255px; background-image: url(../img/bu_pop.jpg); background-repeat: no-repeat; background-position: 100% 30%; }

#direct .modal-body .con ul li .box { display: inline-flex; width: 180px; height: 100px; background: #e4f8fa; flex-wrap: wrap; justify-content: center; align-content: center; border-radius: 10px; margin-left: 17px; margin-right: 18px; float: left; }

#direct .modal-body .con ul li .box span { display: block; font-size: 20px; color: #333b58; font-weight: 400; }

#direct .modal-body .con ul li .box strong { display: block; font-size: 20px; line-height: 30px; color: #3e72ed; font-weight: 700; }

#direct .modal-body .con ul li span { display: block; width: 215px; line-height: 20px; font-size: 14px; color: #666; font-weight: 300; text-align: center; letter-spacing: -0.075em; padding-top: 10px; float: left; }

#direct .modal-body .button { display: block; padding-top: 20px; text-align: center; }

#direct .modal-body .button button { width: 245px; height: 64px; background: #3e72ed; border-radius: 64px; }

#direct .modal-body .button button span { font-size: 20px; color: #fff; font-weight: 700; }

#direct .modal-body .button button span em { display: block; font-style: normal; font-size: 14px; color: #b7cbfb; font-weight: 300; }

#direct .modal-body .button ul { display: flex; margin-top: 30px; justify-content: center; }

#direct .modal-body .button ul li { display: block; margin: 0 20px; }

#direct .modal-body .button ul li a { font-size: 14px; color: #3e72ed; font-weight: 300; }

#direct .modal-body .button ul li a::after { content: '→'; padding-left: 5px; }

.rmd_item_sch { display: block; }

.rmd_item_sch .title { width: 100%; min-height: 95px; text-align: center; background-image: url(../img/sub/item/rmd/bu_rassi.png); background-repeat: no-repeat; background-position: 720px 0; }

.rmd_item_sch .title span { display: block; height: 46px; line-height: 46px; font-size: 36px; font-weight: 700; color: #7874f7; }

.rmd_item_sch .title strong { display: block; height: 46px; line-height: 46px; font-size: 36px; font-weight: 700; color: #333; }

.rmd_item_sch .sch { display: block; text-align: center; margin-top: 30px; }

.rmd_item_sch .sch form { display: inline-block; width: 470px; border-bottom: 2px solid #7874f7; }

.rmd_item_sch .sch form input[type='text'] { width: 420px; height: 46px; border: 0; outline: 0; font-size: 20px; font-weight: 300; color: #7874f7; padding: 0 3px; text-align: left; }

.rmd_item_sch .sch form input[type='text']::placeholder { font-size: 20px; font-weight: 300; color: #7874f7; }

.rmd_item_sch .sch form button { width: 40px; height: 40px; line-height: 40px; padding: 0; margin: 0; border-radius: 40px; background: #7874f7; font-size: 20px; font-weight: 300; color: #fff; text-align: center; box-shadow: 0; border: 0; }

.rmd_item_sch .button { width: 100%; text-align: center; margin-top: 40px; }

.rmd_item_sch .button .btn { width: 165px; height: 40px; line-height: 40px; border: 0; border-radius: 40px; padding-top: 0; margin-left: 10px; margin-right: 10px; }

.rmd_item_sch .button .btn-primary { background: #7874f7; font-size: 16px; font-weight: 300; color: #fff; }

.rmd_item_sch .button .btn-primary span::before { display: inline-block; content: 'bullet'; width: 23px; background-image: url(../img/bu_android.png); background-repeat: no-repeat; background-position: 0 50%; text-indent: -9999em; }

.rmd_item_sch .button .btn-primary span::after { display: inline-block; content: 'bullet'; width: 20px; background-image: url(../img/bu_dwn.png); background-repeat: no-repeat; background-position: 100% 50%; text-indent: -9999em; }

.rmd_item_sch .button .btn-default { background: #ebebeb; font-size: 16px; font-weight: 300; color: #333; }

.rmd_item_sch .button .btn-default span::before { display: inline-block; content: 'bullet'; width: 27px; background-image: url(../img/bu_filesearch.png); background-repeat: no-repeat; background-position: 0 50%; text-indent: -9999em; }

.rmd_item_sch .button .btn:focus { outline: 0; }

.rmd_item_sch .info { display: block; margin-top: 40px; text-align: center; }

.rmd_item_sch .info .infolist { display: inline-flex; width: 470px; justify-content: space-around; }

.rmd_item_sch .info .infolist li { display: inline-block; }

.rmd_item_sch .info .infolist li .tit { display: block; text-align: center; font-size: 14px; font-weight: 300; color: #333; }

.rmd_item_sch .info .infolist li .txt { display: block; text-align: center; font-size: 14px; font-weight: 700; color: #333; padding-top: 10px; }

.rmd_item_sch .info .infolist li .txt.return.up em::before { content: '＋'; font-size: 14px; font-weight: 700; }

.rmd_item_sch .info .infolist li .txt.return.dn em::before { content: '－'; font-size: 14px; font-weight: 700; }

.rmd_item_sch .info .infolist li .txt em { font-style: normal; font-size: 24px; font-weight: 700; }

.signal_update { display: block; }

.signal_update .info { width: calc(100% - 604px); float: left; padding: 0 52px; }

.signal_update .info ul { display: flex; width: 100%; justify-content: space-between; flex-wrap: wrap; }

.signal_update .info ul li { width: 105px; height: 105px; border-radius: 100%; }

.signal_update .info ul li.buy { border: 1px solid #fb5360; color: #fb5360; }

.signal_update .info ul li.sell { border: 1px solid #4c84ff; color: #4c84ff; }

.signal_update .info ul li.pssn, .signal_update .info ul li.ppnwk { border: 1px solid #dfdfdf; color: #333; margin-top: 10px; }

.signal_update .info ul li span { display: block; text-align: center; padding-top: 25px; font-size: 15px; font-weight: 300; }

.signal_update .info ul li strong { display: block; text-align: center; padding-top: 10px; font-size: 20px; font-weight: 700; }

.signal_update .info .date { display: block; text-align: center; padding-top: 5px; font-size: 14px; font-weight: 300; color: #999; }

.signal_update .table_w { display: block; width: 604px; float: left; }

.item_char_all { display: block; }

.item_char_all > .nav-tabs { display: flex; width: 100%; height: 70px; border-bottom: 1px solid #d7d7d7; justify-content: space-between; padding: 0 35px; }

.item_char_all > .nav-tabs::before { position: absolute; top: 0; left: -9999em; }

.item_char_all > .nav-tabs::after { position: absolute; top: 0; right: -9999em; }

.item_char_all > .nav-tabs li { border: 0; margin: 0; }

.item_char_all > .nav-tabs li a { padding: 0 0 2px 0; height: 70px; line-height: 80px; border: 0; font-size: 18px; font-weight: 300; color: #333; }

.item_char_all > .nav-tabs li.active a, .item_char_all > .nav-tabs li:hover a { padding: 0 0 2px 0; height: 70px; line-height: 80px; border: 0; border-bottom: 2px solid #3e72ed; background: none; color: #3e72ed; font-weight: 700; }

.item_char_all > .nav-tabs li.disabled a, .item_char_all > .nav-tabs li.disabled.active a, .item_char_all > .nav-tabs li.disabled:hover a { padding: 0 0 2px 0; height: 70px; line-height: 80px; color: #999; border-bottom: 0; font-weight: 300; pointer-events: none; }

.item_char_all > .nav-tabs li.disabled a::after, .item_char_all > .nav-tabs li.disabled.active a::after, .item_char_all > .nav-tabs li.disabled:hover a::after { content: 'bullet'; display: inline-block; width: 23px; height: 70px; text-indent: -9999em; background-image: url(../img/bu_hold.png); background-repeat: no-repeat; background-position: 100% 59%; }

.item_char_all > .info { position: absolute; width: 100%; height: 46px; line-height: 46px; top: 70px; left: 0; border-bottom: 1px solid #d7d7d7; overflow: hidden; padding: 0 20px; }

.item_char_all > .info span { font-size: 14px; font-weight: 300; color: #999; }

.item_char_all > .info span.txt { float: left; }

.item_char_all > .info span.date { float: right; }

.item_char_all > .tab-content { display: block; width: 100%; margin-top: 46px; height: 590px; }

.item_char_all > .tab-content .tab-pane { display: block; visibility: hidden; position: absolute; top: 0; left: -9999em; }

.item_char_all > .tab-content .tab-pane.active { position: relative; top: 0; left: 0; visibility: visible; }

.left_item_list { width: 100%; height: 590px; float: left; }

.left_item_list .left_item_w { position: relative; display: block; width: 208px; height: 590px; border: 0; float: left; padding: 59px 0; }

.left_item_list .left_item_w .left_item { width: 208px; border-bottom: 0; }

.left_item_list .left_item_w .left_item::before, .left_item_list .left_item_w .left_item::after { position: absolute; top: 0; left: -9999em; }

.left_item_list .left_item_w .left_item li { display: block; height: 59px; width: 100%; padding: 0; margin: 0; float: left; }

.left_item_list .left_item_w .left_item li a { width: 197px; border: 0; border-right: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6; border-radius: 0; padding: 0 10px; margin: 0; height: 59px; line-height: 59px; text-align: center; background: #faf9fb; float: left; font-size: 16px; font-weight: 300; color: #333; }

.left_item_list .left_item_w .left_item li a span.date { font-size: 13px; }

.left_item_list .left_item_w .left_item li a span.item { font-size: 15px; padding-left: 15px; }

.left_item_list .left_item_w .left_item li.snb a { text-align: left; }

.left_item_list .left_item_w .left_item li:hover, .left_item_list .left_item_w .left_item li.active { border: 0; padding: 0; margin: 0; }

.left_item_list .left_item_w .left_item li:hover::after, .left_item_list .left_item_w .left_item li.active::after { content: '▶'; width: 12px; height: 59px; line-height: 59px; float: left; margin: 0 0 0 -6px; padding: 0; text-align: left; font-family: 'dotum'; font-size: 20px; color: #3e72ed; }

.left_item_list .left_item_w .left_item li:hover a, .left_item_list .left_item_w .left_item li.active a { border: 0; border-right: 0; border-radius: 0; padding: 0 10px; margin: 0; font-weight: 700; color: #fff; background: #3e72ed; }

.left_item_list .left_item_w .left_item li:hover a span, .left_item_list .left_item_w .left_item li.active a span { font-weight: 300; }

.left_item_list .left_item_w .left_item li.disabled, .left_item_list .left_item_w .left_item li.disabled.active, .left_item_list .left_item_w .left_item li.disabled:hover { pointer-events: none; }

.left_item_list .left_item_w .bx-prev { position: absolute; top: 0; left: 0; height: 59px; line-height: 59px; text-align: center; width: 197px; border-right: 1px solid #d6d6d6; color: #666; border-bottom: 1px solid #d6d6d6; }

.left_item_list .left_item_w .bx-prev.disabled span { opacity: .2; }

.left_item_list .left_item_w .bx-next { position: absolute; bottom: 0; left: 0; height: 59px; line-height: 59px; text-align: center; width: 197px; border-right: 1px solid #d6d6d6; color: #666; }

.left_item_list .left_item_w .bx-next.disabled span { opacity: .2; }

.left_item_list > .tab-content { width: calc(100% - 208px); height: 590px; padding: 40px 35px; overflow: hidden; }

.left_item_list > .tab-content .item_w { display: block; width: 100%; }

.left_item_list > .tab-content .item_w .top { display: block; width: 100%; border-bottom: 1px solid #d7d7d7; padding-bottom: 30px; float: left; }

.left_item_list > .tab-content .item_w .top .cdn { width: 240px; height: 130px; border-radius: 5px; float: left; color: #fff; }

.left_item_list > .tab-content .item_w .top .cdn strong { display: block; text-align: center; font-size: 36px; font-weight: bold; padding-top: 55px; background-image: url(../img/bu_rassi.png); background-repeat: no-repeat; background-position: center 10px; }

.left_item_list > .tab-content .item_w .top .cdn span { display: block; text-align: center; padding-top: 10px; font-size: 15px; }

.left_item_list > .tab-content .item_w .top .cdn.buy { background: #fb5360; }

.left_item_list > .tab-content .item_w .top .cdn.sell { background: #3e72ed; }

.left_item_list > .tab-content .item_w .top .cdn.pssn { background: #7874f7; }

.left_item_list > .tab-content .item_w .top .cdn.ppnwk { background: #666; }

.left_item_list > .tab-content .item_w .top .info { display: block; width: calc(100% - 240px); padding-left: 40px; float: left; }

.left_item_list > .tab-content .item_w .top .info ul { display: inline-block; width: 100%; }

.left_item_list > .tab-content .item_w .top .info ul li { display: block; height: 30px; line-height: 30px; float: left; }

.left_item_list > .tab-content .item_w .top .info ul li span { font-size: 15px; font-weight: 300; color: #333; }

.left_item_list > .tab-content .item_w .top .info .more { display: block; padding-top: 5px; }

.left_item_list > .tab-content .item_w .top .info .more a { font-size: 12px; font-weight: 300; color: #4c84ff; }

.left_item_list > .tab-content .item_w .top .info .more a::after { content: '→'; padding-left: 5px; }

.left_item_list > .tab-content .item_w .con { display: block; width: 100%; float: left; padding-top: 35px; }

.left_item_list > .tab-content .item_w .con .chartbox { width: 580px; height: 315px; background: #d7d7d7; float: left; }

.left_item_list > .tab-content .item_w .con .info { width: calc(100% - 580px); float: left; padding-left: 25px; }

.left_item_list > .tab-content .item_w .con .info ul { display: inline-block; width: 100%; height: 315px; }

.left_item_list > .tab-content .item_w .con .info ul li { display: flex; width: 100%; height: 30%; float: left; border-bottom: 1px solid #d7d7d7; flex-wrap: wrap; align-items: center; justify-content: space-around; align-content: center; }

.left_item_list > .tab-content .item_w .con .info ul li:nth-child(2n) { height: 40%; }

.left_item_list > .tab-content .item_w .con .info ul li:last-child { border-bottom: 0; }

.left_item_list > .tab-content .item_w .con .info ul li span { display: block; width: 100%; font-size: 14px; color: #333; text-align: center; }

.left_item_list > .tab-content .item_w .con .info ul li strong { display: block; width: 100%; font-size: 30px; color: #333; padding-top: 15px; font-weight: 300; text-align: center; }

.left_item_list > .tab-content .item_w .con .info ul li strong em { font-style: normal; font-weight: 700; }

.left_item_list > .tab-content .empty { position: relative; display: block; height: 513px; min-height: 513px; }

.left_item_list > .tab-content .empty .direct { position: absolute; top: 200px; left: 0; width: 100%; text-align: center; z-index: 99; }

.left_item_list > .tab-content .empty .direct .txt { display: block; }

.left_item_list > .tab-content .empty .direct .txt span { line-height: 30px; font-size: 20px; font-weight: 300; color: #fff; }

.left_item_list > .tab-content .empty .direct .txt span em { font-style: normal; font-weight: 700; }

.left_item_list > .tab-content .empty .direct .button button { width: 178px; height: 40px; line-height: 40px; padding: 0; margin-top: 20px; border-radius: 40px; font-size: 16px; color: #fff; font-weight: 300; outline: 0; border: 0; background: #3e72ed; }

.item_char { display: block; }

.item_char .item { width: calc(100% - 60px - 480px - 230px); float: left; }

.item_char .item .title { display: block; height: 40px; line-height: 40px; float: left; }

.item_char .item .title span { font-size: 30px; font-weight: 300; color: #333; padding-right: 20px; background-image: url(../img/bu_img.png); background-repeat: no-repeat; background-position: 100% 80%; }

.item_char .item .per { display: block; padding-top: 15px; float: left; }

.item_char .item .per span { font-size: 20px; font-weight: 700; }

.item_char .item .signal { display: block; width: 100%; padding-top: 45px; float: left; }

.item_char .item .signal::after { content: '→'; height: 22px; line-height: 22px; font-size: 12px; padding-left: 5px; color: #3e72ed; }

.item_char .item .signal a { height: 22px; line-height: 22px; font-size: 12px; color: #3e72ed; font-weight: 300; }

.item_char .item .date { display: block; float: left; clear: both; padding-top: 20px; font-size: 12px; color: #999; font-weight: 300; }

.item_char .chartbox { width: 480px; height: 330px; background: #d7d7d7; margin: 0 30px; float: left; }

.item_char .table_w { width: 230px; float: left; }

.gbnr { display: block; width: 100%; padding: 0 30px; height: 90px; }

.itemHomeBox { display: block; width: 100%; }

.itemHomeBox .left { display: block; width: 235px; float: left; }

.itemHomeBox .right { display: block; width: calc(100% - 235px); padding-left: 50px; float: left; }

.itemHomeBox .left .item_cdn { display: block; width: 100%; height: 170px; border-radius: 5px; background: #f9f9f9 url(../img/bu_item_cdn.png) no-repeat center 20px; text-align: center; }

.itemHomeBox .left .item_cdn span { display: inline-block; width: 95px; height: 22px; line-height: 22px; text-align: center; font-size: 14px; font-weight: 300; padding: 0 10px; background: #7774f7; color: #fff; margin-top: 70px; border-radius: 22px; }

.itemHomeBox .left .item_cdn strong { display: block; width: 100%; text-align: center; font-size: 36px; font-weight: 700; color: #333; }

.itemHomeBox .left .item_info { display: block; width: 100%; margin-top: 20px; }

.itemHomeBox .left .item_info span { display: block; width: 100%; height: 15px; line-height: 15px; margin-top: 10px; }

.itemHomeBox .left .item_info span.sig { font-size: 15px; color: #666; font-weight: 300; }

.itemHomeBox .left .item_info span.sig em { font-style: normal; font-weight: 300; }

.itemHomeBox .left .item_info span.info { font-size: 15px; color: #333; font-weight: 300; }

.itemHomeBox .left .item_info span.info em { font-style: normal; font-weight: 700; }

.itemHomeBox .left .more { display: block; margin-top: 20px; }

.itemHomeBox .left .more a { font-size: 12px; color: #4c84ff; font-weight: 300; }

.itemHomeBox .left .more a::after { content: '→'; }

.itemHomeBox .left .enp_info { display: block; margin-top: 120px; }

.itemHomeBox .left .enp_info .tree { display: block; font-size: 14px; color: #666; font-weight: 300; }

.itemHomeBox .left .enp_info .info { display: block; font-size: 15px; color: #333; font-weight: 300; margin-top: 10px; }

.itemHomeBox .left .item_tit { display: block; }

.itemHomeBox .left .item_tit span { display: block; font-size: 15px; color: #666; font-weight: 300; }

.itemHomeBox .left .item_tit strong { display: block; margin-top: 20px; }

.itemHomeBox .left .item_tit strong.guide { font-size: 20px; color: #333; font-weight: 700; }

.itemHomeBox .left .item_tit strong.name { font-size: 30px; color: #333; font-weight: 300; margin-top: 30px; }

.itemHomeBox .left .item_tit strong.info { font-size: 20px; font-weight: 700; margin-top: 10px; }

.itemHomeBox .left .item_txt { display: block; margin-top: 40px; }

.itemHomeBox .left .item_txt .txt { display: inline-block; width: 100%; font-size: 15px; color: #333; font-weight: 300; line-height: 30px; margin: 10px 0 20px 0; letter-spacing: -0.05em; }

.itemHomeBox .left .item_mn { display: block; margin-top: 40px; }

.itemHomeBox .left .item_mn em { display: inline-block; height: 22px; line-height: 22px; font-style: normal; padding: 0 10px; font-size: 13px; color: #666; background: #ededed; border-radius: 22px; }

.itemHomeBox .left .item_mn .list { display: block; width: 100%; font-size: 14px; color: #333; margin: 10px 0 15px; }

.itemHomeBox .left .date { display: inline-block; width: 100%; font-size: 12px; color: #666; font-weight: 300; }

.itemHomeBox .right .top { display: block; height: 170px; margin-bottom: 20px; }

.itemHomeBox .right .top strong { display: block; width: 100%; font-size: 24px; font-weight: 700; color: #333; padding: 10px 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.itemHomeBox .right .top span { display: block; width: 100%; font-size: 15px; line-height: 18px; color: #666; margin-top: 20px; font-weight: 300; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.itemHomeBox .right .con { display: block; }

.itemHomeBox .right .con .nav { display: block; width: 100%; border: 0; }

.itemHomeBox .right .con .nav li { margin: 0; }

.itemHomeBox .right .con .nav li.active a, .itemHomeBox .right .con .nav li:hover a { color: #4c84ff; border: 1px solid #4c84ff; background: #fff; }

.itemHomeBox .right .con .nav li a { border: 0; padding: 0; margin-top: 0; margin-left: 0; margin-right: 10px; margin-bottom: 0; width: 62px; height: 30px; line-height: 28px; border: 1px solid #d7d7d7; background: #f5f5f5; font-size: 13px; color: #333; font-weight: 500; text-align: Center; border-radius: 5px; }

.itemHomeBox .right .con .nav li.sub { float: right; }

.itemHomeBox .right .con .nav li.sub a { margin-right: 0; width: 120px; background: #fff; }

.itemHomeBox .right .con .tab-content { display: block; margin-top: 20px; }

.itemHomeBox .right .con .tab-content .guide { display: block; }

.itemHomeBox .right .con .tab-content .guide span { display: block; height: 24px; line-height: 24px; font-size: 14px; color: #666; font-weight: 300; }

.itemHomeBox .right .con .tab-content .guide span em { font-style: normal; }

.itemHomeBox .right .con .tab-content .guide span::before { content: '\00b7'; padding-right: 3px; }

.itemHomeBox .right .chartbox { display: block; margin-top: 20px; min-height: 300px; background: #f8f8f8; }

#itemTop { position: relative; width: 100%; margin-top: 60px; overflow: hidden; padding: 0 20px; }

#itemTop .itemInfo { display: block; width: 100%; float: left; }

#itemTop .itemInfo .name { display: inline-block; }

#itemTop .itemInfo .name strong { font-size: 36px; color: #333; text-indent: 5px; font-weight: 700; }

#itemTop .itemInfo .price { display: inline-block; padding-left: 18px; }

#itemTop .itemInfo .price span { font-size: 24px; font-weight: 300; }

#itemTop .itemInfo .per { display: inline-block; padding-left: 16px; }

#itemTop .itemInfo .per span { font-size: 24px; font-weight: 300; }

#itemTop .itemInfo .time { display: inline-block; padding-left: 10px; }

#itemTop .itemInfo .time span { font-size: 13px; color: #666; }

#itemTop .userMn { position: absolute; top: 0; right: 20px; }

#itemTop .userMn a { display: block; width: 50px; float: left; overflow: hidden; margin-left: 20px; }

#itemTop .userMn a.ins.act .ico .on { display: block; }

#itemTop .userMn a.ins.act .ico .off { display: none; }

#itemTop .userMn a .ico { display: block; width: 100%; height: 30px; float: left; text-align: center; padding-top: 5px; }

#itemTop .userMn a .ico em { display: inline-block; width: 100%; text-align: center; }

#itemTop .userMn a .ico em.off { display: block; }

#itemTop .userMn a .ico em.on { display: none; }

#itemTop .userMn a .name { display: block; width: 100%; float: left; padding-top: 15px; font-size: 11px; color: #333; font-weight: 400; text-align: center; }

#itemTop .tag { display: block; width: 860px; float: left; margin-top: 15px; }

#itemTop .tag .list { display: block; width: 100%; }

#itemTop .tag .list a { display: block; height: 20px; line-height: 20px; padding: 0 4px; background: #d8e2fa; font-size: 14px; color: #333; font-weight: 300; letter-spacing: -0.075em; float: left; margin-right: 10px; margin-top: 5px; }

#itemTop .tag .list a:last-child { margin-right: 0; }

#itemTop .tag .list a em { font-size: 14px; color: #4c84ff; font-weight: 300; padding-right: 3px; }

.item_board_nav { position: relative; display: block; width: 100%; }

.item_board_nav .nav { border-bottom: 1px solid #d6d6d6; }

.item_board_nav .nav li:last-child a { border-right: 1px solid #d6d6d6; }

.item_board_nav .nav li.active a { border: 1px solid #d6d6d6; border-right: 0; font-weight: 700; color: #fff; background: #3e72ed; }

.item_board_nav .nav li a { width: 160px; margin-right: 0; height: 54px; line-height: 54px; border: 1px solid #d6d6d6; border-right: 0; padding: 0; font-size: 16px; color: #333; font-weight: 300; text-align: center; border-radius: 0; }

.item_board_nav .nav li a:hover { border: 1px solid #d6d6d6; border-right: 0; background: #3e72ed; color: #fff; font-weight: 700; }

.item_board_nav button { position: absolute; top: 9px; right: 0; height: 37px; line-height: 35px; border: 1px solid #d6d6d6; background: #fff; padding: 0 15px; }

.item_board_nav button img { float: left; margin-top: 10px; margin-right: 9px; }

.infoMn { display: block; width: 100%; margin-top: 60px; text-align: center; float: left; clear: both; overflow: hidden; }

.infoMn ul { display: inline-block; }

.infoMn ul li { display: block; float: left; padding: 0 20px; border-right: 1px solid #ddd; }

.infoMn ul li:last-child { border-right: 0; }

.infoMn ul li a { font-size: 14px; color: #333; font-weight: 300; }

.infoMn ul li a:focus { text-decoration: none; }

.ai_rmd .left { display: block; width: 260px; height: 460px; float: left; overflow: hidden; }

.ai_rmd .left #chartdiv { width: 100%; height: 460px; }

.ai_rmd .right { display: block; float: left; width: calc(100% - 260px); height: 435px; }

.ai_rmd .right .itemRmdBox_w { position: relative; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox { display: block; width: 100%; overflow: hidden; padding-left: 30px; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox { display: block; width: 100%; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info { display: block; width: 100%; height: 155px; float: left; overflow: hidden; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .thumb { display: block; float: left; width: 127px; height: 153px; overflow: hidden; text-align: center; border: 1px solid #d7d7d7; border-radius: 5px; padding: 5px 0 0 0; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .thumb span { font-size: 12px; color: #333; font-weight: 300; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .thumb span em { display: block; font-style: normal; font-size: 18px; color: #3e72ed; font-weight: 700; padding: 5px 0 10px 0; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info { position: relative; display: block; width: calc(100% - 127px); padding: 10px 0 0 20px; float: left; overflow: hidden; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .title { display: block; width: 100%; float: left; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .title strong { font-size: 20px; color: #333; font-weight: 700; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .con { display: block; float: left; width: 100%; margin: 20px 0 0 0; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .con span { display: block; width: 100%; height: 30px; float: left; line-height: 30px; font-size: 15px; color: #666; font-weight: 300; letter-spacing: -0.025em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .date { position: absolute; top: 10px; right: 0; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .date span { display: inline-block; height: 20px; line-height: 20px; font-size: 14px; color: #666; font-weight: 300; letter-spacing: -0.025em; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .itemInfo { display: block; width: 100%; height: 40px; background: #f6f6f6; padding: 0 15px; margin: 20px 0 0 0; float: left; overflow: hidden; clear: both; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .itemInfo dl { display: block; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .itemInfo dl dt { display: block; height: 40px; line-height: 40px; float: left; font-size: 14px; color: #333; font-weight: 700; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .itemInfo dl dd { display: block; height: 40px; line-height: 40px; float: left; padding-left: 15px; font-size: 14px; color: #333; font-weight: 300; }

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_graph { display: block; width: 100%; height: 220px; margin-top: 20px; float: left; background: #f8f8f8; }

.rmd_bot_tabw .nav { border-bottom: 0; }

.rmd_bot_tabw .nav li { width: auto; height: 32px; padding-right: 30px; }

.rmd_bot_tabw .nav li:last-child { padding-right: 0; }

.rmd_bot_tabw .nav li:first-child::before { content: ''; padding-right: 0; }

.rmd_bot_tabw .nav li::before { content: '│'; line-height: 17px; font-size: 15px; color: #666; padding: 2px 30px 0 0; float: left; }

.rmd_bot_tabw .nav li.active a { border: 0; color: #333; font-weight: 700; border-bottom: 3px solid #333; }

.rmd_bot_tabw .nav li a { padding: 0 0 17px 0; margin: 0; line-height: 17px; font-size: 15px; color: #666; font-weight: 300; float: left; }

.rmd_bot_tabw .nav li a:hover { border: 0; color: #333; font-weight: 700; border-bottom: 3px solid #333; background: none; }

.rmd_bot_tabw .tab-content { position: relative; display: block; width: 100%; margin-top: 40px; }

.rmd_bot_tabw .tab-content .tab-pane { width: 100%; overflow: hidden; }

.rmd_bot_tabw .tab-content .tab-pane dl { display: block; overflow: hidden; }

.rmd_bot_tabw .tab-content .tab-pane dl dt { display: block; width: 120px; margin: 0 0 20px 0; float: left; clear: left; font-size: 14px; height: 20px; line-height: 20px; color: #333; font-weight: 700; text-align: left; text-indent: 5px; }

.rmd_bot_tabw .tab-content .tab-pane dl dd { display: block; margin: 0 0 20px 0; height: 20px; line-height: 20px; padding: 0; float: left; }

.rmd_bot_tabw .tab-content .tab-pane dl dd label { height: 20px; line-height: 20px; font-size: 14px; color: #666; font-weight: 300; float: left; padding-right: 15px; }

.rmd_bot_tabw .rmd-bot-sch { position: absolute; bottom: 1px; left: 1px; width: calc(100% - 2px); height: 44px; line-height: 43px; border-top: 1px solid #d7d7d7; text-align: center; }

.rmd_bot_tabw .rmd-bot-sch button { border: 0; outline: 0; background: none; font-size: 14px; color: #3e72ed; font-weight: 300; }

.rmd_bot_tabw .rmd-bot-sch button span { padding: 0 3px; }

.rmd-bot-top { position: absolute; width: 100%; top: 0; left: 0; height: 65px; line-height: 65px; border-bottom: 1px solid #d7d7d7; padding: 0 35px; }

.rmd-bot-top strong { font-size: 20px; color: #333; font-weight: 700; }

.rmd-bot-top .close { margin-top: 25px; }

.rmd-bot-cont { display: block; width: 100%; padding-top: 30px; }

.rmd-bot-cont .left { display: block; width: 220px; height: 380px; float: left; background: #f6f6f6; }

.rmd-bot-cont .left .bot { display: block; width: 100%; height: 230px; text-align: center; float: left; }

.rmd-bot-cont .left .bot .name { display: block; text-align: center; margin-top: 30px; }

.rmd-bot-cont .left .bot .name em { display: block; font-style: normal; font-size: 14px; color: #333; font-weight: 300; }

.rmd-bot-cont .left .bot .name strong { display: block; padding: 5px 0 10px 0; font-size: 24px; color: #3e72ed; font-weight: 700; }

.rmd-bot-cont .left .bot .thumb { margin-top: 10px; }

.rmd-bot-cont .left .info { display: block; width: 100%; float: left; margin-top: 10px; }

.rmd-bot-cont .left .info dl { padding: 0 25px; }

.rmd-bot-cont .left .info dl dt { width: 105px; text-align: left; font-size: 14px; color: #333; font-weight: 300; float: left; clear: left; margin-bottom: 8px; }

.rmd-bot-cont .left .info dl dt:last-child { margin-bottom: 0; }

.rmd-bot-cont .left .info dl dd { width: calc(100% - 105px); margin-left: 0; font-size: 14px; font-weight: 300; text-align: right; float: left; margin-bottom: 8px; }

.rmd-bot-cont .left .info dl dd:last-child { margin-bottom: 0; }

.rmd-bot-cont .right { display: block; width: 738px; float: left; padding-left: 40px; overflow: hidden; }

.rmd-bot-cont .right dl { display: block; width: 100%; }

.rmd-bot-cont .right dl dt { width: 125px; height: 30px; line-height: 30px; text-align: left; padding: 0; margin: 0; font-size: 16px; color: #333; font-weight: 700; letter-spacing: -0.025em; float: left; clear: left; }

.rmd-bot-cont .right dl dd { width: 570px; height: 30px; line-height: 30px; text-align: left; font-size: 16px; color: #666; font-weight: 300; letter-spacing: -0.025em; padding: 0; margin: 0; float: left; }

.table_w { display: block; width: 100%; float: left; overflow: hidden; }

.table_w table { border-top: 1px solid #666; }

.table_w table thead tr th { padding-top: 8px; padding-bottom: 9px; padding-left: 15px; padding-right: 15px; font-size: 14px; font-weight: bold; color: #333; border-bottom: 1px solid #666; background: #f5f5f5; text-align: center; }

.table_w table tbody tr td { padding-top: 12px; padding-bottom: 13px; padding-left: 15px; padding-right: 15px; font-size: 14px; font-weight: 300; color: #666; border-bottom: 1px solid #dfdfdf; }

.table_w table tbody tr td a { display: block; max-width: 280px; color: #666; cursor: pointer; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.table_w table.signal { border-top: 0; }

.table_w table.signal thead tr th { height: 38px; background: #f6f6f6; border-bottom: 0; padding-top: 13px; padding-bottom: 12px; }

.table_w table.signal thead tr th:first-child { border-radius: 5px 0 0 5px; }

.table_w table.signal thead tr th:last-child { border-radius: 0 5px 5px 0; }

.table_w table.signal tbody tr:first-child td { padding-top: 24px; }

.table_w table.signal tbody tr td { border-top: 0; border-bottom: 0; padding-top: 8px; padding-bottom: 8px; }

.table_w table.table-lft { border-top: 1px solid #333; }

.table_w table.table-lft tbody tr th { font-size: 14px; color: #333; font-weight: 700; height: 47px; line-height: 47px; text-indent: 10px; border-bottom: 1px solid #dfdfdf; padding: 0 15px; background: #f5f5f5; }

.table_w table.table-lft tbody tr td { height: 47px; line-height: 47px; padding: 0 15px; font-size: 14px; color: #666; font-weight: 300; }

.bot_list_w { display: flex; width: 100%; justify-content: space-between; align-content: space-around; flex-wrap: wrap; }

.bot_list_w .bot_w { display: block; width: 330px; height: 278px; border: 1px solid #d7d7d7; border-radius: 5px; background: #fff; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); margin-top: 20px; }

.bot_list_w .bot_w .top { display: block; width: 100%; padding-top: 25px; float: left; }

.bot_list_w .bot_w .top .thumb { display: block; width: 140px; height: 125px; text-align: center; padding-top: 25px; float: left; }

.bot_list_w .btm { display: block; width: 100%; float: left; margin-top: 15px; text-align: center; }

.bot_list_w .btm button { width: 285px; height: 45px; line-height: 45px; border-radius: 45px; padding: 0; margin: 0; background: #3e72ed; }

.bot_list_w .btm button span { font-size: 16px; color: #fff; font-weight: 300; }

.bot_list_w .btm button span em { font-style: normal; font-weight: 700; }

.bot_list_w .btm button span::after { content: '→'; padding-left: 10px; font-size: 16px; font-weight: 300; }

.bot_info { display: block; width: 180px; float: left; padding-left: 10px; }

.bot_info .per { display: block; width: 100%; float: left; }

.bot_info .per span { display: inline-block; font-size: 14px; font-weight: 300; padding-right: 20px; background: url(../img/sub/bot/bu_per.png) no-repeat 100% 50%; }

.bot_info .per strong { display: block; height: 40px; line-height: 40px; font-size: 30px; font-weight: 300; width: 100%; }

.bot_info .info { display: block; width: 100%; float: left; padding-top: 10px; }

.bot_info .info dt { width: 90px; height: 24px; line-height: 24px; font-size: 14px; color: #333; font-weight: 700; text-align: left; float: left; clear: left; }

.bot_info .info dd { width: calc(100% - 90px); height: 24px; line-height: 24px; padding-left: 0; margin-left: 0; font-size: 14px; color: #666; float: left; }

.bot_info .info .st_inv { height: 24px; line-height: 24px; font-size: 14px; color: #333; font-weight: 700; }

.bot_detail { display: block; width: 100%; padding-bottom: 10px; overflow: hidden; }

.bot_detail .bot_title { display: inline-block; width: 100%; text-align: center; }

.bot_detail .bot_title .thumb { display: inline-block; width: 116px; height: 116px; border-radius: 115px; border: 1px solid #d7d7d7; background: #fff; text-align: center; padding: 17px 0; }

.bot_detail .bot_title .bot_name { display: block; text-align: center; padding-top: 20px; font-size: 36px; font-weight: 700; }

.bot_detail_info { display: block; width: 100%; padding-top: 25px; }

.bot_detail_info .left { display: block; width: 486px; height: 180px; padding-top: 30px; padding-left: 25px; padding-right: 25px; padding-bottom: 30px; background: #fff; float: left; }

.bot_detail_info .left dl { display: block; }

.bot_detail_info .left dl dt { display: block; width: 117px; height: 36px; line-height: 26px; font-size: 16px; font-weight: 700; color: #333; padding-bottom: 10px; float: left; clear: left; }

.bot_detail_info .left dl dd { display: block; width: calc(100% - 117px); height: 36px; line-height: 26px; font-size: 15px; font-weight: 300; color: #666; letter-spacing: -0.025em; padding-bottom: 10px; float: left; }

.bot_detail_info .right { position: relative; display: block; width: 486px; height: 180px; padding-top: 30px; padding-left: 25px; padding-right: 25px; padding-bottom: 30px; background: #fff; float: right; }

.bot_detail_info .right strong { font-size: 16px; font-weight: bold; height: 26px; line-height: 26px; }

.bot_detail_info .right .txt { display: block; padding-top: 10px; font-size: 15px; font-weight: 300; color: #666; line-height: 25px; }

.bot_detail_info .right .button { position: absolute; top: 25px; right: 0; }

.bot_detail_info .right .button button { display: block; height: 40px; border-radius: 40px; padding-left: 20px; padding-right: 20px; margin-top: 15px; margin-bottom: 15px; margin-right: 35px; margin-left: 0; }

.bot_detail_info .right .button button.btn-primary { background: #3e72ed; }

.bot_detail_info .right .button button.btn-default { background: #fff; border: 1px solid #d7d7d7; }

.bot_detail_info .right .button button:focus { outline: 0; }

.bot_detail_info .right .button button span { width: 88px; }

.allDetail { display: block; width: 100%; }

.allDetail .result { display: block; width: 668px; float: left; }

.allDetail .result .resultbox_w { display: flex; width: 100%; justify-content: space-between; margin-top: 20px; }

.allDetail .result .resultbox_w .resultbox { display: flex; width: 154px; height: 183px; border: 1px solid #d7d7d7; border-radius: 5px; flex-wrap: wrap; align-content: center; }

.allDetail .result .resultbox_w .resultbox span { display: block; width: 100%; line-height: 24px; text-align: center; font-size: 16px; font-weight: 300; color: #333; }

.allDetail .result .resultbox_w .resultbox strong { display: block; width: 100%; text-align: center; font-size: 30px; font-weight: 700; padding-top: 20px; }

.allDetail .risk { display: block; width: calc(100% - 668px); padding-left: 30px; float: left; }

.allDetail .risk .riskbox { display: block; width: 100%; height: 183px; border: 1px solid #d7d7d7; border-radius: 5px; margin-top: 20px; }

.allDetail .per { display: block; width: 460px; float: left; margin-top: 40px; }

.allDetail .per .chartbox { display: block; width: 100%; height: 335px; background: #f7f7f7; margin-top: 20px; }

.allDetail .highreturn { display: block; width: calc(100% - 460px); padding-left: 30px; margin-top: 40px; float: left; }

.allDetail .highreturn .tablebox { display: block; width: 100%; margin-top: 20px; }

.allDetail .highreturn .tablebox .board_pager { margin-top: 0; overflow: hidden; }

.allDetail .highreturn .tablebox .board_pager nav ul { margin: 0; }

.allDetail .item_w { display: block; width: 100%; float: left; margin-top: 40px; }

.allDetail .sms_sample { display: block; width: 100%; float: left; margin-top: 20px; }

.allDetail .sms_sample .sms_w { display: flex; width: 100%; justify-content: space-between; padding-top: 40px; }

.allDetail .sms_sample .sms_w .smsbox { display: inline-block; width: 210px; height: 227px; background: url(../img/sub/bot/bg_sms.jpg) no-repeat 0 0; padding-top: 55px; padding-left: 26px; padding-right: 27px; padding-bottom: 24px; }

.box-title { display: block; height: 24px; line-height: 24px; font-size: 20px; font-weight: 700; color: #333; }

.issue-analysis .chartbox { display: block; min-height: 300px; background: #f7f7f7; }

.latest-issue { position: relative; display: block; }

.latest-issue .nav { border: 0; }

.latest-issue .nav li { margin: 0; }

.latest-issue .nav li a { border: 0; margin: 0; padding: 0 15px; min-width: 70px; height: 40px; line-height: 40px; text-align: center; font-size: 16px; color: #666; background: #ebebeb; border-radius: 40px; margin-right: 10px; font-weight: 300; }

.latest-issue .nav li.active a, .latest-issue .nav li:hover a { background: #3e72ed; color: #fff; }

.latest-issue .tab-content ul { display: block; }

.latest-issue .tab-content ul li { display: block; margin-bottom: 20px; }

.latest-issue .tab-content ul li .tit { display: block; }

.latest-issue .tab-content ul li .tit a { display: inline-block; max-width: 100%; font-size: 16px; color: #3e72ed; font-weight: 300; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-bottom: 1px solid #3e72ed; }

.latest-issue .tab-content ul li .tit .date { display: block; font-size: 13px; color: #999; line-height: 20px; padding-top: 5px; }

.latest-issue .tab-content ul li .txt { font-size: 14px; color: #666; line-height: 20px; height: 40px; }

.latest-issue .more { position: absolute; top: 10px; right: 0; }

.latest-issue .more a { font-size: 14px; color: #999; font-weight: 300; }

.latest-issue .more a::before { content: '+'; padding-right: 5px; }

.issue-relation .table_w table { overflow: hidden; }

.issue-relation .table_w table thead { width: 100%; float: left; }

.issue-relation .table_w table thead tr { display: table; width: 100%; }

.issue-relation .table_w table tbody { float: left; width: 100%; height: 400px; overflow-y: scroll !important; overflow-x: hidden; }

.issue-relation .table_w table tbody tr { display: table; width: 100%; }

.empty { display: flex; min-height: 800px; text-align: center; justify-content: center; align-content: center; align-items: center; flex-wrap: wrap; }

.empty.issue-empty p { display: block; width: 100%; line-height: 26px; font-size: 16px; color: #666; font-weight: 300; text-align: center; padding-bottom: 20px; }

.empty.issue-empty button { display: block; width: 115px; height: 30px; line-height: 28px; float: none; border: 1px solid #3e72ed; background: #fff; border-radius: 5px; font-size: 14px; color: #3e72ed; padding: 0; margin: 0; }

.empty.issue-empty button:hover, .empty.issue-empty button:focus { background: #3e72ed; color: #fff; }

.empty.issue-empty button span { padding: 0; margin: 0; }

.sub-content { position: relative; clear: both; }

.sub-content .sub-section { display: block; margin-top: 20px; width: 100%; background: #fff; border: 1px solid #d6d6d6; border-radius: 5px; box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); padding: 40px 35px 60px; overflow: hidden; }

.sub-content .sub-section.char { background-color: #fff; background-image: url(../img/sub/item/rmd/bg_char.png); background-repeat: no-repeat; background-position: 0 100%; }

.sub-content .sub-section.char_tab { position: relative; }

.sub-content .sub-section.npd { padding: 0; }

.sub-content-banner { display: block; width: 100%; float: left; margin: 40px 0; overflow: hidden; }

.sub-title { display: block; width: 100%; text-indent: 8px; font-size: 24px; color: #333; font-weight: 700; }

.sub-title-s { font-size: 20px; text-indent: 0; font-weight: 700; }

.ell2 { overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; }
