.board {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-top: 40px;
}

.board_top_btn {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;
}

.board_btm_btn {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;

    &.topLine{
        border-top:1px solid #000;
        padding-top:20px;
    }
}

.admin_notice {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom:20px;
    border-top: 1px solid #dfdfdf;


    dt {
        display:block;
        width: 110px;
        height: 41px;
        line-height: 40px;
        border-bottom: 1px solid #dfdfdf;
        font-size: 14px;
        color: #3e72ed;
        font-weight: 500;
        text-align: left;
        text-indent: 25px;
        float:left;
        clear:left;
    }

    dd {
        display: block;
        width: 850px;
        height: 41px;
        line-height: 40px;
        border-bottom: 1px solid #dfdfdf;
        float: left;
        margin-left: 0;

        &::before {
            content: '│';
            font-size: 13px;
            padding-right: 25px;
            color: #ddd;
            float: left;
        }

        a {
            font-size: 14px;
            color: #333;
            font-weight: 700;


        }
    }
}

.board_tbl {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;
    margin-top: 20px;

    .table {
        border-top: 1px solid #000;

        thead {
            tr {
                background: #f5f5f5;

                th {
                    font-size: 14px;
                    color: #333;
                    font-weight: 500;
                    text-align: center;
                    padding: 12px 0;
                    border-bottom: 1px solid #000;
                }
            }
        }

        tbody {
            tr {
                &.info {
                    td {
                        background: #f1f5fc;
                        .obj{
                            font-weight:500;
                        }
                        &:nth-child(3n-1){
                            a{
                                font-weight:400;
                            }
                        }
                        &:nth-child(5n){
                            font-weight:300;
                        }
                    }
                }

                &.recomment {
                    //background: #fff;
                }

                td {
                    font-size: 14px;
                    color: #666;
                    font-weight: 300;
                    //height: 46px;
                    //line-height: 25px;
                    padding: 9px 0 10px 0;
                    border-bottom: 1px solid #dfdfdf;
                    border-top: 0;

                    
                    

                    .nick{
                        &.user_ico{
                            display:inline-block;
                            height:22px;
                            line-height:22px;
                            padding-left:27px;
                            background-image: url(https://img.thinkpool.com/www//img/sub/board/user.png);
                            background-repeat: no-repeat;
                        }
                        &.ico_cl10 {
                            background-position: 0 0;
                        }
    
                        &.ico_cl9 {
                            background-position: 0 -22px;
                        }
    
                        &.ico_cl8 {
                            background-position: 0 -44px;
                        }
    
                        &.ico_cl7 {
                            background-position: 0 -66px;
                        }
    
                        &.ico_cl6 {
                            background-position: 0 -88px;
                        }
    
                        &.ico_cl5 {
                            background-position: 0 -110px;
                        }
    
                        &.ico_cl4 {
                            background-position: 0 -132px;
                        }
    
                        &.ico_cl3 {
                            background-position: 0 -154px;
                        }
    
                        &.ico_cl2 {
                            background-position: 0 -176px;
                        }
    
                        &.ico_cl1 {
                            background-position: 0 -198px;
                        }
                    }

                    a {
                        display: inline-block;
                        height: 25px;
                        line-height: 25px;
                        font-size: 14px;
                        color: #666;
                        font-weight: 300;
                        margin-left: 10px;
                        float:left;

                        &:hover {
                            border-bottom: 1px solid #333;
                        }

                        .obj {
                            position:relative;
                            display: block;
                            max-width: 410px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            float: left;
                        }

                        .file{
                            display:inline-block;
                            width:20px;
                            height:11px;
                            background:url(https://img.thinkpool.com/www//img/f_icon.gif) no-repeat 100% 0;
                        }

                        .blind {
                            display: none;
                        }

                        .bagdg {
                            display: inline-block;
                            font-size: 12px;
                            color: #3e72ed;
                            padding-left: 3px;
                        }
                    }

                    .label {
                        display: inline-block;
                        padding: 0 10px;
                        margin-left: 10px;
                        height: 25px;
                        line-height: 23px;
                        font-size: 13px;
                        color: #fff;
                        font-weight: 300;
                        background-size:22px 220px;

                        &.label-ins {
                            background: #9ebcff;
                            margin-left: 0;
                            float:left;
                            margin-right:8px;
                        }

                        &.label-rmd {
                            border: 1px solid #fa5460;
                            color: #fa5460;
                            float:left
                        }

                        &.label-blind {
                            border: 1px solid #666;
                            color: #666;
                            float:left;
                        }

                        &.label-empty {
                            padding: 0;
                            float:left;
                        }

                        
                        
                    }

                }

                &.blind {
                    cursor:pointer;
                    td {
                        a {
                            border-bottom: 0;

                            .obj {
                                display: none;
                            }

                            .blind {
                                display: inline-block;
                                color: #999;
                            }
                        }
                    }
                }
            }
        }

        &-hover{
            tbody tr{
                &:hover{
                    th,td{
                        background:#fafafc;
                    }
                }
            }
        }
    }
}

.tbl-chart{
    cursor:pointer;
    &::before{
        content:'';
        display:block;
        width:16px;
        height:14px;
        background:url(https://img.thinkpool.com/www//img/chart_icon.png) no-repeat 0 0;
    }
}

.fav-item{
    display:block;
    width:27px;
    height:20px;
    background:url(https://img.thinkpool.com/www//img/sub/item/ins_off.png) no-repeat 0 2px;
    background-size:auto 16px;
    cursor:pointer;
    float:left;

    &.active{
        background:url(https://img.thinkpool.com/www//img/sub/item/ins_on.png) no-repeat 0 2px;
        background-size:auto 16px;
    }
}

.board_sch {
    position: relative;
    display: block;
    width: 100%;
    float: left;
    margin-top: 40px;

    p {
        font-size: 14px;
        color: #666;
        font-weight: 300;
    }

    span{
        display:block;
        float:left;
        line-height:36px;
        font-size:14px;
        font-weight:300;
        color:#666;
    }

    select {
        background: #f6f6f7;
        font-size: 13px;
        height: 36px;
        float: left;
        cursor: pointer;
    }

    input {
        display: block;
        width: 215px !important;
        background: #f6f6f7;
        font-size: 13px;
        height: 36px;
        float: left;
        margin: 0 10px;
    }

    button {
        padding-left: 30px;
        padding-right: 30px;
        background: #3e72ed;
        font-size: 14px;
        font-weight: 300;
        height: 36px;
        border: 0;
        float:left;
    }

    .guide {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 16px;
        border: 2px solid #cecece;
        font-size: 11px;
        color: #cecece;
        font-weight: 500;
        border-radius: 20px;
        margin-left: 10px;
        margin-top:8px;
        cursor: pointer;
        clear:none;
    }

    .layer_guide {
        display: none;
        position: absolute;
        bottom: -30px;
        right: 300px;
        z-index: 99;

        .content {
            display: block;
            width: auto;
            height: auto;
            min-height: 61px;
            background: #fff;
            padding: 22px 27px;
            border: 1px solid #d6d6d6;
            text-align: left;
            font-size: 13px;
            line-height: 18px;
            margin-top: 30px;
        }

        .ly_close {
            position: absolute;
            top: 0;
            right: 0;

            button {
                background: none;
                padding: 0;
                opacity: .5;
                font-weight: 700;

                &:hover {
                    opacity: 1;
                }

                span {

                    font-size: 16px;
                    color: #000;
                }
            }
        }
    }
}



.b_btn {
    height: 34px;
    line-height: 32px;
    border: 1px solid #dfdfdf;
    border-radius: 34px;
    padding: 0 11px;
    background: none;

    &:hover {
        border: 1px solid #b2b2b2;

        .glyphicon {
            color: #b2b2b2;
        }
    }

    &.pull-left {
        margin-right: 8px;
    }

    &.pull-right {
        margin-left: 8px;
    }

    span {
        display: block;
        height: 34px;
        line-height: 32px;
        padding: 0 5px;
        color: #333;
        font-size: 13px;
        font-weight: 300;
        float: left;

        &.glyphicon {
            padding: 0;
            font-size: 17px;
            color: #d1d1d1;
            font-weight: 300;
        }
    }

    &.b_circle {
        padding: 0 5px;
    }

    &.b_active {
        background: #f6f6f7;

        span {
            font-size: 14px;
            color: #333;
            font-weight: 300;
        }
    }

    &.b_write {
        border: 1px solid #3e72ed;

        &:hover {
            border: 1px solid #3e72ed;
            background: #3e72ed;

            span {
                color: #fff;
                font-weight: 500;
                background: url(https://img.thinkpool.com/www//img/btn_bullet_write_on.png) no-repeat 4px 50%;
            }
        }

        span {
            color: #3e72ed;
            padding: 0 5px 0 25px;
            background: url(https://img.thinkpool.com/www//img/btn_bullet_write.png) no-repeat 4px 50%;
        }
    }
}

.bestList {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 230px;
    min-height: 124px;
    background: url(https://img.thinkpool.com/www//img/sub/best.png) no-repeat 0 0;
    strong {
        display: block;
        width:528px;
        float: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    

        font: {
            size: 24px;
            weight: 700;
        }

        color:#333;
        line-height:30px;
    }

    span {
        display: block;
        width: 100%;
        float: left;

        font: {
            size: 15px;
            weight: 300;
        }

        color:#666;
        height:86px;
        line-height:22px;
        padding-top:20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap:break-word;
    }

    em {
        position: absolute;
        top: 10px;
        right: 3px;

        font: {
            style: normal;
            size: 14px;
            weight: 300;
        }

        color:#999;
    }
}

.myClassbox{
    display:block;
    width:100%;
    min-height:80px;
    background:#FAFAFC;

    .user_info{
        display:inline-block;
        height:42px;
        padding:18px 0;
    }

    span{
        display:block;
        float:left;

        &.label.ico{
            width:42px;
            height:42px;
            background-size:42px 420px;
            background-image:url(https://img.thinkpool.com/www//img/user_42.png);
            background-repeat: no-repeat;

            .ico_cl1{background-position: 0 0;}
            .ico_cl2{background-position: 0 10%;}
            .ico_cl3{background-position: 0 20%;}
            .ico_cl4{background-position: 0 30%;}
            .ico_cl5{background-position: 0 40%;}
            .ico_cl6{background-position: 0 50%;}
            .ico_cl7{background-position: 0 60%;}
            .ico_cl8{background-position: 0 70%;}
            .ico_cl9{background-position: 0 80%;}
            .ico_cl10{background-position: 0 100%;}
        }

        &.user_class{
            font-size:16px;
            font-weight:300;
            color:#666;
            line-height:42px;
            padding:0 20px;

            em{
                font-style:normal;
            }
        }

    }
    button{
        display:block;
        float:left;
        height:36px;
        border:1px solid #d7d7d7;
        background:#fff;
        border-radius: 5px;
        padding:0 25px;
        margin-top:3px;
        font-size:14px;
        color:#666;
        font-weight:300;

        &:focus,&:hover,&:active{
            background:#fff;
            outline:0;
            border:1px solid #d7d7d7;
        }
    }
}

.myItemSch{
    display:block;
    width:100%;
    min-height:80px;
    background:#FAFAFC;
    overflow:hidden;

    .board_sch{
        display:inline-block;
        width:auto;
        margin-top:20px;
        float:none;

        input{
            background:#fff;
            width:336px !important;
        }
    }

}

.myItemList_w .myItemList{
    display:block;
    width:100%;
    border:1px solid #d7d7d7;
    padding:0 40px;
    overflow:hidden;

    .list{
        display:block;
        width:100%;
        border-bottom:1px solid #d7d7d7;
        padding:25px 0 15px 0;
        float:left;

        &:last-child{
            border-bottom:0;
        }

        strong{
            display:block;
            font-size:14px;
            font-weight:700;
            color:#333;
            float:left;
            padding-bottom:10px;
        }

        a.tit{
            display:block;
            font-size:14px;
            font-weight:700;
            color:#333;
            float:left;
            padding-bottom:10px;
        }

        span, a.news{
            display:block;
            width:100%;
            font-size:14px;
            padding:10px 0;
            font-weight:300;
            color:#666;
            float:left;
            em{
                font-style:normal;
                color:#3e72ed;
            }
        }
    }
}

#blind{
    top:30%;

    .modal{
        &-dialog{
            width:310px;
            height:180px;
        }

        &-header{
            padding:20px 25px;
            border-bottom:0;

            h4{
                font-size:16px;
                color:#666;
                font-weight:700;
            }
        }

        &-body{
            padding:0 25px 20px 25px;

            p{
                font-size:13px;
                color:#666;
                font-weight:300;
                line-height:18px;
            }

            a{
                text-decoration: underline
            }
        }

    }
}

@import 'view';
@import 'write';
@import 'comment';
@import 'staff';
