@import 'char_pop';

.rmd_item_sch {
    display: block;

    .title {
        width: 100%;
        min-height: 95px;
        text-align: center;

        background: {
            image: url(../img/sub/item/rmd/bu_rassi.png);
            repeat: no-repeat;
            position: 720px 0;
        }

        span {
            display: block;
            height: 46px;
            line-height: 46px;

            font: {
                size: 36px;
                weight: 700;
            }

            color:#7874f7;
        }

        strong {
            display: block;
            height: 46px;
            line-height: 46px;

            font: {
                size: 36px;
                weight: 700;
            }

            color:#333;
        }

    }

    .sch {
        display: block;
        text-align: center;
        margin-top: 30px;

        form {
            display: inline-block;
            width: 470px;
            border-bottom: 2px solid #7874f7;

            input[type='text'] {
                width: 420px;
                height: 46px;
                border: 0;
                outline: 0;

                font: {
                    size: 20px;
                    weight: 300;
                }

                color:#7874f7;
                padding:0 3px;
                text-align:left;

                &::placeholder {
                    font: {
                        size: 20px;
                        weight: 300;
                    }

                    color:#7874f7;
                }
            }

            button {
                width: 40px;
                height: 40px;
                line-height: 40px;
                padding: 0;
                margin: 0;
                border-radius: 40px;
                background: #7874f7;

                font: {
                    size: 20px;
                    weight: 300;
                }

                color:#fff;
                text-align:center;
                box-shadow: 0;
                border:0;
            }
        }
    }

    .button {
        width: 100%;
        text-align: center;
        margin-top: 40px;

        .btn {
            width: 165px;
            height: 40px;
            line-height: 40px;
            border: 0;
            border-radius: 40px;

            padding: {
                top: 0;
            }

            margin: {
                left: 10px;
                right: 10px;
            }

            &-primary {
                background: #7874f7;

                font: {
                    size: 16px;
                    weight: 300;
                }

                color:#fff;

                span::before {
                    display: inline-block;
                    content: 'bullet';
                    width: 23px;

                    background: {
                        image: url(../img/bu_android.png);
                        repeat: no-repeat;
                        position: 0 50%;
                    }

                    text-indent:-9999em;
                }

                span::after {
                    display: inline-block;
                    content: 'bullet';
                    width: 20px;

                    background: {
                        image: url(../img/bu_dwn.png);
                        repeat: no-repeat;
                        position: 100% 50%;
                    }

                    text-indent:-9999em;
                }
            }

            &-default {
                background: #ebebeb;

                font: {
                    size: 16px;
                    weight: 300;
                }

                color:#333;

                span::before {
                    display: inline-block;
                    content: 'bullet';
                    width: 27px;

                    background: {
                        image: url(../img/bu_filesearch.png);
                        repeat: no-repeat;
                        position: 0 50%;
                    }

                    text-indent:-9999em;
                }
            }

            &:focus {
                outline: 0;
            }
        }
    }

    .info {
        display: block;
        margin-top: 40px;
        text-align: center;

        .infolist {
            display: inline-flex;
            width: 470px;
            justify-content: space-around;

            li {
                display: inline-block;

                .tit {
                    display: block;
                    text-align: center;

                    font: {
                        size: 14px;
                        weight: 300;
                    }

                    color:#333;
                }

                .txt {
                    display: block;
                    text-align: center;

                    font: {
                        size: 14px;
                        weight: 700;
                    }

                    color:#333;
                    padding-top:10px;

                    &.return.up em::before {
                        content: '＋';
                        font-size: 14px;
                        font-weight: 700;
                    }

                    &.return.dn em::before {
                        content: '－';
                        font-size: 14px;
                        font-weight: 700;
                    }

                    em {
                        font: {
                            style: normal;
                            size: 24px;
                            weight: 700;
                        }
                    }
                }
            }
        }
    }
}

.signal_update {
    display: block;

    .info {
        width: calc(100% - 604px);
        float: left;
        padding: 0 52px;

        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;

            li {
                width: 105px;
                height: 105px;
                border-radius: 100%;

                &.buy {
                    border: 1px solid #fb5360;
                    color: #fb5360;
                }

                &.sell {
                    border: 1px solid #4c84ff;
                    color: #4c84ff;
                }

                &.pssn,
                &.ppnwk {
                    border: 1px solid #dfdfdf;
                    color: #333;
                    margin-top: 10px;
                }

                span {
                    display: block;
                    text-align: center;
                    padding-top: 25px;
                    font-size: 15px;
                    font-weight: 300;
                }

                strong {
                    display: block;
                    text-align: center;
                    padding-top: 10px;
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }

        .date {
            display: block;
            text-align: center;
            padding-top: 5px;

            font: {
                size: 14px;
                weight: 300;
            }

            color:#999;
        }
    }

    .table_w {
        display: block;
        width: 604px;
        float: left;
    }
}

.item_char_all {
    display: block;

    &>.nav-tabs {
        display: flex;
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #d7d7d7;
        justify-content: space-between;
        padding: 0 35px;

        &::before {
            position: absolute;
            top: 0;
            left: -9999em;
        }

        &::after {
            position: absolute;
            top: 0;
            right: -9999em;
        }

        li {
            border: 0;
            margin: 0;

            a {
                padding: 0 0 2px 0;
                height: 70px;
                line-height: 80px;
                border: 0;

                font: {
                    size: 18px;
                    weight: 300;
                }

                color:#333;

            }

            &.active,
            &:hover {
                a {
                    padding: 0 0 2px 0;
                    height: 70px;
                    line-height: 80px;
                    border: 0;
                    border-bottom: 2px solid #3e72ed;
                    background: none;
                    color: #3e72ed;
                    font-weight: 700;
                }
            }

            &.disabled,
            &.disabled.active,
            &.disabled:hover {

                a {
                    padding: 0 0 2px 0;
                    height: 70px;
                    line-height: 80px;
                    color: #999;
                    border-bottom: 0;
                    font-weight: 300;
                    pointer-events: none;

                    &::after {
                        content: 'bullet';
                        display: inline-block;
                        width: 23px;
                        height: 70px;
                        text-indent: -9999em;

                        background: {
                            image: url(../img/bu_hold.png);
                            repeat: no-repeat;
                            position: 100% 59%;
                        }
                    }
                }
            }
        }
    }

    &>.info {
        position: absolute;
        width: 100%;
        height: 46px;
        line-height: 46px;
        top: 70px;
        left: 0;
        border-bottom: 1px solid #d7d7d7;
        overflow: hidden;
        padding: 0 20px;

        span {
            font: {
                size: 14px;
                weight: 300;
            }

            color:#999;

            &.txt {
                float: left;
            }

            &.date {
                float: right;
            }
        }
    }

    &>.tab-content {
        display: block;
        width: 100%;
        margin-top: 46px;
        height: 590px;

        .tab-pane {
            display: block;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: -9999em;

            &.active {
                position: relative;
                top: 0;
                left: 0;
                visibility: visible;
            }
        }
    }
}

.left_item_list {
    width: 100%;
    height: 590px;
    float: left;

    .left_item_w {
        position: relative;
        display: block;
        width: 208px;
        height: 590px;
        border: 0;
        float: left;
        padding: 59px 0;

        .left_item {
            width: 208px;
            border-bottom: 0;

            &::before,
            &::after {
                position: absolute;
                top: 0;
                left: -9999em;
            }

            li {
                display: block;
                height: 59px;
                width: 100%;
                padding: 0;
                margin: 0;
                float: left;

                a {
                    width: 197px;
                    border: 0;
                    border-right: 1px solid #d6d6d6;
                    border-bottom: 1px solid #d6d6d6;
                    border-radius: 0;
                    padding: 0 10px;
                    margin: 0;
                    height: 59px;
                    line-height: 59px;
                    text-align: center;
                    background: #faf9fb;
                    float: left;

                    font: {
                        size: 16px;
                        weight: 300;
                    }

                    span {
                        &.date {
                            font-size: 13px;
                        }

                        &.item {
                            font-size: 15px;
                            padding-left: 15px;

                        }
                    }

                    color:#333;
                }

                &.snb a {
                    text-align: left;
                }

                &:hover,
                &.active {
                    border: 0;
                    padding: 0;
                    margin: 0;

                    &::after {
                        content: '▶';
                        width: 12px;
                        height: 59px;
                        line-height: 59px;
                        float: left;
                        margin: 0 0 0 -6px;
                        padding: 0;
                        text-align: left;
                        font-family: 'dotum';
                        font-size: 20px;
                        color: #3e72ed;
                    }

                    a {
                        border: 0;
                        border-right: 0;
                        border-radius: 0;
                        padding: 0 10px;
                        margin: 0;
                        font-weight: 700;
                        color: #fff;
                        background: #3e72ed;

                        span {
                            font-weight: 300;
                        }
                    }
                }

                &.disabled,
                &.disabled.active,
                &.disabled:hover {
                    pointer-events: none;
                }
            }
        }
        .bx-prev{
            position:absolute;
            top:0;
            left:0;
            height:59px;
            line-height:59px;
            text-align:center;
            width:197px;
            border-right:1px solid #d6d6d6;
            color:#666;
            border-bottom:1px solid #d6d6d6;
            &.disabled{
                span{
                    opacity:.2;
                }
            }
        }
        .bx-next{
            position:absolute;
            bottom:0;
            left:0;
            height:59px;
            line-height:59px;
            text-align:center;
            width:197px;
            border-right:1px solid #d6d6d6;
            color:#666;
            &.disabled{
                span{
                    opacity:.2;
                }
            }
        }
    }

    &>.tab-content {
        width: calc(100% - 208px);
        height: 590px;
        padding: 40px 35px;
        overflow: hidden;

        .item_w {
            display: block;
            width: 100%;

            .top {
                display: block;
                width: 100%;
                border-bottom: 1px solid #d7d7d7;
                padding-bottom: 30px;
                float: left;

                .cdn {
                    width: 240px;
                    height: 130px;
                    border-radius: 5px;
                    float: left;
                    color: #fff;

                    strong {
                        display: block;
                        text-align: center;

                        font : {
                            size: 36px;
                            weight: bold;
                        }

                        padding: {
                            top: 55px;
                        }

                        background: {
                            image: url(../img/bu_rassi.png);
                            repeat: no-repeat;
                            position: center 10px;
                        }
                    }

                    span {
                        display: block;
                        text-align: center;
                        padding-top: 10px;
                        font-size: 15px;
                    }

                    &.buy {
                        background: #fb5360;
                    }

                    &.sell {
                        background: #3e72ed;
                    }

                    &.pssn {
                        background: #7874f7;
                    }

                    &.ppnwk {
                        background: #666;
                    }
                }

                .info {
                    display: block;
                    width: calc(100% - 240px);
                    padding-left: 40px;
                    float: left;

                    ul {
                        display: inline-block;
                        width: 100%;

                        li {
                            display: block;
                            height: 30px;
                            line-height: 30px;
                            float: left;

                            span {
                                font: {
                                    size: 15px;
                                    weight: 300;
                                }

                                color:#333;
                            }
                        }
                    }

                    .more {
                        display: block;
                        padding-top: 5px;

                        a {
                            font : {
                                size: 12px;
                                weight: 300;
                            }

                            color:#4c84ff;

                            &::after {
                                content: '→';
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }

            .con {
                display: block;
                width: 100%;
                float: left;
                padding-top: 35px;

                .chartbox {
                    width: 580px;
                    height: 315px;
                    background: #d7d7d7;
                    float: left;
                }

                .info {
                    width: calc(100% - 580px);
                    float: left;
                    padding-left: 25px;

                    ul {
                        display: inline-block;
                        width: 100%;
                        height: 315px;

                        li {
                            display: flex;
                            width: 100%;
                            height: 30%;
                            float: left;
                            border-bottom: 1px solid #d7d7d7;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-around;
                            align-content: center;

                            &:nth-child(2n) {
                                height: 40%
                            }

                            &:last-child {
                                border-bottom: 0;
                            }

                            span {
                                display: block;
                                width: 100%;
                                font-size: 14px;
                                color: #333;
                                text-align: center;
                            }

                            strong {
                                display: block;
                                width: 100%;
                                font-size: 30px;
                                color: #333;
                                padding-top: 15px;
                                font-weight: 300;
                                text-align: center;

                                em {
                                    font-style: normal;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }

        .empty {
            position: relative;
            min-height:513px;

            .direct {
                position: absolute;
                top: 200px;
                left: 0;
                width: 100%;
                text-align: center;
                z-index: 99;

                .txt {
                    display: block;

                    span {
                        line-height: 30px;

                        font: {
                            size: 20px;
                            weight: 300;
                        }

                        color:#fff;

                        em {
                            font: {
                                style: normal;
                                weight: 700;
                            }
                        }
                    }
                }

                .button {
                    button {
                        width: 178px;
                        height: 40px;
                        line-height: 40px;
                        padding: 0;
                        margin-top: 20px;
                        border-radius: 40px;
                        font-size: 16px;
                        color: #fff;
                        font-weight: 300;
                        outline: 0;
                        border: 0;
                        background: #3e72ed;
                    }
                }
            }

        }
    }
}

.item_char {
    display: block;

    .item {
        width: calc(100% - 60px - 480px - 230px);
        float: left;

        .title {
            display: block;
            height: 40px;
            line-height: 40px;
            float: left;

            span {

                font: {
                    size: 30px;
                    weight: 300;
                }

                color:#333;
                padding-right:20px;

                background: {
                    image: url(../img/bu_img.png);
                    repeat: no-repeat;
                    position: 100% 80%;
                }
            }
        }

        .per {
            display: block;
            padding-top: 15px;
            float: left;

            span {
                font: {
                    size: 20px;
                    weight: 700;
                }
            }
        }

        .signal {
            display: block;
            width: 100%;
            padding-top: 45px;
            float: left;

            &::after {
                content: '→';
                height: 22px;
                line-height: 22px;
                font-size: 12px;
                padding-left: 5px;
                color: #3e72ed;
            }

            a {
                height: 22px;
                line-height: 22px;
                font-size: 12px;
                color: #3e72ed;
                font-weight: 300;
            }
        }

        .date {
            display: block;
            float: left;
            clear: both;
            padding-top: 20px;
            font-size: 12px;
            color: #999;
            font-weight: 300;
        }
    }

    .chartbox {
        width: 480px;
        height: 330px;
        background: #d7d7d7;
        margin: 0 30px;
        float: left;
    }

    .table_w {
        width: 230px;
        float: left;
    }
}

.gbnr {
    display: block;
    width: 100%;
    padding: 0 30px;
    height: 90px;
}