.ui-datepicker .ui-datepicker-header{
    background:#fbfbfb;
    border:1px solid #d6d6d6;
}
.ui-datepicker .ui-datepicker-title{
    font-size:14px;
    color:#333;
    font-weight:500;
}
.ui-datepicker-calendar thead th{
    font-size:14px;
    color:#333;
    font-weight:400;
    padding: 1em .4em;
}

.ui-datepicker-calendar .ui-state-default, 
.ui-widget-content .ui-datepicker-calendar .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active{
    font-weight:300;
    color:#666;
    font-size:13px;
    border:1px solid #d6d6d6;
    border-radius: 3px;
    background:#fefefe;
    text-align:center;
    padding:.4em;
}
.ui-datepicker-calendar .ui-state-highlight, 
.ui-widget-content .ui-datepicker-calendar .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{
    border:1px solid #4379EB;
    background:#4379EB;
    color:#fff;
    font-weight:500;
}