body,html{height:100%;}
#error{
    display:flex;
    width:100%;
    max-width:500px;
    height:100%;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    margin:0 auto;

    .top{
        display:block;
        width:100%;
        padding:0 10px 15px 10px;
        text-align:center;
        float:left;
        border-bottom:2px solid #000;
        .left{
            display:block;
            float:left;
        }
        .right{
            display:block;
            float:right;
            a{
                display:inline-block;
                height:23px;
                line-height:23px;
                color:#333;
                font-weight:300;
                font-size:15px;
                text-decoration: underline;
            }
        }
    }
    .con{
        display:block;
        width:100%;
        float:left;
        padding:35px 10px;

        strong{
            display:block;
            font-size:26px;
            line-height:33px;
            color:#333;
            font-weight:700;
        }
        span{
            padding-top:40px;
            display:block;
            font-size:16px;
            color:#666;
            line-height:20px;
            letter-spacing: -0.025em;
        }
    }
}