//market price analysis 시세분석

.mpa{
    .info{
        position:absolute;
        top:0;
        right:0;

        span{
            font: {
                size: 18px;
                weight: 300;
            }
            padding-left:15px;
        }
    }

    .chartbox{
        display:block;
        width:100%;
        min-height:225px;
        margin-top:10px;
    }

}

.idsView{
    position:absolute;
    top:0;
    right:25px;

    li{
        display:block;
        float:left;
        &::before{
            content: '|';
            color:#d7d7d7;
            padding:0 15px;
        }
        &:first-child::before{
            content:'';
            padding:0;
        }

        a{
            font : {
                size:14px;
                weight:300;
            }
            color:#333;
            cursor: pointer;
        }
    }
}