//페이징
.board_pager {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;
    margin-top: 70px;
}

.paging{
    display:block;
    width:100%;
    overflow:hidden;
    clear:both;
    float:left;
}

.pagination {
    li {
        &.disabled {
            a {
                display: none;
            }
        }

        &:first-child {
            a {
                border: 1px solid #dedede;
                border-radius: 0;

                span {
                    border: none;
                }
            }
        }

        &:last-child {
            a {
                border: 1px solid #dedede;
                border-radius: 0;

                span {
                    border: none;
                }
            }
        }

        &.active {

            a,
            span, a:hover, span:hover, a:active, span:active {
                background:#3e72ed;
                color: #fff;
                font-weight: 500;
                border:0;
            }
        }

        a {
            width: 34px;
            height: 34px;
            line-height: 32px;
            border: 0;
            font-size: 13px;
            color: #000;
            font-weight: 500;
            padding: 0;
            margin: 0 5px;
            border: 1px solid #fff;

            &:hover, &:focus, &:active {
                background:#3e72ed;
                border:0;
                color: #fff;
                font-weight: 500;
            }
        }
    }
}
