@import 'subnav';
@import 'item';
@import 'ai_info';
@import 'rmd_bot';
@import 'issue';
@import 'mpa';
@import 'tab';
@import 'theme';
@import 'dcs';
@import 'news';
@import 'mktcdn';
@import 'trend';
@import 'signal';
@import 'adviser';
@import 'introduce';
@import 'usrguide';
@import 'qna';
@import 'mysignal';
@import 'keyword';
@import 'customer';
@import 'popover';
@import 'msg';

.sub-topbanner{
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sub-content {
    position: relative;
    width:100%;
    float:left;
    clear: both;

    .sub-section {
        display: block;
        margin-top: 20px;
        width: 100%;
        background: #fff;
        border: 1px solid #d6d6d6;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        padding: 40px 35px 45px;
        overflow: hidden;

        &.mainTopSection{
            padding:20px 35px 23px;
        }

        &.char {
            background: {
                color: #fff;
                image: url(https://img.thinkpool.com/www/img/sub/item/rmd/bg_char.png);
                repeat: no-repeat;
                position: 0 100%;
            }
        }

        .latest{
            float:left;
        }

        &.char_tab {
            position: relative;
        }

        &.npd {
            padding: 0;
            overflow:hidden;
        }

        &.rmd-bot-w{
            position:relative;
        }
        .gbnr{
            margin-left:-6px;
        }

        .modulebox{
            padding-bottom:40px;
            border-bottom:1px solid #d7d7d7;
        }
    }

    .content-guide{
        position:absolute;
        top:8px;
        right:5px;
        height:15px;
        line-height:15px;

        font-size:14px;
        font-weight:300;
        color:#666;

        em{
            display:inline-block;
            width:15px;
            height:15px;
            line-height:15px;
            background:#666;
            text-align:center;
            font-size:13px;
            color:#fff;
            font-weight:300;
            font-style: normal;
            border-radius: 2px;
            cursor: pointer;

            @at-root .popover{
                
                .txt{
                    display:block;
                    border-bottom:1px solid #dfdfdf;
                    margin:0;
                    padding-bottom:5px;
    
                    strong{
                        display:block;
                        width:100%;
                        line-height:30px;
                        font-weight:700;
                        padding:3px 0;
                    }
                    span{
                        display:block;
                        width:100%;
                        line-height:20px;

                        em{
                            font-style:normal;
                        }
                    }
    
                    &:last-child{
                        border-bottom:0;
                    }
                }
            
            }
        }
    }
}

.sub-content-banner {
    display: block;
    width: 100%;
    float: left;
    margin: 40px 0;
    overflow: hidden;

    &.text-banner {
        position:relative;
        height: 63px;
        line-height: 63px;
        text-align: center;
        background: rgb(61, 93, 221);
        background: linear-gradient(90deg, rgba(61, 93, 221, 1) 0%, rgba(70, 135, 242, 1) 70%, rgba(61, 93, 221, 1) 100%);

        .text-banner_w{
            display:inline-block;
            .txt{
                a{
                    font-size:18px;
                    font-weight:700;
                    color:#fff;
                }
            }
        }
        .bx-pager{
            position:absolute;
            top:3px;
            right:100px;
            .bx-pager-item{
                display:block;
                width:13px;
                height:13px;
                margin-top:4px;
                a{
                    display:inline-block;
                    width:13px;
                    height:13px;
                    text-indent:-9999em;
                    background:#fff;
                    border-radius: 15px;
                    &.active{
                        background:#b1b1b1;
                    }
                }

            }
        }
    }
}

.sub-title {
    display: block;
    width: 100%;
    text-indent: 8px;
    font-size: 24px;
    color: #333;
    font-weight: 700;

    em{
        font: {
            style: normal;
            weight: 300;
            size: 14px;
        }
        color:#666;
        padding-left:10px;
    }

    

    &-s {
        font-size: 20px;
        text-indent: 0;
        font-weight: 700;

        em{
            font: {
                size:16px;
                style:normal;
                weight:300;
            }
            color:#666;
            padding-left:5px;
        }
    }
    &-xs {
        font : {
            size: 18px;
            weight: 700;
        }
        text-indent: 0;

        span{
            font-size:16px;
            font-weight:300;
        }
    }
    &-nidt{
        display: block;
        width: 100%;
        font-size: 24px;
        color: #333;
        font-weight: 700;
    }
}

.ell2 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sub-nm-box{
    display:block;
    width:100%;
    overflow:hidden;

    .left{
        position:relative;
        display:block;
        width: calc(50% - 20px);
        float:left;
    }
    .right{
        position:relative;
        display:block;
        width: calc(50% - 20px);
        float:right;
    }
}
