@import 'subnav';
@import 'item';
@import 'ai_info';
@import 'rmd_bot';
@import 'issue';

.sub-content {
    position: relative;
    clear: both;



    .sub-section {
        display: block;
        margin-top: 20px;
        width: 100%;
        background: #fff;
        border: $border-d6;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        padding: 40px 35px 60px;
        overflow: hidden;

        &.char {
            background: {
                color: #fff;
                image: url(../img/sub/item/rmd/bg_char.png);
                repeat: no-repeat;
                position: 0 100%;
            }
        }

        &.char_tab {
            position: relative;
        }

        &.npd {
            padding: 0;
        }
    }
}

.sub-content-banner {
    display: block;
    width: 100%;
    float: left;
    margin: 40px 0;
    overflow: hidden;
}

.sub-title {
    display: block;
    width: 100%;
    text-indent: 8px;
    font-size: 24px;
    color: #333;
    font-weight: 700;
    &-s{
        font-size:20px;
        text-indent:0;
        font-weight:700;
    }
}

.ell2{
    overflow:hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}