//테이블
@import 'paging';

.check-radio{
    display:block;
    overflow:hidden;
    clear:both; 
    &.pn-a{
        position:absolute;
        top:0;
        right:0;
    }

    ul{
        li{
            display:block;
            float:left;
            margin-right:20px;

            input{
                width:20px;
                height:20px;
                margin:0;
                padding:0;
                float:left;
                cursor: pointer;
            }

            label{
                font-size: 13px;
                color:#333;
                font-weight:300;
                padding-left:5px;
                cursor: pointer;

                span{
                    font-size:12px;
                    color:#999;
                }
            }
        }
    }
}

.table_w {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;

    table {
        border-top: 1px solid #666;

        thead {
            tr th {
                padding: {
                    top: 8px;
                    bottom: 9px;
                    left: 15px;
                    right: 15px;
                }

                font : {
                    size: 14px;
                    weight: bold;
                }

                color:#333;

                border-top:1px solid #dfdfdf;
                border-bottom:0;
                background:#f5f5f5;
                text-align:center;
            }
            
        }

        tbody {
            tr:first-child{
                td{
                    border-top:1px solid #666;
                }
            }
            tr td {
                padding: {
                    top: 12px;
                    bottom: 13px;
                    left: 15px;
                    right: 15px;
                }

                font: {
                    size: 14px;
                    weight: 300;
                }

                color:#666;
                border-bottom:1px solid #dfdfdf;

                a {
                    display:block;
                    max-width:280px;
                    color: #666;
                    cursor: pointer;
                    overflow:hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        &.signal {
            border-top: 0;

            thead {
                tr th {
                    height: 38px;
                    background: #f6f6f6;
                    border-bottom: 0;

                    padding: {
                        top: 13px;
                        bottom: 12px;
                    }

                    &:first-child {
                        border-radius: 5px 0 0 5px;
                    }

                    &:last-child {
                        border-radius: 0 5px 5px 0;
                    }
                }
            }

            tbody {
                tr:first-child td {
                    padding-top: 24px;
                }

                tr td {
                    border-top: 0;
                    border-bottom: 0;

                    padding : {
                        top: 8px;
                        bottom: 8px;
                    }
                }
            }
        }

        &.table-lft {
            border-top: 1px solid #333;

            tbody {
                tr th {
                    font-size: 14px;
                    color: #333;
                    font-weight: 700;
                    height: 47px;
                    line-height: 47px;
                    text-indent: 10px;
                    border-bottom: 1px solid #dfdfdf;
                    padding: 0 15px;
                    background: #f5f5f5;
                }
                tr td{
                    height:47px;
                    line-height:47px;
                    padding:0 15px;
                    font-size:14px;
                    color:#666;
                    font-weight:300;
                }
            }
        }

        &.table-nboder{
            border-top:0;
            vertical-align: middle;

            tbody tr{
                td{
                    border-bottom:0;
                    border-top:0;
                    padding: {
                        top:7px;
                        bottom:8px;
                        left:3px;
                        right:3px;
                    }

                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
        }

        &.table-bordered{
            border-left:0 !important;
            border-right:0 !important;
            vertical-align: middle;

            thead{
                tr{
                    &.big{
                        th,td{
                            padding:18px 0 19px 0;
                        }
                    }
                    th,td{
                        &:first-child{
                            border-left:0;
                        }
                        &:last-child{
                            border-right:0;
                        }
                        vertical-align: middle;
                    }
                }
            }

            tbody{
                tr{
                    th,td{
                        &:first-child{
                            border-left:0;
                        }
                        &:last-child{
                            border-right:0;
                        }

                        a{
                            display:inline-block;
                            color:#4379EB;
                        }
                        vertical-align: middle;
                    }
                }
            }
            &.tbnborder{
                tbody{
                    tr{
                        &:first-child{
                            td,th{
                                border-top:1px solid #666;
                            }
                        }
                        td,th{
                            border:0;
                            border-bottom:1px solid #dfdfdf;
                        }
                    }
                }
            }
        }

        &.mitem{
            thead tr{
                th{
                    padding: {
                        left:5px;
                        right:5px;
                    }
                    vertical-align: middle;
                }
            }
            tbody tr{
                td{
                    padding : {
                        left:7px;
                        right:7px;
                    }
                    vertical-align: middle;
                    a{
                        display:block;
                        float:left;
                        &.view{
                            color:#4379EB;
                            text-decoration: underline;
                            float:none;
                        }
                    }
                    .tgglyphi{
                        cursor:pointer;
                    }
                }
            }
        }

        @at-root .modal-index-table{
            thead{
                display:block;
                width:100%;
                float:left;
                overflow:hidden;

                tr{
                    display:table;
                    width:100%;

                    th:nth-child(4),th:nth-child(5),th:nth-child(6),th:nth-child(7),th:nth-child(8),th:nth-child(9){
                        width:103px;
                    }
                    th:nth-child(1){
                        width:90px;
                    }
                    th:nth-child(2),th:nth-child(3){
                        width:80px;
                    }
                }
            }
            tbody{
                display:block;
                width:100%;
                height:700px;
                overflow-y:auto;
                overflow-x:hidden;
                float:left;
                tr{
                    display:table;
                    width:100%;

                    td:nth-child(4),td:nth-child(5),td:nth-child(6),td:nth-child(7),td:nth-child(8),td:nth-child(9){
                        width:102px;
                    }
                    td:nth-child(1){
                        width:89px;
                    }
                    td:nth-child(2),td:nth-child(3){
                        width:80px;
                    }
                }
            }
        }
    }
}


.label{
    padding:0;

    &.sm-sig-label{
        display:block;
        width:40px;
        height:20px;
        line-height:20px;
        text-align:center;
        font: {
            size:14px;
            weight: 700;
        }
        border-radius: 5px;

        &.sig01{
            background:#FB535F;
            color:#fff;
        }
        &.sig02{
            background:#4379EB;
            color:#fff;
        }
        &.sig03{
            border:1px solid #CBCBCB;
            color:#999;
            line-height:18px;
        }
        &.sig04{
            border:1px solid #CBCBCB;
            color:#999;
            line-height:18px;
        }
    }
}


.modal-body{
    strong{
        span{
            font-size:14px;
            color:#999;
            font-weight:400;
            padding-left:5px;
        }
    }
}


.tbl-more{
    display:block;
    width:100%;
    text-align:center;
    overflow:hidden;

    button{
        margin:0 auto;
        -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
        box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.1);
    }
    span{
        font: {
            size:13px;
            weight:300;
        }
        color:#666;
    }
}

