@use "tools" as *;

@import "./usa/home.scss";
@import "./usa/issue.scss";
@import "./usa/news.scss";
@import "./usa/strength.scss";
@import "./usa/airecom.scss";
@import "./usa/evthome.scss";
@import "./usa/infouse.scss";
@import "./usa/aihome.scss";
@import "./usa/stockDetail.scss";
@import "./usa/issueDetail.scss";
@import "./usa/issueAnalysis.scss";
@import "./usa/breakingNews.scss";

.section {
  &-usa-top {
    display: block;
    width: 100%;
    padding: 20px 16px;
    background: #dcd9ed;
  }
  &-usa-content {
    display: block;
    padding: 20px 16px;

    .title {
      text-indent: 3px;
    }

    * {
      font-family: "Spoqa Han Sans Neo", "sans-serif" !important;
    }

    .btn_more {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 30px;

      button {
        height: 38px;
        border: 1px solid #d6d6d6;
        border-radius: tp-radius(xs);
        font-size: 13px;
        color: tp-color(text-secondary);
        letter-spacing: -0.325px;
        width: 100%;
        font-weight: 400;
        background: none;
      }
    }

    .board {
      padding: 0 16px !important;

      .tbl-guide {
        div > span {
          font-size: 13px;
          color: tp-color(text-muted);
          font-weight: 400;
          height: 20px;
          line-height: 20px;
          margin-top: 10px;
        }
      }
    }
  }
}

.hr-line {
  display: block;
  width: 100%;
  height: 1px;
  background: #cacaca;
}
.off-empty {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 50px 0;

  span {
    display: block;
    font-size: 16px;
    color: #000;
    line-height: 24px;
  }
}
.talkCon.usa-sms {
  padding-left: 15px !important;
  margin-top: 0 !important;
  font-size: 14px !important;
  color: tp-color(text-secondary) !important;
}

.usa-table-sms {
  margin: 0 !important;
  tr td {
    padding: 0 !important;

    .empty {
      @include tp-flex-center;
    }

    .talkObj {
      height: 41px;
      display: flex !important;
      align-items: center;

      .date {
        width: 116px;
        text-align: center;
      }
      .obj {
        width: calc(100% - 116px);
      }
    }
  }
}

.usa-alm-tab {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 16px;
  height: 46px;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #dee2e6;
  }

  a {
    display: flex;
    height: 46px;
    padding: 10px 0;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: tp-color(text-secondary);

    &.active {
      border-bottom: 2px solid #000;
      color: #000;
    }
  }
}

.min-h-300 {
  min-height: 300px;
}

.text-truncate4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
}

.text-truncate2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
}

// 미국주식 공통
.notHeader {
  top: 0 !important;
}

.us_home .up {
  color: #ffcece !important;
}

.us_home .down {
  color: #d8c0ff !important;
}

.us_home .us_up {
  color: #e81a1a !important;
}

.us_home .us_down {
  color: #225cff !important;
}

.us_home .buy {
  color: #e81a1a !important;
}

.us_home .buy-bg {
  background: #fbebeb !important;
}

.us_home .sell {
  color: #6333cb !important;
}

.us_home .sell-bg {
  background: #f2edff !important;
}

.us_home .evt-sell {
  color: #225cff !important;
}

.us_home .evt-sell-bg {
  background: #e7f0ff !important;
}

.us_home .evt-mainup {
  color: #ffbeb6 !important;
}

.us_home .etf-upbg1 {
  background: #d83337 !important;
}

.us_home .etf-upbg2 {
  background: #fff2f2 !important;
}

.us_home .etf-downbg1 {
  background: #3865e1 !important;
}

.us_home .etf-downbg2 {
  background: #e7f0ff !important;
}

.us_home .hig-per_up {
  color: #f0ff41 !important;
}

.pt-o {
  padding-top: 0 !important;
}

.pt-48 {
  padding-top: 48px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.icn-tag {
  display: inline-block;
  color: tp-color(text-secondary) !important;
  background: #e7ebf1;
  font-size: 11px !important;
  font-weight: 500;
  line-height: 14px !important;
  padding: 3px 6px;
  border-radius: tp-radius(xs);

  em {
    display: inline-block;
  }
}

#autoComplete_list_us {
  position: fixed;
  top: 49px !important;
  left: 0 !important;
  width: 100% !important;
  height: calc(100vh - 49px) !important;
  z-index: 9999 !important;
  background: #fff;
  border-bottom: 1px solid #f5f5f5;
  list-style: none;
  overflow: auto;
  padding: 0px 16px 20px 2rem;

  li {
    margin-top: 14px;

    &:first-child {
      margin-top: 24px;
    }

    mark {
      background: none;
      padding: 0;
      font-weight: 700;
      color: tp-color(primary-legacy);
    }
  }
}
