@import '../variable.scss';
.badge{

    height:20px;
    line-height:18px !important;
    min-width:60px;
    text-align:center;
    font-size:13px !important;
    border-radius: 5px !important;
    background:#fff;
    padding:0 7px !important;
    font-weight:400 !important;

    &.bg-custom{
        &-default{
            color:#666;
            border:1px solid #676767;
        }
        &-primary{
            color:#5368FF;
            border:1px solid #5468FF;
        }
        &-danger{
            color:#E73B84;
            border:1px solid #E73B84;
        }
    }
}