//report modal
@import '../variable.scss';
.custom-modal1{
    .modal-dialog{

        .modal-content{
            border:0;
            border-radius: 1rem;

            .btn-custom-default{
                padding:0 28px !important;
            }

            .modal-header{
                border-bottom:0;
                align-items: flex-start;

                .modal-title{
                    width:calc(100% - 20px);
                    padding-bottom:1rem;
                }

                .rmTitle{
                    width:100%;
                    font-size:19px;
                    color:#000;
                    font-weight:700;
                    line-height:1.3;
                }
                // rmTitle

                .rmInfo{
                    width:100%;
                    margin-top:10px;
                    height:15px;
                    overflow:hidden;

                    span{
                        display:block;
                        height:15px;
                        line-height:15px;
                        font-size:13px;
                        color:#999;
                        padding-right:5px;
                        margin-right:5px;
                        border-right:1px solid #9c9c9c;
                        float:left;

                        &:last-child{
                            border-right:0;
                        }
                    }
                }
                // rmInfo
            }
            // modal-header

            .modal-body{
                padding:0 17px 20px;

                .modal-title{
                    width:calc(100% - 20px);
                    padding-bottom:1rem;
                }

                .rmTitle{
                    width:100%;
                    font-size:19px;
                    color:#000;
                    font-weight:700;
                    line-height:1.3;
                }
                // rmTitle

                .rmInfo{
                    width:100%;
                    margin-top:10px;
                    height:15px;
                    overflow:hidden;

                    span{
                        display:block;
                        height:15px;
                        line-height:15px;
                        font-size:13px;
                        color:#999;
                        padding-right:5px;
                        margin-right:5px;
                        border-right:1px solid #9c9c9c;
                        float:left;

                        &:last-child{
                            border-right:0;
                        }
                    }
                }
                // rmInfo

                .rmCont{
                    padding-top:15px;
                    border-top:1px solid #cacaca;

                    .sgn{
                        font-size:16px;
                        color:#000;

                        span{
                            display:block;
                            height:18px;
                            line-height:18px;
                            margin-bottom:10px;
                        }
                    }
                    // sgn

                    .text{
                        padding-top:20px;
                        font-size:16px;
                        color:#000;
                        line-height:23px;
                    }

                    .array{
                        position:absolute;
                        top:0;
                        right:0;
                        background:none;
                        border:0;
                        padding:0;
                        font-size:14px;
                        color:#5367FE;
                    }
                }
                // rmcont



                .alarm-txt{
                    display:block;
                    width:100%;
                    text-align:Center;
                    font-size:16px;
                    color:#000;
                    line-height:19px;
                }
                .alarm-btn{
                    display:block;
                    width:100%;
                    text-align:center;

                    button{
                        height:36px;
                        background:#5567FD;
                        color:#fff;
                        font-size:16px;
                        border:0;
                        border-radius: 36px;
                        padding:0 27px;
                    }
                }
            }
            // modal-body
        }
        // modal-content
    }
}

.share{
    display:block;
    width:100%;
    overflow:hidden;

    .title{
        text-align:center;
    }

    &-list{
        display:flex;
        width:100%;
        justify-content: space-around;

        a{
            width:50px;

            span{
                font-size:13px;
                color:#000;
            }
        }
    }
    &-li{
        display:flex;
        width:100%;
        justify-content: space-around;

        a{
            width:50px;

            span{
                font-size:13px;
                color:#000;
            }
        }
    }

    &-url{
        .col{
            input{
                width:calc(100% - 80px);
                float:left;

                &:disabled{
                    background:#fff;
                }
            }
            button{
                float:right;
            }
        }
    }

    &-link{
        .col{
            input{
                width:calc(100% - 80px);
                float:left;

                &:disabled{
                    background:#fff;
                }
            }
            button{
                float:right;
            }
        }
    }
}

.modal-body{
    table{

        .my-class{
            display:block;
            width:100%;
            float:left;
            padding:0;
            overflow:hidden;
    
            span{
                display:block;
                float:left;
                height:38px;
                line-height:38px;
                font-size:16px;
    
                &:first-child{
                    padding-left:48px;
                }
    
    
                @at-root .cls{
                    background-size:38px auto !important;
    
                    &-01{
                        background:url(#{$imgUrlSv}/cls.png) no-repeat 0 -345px;
                    }
                    &-02{
                        background:url(#{$imgUrlSv}/cls.png) no-repeat 0 -307px;
                    }
                    &-03{
                        background:url(#{$imgUrlSv}/cls.png) no-repeat 0 -268px;
                    }
                    &-04{
                        background:url(#{$imgUrlSv}/cls.png) no-repeat 0 -230px;
                    }
                    &-05{
                        background:url(#{$imgUrlSv}/cls.png) no-repeat 0 -192px;
                    }
                    &-06{
                        background:url(#{$imgUrlSv}/cls.png) no-repeat 0 -153px;
                    }
                    &-07{
                        background:url(#{$imgUrlSv}/cls.png) no-repeat 0 -114px;
                    }
                    &-08{
                        background:url(#{$imgUrlSv}/cls.png) no-repeat 0 -76px;
                    }
                    &-09{
                        background:url(#{$imgUrlSv}/cls.png) no-repeat 0 -38px;
                    }
                    &-10{
                        background:url(#{$imgUrlSv}/cls.png) no-repeat 0 0;
                    }
                }
            }
        }
    }
}


@import "aimodal.scss";