// 어드바이저

.adviser{
    display:block;
    width:100%;
    overflow:hidden;
    padding-bottom:10px;
}

.adviser .left{
    display:block;
    width:270px;
    height:210px;
    float:left;

    .thumb{
        width:100%;
        min-height:210px;
        background:#fff;
        border:1px solid #d7d7d7;
        border-radius:5px;
        text-align:center;
        padding:23px 0 22px 0;
    }
}

.adviser .right{
    display:block;
    width:calc(100% - 270px);
    height:210px;
    float:left;
    padding-left:40px;

    .info{
        display:block;
        width:100%;

        .tit{
            display:block;
            padding-top:10px;

            font: {
                size:20px;
                weight: 700;
            }
            color:#333;
            &-lg{
                height:34px;
                line-height:34px;
                font-size:30px;
                font-weight:700;
                padding-top:5px;
                float:left;

                .btn-primary{
                    height:34px;
                    line-height:34px;
                    border:0;
                    padding:0;
                    margin-top:-3px;
                    width:78px;
                    background:#3e72ed;
                    color:#fff;
                    font-weight: 400;
                    font-size:14px;
                }
            }

            
        }

        .txt{
            display:block;
            padding:10px 0;
            font: {
                size:16px;
                weight:400;
            }
            color:#666;
            line-height:26px;

        }

        .button{
            display:block;
            padding-top:10px;
            
            button{
                padding:0 15px;
                height:40px;
                line-height:38px;
                font: {
                    size:14px;
                    weight:400;
                }
                color:#3e72ed;
                border:1px solid #3e72ed;
                border-radius: 40px;
                background:none;

                &:hover{
                    color:#fff;
                    font-weight:400;
                    background:#3e72ed;
                }
            }
        }

        dl{
            display:block;
            width:100%;
            overflow:hidden;
            float:left;
            margin: {
                top:30px;
            }
            .lst{
                margin-bottom:0;
            }

            dt{
                display:block;
                width:160px;
                float:left;
                margin-bottom: 15px;
                clear:left;
                font : {
                    size: 16px;
                    weight: 700;
                }
                color: #333;
            }

            dd{
                display:block;
                float: left;
                margin-bottom: 10px;
                padding: {
                    left: 10px;
                }

                span{
                    font: {
                        size:16px;
                        weight: 400;
                    }
                    color:#666;

                    &.name{
                        //text-decoration: underline;
                    }
                }

                button{
                    display:inline-block;
                    padding:0;
                    margin: {
                        left: 15px;
                    }
                    width: 75px;
                    height: 28px;
                    border:1px solid #3e72ed;
                    border-radius: 5px;
                    background: #fff;
                    font : {
                        size: 14px;
                        weight: 400;
                    }
                    color:#3e72ed;
                }

            }
        }
    }
}

.adviser_bot{
    display:block;
    width:100%;
    overflow: hidden;   

    p{
        display:block;
        width:100%;
        clear:both;
        padding-top:30px;
        font-size:14px;
        font-weight: 400;
        color:#666;
    }
}

.adviser_bot .left{
    display:block;
    width: calc(100% - 220px);
    float:left;

    dl{
        display:block;
        width:100%;
        dt{
            display:block;
            width:160px;
            min-height:30px;
            line-height:30px;
            font: {
                size:16px;
                weight: 700;
            }
            color:#333;
            float:left;
            clear:left;
        }
        dd{
            display:block;
            width:calc(100% - 160px);
            min-height:30px;
            line-height:30px;
            font: {
                size:16px;
                weight: 400;
            }
            color:#666;
            float:left;
        }
    }
}

.adviser_bot .right{
    display:block;
    width: 200px;
    float:right;

    //bot
    .bot{
        display:block;
        width:100%;

        &>a{
            display:block;
            width:100%;
            height:207px;
            text-align:center;
            border:1px solid #dfdfdf;
            border-bottom:0;
            border-radius:5px;
            padding-top:10px;
            cursor:pointer;

            &:hover{
                text-decoration: none;
            }

            .subscribe{
                display:block;
                width:100%;
                height:66px;
                background:#3e72ed;
                margin-top:5px;
                border-radius: 5px;
                strong{
                    display:block;
                    font-size:18px;
                    font-weight:700;
                    color:#fff;
                    padding-top:15px;
                }
                span{
                    display:block;
                    font-size:13px;
                    font-weight: 400;
                    color:#fff;
                    padding-top:5px;
                }

            }
        }

        p{
            display:block;
            text-align:center;
            padding-top:15px;
            a{
                font-size:14px;
                color:#666;
                font-weight: 400;
            }
        }
    }
}

.mybot-info{
    display:block;
    margin-bottom:40px;

    p{
        display:block;
        margin-top:20px;
        font-size: 14px;
        line-height:20px;
        font-weight: 400;
        color: #666;
        padding-left:5px;
    }

    .infobox{
        width:100%;
        padding:20px 30px;
        background:#f5f5f5;
        border-radius: 10px;
        overflow:hidden;

        dl{
            position:relative;
            display:block;
            width:100%;
            padding:10px 0;
            float:left;

            //dt

            dt{
                display:block;
                padding-right:10px;
                float:left;
                font-size: 16px;
                font-weight: 700;
            }

            //dd
            dd{ 
                display:block;
                min-width:100px;
                padding-right:55px;
                float:left;

                span{
                    font-size: 16px;
                    color: #666;
                    font-weight: 400;
                }

                a{
                    color:#3e72ed;
                    font-weight: 400;
                    text-decoration: underline;
                }

                .btn-group{
                    position:absolute;
                    width:auto;
                    top:49px;
                    right:0;
                    z-index:99;

                    button{
                        height:28px;
                        line-height:26px;
                        padding:0 10px;
                        border:1px solid #3e72ed;
                        background:#fff;
                        font-size:14px; 
                        color:#3e72ed;
                        font-weight: 400;
                        border-radius: 5px;
                        float:left; 
                        margin-left:10px;
                    }
                }
            }
        }
    }
}

