//전체메뉴보기
#allmenu {
  //전체메뉴박스
  .allmenu_wrap {
    width: 1250px;
    max-width: 1250px;
    margin: 150px auto;
    background: #fff;

    //헤더
    .allmenu_header {
      position: relative;
      width: 100%;
      height: 60px;
      float: left;
      background: #333b58;
      overflow: hidden;

      strong {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        text-indent: 30px;
        font-size: 20px;
        color: #fff;
        font-weight: 400;
        float: left;
      }

      .close {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }

    //전체메뉴 콘텐츠
    .allmenu_content {
      position: relative;
      width: 100%;
      padding: 60px 0;
      clear: both;
      overflow: hidden;

      // 주메뉴
      .menu {
        display: inline-flex;
        width: 1035px;
        justify-content: space-around;
        float: left;

        .menu_list {
          display: inline-block;
          width: 207px;
          height: 372px;
          float: left;
          padding: 0 40px;
          border-left: 1px solid #ddd;

          &:first-child {
            border-left: 0;
          }

          .amenu {
            clear: both;

            &.thumb {
              padding-top: 110px;
            }

            &.m01 {
              background: url(https://img.thinkpool.com/www//img/header/allthumb01.png)
                no-repeat center top;
            }

            &.m02 {
              background: url(https://img.thinkpool.com/www//img/header/allthumb02.png)
                no-repeat center top;
            }

            &.m03 {
              background: url(https://img.thinkpool.com/www//img/header/allthumb03.png)
                no-repeat center top;
            }

            strong {
              display: block;
              height: 35px;
              line-height: 35px;
              float: left;
              font-size: 16px;
              color: #333;
              font-weight: 780;
            }

            ul {
              display: block;
              float: left;
              clear: both;
              margin-top: 10px;
              margin-bottom: 30px;

              li {
                display: block;
                height: 22px;
                line-height: 22px;

                a {
                  font-size: 14px;
                  color: #666;
                  font-weight: 400;

                  &:hover {
                    color: #4c84ff;
                  }
                }
              }
            }
          }
        }
      }

      // 부메뉴
      .side {
        display: inline-block;
        float: left;

        //부메뉴 01
        .side01 {
          display: block;
          width: 100%;

          ul {
            li {
              display: block;
              margin-bottom: 10px;
              a {
                display: inline-block;
                width: 140px;
                height: 34px;
                line-height: 32px;
                border: 1px solid #ddd;
                text-align: center;
                font-size: 14px;
                color: #333;
                font-weight: 400;
              }
            }
          }
        }

        //부메뉴 02
        .side02 {
          display: block;
          margin-top: 50px;
          width: 140px;
          border: 1px solid #ddd;

          strong {
            display: inline-block;
            width: 100%;
            height: 48px;
            line-height: 48px;
            background: #f5f5f5;
            font-size: 14px;
            color: #333;
            font-weight: 700;
            text-align: center;
          }

          ul {
            display: block;
            padding: 10px 0 20px 0;

            li {
              height: 30px;
              a {
                display: inline-block;
                width: 100%;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 14px;
                color: #666;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
