#cwrap{
  width:100%;
  max-width:1070px;
  margin:0 auto;
  padding:20px 20px 0;

  #c-header{}

  #c-container{
    display: block;
    margin-top: 20px;
    width: 100%;
    max-width:1030px;
    background: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    padding: 40px 35px 45px;
    overflow: hidden;
  }

  .item_board_nav {
      position: relative;
      display: block;
      width: 100%;

      .nav.nav-tabs {
          border-bottom:0;
          display:table;
          width:100%;
          table-layout: fixed;
          margin:0 auto;

          &::before, &::after{
            display:none;
          }

          li {
              display:table-cell;
              float:none;

              &:first-child{
                a{
                  border-left:1px solid #d6d6d6;
                }
              }

              &.active {
                  a {
                      border: 1px solid #d6d6d6;
                      border-right: 0;
                      font-weight: 700;
                      color: #fff;
                      background: #3e72ed;
                  }
              }

              a {
                  width:100%;
                  min-width:100%;
                  margin-right: 0;
                  height: 54px;
                  line-height: 54px;
                  border: 1px solid #d6d6d6;
                  border-left: 0;
                  font-size: 16px;
                  color: #333;
                  font-weight: 400;
                  text-align: center;
                  border-radius: 0;
                  padding:0;

                  &:hover {
                      border: 1px solid #d6d6d6;
                      border-right: 0;
                      background: #3e72ed;
                      color: #fff;
                      font-weight: 700;
                  }
              }
          }
      }

      button {
          position: absolute;
          top: 9px;
          right: 0;
          height: 37px;
          line-height: 35px;
          border: 1px solid #d6d6d6;
          background: #fff;
          padding: 0 15px;

          &:hover{
              background:#fefdfb;
          }

          img {
              float: left;
              margin-top: 10px;
              margin-right: 9px;
          }
          &.btn-active{
              font : {
                  size:14px;
                  weight:400;
              }
              color:#333;
              padding:0 25px;
              background:#f5f5f5;
              &:focus{
                  outline:0;
              }
          }
          &.btn-massage{
              font : {
                  size:16px;
                  weight:400;
              }
              color:#333;
              padding:0 25px 0 45px;
              background:url(../img/pMsg.png) no-repeat 20px 10px;
              background-size:17px auto;
              &:focus{
                  outline:0;
              }
          }
          &.btn-primary{
              top:2px;
              height:46px;
              padding:0 40px;
              background:#3e72ed;
              color:#fff;
              border:0;
              font-size:16px;
              font-weight:400;
          }
      }
  }


  .table_w{
    display:inline-block;
    overflow-x:auto;
  }

  //고객센터

  .customer{
      display:block;
      width:100%;
      overflow:hidden;
  }

  .clause_box{
      display:block;
      padding-top:60px;

      .title{
          display:block;
          padding-bottom:60px;

          strong{
              display:block;
              font-size:40px;
              color:#333;
              font-weight: 400;
          }
          span{
              display:block;
              padding-top:40px;
              font-size:20px;
              color:#333;
              font-weight:700;
          }
      }

      article{
          display:block;
          padding-bottom:40px;

          .tit{
              display:block;
              font-size:16px;
              color:#333;
              font-weight:500;
          }
          .con{
              display:block;
              font-size:14px;
              line-height:26px;
              color:#666;
              font-weight:400;
              white-space: pre-wrap;
              letter-spacing: -0.05em;
          }
      }
  }


  .c-nav{
      display:block;
      width:100%;

      .nav-tabs{
          display:flex;
          width:100%;
          justify-content: space-around;
          border-bottom:0;
          margin:0 auto;

          li{
            margin:0;

              a{
                  font-size:20px;
                  border:0;
                  border-radius: 0;
                  color:#333;
                  padding:0;

                  &:hover,&:focus,&:visited{
                      background:none;
                      border:0;
                  }
              }
              &.active{
                  a{
                      color:#3e72ed;
                      border-bottom:1px solid #3e72ed;
                  }
              }
          }
      }
  }

}

@media (max-width:720px){

    #cwrap{
      padding:15px 5px 0;

      #c-container{
        display: block;
        padding: 20px 15px 25px;
        margin-top:10px;
        overflow: hidden;
      }

      #agfooter{
        padding:15px 15px 50px;
        
        address{
          font-size:12px;
          line-height:24px;
        }
      }

      .sub-title{
        font-size:18px;
        a{
          img{width:100px;}
        }
      }

      .sub-content .sub-section{
        padding:20px 15px 25px;
      }

      .item_board_nav .nav.nav-tabs{
        display:block;
        width:100%;
        border-bottom:0;
        overflow:hidden;
        
        li{
            display:block;
            width:calc(100% / 3);
            margin-left:-1px;
            float:left;
  
            &:first-child, &:nth-child(4n){
                margin-left:0;
            }
            &:nth-child(4n),&:nth-child(5n){
              border-bottom:1px solid #d6d6d6
            }
  
            &:last-child{
                a{
                    min-width:100%;
                }
            }
  
  
            a{
                border-left:1px solid #d6d6d6 !important;
                font-size:13px;
                height:36px;
                line-height:36px;
                padding:0;
                min-width:auto;
                width:100%;
                letter-spacing: -0.025em;
            }
          }
        }

        .clause_box{
          padding-top:30px;
        }

        .c-nav .nav.nav-tabs{ 
          display:inline-block;
          width:100%;
          text-align:center;
    
          li{
              display:inline-block;
              float:none;
              margin:5px;
    
              a{
                  font-size:13px;
                  letter-spacing: -0.075em;
              }
            }
          }

          .tab-content.c-content{
            padding-top: 0 !important;
          }

          .customer{
            .member_setting{
              padding-bottom:100px;

              .title{
                text-align:center;
                padding-bottom:30px;
                
                strong{
                  font-size:24px;
                  line-height:34px;
                }
                span{
                  font-size:13px;
                  line-height:23px;
                  padding-top:20px;
                }
              }
            }
          }

          .clause_box{
            article{
              padding-bottom:20px;
              
              .tit{
                font-size:13px;
              }
              
              .con{
                font-size:13px;
                line-height:24px;
              }
            }
          }

        }
}