.gbl_v_info {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  gap: 10px;
  align-items: flex-start;
  background: #f8f5ec;

  span {
    display: block;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    letter-spacing: -0.25px;
  }
}

.gbl_v_text {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #7abaaa;
  border-bottom: 1px solid #7abaaa;
  background: #f7f7f8;

  font-size: 15px;
  color: #333;
  line-height: 25px;
}

.gbl_v_cont {
  display: block;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 120px;

  & > div {
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }

    strong {
      display: block;
      font-size: 16px;
      color: #333;
      font-weight: 700;
      line-height: 26px;
    }

    div {
      display: block;
      width: 100%;
      margin-top: 10px;

      a {
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-decoration: underline;
      }

      span {
        display: block;
        width: 100%;
        font-size: 16px;
        color: #333;
        font-weight: 400;
      }

      em {
        display: inline-block;
        margin-top: 10px;
      }
    }
  }
}

.global_content {
  display: block;
  width: 100%;
  height: auto;
  background: #fff;
}

.gblbox {
  .infoguide {
    span {
      em {
        font-style: normal;
      }
    }
  }
}
