.browser_w{

  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:80px;
  background:#333B58;
  text-align:center;

  .browser{
    position:relative;
    display:inline-block;
    width:1030px;
  }

  .top_close{
    position:absolute;
    top:30px;
    right:-200px;
    color:#e8e8e8;
    z-index:999;
    height:18px;
    line-height:18px;
    font-size:13px;
    font-weight:300;
    font-style:normal;
    cursor: pointer;

    &::before{
      background:none;
      float:none;
    }

    &::after{
      content:"X";
      border:1px solid #e8e8e8;
      height:18px;
      line-height:18px;
      text-align:center;
      width:18px;
      display:inline-block;
      margin-left:10px;
      background:none;
      float:none;
    }
  }
}

#wrap {
  position:relative;
  width: 100%;
  min-width:1100px;
  height:auto;
}

#container_w {
  position: relative;
  min-height: 1700px;
  clear: both;
}

#container {
  width: 1070px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding:0 0 30px;
}

#content {
  position:relative;
  display: inline-block;
  width: 1030px;
  min-height: 800px;
  background: #fff;
  overflow: hidden;
  clear: both;
  border:1px solid #d6d6d6;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  padding:40px 35px 60px;
  margin:20px 20px 0;
  
  &.nbg{
    width:1070px;
    background:none;
    box-shadow: none;
    border:0;
    padding:0;
    margin:101px 0 0 0;
    padding:0 20px 0px;
  }
}

#container_banner{
  display:flex;
  justify-content: space-between;
  width:1030px;
  margin:40px 20px 160px 20px;
  overflow:hidden;

  .banner_box{
    display:block;
    width:300px;
    height:250px;
    background:#d6d6d6;
    float:left;

    // &:nth-child(2n+1){
    //   margin:0 65px 0 64px;
    // }
  }
}

#agfooter{
  display:block;
  width:100%;
  float:left;
  text-align:center;
  padding-bottom:100px;

  address{
    display:inline-block;
    float:none;
    font-size:13px;
    color:#999;
    text-align:300;
    line-height:20px;
  }

  .flogo{
    display:block;
    width:100%;
    text-align:center;
    padding-top:30px;
  }

}



@import 'side';
