.s_signal .s_signalTitle {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.s_signal .result {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 25px 0 10px 0;
}
.s_signal .result .s_result {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.s_signal .result .s_result:last-child {
  border: 1px solid #5368ff;
  color: #5368ff;
  margin-right: 10px;
}
.s_signal .result .s_result:first-child {
  border: 1px solid #ff4150;
  color: #ff4150;
  margin-left: 10px;
}
.s_signal .result .s_result span {
  display: block;
  width: 100%;
  text-align: center;
}
.s_signal .result .s_result span.sig {
  font-size: 16px;
}
.s_signal .result .s_result span.amount {
  font-size: 22px;
  font-weight: 700;
}
.s_signal .s_alarm {
  text-align: center;
  padding: 20px 17px 0;
}
.s_signal .s_alarm .txt {
  font-size: 13px;
  color: #999;
  margin-bottom: 10px;
  font-weight: 400;
}
.s_signal .s_alarm .txt span {
  color: #000;
}
.s_signal .s_alarm .txtBox {
  width: 100%;
  background: #f2f3f7;
  padding: 5px 0;
  border-radius: 8px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.s_signal .s_alarm .txtBox em {
  font-size: 13px;
  color: #999;
}
.s_signal .s_history {
  padding: 20px 17px 20px;
}
.s_signal .s_history .s_historyTitle {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 15px;
}
.s_signal .s_history .s_historyTitle strong {
  display: block;
  font-size: 16px;
  color: #000;
}
.s_signal .s_history .s_historyTitle .s_txtSwiper {
  max-width: 120px;
  max-height: 24px;
  margin: 0;
}
.s_signal .s_history .s_historyTitle .s_txtSwiper .swiper-slide {
  color: #999;
  font-size: 13px;
  text-align: right;
}
.s_signal .s_history .s_hisSwiper .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.s_signal .s_history .s_hisSwiper .itemBox {
  width: 50%;
  height: 130px;
  padding: 10px 17px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background: #fff;
}
.s_signal .s_history .s_hisSwiper .itemBox .itemName {
  width: 100%;
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.s_signal .s_history .s_hisSwiper .itemBox .itemNum {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
.s_signal .s_history .s_hisSwiper .itemBox .itemNum em {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #999;
  line-height: 15px;
}
.s_signal .s_history .s_hisSwiper .itemBox .itemTxt {
  font-size: 13px;
  color: #999;
  font-weight: 400;
}
.s_signal .s_history .s_hisSwiper .swiper-pagination {
  margin-top: 15px;
}
.s_signal .s_history .s_hisSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #f2f3f7;
  opacity: 1;
}
.s_signal .s_history .s_hisSwiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #5368ff;
}
.s_signal .s_push {
  padding: 0 17px;
}
.s_signal .s_push .box {
  width: 100%;
  padding: 17px;
  border-radius: 8px;
  background: #f2f3f7;
}
.s_signal .s_push .box .txtBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s_signal .s_push .box .txtBox .txt {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 20px;
}
.s_signal .s_push .box .txtBox .icon img {
  width: 85px;
}
.s_signal .s_push .box .comBtn {
  width: 100%;
  margin-top: 15px;
}
.s_signal .s_push .box .comBtn button {
  width: 100%;
  height: 37px;
  line-height: 37px;
  padding: 0;
  border: none;
  background: #5368ff;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}

.comModal .modal-content {
  border-radius: 1rem;
}
.comModal .modal-content .modal-header {
  border: none;
}
.comModal .modal-content .modal-body {
  padding: 0px 17px 35px;
}
.comModal .modal-content .modal-body .title {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}
.comModal .modal-content .modal-body .comTable table {
  width: 100%;
}
.comModal .modal-content .modal-body .comTable th,
.comModal .modal-content .modal-body .comTable td {
  height: 40px;
  text-align: center;
}
.comModal .modal-content .modal-body .comTable thead {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #f5f5f5;
}
.comModal .modal-content .modal-body .comTable th {
  font-size: 14px;
  color: #000;
  font-weight: 400;
}
.comModal .modal-content .modal-body .comTable td {
  border-bottom: 1px solid #cacaca;
  font-size: 13px;
  font-weight: 400;
}
