.theme__visual {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 34px);
  height: 273px;
  border-radius: 16px;
  background-image: url("../../img/seohak/guide/hero-bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #050217;
  padding: 23px 0;
  margin: 26px 17px 0;
  overflow: hidden;

  .visual__header {
    width: 100%;
    z-index: 20;

    strong {
      padding-left: 10px;
    }
  }
  .visual__content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 28px 20px 0;
    width: 100%;
    gap: 12px 0;
    z-index: 20;

    strong {
      display: flex;
      flex-direction: column;

      span {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
      }

      em {
        color: #a1a5ff;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
      }
    }
    span {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px; /* 150% */
      letter-spacing: -0.28px;
    }
  }
  .visual__blur {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url("../../img/seohak/guide/visualBlur.png") no-repeat 0 0;
    background-size: 100% auto;
    z-index: 10;
  }
}

.usaIndex {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
  padding: 0 17px 10px;

  .indexList {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0 8px;

    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc((100% - 12px) / 3);
      height: 120px;
      gap: 6px 0;
      padding: 16px 6px;
      border-radius: 8px;
      border: 1px solid #c9dbff;
      background: linear-gradient(180deg, #f4f8ff 0%, #e0e7f6 100%);

      span {
        color: #191919;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px; /* 150% */
      }
      strong {
        color: #5148c9;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px; /* 138.889% */
      }
      em {
        color: #646567;
        text-align: center;
        font-size: 11px;
        font-weight: 400;
        line-height: 16px; /* 145.455% */
        letter-spacing: -0.44px;
      }
    }
  }
  .indexGuide {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .guide {
      display: flex;
      flex-direction: column;
      width: calc((100% - 10px) / 2);
      height: 264px;
      border-radius: 8px;
      background: #f8f8f8;
      padding: 16px 10px;

      strong {
        color: #333;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px; /* 150% */
        padding-bottom: 8px;
        border-bottom: 1px solid #dee2e5;
      }

      .txt {
        display: flex;
        flex-direction: column;
        gap: 8px 0;
        padding-top: 8px;

        span {
          color: #646567;
          font-size: 13px;
          font-weight: 400;
          line-height: 19px; /* 146.154% */
          display: flex;
          align-items: center;
          &::before {
            content: "\00b7";
            font-size: 13px;
            color: #646567;
            padding-right: 6px;
          }
        }
      }
    }
  }
}

.indexMeasure {
  padding: 30px 17px 10px;
  border-top: 8px solid #f6f6f6;

  .measure__guide {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    padding-top: 15px;
    width: 100%;

    .guide {
      display: flex;
      flex-direction: column;
      border: 1px solid #e4e4e4;
      border-radius: 10px;
      padding: 12px;

      .top {
        display: flex;
        flex-direction: column;

        em {
          display: inline-flex;
          width: fit-content;
          height: 30px;
          align-items: center;
          padding: 0 12px;
          border-radius: 100px;
          background: #54b5ad;
          font-size: 12px;
          color: #fff;
          font-weight: 700;
        }
        strong {
          padding-top: 4px;
          font-size: 15px;
          color: #333;
          font-weight: 700;
          line-height: 22px;
        }
        span {
          padding-top: 12px;
          font-size: 13px;
          color: #666;
          line-height: 19px;
        }
      }

      .cont {
        font-size: 13px;
        color: #333;
        line-height: 19px;
      }
    }
  }
}

.stockInExclusion {
  padding: 30px 17px 10px;
  border-top: 8px solid #f6f6f6;

  .inExclusionCondition {
    display: flex;
    flex-direction: column;
    gap: 15px 0;

    .condition__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 15px;

      .condition {
        display: flex;
        flex-direction: column;
        width: calc((100% - 12px) / 2);
        height: 210px;
        padding: 12px;
        border-radius: 8px;
        background: #f1f3f7;

        .top {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 8px;
          border-bottom: 1px solid #d9dee8;

          strong {
            color: #333;
            font-size: 14px;
            font-weight: 700;
            line-height: 21px; /* 150% */
          }

          span {
            display: flex;
            width: 100%;
            color: #666;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px; /* 150% */
            gap: 0 6px;
            padding-top: 8px;

            &::before {
              content: "\00b7";
              width: 4px;
              height: 4px;
              font-size: 20px;
              color: #666;
              font-weight: 700;
            }
          }
        }
        .txt {
          display: flex;
          flex-direction: column;
          padding-top: 8px;
          gap: 2px 0;

          span {
            color: #999;
            font-size: 13px;
            font-weight: 400;
            line-height: 19px; /* 146.154% */
          }
        }
      }
    }

    .guide__txt {
      span {
        color: #999;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px; /* 150% */
      }
    }
  }
}

.indexQna {
  padding: 30px 17px 10px;
  border-top: 8px solid #f6f6f6;

  .qna__list {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
    padding-top: 15px;

    .qna {
      @include qna-accordion;
    }
  }
}
