@use "../tools" as *;

.exptModal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-dialog {
    margin: 0 auto;
    padding: 30px;
    justify-content: center;

    .modal-content {
      width: 100%;
      max-width: 315px;
      background: #32323a;
      border-radius: 20px;
      border: none;
      padding: 30px 20px;

      .modal-header {
        position: relative;
        border: none;
        padding: 0;

        button {
          position: absolute;
          top: -13px;
          right: 0;
          z-index: 20;
        }
      }
      .modal-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .title {
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #fff;
          text-align: center;
        }
        .txt {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 16px;

          p {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: tp-color(border-default);
            text-align: center;

            &.text-left {
              text-align: left;
            }
          }
        }
        button {
          width: 100%;
          height: 45px;
          background: tp-color(success) !important;
          border-radius: tp-radius(xl);
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #0b0c0e;
        }
        .input-group {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 12px;

          .input-box {
            width: 100%;
            position: relative;

            input {
              width: 100%;
              height: 48px;
              padding: 10px;
              padding-right: 80px;
              border-radius: tp-radius(md);
              background: #32323a;
              border: 1px solid #737379;
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #ffffff80;

              &::placeholder {
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: tp-color(border-default);
              }
            }
            button {
              position: absolute;
              top: 10px;
              right: 10px;
              width: auto;
              height: auto;
              padding: 5px 10px !important;
              background: #71717b !important;
              border-radius: tp-radius(xs);
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: tp-color(border-default);
            }
          }
        }
        .termination-group {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 12px;

          .termination-txt {
            width: 100%;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: tp-color(border-default);
          }
          .termination-box {
            width: 100%;
            padding: 10px;
            border: 1px solid #404244;
            border-radius: tp-radius(2xl);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;

            p {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 6px;
            }
            span {
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: tp-color(border-default);
            }
          }
        }
        .btn-group {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          button {
            &:first-child {
              background: #71717b !important;
            }
          }
        }
      }
    }
  }
}
