@charset "UTF-8";
.msvc-nav-w {
  display: block;
  width: 100%;
  text-align: center;
  background: #F6F6F8;
  padding: 10px 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.msvc-nav-w .msvc-nav {
  display: inline-flex;
  justify-content: center;
}
.msvc-nav-w .msvc-nav a.nav-link {
  display: inline-block;
  min-width: 90px;
  height: 35px;
  line-height: 33px;
  border: 1px solid #d5d5d5;
  border-radius: 35px;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  padding: 0 8px;
  margin: 0 4px;
  float: none;
  background: #fff;
}
.msvc-nav-w .msvc-nav a.nav-link.active {
  border: 1px solid #5567FD;
  background: #5567FD;
  color: #fff;
}

.msvc-alarm-list {
  overflow: hidden;
}

.pf_w {
  display: block;
  width: 100%;
  overflow: hidden;
}
.pf_w .top {
  position: relative;
  display: block;
  width: 100%;
  float: left;
}
.pf_w .top .txt {
  width: 100%;
  padding: 25px 0;
  text-align: center;
}
.pf_w .top .txt span {
  display: block;
  font-size: 13px;
  color: #000;
}
.pf_w .top .txt strong {
  display: block;
  font-size: 20px;
  height: 25px;
  line-height: 25px;
  font-weight: 700;
}
.pf_w .top .btnbox {
  display: block;
  width: 100%;
  padding: 0 17px;
}
.pf_w .top .btnbox .guidebtn {
  display: block;
  width: 53px;
  height: 16px;
  line-height: 14px;
  padding: 0;
  border: 1px solid #d5d5d5;
  font-size: 11px;
  color: #999;
  border-radius: 16px;
  background: #fff;
}
.pf_w .top .btnbox .refresh {
  border: 0;
  background: none;
  font-size: 13px;
  color: #999;
  padding: 0;
}
.pf_w .tab-w {
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 0 17px;
  float: left;
}
.pf_w .tab-w.noPadding .nav.nav-tabs {
  padding: 0 17px;
}
.pf_w .tab-w .nav.nav-tabs {
  display: table;
  width: calc(100% - 34px);
  border: 0 !important;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 17px;
}
.pf_w .tab-w .nav.nav-tabs .nav-item {
  display: table-cell;
}
.pf_w .tab-w .nav.nav-tabs .nav-item .nav-link {
  display: block;
  width: 100%;
  height: 38px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #999;
  border: 1px solid #cacaca;
  border-bottom: 1px solid #5568FD;
  border-radius: 0;
  padding: 0;
}
.pf_w .tab-w .nav.nav-tabs .nav-item .nav-link.active {
  border: 1px solid #5568FD;
  border-bottom: 1px solid #fff;
  color: #5567Fd;
  font-weight: 700;
  z-index: 99;
}
.pf_w .tab-w .tab-content {
  display: block;
  width: 100%;
  float: left;
}

.circle-badge {
  position: absolute;
  top: -5px;
  right: 5px;
  z-index: 77;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 11px;
  color: #fff;
  border-radius: 50%;
}
.circle-badge.bg-red {
  background: #FF414F;
}

.h_per {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 17px;
}
.h_per strong {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #cacaca;
  background: #f5f5f5;
  text-align: center;
  font-size: 13px;
  color: #000;
}
.h_per .dl_list {
  display: block;
  width: 100%;
  overflow: hidden;
}
.h_per .dl_list dl {
  display: block;
  width: 50%;
  height: 40px;
  line-height: 40px;
  float: left;
  border: 1px solid #cacaca;
  border-top: 0;
  padding: 0 8px;
  margin: 0;
}
.h_per .dl_list dl:nth-child(2n) {
  border-left: 0;
}
.h_per .dl_list dl dt {
  display: block;
  font-size: 13px;
  color: #000;
  float: left;
  font-weight: 400;
}
.h_per .dl_list dl dd {
  display: block;
  float: right;
  font-size: 13px;
  font-weight: 700;
}
.h_per .guide {
  display: block;
  padding-top: 10px;
  font-size: 13px;
  color: #999;
}
.h_per .guide::before {
  content: "·";
}

#pop-guide {
  position: absolute;
  top: 0;
  left: 17px;
  width: calc(100% - 34px);
  min-height: 154px;
  background: #F1F3F7;
  padding: 32px 10px 20px;
  z-index: 10;
  border-radius: 5px;
}
#pop-guide.hide {
  left: -9999em !important;
}
#pop-guide span {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #999;
  width: 100%;
  margin-top: 10px;
}
#pop-guide span::before {
  content: "·";
  padding-right: 2px;
}
#pop-guide .close {
  position: absolute;
  top: 5px;
  right: 13px;
  padding: 0;
}
#pop-guide .close button {
  background: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  color: #000;
}

.notJoin-msvc .text {
  display: block;
  width: 100%;
  min-height: 140px;
  line-height: 140px;
  text-align: center;
  font-size: 14px;
  color: #999;
}
.notJoin-msvc .ai-bnr {
  display: flex;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  padding: 25px 20px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.notJoin-msvc .ai-bnr.cn {
  padding: 10px 15px;
  min-height: 87px;
}
.notJoin-msvc .ai-bnr.cn .txt {
  width: calc(100% - 90px);
}
.notJoin-msvc .ai-bnr.cn .button.cancel {
  text-align: right;
}
.notJoin-msvc .ai-bnr .txt {
  width: 260px;
}
.notJoin-msvc .ai-bnr .txt span {
  display: block;
  font-size: 13px;
  color: #000;
}
.notJoin-msvc .ai-bnr .txt span.date {
  font-size: 14px;
  line-height: 20px;
}
.notJoin-msvc .ai-bnr .txt span.guide {
  font-size: 16px;
  line-height: 22px;
}
.notJoin-msvc .ai-bnr .txt strong {
  display: block;
  font-size: 16px;
  color: #5567FD;
  font-weight: 700;
}
.notJoin-msvc .ai-bnr .txt strong.cn-tit {
  color: #000;
  min-height: 20px;
  line-height: 20px;
}
.notJoin-msvc .ai-bnr .button {
  display: block;
  width: 30px;
}
.notJoin-msvc .ai-bnr .button.cancel {
  width: auto;
}
.notJoin-msvc .ai-bnr .button a {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
  background: #5567Fd url(https://img.thinkpool.com/www/mobile/img/bu_rarw_xl.png) no-repeat center 50%;
  background-size: 15px auto;
  text-indent: -9999em;
}

.sq-nav {
  display: block;
  width: 100%;
  padding: 0 17px;
}
.sq-nav nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.sq-nav nav a.nav-link {
  display: inline-block;
  height: 33px;
  line-height: 31px;
  padding: 0 13px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  font-size: 14px;
  color: #000;
}
.sq-nav nav a.nav-link.active {
  color: #5567FD;
  font-weight: 700;
}

.paytolist {
  display: block;
  width: 100%;
  padding: 22px 17px;
}