.usa-issue-top nav {
  display: block;
  width: 100%;
  border: 1px solid #c3cace;
  background: #e6e8ee;
  border-radius: 8px;
  overflow: hidden;
}
.usa-issue-top nav ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}
.usa-issue-top nav ul li {
  display: block;
  width: 33%;
  height: auto;
  clear: both;
}
.usa-issue-top nav ul li button {
  display: block;
  width: 100%;
  padding: 8px 0;
  height: 40px;
  text-align: center;
  font-size: 16px;
  color: #666;
  border: 0;
  background: none;
  float: left;
}
.usa-issue-top nav ul li button.active {
  background: #454860;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
}
.usa-issue-top nav ul li:last-child {
  width: 34%;
  min-width: 116px;
}

.usa-tab-box {
  display: block;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 20px;
}
.usa-tab-box .chart {
  display: block;
  width: 100%;
}
.usa-tab-box.rankBg {
  background: url(../img/rankBg.png) no-repeat 0 0;
  background-size: cover;
  padding: 20px 10px;
}
.usa-tab-box.bubble {
  padding: 15px 10px;
}

.usa-issue-section {
  display: block;
  width: 100%;
  margin-top: 20px;
}
.usa-issue-section p {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #333;
  line-height: 21px;
}
.usa-issue-section .alarm-btn {
  width: 100%;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 24px;
}
.usa-issue-section .alarm-btn button {
  border-radius: 100px;
  background: #5567FD;
  border: none;
  padding: 7px 17px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.usa-issue-section .usa-issue-keyword {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 20px;
}
.usa-issue-section .usa-issue-keyword input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #5468ff;
  border-radius: 6px;
  padding: 0 30px 0 10px;
  font-size: 16px;
  color: #333;
}
.usa-issue-section .usa-issue-keyword input::placeholder {
  color: #999;
}
.usa-issue-section .usa-issue-keyword button {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 99;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
}
.usa-issue-section .usa-issue-date {
  display: block;
  width: 100%;
  margin-top: 20px;
}
.usa-issue-section .usa-issue-date strong {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 21px;
  font-weight: 400;
}
.usa-issue-section .usa-issue-date > div {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid #5468ff;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  background: #fff;
  margin-top: 6px;
}
.usa-issue-section .usa-issue-date > div input {
  width: 120px;
  border: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: #141414;
}
.usa-issue-section .usa-issue-date > div span {
  display: block;
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

.usa-issue-item {
  display: block;
  width: 100%;
  margin-top: 50px;
}
.usa-issue-item ul {
  display: flex;
  width: 100%;
  height: 46px;
  position: relative;
  padding: 0 16px;
}
.usa-issue-item ul::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #dee2e6;
  top: 100%;
  left: 0;
  z-index: 9;
}
.usa-issue-item ul li {
  display: block;
  width: 50%;
  height: 46px;
}
.usa-issue-item ul li button {
  display: block;
  width: 100%;
  height: 46px;
  padding: 10px 0 12px 0;
  border: 0;
  background: none;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.usa-issue-item ul li button.active {
  color: #333;
  font-weight: 500;
  border-bottom: 2px solid #000;
}
.usa-issue-item .usa-tab-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  gap: 3px;
}
.usa-issue-item .usa-tab-content .title {
  display: block;
  width: 100%;
  padding: 0 10px;
}
.usa-issue-item .usa-tab-content .title strong {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #333;
}
.usa-issue-item .usa-tab-content .title strong em {
  font-size: 18px;
  font-weight: 700;
  color: #5368ff;
}
.usa-issue-item .usa-tab-content .title span {
  display: block;
  font-size: 14px;
  color: #666;
  line-height: 21px;
  font-weight: 400;
}

.time-txt {
  display: flex;
  padding: 0 10px;
  width: 100%;
  justify-content: space-between;
}
.time-txt strong {
  font-size: 18px;
  color: #333;
  font-weight: 700;
  letter-spacing: -0.54px;
}
.time-txt span {
  font-size: 13px;
  color: #999;
  font-weight: 400;
  text-align: right;
}

.rank-table {
  display: block;
  width: 100%;
}
.rank-table table {
  table-layout: fixed;
}
.rank-table table thead tr th,
.rank-table table thead tr td {
  height: 40px;
  border-bottom: 1px solid #dcdcdc;
  font-size: 13px;
  color: #666;
  letter-spacing: -0.325px;
  font-weight: 400;
}
.rank-table table tbody tr td {
  padding: 13px 0;
  border-bottom: 1px solid #edeff2;
  font-size: 16px;
}
.rank-table table tbody tr td.right {
  text-align: right;
}
.rank-table table tbody tr td .rank {
  display: block;
  width: 100%;
  min-width: 36px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
}
.rank-table table tbody tr td .rank.rank-c {
  background: #f3f3f3;
  min-width: 50px;
  border-radius: 99px;
  font-size: 13px;
  color: #333;
}
.rank-table table tbody tr td .rank.rank-c em {
  font-size: 11px;
}
.rank-table table tbody tr td .rank.rank-c.up {
  color: #e81a1a;
}
.rank-table table tbody tr td .rank.rank-c.dn {
  color: #225cff;
}
.rank-table table tbody tr td .rank.rank1 {
  background: #e81a1a;
  color: #fff;
  border-radius: 99px;
}
.rank-table table tbody tr td .rank.rank2 {
  background: #ffcece;
  color: #333;
  border-radius: 99px;
}
.rank-table table tbody tr td .rank.rank3 {
  background: #e7ebf1;
  color: #333;
  border-radius: 99px;
}
.rank-table table tbody tr td .name {
  display: block;
  padding: 0 10px;
  width: 100%;
  max-width: 300px;
}
.rank-table button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 100%;
  margin-top: 20px;
  border: 0;
  padding: 0;
  background: none;
  font-size: 13px;
  color: #666;
  letter-spacing: -0.325px;
}

.usa-tab-txt {
  display: block;
  width: 100%;
  margin-top: 40px;
  padding: 0 10px;
}
.usa-tab-txt strong {
  display: block;
  width: 100%;
  font-size: 18px;
  color: #333;
  font-weight: 700;
}
.usa-tab-txt p {
  display: block;
  font-size: 14px;
  color: #999;
  font-weight: 400;
  line-height: 21px;
}

.updateTime {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 15px;
  color: #999;
  font-size: 13px;
  padding: 0 5px;
}

.ch-date {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}
.ch-date button {
  border: 0;
  height: 36px;
  background: none;
  font-size: 18px;
  color: #333;
  font-weight: 500;
}
.ch-date button em {
  font-size: 14px;
  line-height: 21px;
}
.ch-date .update {
  position: absolute;
  top: 0;
  right: 5px;
  text-align: right;
  font-size: 12px;
  color: #999;
  line-height: 18px;
}

.stbox {
  display: block;
  width: 100%;
  border: 1px solid #dfdfdf;
  background: #fff;
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
}
.stbox .magn {
  margin: 40px 0px 20px;
}
.stbox .bullet {
  display: inline-block;
  height: 27px;
  padding: 3px 12px;
  line-height: 21px;
  font-size: 14px;
  color: #e81a1a;
  font-weight: 500;
  background: #fbebeb;
  border-radius: 8px;
}
.stbox .news {
  display: block;
  width: 100%;
  margin-top: 20px;
}
.stbox .news p {
  font-size: 14px;
  padding: 0;
  margin: 0;
  line-height: 21px;
  width: 100%;
  font-size: 14px;
  color: #666;
}
.stbox .news > div {
  display: block;
  width: 100%;
  margin-top: 8px;
}
.stbox .tbl-news {
  display: block;
  width: 100%;
  margin-top: 40px;
}
.stbox .tbl-news p {
  font-size: 14px;
  padding: 0;
  margin: 0;
  line-height: 21px;
  width: 100%;
  font-size: 14px;
  color: #666;
}
.stbox .tbl-news strong {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 21px;
  padding: 20px 0 10px;
}
.stbox .tbl-news .table-title {
  color: #333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
}
.stbox .tbl-news .table-title::before {
  position: absolute;
  left: 0;
  top: 8px;
  width: 4px;
  height: 4px;
  background: #666;
  border-radius: 100%;
  content: "";
}
.stbox .tbl-news table {
  width: 100%;
}
.stbox .tbl-news table th,
.stbox .tbl-news table td {
  border: 1px solid #dcdcdc;
  height: 41px;
  padding: 0;
  text-align: center;
  font-size: 13px;
  letter-spacing: -0.325px;
  font-weight: 400;
}
.stbox .tbl-news table th:first-child,
.stbox .tbl-news table td:first-child {
  background: #fbfbfb;
  border-left: 0;
}
.stbox .tbl-news table th:last-child,
.stbox .tbl-news table td:last-child {
  border-right: 0;
}
.stbox .tbl-news table th {
  color: #212121;
  background: #fbfbfb;
}
.stbox .tbl-news table td {
  color: #666;
  padding: 0 10px;
}
.stbox .tbl-news table td.right {
  text-align: right;
}
.stbox .tbl-news table td.left {
  text-align: left;
  padding: 13px 7px;
}
.stbox .tbl-news table td .up {
  color: #e81a1a;
}
.stbox .tbl-news table td span {
  display: block;
  width: 100%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.usDate {
  border-radius: 16px 16px 0 0;
  height: 50%;
  min-height: 50%;
}
.usDate .offcanvas-header {
  display: block;
  width: 100%;
  padding: 24px 20px;
}
.usDate .offcanvas-header div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.usDate .offcanvas-header div strong {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.54px;
  line-height: 25px;
  color: #333;
}
.usDate .offcanvas-header div button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}
.usDate .offcanvas-body {
  display: block;
  height: calc(100% - 98px);
  overflow-y: scroll;
  padding: 0 0 60px 0;
}
.usDate .offcanvas-body button {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 16px;
  color: #141414;
}
.usDate .offcanvas-body button em {
  position: absolute;
  top: 15px;
  right: 25px;
  display: none;
}
.usDate .offcanvas-body button.active {
  color: #4f3fc6;
  font-weight: 500;
  background: #f4f6fd;
}
.usDate .offcanvas-body button.active em {
  display: block;
}

.semantics {
  background: #F7F8FA;
  padding: 20px 16px 40px;
}
.semantics .headertxt {
  width: 100%;
  padding: 30px 10px 0;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
.semantics .headertxt span {
  color: #5368ff;
}
.semantics .sem-chart_img img {
  width: 100%;
}
