@import 'variable.scss';

.modal-footer.cm-footer{
    border-top:0;
    justify-content: center;
    padding:20px 0 50px 0;
}

.aimodal-w{
    display:block;
    width:100%;
    float:left;

    .ev-title{
        display:block;
        width:100%;
        float:left;
        text-align:center;

        .top{
            display:inline-block;
            width:40px;
            height:40px;
            border-radius: 100%;
            font-size:12px;
            color:#fff;
            line-height:15px;
            padding:5px 0;
            text-align:center;
            background:#000;
        }

        .tit{
            display:block;
            width:100%;
            margin-top:20px;

            strong{
                display:block;
                width:100%;
                font-size:20px;
                color:#000;
                font-weight:700;
                padding-bottom:5px;

                span{
                    display:block;
                    height:28px;
                    line-height:28px;
                    font-size:26px;
                    color:#5568FD;
                    font-weight:700;
                }
            }
            &>span{
                font-size:13px;
                color:#000;
            }
        }
    }

    .ev-price{
        position: relative;
        display:block;
        width:100%;
        overflow:hidden;

        &>div{
            display:flex;
            width:100%;
            border:1px solid #cacaca;
            float:left;
            border-radius: 5px;
            margin-top:25px;
            padding:13px;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            flex-wrap: nowrap;

            .left{
                display:block;
                width:170px;

                &>span{
                    display:block;
                    float:left;
                    text-align:center;
                    font-size:16px;
                    line-height:20px;
                    color:#000;
                    font-weight:700;

                    &.plus{
                        display:block;
                        width:13px;
                        height:13px;
                        line-height:13px;
                        text-align:center;
                        background:#e0e0e0;
                        font-size:12px;
                        color:#999;
                        font-weight:700;
                        border-radius: 100%;
                        margin:3px 5px 0;

                    }

                    em{
                        color:#000;
                        font-size:13px;
                        font-weight:400;
                    }
                }
            }
            .right{
                display:block;
                width:100px;
                text-align:center;
                font-size:16px;
                color:#999;

                em{
                    font-size:13px;
                }
            }

            &.sale{
                position: absolute;
                display:block;
                right:20px;
                width:90px;
                height:69px;
                border:0;
                background:url(../img/bg-sale.png) no-repeat 0 0;
                background-size:90px auto;
                justify-content:center;
                align-items: baseline;
                align-content: center;

                strong{
                    position: absolute;
                    top:19px;
                    left:21px;
                    font-size:19px;
                    color:#FC525B;
                    font-weight:700;
                }
                span{
                    position: absolute;
                    top:43px;
                    left:21px;
                    display:block;
                    width:40px;
                    text-align:center;
                    font-size:10px;
                    color:#FC525B;
                    font-weight:700;
                }
            }

            &.all{
                border:1px solid #5568FD;
                min-height:66px;
                justify-content: center;

                strong{
                    font-size:20px;
                    color:#5568FD;
                    font-weight:700;

                    span{
                        font-size:13px;
                        color:#5568FD;
                        font-weight:700;
                    }
                }
            }
        }
    }
}


.modal-basic-text{
    display:block;
    width:100%;
    font-size:16px;
    color:#000;
    line-height:24px;
    padding:0 10px;
    overflow:hidden;

    &.check{
        div{
            display:block;
            width:100%;
            margin-bottom:10px;
            float:left;
            &::before{
                display:block;
                float:left;
                content:'';
                width:12px;
                height:10px;
                background:url(../img/bu-modal-check.png) no-repeat 0 0;
                background-size:100% auto;
                margin-top:5px;
            }

            span{
                display:block;
                width:calc(100% - 12px);
                float:left;
                font-size:16px;
                line-height:20px;
                padding-left:5px;

                .link{
                    border-bottom:1px solid #5568FD;
                }
            }
        }
    }
}

.dot-text{
    display:block;
    width:100%;
    padding:0 20px;

    div{
        display:block;
        width:100%;
        padding-bottom:2px;

        &::before{
            content:'\00b7';
            color:#999;
            padding-right:5px;
        }
        span{
            font-size:16px;
        }
    }
}

.m-joinbox{
    display:flex;
    width:100%;
    height:90px;
    border-radius: 5px;
    background:#5568FD;
    padding:15px;
    align-items: center;
    align-content: center;
    flex-wrap:wrap;
    color:#fff;
    background-image:url(../img/bu-m-joinbox.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
    background-size:6px auto;

    strong{
        display:block;
        width:100%;
        font-size:18px;
        line-height:22px;

        @include mini{
            font-size:16px;
        }
    }
    span{
        display:block;
        width:100%;
        font-size:16px;
        line-height:18px;
        margin-top:5px;

        @include mini{
            font-size:14px;
        }

        em{
            color:#FEED32;
        }
    }
}
.m-joinbox-guide{
    font-size:13px;
    color:#999;
    line-height:19px;
    padding:5px;
}

.userNumInput{
    display:block;
    width:100%;
    padding:0 20px;

    .input-group{
        margin-bottom:5px;

        input{
            width:calc(100% - 92px);
            border-radius: 5px !important;
            border:1px solid #eaeaea;
            margin-right:5px;
        }

        button{
            display:inline-block;
            width:87px;
            height:37px;
            line-height:37px;
            border:0;
            padding:0;
            border-radius: 5px !important;
            background:#F1F3F7;
            font-size:13px;
            color:#000;
            margin:0 !important;
        }
    }
}

.nowaitem{
    display:block;
    width:100%;
    margin-top:20px;

    div{
        display:block;
        width:100%;
        text-align:Center;

        em{
            display:inline-block;
            margin-right:15px;
            width:41px;
            height:20px;
            line-height:18px;
            text-align:center;
            border-radius: 3px;

            &.nw{
                border:1px solid #676767;
                font-size:13px;
                color:#666;
            }

            &.cn{
                border:1px solid #E73B84;
                font-size:13px;
                color:#E73B84;
            }
        }

        span{
            display:inline-block;
            height:20px;
            line-height:20px;
            font-size:16px;

            &.nw{
                color:#999;
            }
            &.cn{
                color:#000;
            }
        }
    }
}

.m-fguide{
    display:block;
    width:100%;
    text-align:center;

    font-size:13px;
    color:#999;
}

.modal-basic-guide{
    display:block;
    width:100%;
    text-align:center;
    font-size:13px;
    color:#999;
}

.aim-modal{
    tbody{
        tr td:last-child{
            em{
                display:block;
                width:100%;
                text-align:center;
                font-size:13px;
                color:#999;
                border:0 !important;
            }
        }
    }
}


.m-tbl-btn{
    display:block;
    width:100%;
    margin-top:5px;
    
    a{
        font-size:15px;
        color:#999;
    }
}

.modal-basic-box{
    .form-check{
        margin-right:.5em;
        padding-left:1.2em;

        input{
            margin-left:-1.2em;
            margin-top:6px;
        }
        label{
            font-size:14px;
            line-height:24px;
        }
    }
    .form-select{
        display:inline-block;
        width:auto;
    }
}