@import "variable.scss";

.mytag{
    display:block;
    width:100%;
    background:#F2F3F7;
    padding:15px 0;

    .anmtag{
        display:block;
        width:100%;
        padding:0 17px;
        margin-top:15px;
        color:#999;
        font-size:15px;

        span{
            font-size:15px;
            color:#999;

            &.mtag{
                color:#000;

                &::before{
                    content:'#';
                }
            }

            &.add{
                position:relative;
                display:inline-block;
                padding-right:25px;

                em{
                    color:#5368FF;
                    border-bottom:1px solid #5368FF;
                }

                &::after{
                    position: absolute;
                    top: 3px;
                    right:0;
                    content: '';
                    background:url(#{$imgUrlSv}/tag-add.png) no-repeat 0 50%;
                    background-size:18px auto;
                    width:20px;
                    height:20px;
                }
            }

            &.rmv{
                position:relative;
                display:inline-block;
                padding-right:25px;

                em{
                    color:#5368FF;
                    border-bottom:1px solid #5368FF;
                }

                &::after{
                    position: absolute;
                    top: 3px;
                    right:0;
                    content: '';
                    background:url(#{$imgUrlSv}/tag-rmv.png) no-repeat 0 50%;
                    background-size:18px auto;
                    width:20px;
                    height:20px;
                }
            }
        }
    }

    &.page{
        padding: 25px 0;

        
    }

    .list{
        display:flex;
        width:100%;
        padding:0 17px;
        justify-content: space-between;
        overflow: auto;
        white-space: nowrap;
        flex-wrap: nowrap;

        .my{
            display:inline-block;
            min-width:85px;
            height:33px;
            line-height:33px;
            border-radius: 5px;
            background:#3D4565;
            font-size: 14px;
            color:#fff;
            text-align:center;
            margin-right:5px;
        }

        .empty{
            display:inline-block;
            min-width:calc(100% - 95px);
            height:33px;
            line-height:31px;
            border:1px solid #d5d5d5;
            font-size:14px;
            color:#999;
            background:#fff;
            border-radius: 5px;
            text-align:center;
        }

        button{
            display:inline-block;
            height:33px;
            line-height:31px;
            padding:0 13px;
            border:1px solid #5368FF;
            border-radius: 5px;
            font-size:14px;
            color:#5368FF;
            margin:0 5px;
            background:#fff;

            &:last-child{
                margin-right:0;
            }
        }
    }
}

.board{
    &-tbl{
        .list-group-news{
            
            padding:0 !important;
            overflow:hidden !important;

            div{
                &::before{
                    padding-right:0 !important;
                }
                span{
                    float:right !important;
                }
            }
        }
    }
    .list{
        &-news{
            .list-group{
                padding:0;

                .post{
                    width:calc(100% - 34px);
                    margin:0 17px;

                    &:first-child{
                        border-top:0;
                    }

                    .top{
                        .new{
                            font-size:13px;
                            color:#E73B84;
                        }
                    }
                }
                .section-inline-ad{
                    margin-top:0;
                }

                .shorcutBtn{
                    padding:0 17px;
                }
            }
        }
    }
    
    .list-group{
        &-news{
            padding:0 17px;
        }
    }
}