@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

//변수
@import 'variable.scss';


* {
    @include mobile {
        -ms-overflow-style: none;
        /* IE, Edge */
        scrollbar-width: 0;

        /* Firefox */

        //scrollbar-height: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}


.truncate-overflow {
    --max-lines: 2;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
}

.truncate-overflow::before {
  position: absolute;
  content: "...";
  inset-block-end: 0; /* "bottom" */
  inset-inline-end: 0; /* "right" */
}

.truncate-overflow::after {
  content: "";
  position: absolute;
  inset-inline-end: 0; /* "right" */
  width: 1rem;
  height: 1rem;
  background: white;
}


em {
    font-style: normal;
}

.up {
    color: #FF4150;
}

.dn {
    color: #5367FF;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: -9999em;
}

a {
    text-decoration: none !important;

    &.text-truncate{
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

b, strong{
    font-weight: 700 !important;
}

.noMargin {
    margin: 0 !important;
}

.noPadding {
    padding: 0 !important;
}

.noBorder {
    border: 0 !important;
}

.text-light {
    font-weight: 300;
}

@import 'layout.scss'; //레이아웃
@import 'title.scss'; //타이틀
@import 'section.scss'; // section박스
@import 'fadeinout.scss'; //페이드 인 아웃
@import 'modal.scss'; // 모달
@import 'table.scss'; // 테이블
@import 'swiper.scss'; // 스와이프
@import 'nav.scss'; //마진패딩값
@import 'button.scss'; //버튼
@import 'etc.scss'; //기타
@import 'main.scss'; //메인
@import 'sub.scss'; //서브
@import 'mpsize.scss'; //마진패딩값
@import 'hspace.scss'; //빈칸높이값
@import 'fsize.scss'; //폰트사이즈
@import 'board.scss'; //게시판
@import 'paging.scss'; //페이징
@import 'offcanvas.scss'; //페이징
@import 'autocomplete.scss'; //페이징
@import 'badge.scss'; //뱃지






