@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

//변수
@import 'variable.scss';


* { 
    @include mobile {
        -ms-overflow-style: none;
        /* IE, Edge */
        scrollbar-width: 0;

        /* Firefox */

        //scrollbar-height: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}


.truncate-overflow {
    --max-lines: 2;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
}

.truncate-overflow::before {
  position: absolute;
  content: "...";
  inset-block-end: 0; /* "bottom" */
  inset-inline-end: 0; /* "right" */
}

.truncate-overflow::after {
  content: "";
  position: absolute;
  inset-inline-end: 0; /* "right" */
  width: 1rem;
  height: 1rem;
  background: white;
}


em {
    font-style: normal;
}

.up {
    color: #FF4150;
}

.dn {
    color: #5367FF;
}

.gry {
    color: #999;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: -9999em;
}

a {
    text-decoration: none !important;
    color:#000;

    &.text-truncate{
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

b, strong{
    font-weight: 700 !important;
}

.noMargin {
    margin: 0 !important;
}

.noPadding {
    padding: 0 !important;
}

.noBorder {
    border: 0 !important;
}

.text-light {
    font-weight: 300;
}
.dropdown-divider{
    width:100%;
    background:#d5d5d7;
    position:static;
    left:0;
}
.custom-switch-check{
    position:relative;
    display:inline-block;
    width:60px;
    height:24px;
    margin:0;

    .onoffswitch{
        position:absolute;
        top:0;
        left:-9999em;

        & + label{
            display:block;
            width:100%;
            height:24px;
            line-height:24px;
            float:left;
            background-color:#EBEBEB;
            background-image:url(../img/switch-off.png);
            background-repeat: no-repeat;
            background-position: 7px 50%;
            background-size:18px auto;
            border-radius: 24px;
            transition: background-position 0.15s ease-in-out;
            float:left;
            margin-top:2px;

            span{
                width:100%;
                height:24px;
                line-height:24px;
                float:left;
                font-size:13px;
                padding:0 8px;

                &.on{
                    display:none;
                    text-align:left;
                    color:#5368FF;
                }
                &.off{
                    display:block;
                    text-align:right;
                    color:#999;
                }
            }
        }

        &:checked + label{
            background-color:#EDF0FF;
            background-image:url(../img/switch-on.png);
            background-repeat: no-repeat;
            background-position: 35px 50%;
            background-size:18px auto;

            .on{
                display:block;
            }
            .off{
                display:none;
            }
        }
    }
}

.fs15{font-size: 15px;}
.fs14{font-size: 14px;}

button, input, select{
    &:active,&:focus, &:visited{
        outline:0 !important;
        box-shadow:none !important;
    }
}


input::placeholder{
    color:#999 !important;
}

// 레이아웃
@import 'layout.scss'; //레이아웃
@import 'section.scss'; // section박스
@import 'main.scss'; //메인
@import 'sub.scss'; //서브

// 공통
@import './cmm/title.scss'; //타이틀
@import './cmm/fadeinout.scss'; //페이드 인 아웃
@import './cmm/modal.scss'; // 모달
@import './cmm/nav.scss'; //마진패딩값
@import './cmm/table.scss'; // 테이블 
@import './cmm/swiper.scss'; // 스와이프
@import './cmm/button.scss'; //버튼
@import './cmm/etc.scss'; //기타
@import './cmm/hspace.scss'; //빈칸높이값
@import './cmm/badge.scss'; //뱃지
@import './cmm/autocomplete.scss'; //페이징
@import './cmm/offcanvas.scss'; //페이징
@import './cmm/paging.scss'; //페이징
@import './cmm/board.scss'; //게시판
@import './cmm/fsize.scss'; //폰트사이즈
@import './cmm/mpsize.scss'; //마진패딩값
