@import "variable.scss";

//header
#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 48px;
  background: #fff;
  z-index: 100;
  overflow: hidden;

  &.item,
  &.sub {
    //padding-bottom:14px;
    border-bottom: 1px solid #d6d6d6;

    &.sch {
      border-bottom: 1px solid #5367ff;

      .topSch {
        .input-group {
          .schButton {
            background: url(#{$imgUrlSv}/b-sch.png) no-repeat 0 0;
            background-size: 20px auto;
          }
        }
      }
    }
  }

  .centerHeader {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 49px;
    line-height: 49px;
    z-index: -1;
  }
}
.logo {
  position: relative;
  width: 32px;
  height: 20px;
  margin-top: 2px;
  margin-right: 5px;
  float: left;

  &.main-logo{
    width: auto;
    max-width: 115px;
  }

  & > a {
    width: 100%;
    height: 20px;
    float: left;
    display: flex;
    align-items: center;
    gap: 7px;

    img {
      float: left;
    }

    &.ai-logo{
      position: absolute;
    }

    &.f02{
      position: absolute;
      left: 33px;
    }

    &.f03{
      position: absolute;
      left: 33px;
    }
  }
  .pageBack {
    position: absolute;
    top: -1px;
    left: 0;
  }
}
#top {
  position: relative;
  display: block;
  width: 100%;
  min-height: 20px;
  padding: 14px 18px 0;
  overflow: hidden;
}

.main-top{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.allNav {
  position: sticky;
  top: 48px;
  left: 0;
  display: block;
  width: 100%;
  overflow-x: auto;
  background: #fff;
  z-index: 99;
  border-bottom: 1px solid #d6d6d6;
}

.h-show {
  opacity: 1;
  transform: scale(1);
  transition: 0.15s 0.01s cubic-bezier(0.33, 1, 0.68, 1);
}
.h-hide {
  opacity: 0;
  transform: scale(0.5);
  transition: 0.15s 0.01s cubic-bezier(0.33, 1, 0.68, 1);
}

.w-32{
  width: 32px !important;
}

.border-none{
  border: none !important;
  width: calc(100% - 70px) !important;
  height: 20px !important;
}

.border-none .schButton{
  margin: 0 !important;
}

.schShow-input{
  width: calc(100% - 40px) !important;
  height: 20px !important;
  border: 0 !important;
  font-size: 15px !important;
  padding: 0 10px 0 0px !important;
  background: none !important;
}


// header 애니메이션
.f01{
  animation-name: f01ani;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: infinite;

  img{
    height: 18px !important;
  }
}

@keyframes f01ani {
  0%{
    opacity: 1;
  }
  35%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  }
  95%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  } 
}

.ai-logo{
  animation-name: aiLogoani;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes aiLogoani{
  0%{
    opacity: 0;
  }
  35%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
  95%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.f02{
  animation-name: f02ani;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: infinite;

  img{
    height: 18px !important;
  }
}

@keyframes f02ani {
  0%{
    opacity: 0;
  }
  35%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
  65%{
    opacity: 1;
  }
  70%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.f03{
  animation-name: f03ani;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: infinite;

  img{
    height: 18px !important;
  }
}

@keyframes f03ani {
  0%{
    opacity: 0;
  }
  65%{
    opacity: 0;
  }
  70%{
    opacity: 1;
  }
  95%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@import "./header/topSch.scss";
@import "./header/sideMenu.scss";
@import "./header/globalNavigation.scss";
@import "./header/headerClss.scss";
