*{
    font-family: 'Noto Sans KR', 'sans-serif' !important;
}
html,body{
    background:#f6f6f7;
}
.modal-open{
    padding-right:0 !important;
}
.modal{
    padding-right:0 !important;
}

@media screen and (min-width: 720px){
    #wrap{
        -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.05); 
        box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.05);
    }
}

#app{
    width:100%;
    height:auto;
}
#wrap {
    position: relative;
    width:100%;
    height:auto;
    //min-width: 360px;
    max-width: 720px;
    margin: 0 auto;
    background:#f6f6f7;
}
#container{
    width:100%;
    height:auto;
}
#footer{
    width:100%;
    height:auto;
    overflow:hidden;
    background:#f6f6f7;
    border-top:1px solid #d6d6d6;
}

@import 'header.scss';
@import 'footer.scss';