@import 'variable.scss';
//main

//tab 
.ch_tab{
    width:100%;
    overflow:auto;
    padding:20px 0 10px;
    white-space:nowrap;
}

//mainColumnGuideBox
.mainColumnGuideBox {
    overflow: hidden;
    padding: 10px 17px;

    &.tabInBtm {
        padding: 10px 5px;
        margin: 0 17px;
        border-top: 1px solid #e2e2e2;

        span {
            display: block;
            width: 100%;
            line-height: 14px;
            float: left;
            padding: 2px 0;

            em {
                &.pptnudn {
                    width: calc(100% - 42px);
                    padding-left: 5px;
                }

                &.st_gd {
                    display: block;
                    width: 24px;
                    height: 14px;
                    background: #ff414f;
                    border-radius: 3px;
                    float: left;
                }
            }
        }
    }
    &.tblBtm{
        border-top:0 !important;
        margin: 0 !important;
        padding:0 !important;
    }

    span {
        clear: left;
        font-size: 12px;
        color: #999;

        em {
            display: block;
            width: calc(100% - 18px);
            float: left;


        }

        &::before {
            display: block;
            float: left;
            padding-right: 5px;
            content: '\00B7';
        }
    }
}

//alram
.mainColumnAlramBox {
    width: 100%;
    overflow: hidden;
    padding: 0 17px 10px;

    span {
        display: block;
        width: calc(100% - 85px);
        float: left;
        font-size: 12px;
        color: #999;

        @include mini {
            width: 100%;
            margin-bottom: 5px;
        }

        em {
            display: block;
            float: left;
        }

        &::before {
            display: block;
            float: left;
            padding-right: 5px;
            content: '\00B7';
        }
    }

    button {
        float: right;
        margin-left: 5px !important;
    }
}

@import './main/item.scss'; //종목정보
@import './main/signal.scss'; // 라씨매매신호
@import './main/aibest.scss'; //베스트수익률
@import './main/issue.scss'; // 이슈
@import './main/market.scss'; //특징주
@import './main/report.scss'; //리포트분석
@import './main/snd.scss';
@import './main/video.scss';
@import './main/table.scss';
@import './main/search.scss';
@import './main/itemCdn.scss';
@import './main/setting.scss';