.active-w{
    display:block;
    width:100%; 
    padding:22px 0;
    overflow:hidden;

    .my-class{
        display:block;
        width:100%;
        float:left;
        padding:0 17px;
        overflow:hidden;

        span{
            display:block;
            float:left;
            height:38px;
            line-height:38px;
            font-size:16px;

            &:first-child{
                padding-left:48px;
            }


            @at-root.cls{
                background-size:38px auto !important;

                &-01{
                    background:url(../img/cls.png) no-repeat 0 -345px;
                }
                &-02{
                    background:url(../img/cls.png) no-repeat 0 -307px;
                }
                &-03{
                    background:url(../img/cls.png) no-repeat 0 -268px;
                }
                &-04{
                    background:url(../img/cls.png) no-repeat 0 -239px;
                }
                &-05{
                    background:url(../img/cls.png) no-repeat 0 -201px;
                }
                &-06{
                    background:url(../img/cls.png) no-repeat 0 -153px;
                }
                &-07{
                    background:url(../img/cls.png) no-repeat 0 -115px;
                }
                &-08{
                    background:url(../img/cls.png) no-repeat 0 -77px;
                }
                &-09{
                    background:url(../img/cls.png) no-repeat 0 -38px;
                }
                &-10{
                    background:url(../img/cls.png) no-repeat 0 0;
                }
            }
        }
    }
}

.viewMsg{
    display:block;
    width:100%;
    padding:0 17px;
    overflow:hidden;

    .top{
        display:block;
        background:#f5f5f5;
        border-top:1px solid #000;
        border-bottom:1px solid #000;
        padding:13px 17px;
        overflow:hidden;

        span{
            width:100%;
            float:left;
            margin-bottom:5px;
            font-size:15px;
            color:#000;

            em{
                color:#999;

                &.dn{
                    color:#5568FD;
                }
            }

            &:last-child{
                margin-bottom:0;
            }
        }
    }

    .con{
        display:block;
        width:100%;
        padding:13px 17px;
        float:left;
        font-size:15px;
        color:#000;
        line-height:23px;
        border-bottom:1px solid #cacaca;
    }
}

.nickSch{
    display:block;
    width:100%;
    margin-top:25px;
    float:left;
    padding:0 17px;

    .input-group{
        input[type="text"]{
            border-radius: 0;
            font-size:14px;
            color:#000;
            height:40px;
            border:1px solid #5568FD;

            &::placeholder{
                font-size:14px;
                color:#999;
            }

        }

        .btn{
            background:#5568FD;
            border-radius: 0;
            padding:0 22px;
            height:40px;
        }
    }

    .latest-nick{
        display:block;
        width:100%;
        padding-top:15px;

        &>em{
            display:block;
            width:100%;
            font-size:13px;
            color:#999;
        }
        &>div{
            display:flex;
            width:100%;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top:10px;

            span{
                display:block;
                font-size:15px;
                color:#5568FD;
                line-height:17px;
                border-bottom:1px solid #5568FD;
                margin:4px 0 5px 0;
            }
        }
    }
}

.rsvnick{
    display:block;
    width:100%;
    padding:25px 17px 0;
    float:left;

    &>strong{
        font-size:15px;
        color:#000;
        font-weight:700;

        span{
            font-size:14px;
            font-weight:400;
        }
    }

    &>div{
        display:flex;
        width:100%;
        background:#f5f5f5;
        margin-top:10px;
        padding:10px;
        justify-content: space-between;
        flex-wrap: wrap;

        span{
            display:block;
            font-size:15px;
            color:#5568FD;
            margin:4px 0 5px 0;

            &::after{
                content: '\00d7';
                font-size:15px;
                color:#999;
                padding-right:5px;
            }
        }
    }
}

.send{
    display:block;
    width:100%;
    padding:25px 17px 0;
    float:left;

    &>strong{
        font-size:15px;

        span{
            font-size:14px;
            color:#666;
            font-weight:400;
        }
    }

    textarea{
        border:1px solid #5469ff;
        padding:10px;
        margin:10px 0;
        font-size:14px;
        line-height:18px;

        &::placeholder{
            color:#999;
            font-size:14px;
        }
    }
}