@import '../variable.scss';
.rassiTop{
    position: relative;
    display:block;
    width:100%;

    .top{
        display:block;
        width:100%;
        height:165px;
        background:#7874F7;

        strong{
            display:block;
            padding-top:74px;
            font-size:24px;
            color:#fff;
            font-weight:700;
            background:url(#{$imgUrlSv}/rassilogo.png) no-repeat center 20px;
            background-size:54px auto;
            text-align:Center;
        }

        span{
            display:block;
            text-align:center;
            font-size:16px;
            color:#fff;

            em{
                color:#B6B4FF;
            }
        }
    }

    .btm{
        display:flex;
        padding:35px 0 24px 0;
        height:152px;
        justify-content: space-around;

        div{
            display:block;
            text-align:center;

            .app{
                dipslay:block;

                button{
                    font-size:13px;
                    color:#7874f7;
                    background:none;
                    border:0;
                    height:22px;
                    line-height:22px;
                    padding:0 0 0 29px;
                }
            }

            .per{
                display:block;
                margin-top:23px;

                span{
                    display:block;
                    font-size:16px;
                }
                em{
                    display:block;
                    height:28px;
                    line-height:28px;
                    font-size:24px;
                    font-weight:700;
                }
            }

            &:first-child{
                .app{
                    button{
                        background:url(#{$imgUrlSv}/app_and.png) no-repeat 0 50%;
                        background-size:22px auto;
                    }
                }
            }
            &:last-child{
                .app{
                    button{
                        background:url(#{$imgUrlSv}/app_app.png) no-repeat 0 50%;
                        background-size:22px auto;
                    }
                }
            }
        }
    }

    .sch{
        position:absolute;
        width:100%;
        top:142px;
        left:0;
        padding:0 54px;
        z-index:9;

        input{
            width:100%;
            height:44px;
            border-radius: 44px;
            background:#fff;
            border:1px solid #7874F7;
            padding:0 35px 0 15px;

            &::placeholder{
                color:#B8B7F0;
                font-weight:300;
                font-size:14px;
            }
            &:disabled{
                opacity: 1;
                -webkit-text-fill-color: inherit
            }
        }

        button{
            position: absolute;
            top:0;
            right:69px;
            border:0;
            background:0;
            color:#7A76F7;
            font-size:23px;
            font-weight:700;
            padding:0;
        }
    }

}

.cdnbox{
    padding:17px;

    strong{
        display:block;
        width:100%;

        font-size:16px;
        color:#000;
        font-weight:700;
    }

    &>div{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        width:100%;
        height:71px;
        border:1px solid #d6d6d6;
        border-radius: 8px;
        margin-top:15px;
        padding:0 8px;

        .cdn{
            display:flex;
            width:43px;
            height:43px;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            align-content: center;

            span{
                display:block;
                width:35px;
                font-size:12px;
                color:#fff;
                font-weight:700;
                line-height:13px;
                text-align:Center;
            }

            &01{
                background:#FF414F;
            }
            &02{
                background:#5367FF;
            }
            &03{
                background:#CBCBCB;
                span{
                    width:43px;
                }
            }
            &04{
                background:#CBCBCB;
                span{
                    width:43px;
                }
            }
        }
        .name{
            display:block;
            font-size:16px;
            width:calc(100% - 175px);
            color:#000;
            padding-left:10px;
            //font-weight:700;
        }
        .info{
            display:block;
            width:130px;
            text-align:right;

            &>em{
                display:block;
                height:16px;
                line-height:16px;
                font-size:12px;
                color:#999;
            }

            span{
                display:block;
                height:24px;
                line-height:24px;
                font-size:14px;
                color:#000;

                em{
                    font-size:16px;
                    font-weight:700;
                }
            }

        }
    }
}

.rassilisttitle{
    display:block;
    width:100%;
    text-align:center;
    margin-top:20px;
    padding-top:32px;
    background:url(#{$imgUrlSv}/rassilogo.png) no-repeat center top;
    background-size:27px auto;
    font-size:20px;
    color:#7874F7;
    font-weight:700;
}

.item-home-box.rassi{
    background:#fff;

    p{
        button{
            background:none;
        }
    }

    .collapse,.collapsing{
        padding:0 17px 30px;
    }
}

.rising-item{
    display:block;
    width:100%;

    &>div{
        display:flex;
        width:100%;
        height:44px;
        justify-content:space-between;
        align-items:center;
        align-content: center;
        border-bottom:1px solid #d5d5d5;

        .name{
            display:block;
            width:calc(100% - 195px);
            font-size:15px;
            color:#000;
        }
        .date{
            display:block;
            width:85px;
            font-size:15px;
            color:#999;
            text-align:center;

            em{
                font-size:13px;
            }
        }
        .per{
            display:block;
            width:110px;

            em{
                font-size:15px;
            }

            span.bullet{
                display:inline-block;
                width:56px;
                height:28px;
                line-height:28px;
                border-radius: 5px;
                background:#cbcbcb;
                text-align:center;
                font-size:13px;
                color:#fff;
                font-weight:700;

                &.up{
                    background:#FF414F;
                }
                &.dn{
                    background:#5367FF;
                }
            }

        }

    }
}

#topic{
    .content{
        display:block;
        width:100%;
        padding-top:98px;

        strong{
            display:block;
            width:100%;
            font-size:16px;
            color:#000;
            font-weight:700;
        }

        span{
            display:block;
            width:100%;
            font-size:16px;
            line-height:26px;
            color:#000;
            display: -webkit-box !important;
            word-wrap: break-word;
            -webkit-line-clamp: 9;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 230px;
        }
    }

    &>.date{
        position:absolute;
        top:20px;
        height:26px;
        left:50%;
        width:100px;
        margin:0 0 0 -50px;
        text-align:center;
        background:#fff;

        span{
            background:none;
            width:auto;
            height:26px;
            line-height:26px;
            color:#000;
            text-indent:0;
            margin:0;
            padding:0;
            border:0;
            opacity:1;
        }
    }

    .carousel-item.active{
        &.carousel-item-start,&.carousel-item-end{
            .date{
                display:none;
            }
        }
        .date{
            animation: fadein 3s;
            display:block;
        }
    }
    

    .paging{
        margin:0;
        top:60px;
        height:10px;

        [data-bs-target]{
            background:none;
            width:10px;
            height:10px;
            border-radius: 100%;
            color:#000;
            padding:0;
            border:0;
            opacity:1;
            background:#E5E6EC;
            text-indent:0;

            .date{
                position:absolute;
                width:100%;
                top:-40px;
                left:0;
                background:none;
                font-size:18px;
                display:none;
            }

            &.active{
                background:#5368FF;

                .date{
                    display:block;
                }
            }
        }
    }

    .carousel-control-next, .carousel-control-prev{
        width:44px;
        height:26px;
        text-align:center;
        border:1px solid #cacaca;
        border-radius: 3px;
        top:22px;
        z-index:100;
    }
    .carousel-control-prev{
        left:50%;
        margin-left:-100px;
    }
    .carousel-control-next{
        right:50%;
        margin-right:-100px;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon{
        width:1.2rem;
        height:1.2rem;
        stroke-width: 2em;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes fadeout { /* Opera */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}