.videoList {
  padding-top: 12px;
}
.videoList .card {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #e2e2e2;
  padding: 14px 0;
}
.videoList .card:last-child {
  border-bottom: 0;
}
.videoList .card-video {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.videoList .card-video .thumb {
  position: relative;
  display: block;
  width: 90px;
  min-height: 61px;
  background: #f8f8f8;
  border-radius: 5px;
}
.videoList .card-video .thumb > img {
  height: 61px;
}
.videoList .card-video .thumb .play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  margin: -15px 0 0 -10px;
  z-index: 91;
}
.videoList .card-video .txt {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: calc(100% - 105px);
}
.videoList .card-video .txt .cont {
  width: 100%;
  line-height: 18px;
  font-size: 16px;
  color: #000;
}
.videoList .card-video .txt .info {
  width: 100%;
  line-height: 15px;
  font-size: 13px;
  color: #999;
  margin-top: 5px;
}
