@charset "UTF-8";
.item-summary, .yvm {
  display: block;
  width: 100%;
  padding: 20px 15px;
}
.item-summary .guide, .yvm .guide {
  display: flex;
  flex-wrap: wrap;
}
.item-summary .guide div, .yvm .guide div {
  width: 100%;
  overflow: hidden;
}
.item-summary .guide div span, .yvm .guide div span {
  display: block;
  width: calc(100% - 90px);
  height: auto;
  line-height: 21px;
  float: right;
}
.item-summary .guide div span::before, .yvm .guide div span::before {
  content: "";
  padding: 0;
}
.item-summary .guide div span.yvm_title::before, .yvm .guide div span.yvm_title::before {
  content: "";
  padding-right: 0;
}
.item-summary .guide div span.yvm_title em, .yvm .guide div span.yvm_title em {
  display: block;
  color: #ff4150;
  margin-right: 0;
  font-weight: 400;
  float: left;
}
.item-summary .guide div span.yvm_title em::before, .yvm .guide div span.yvm_title em::before {
  content: "";
  padding-right: 0;
}
.item-summary .guide div span em, .yvm .guide div span em {
  display: block;
  color: #5368FF;
  margin-right: 5px;
  float: left;
}
.item-summary .guide div span em::before, .yvm .guide div span em::before {
  content: "#";
  padding-right: 1px;
}
.item-summary .guide div::before, .yvm .guide div::before {
  content: "·";
  font-weight: 400;
  font-size: 15px;
  color: #999;
  padding-right: 5px;
}
.item-summary .guide span, .yvm .guide span {
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  color: #000;
}
.item-summary .guide span::before, .yvm .guide span::before {
  content: "·";
  font-weight: 400;
  font-size: 15px;
  color: #999;
  padding-right: 5px;
}
.item-summary .guide span.yvm_title::before, .yvm .guide span.yvm_title::before {
  content: "";
  padding-right: 0;
}
.item-summary .guide span.yvm_title em, .yvm .guide span.yvm_title em {
  color: #ff4150;
  margin-right: 0;
  font-weight: 400;
}
.item-summary .guide span.yvm_title em::before, .yvm .guide span.yvm_title em::before {
  content: "";
  padding-right: 0;
}
.item-summary .guide span em, .yvm .guide span em {
  color: #5368FF;
  margin-right: 5px;
}
.item-summary .guide span em::before, .yvm .guide span em::before {
  content: "#";
  padding-right: 1px;
}
.item-summary .itemInfo, .yvm .itemInfo {
  border-top: 1px solid #000;
}
