@use "../tools" as *;

.strength {
  display: flex;
  width: 100%;
  gap: 7px;

  button {
    display: block;
    height: 30px;
    width: 20%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.4px;
    border-radius: tp-radius(xs);
    background: none;

    &.active {
      color: #fff !important;
      background: #454860;
      border: 0 !important;
    }

    &.str01 {
      border: 1px solid #ffcece;
      color: #e81a1a;
    }
    &.str02 {
      border: 1px solid #bfe1ab;
      color: #26a911;
    }
    &.str03 {
      border: 1px solid #bccee9;
      color: #225cff;
    }
    &.str04 {
      border: 1px solid #cfbef2;
      color: #6333cb;
    }
    &.str05 {
      border: 1px solid #d4d4d4;
      color: tp-color(text-secondary);
    }
  }
}

.str_text {
  display: block;
  width: 100%;
  padding: 10px;
  background: #e6e8ee;

  font-size: 14px;
  line-height: 21px;
  color: tp-color(text-primary);
}

.usa-modal-str {
  display: block;
  width: 100%;

  header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 56px;
    position: relative;

    strong {
      font-size: 18px;
      color: #000;
      font-weight: 500 !important;
    }

    button {
      background: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 16px;
      right: 16px;
      border: 0;
      width: 24px;
      height: 24px;
    }
  }
  section {
    border-top: 1px solid #f0f2f4;
    padding: 20px 20px 40px;

    p {
      display: block;
      font-size: 14px;
      color: tp-color(text-primary);
      font-weight: 500;
      line-height: 21px;
    }

    table {
      tbody {
        tr {
          th {
            border: 1px solid #dcdcdc;
            border-left: 0;
            background: #fbfbfb;
            font-size: 13px;
            color: tp-color(text-secondary);
            padding-left: 7px;
            letter-spacing: -0.325px;
            font-weight: 400;
          }
          td {
            border: 1px solid #dcdcdc;
            border-right: 0;
            height: 41px;
            padding-left: 7px;
            font-size: 13px;
            color: tp-color(text-secondary);
            font-weight: 400;
            letter-spacing: -0.325px;
          }
        }
      }
    }
  }
}
#issueStr {
  .modal-content {
    width: 328px;
    margin: 0 auto;
    border: 0;
  }
  .modal-body {
    padding: 0;

    .modal-button {
      display: flex;
      width: 100%;
      margin-top: 20px;
      justify-content: center;

      button {
        display: block;
        padding: 0 32px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 0;
        background: #5567fd;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        border-radius: 99px;
      }
    }
  }
}
