@use "../tools" as *;

@import "../variable.scss";
//topSch
.btn-img {
  border: 0;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff;
  text-indent: -9999em;
}

.topSch {
  display: block;
  width: calc(100% - 70px);
  height: 20px;
  float: left;

  &.main-topSch {
    width: calc(100% - 162px);
    height: 32px;
    border: 1px solid #dfdfdf;
    border-radius: tp-radius(md);
    margin-left: 10px;
    margin-right: 35px;
  }

  .input-group input {
    width: calc(100% - 40px);
    height: 20px;
    border: 0;
    font-size: 15px;
    padding: 0 10px 0 40px;
    background: none;

    &:active,
    &:focus {
      outline: 0 !important;
      border: 0 !important;
    }
    &::placeholder {
      color: #cacaca;
    }
  }

  .main-input-group input {
    height: 30px;
    padding: 0px 10px;
  }
}

.schButton {
  display: block;
  width: 20px;
  height: 20px;
  background: url(#{$imgUrlSv}/ico-sch.svg) no-repeat 0 0;
  margin-top: -1px !important;
  float: left;
}

.main-schButton {
  margin: 4px 6px 6px 0 !important;
}

body ul#autoComplete_list_1 {
  @include web {
    left: 50% !important;
    max-width: 700px;
    margin-left: -350px;
  }
}
