// 헤더타이틀
.headerTitle{
    width:calc(100% - 117px);
    height:20px;
    line-height:20px;
    margin-left:25px;
    text-align:left;
    float:left;
    font-size:16px;
    color:#000;
    font-weight:700 !important;
    float:left;

    em{
        font-size:14px;
        font-weight:400;
    }

    &.subTitle{
        text-align:center;
        margin:0;
    }
}
.subSchBtn{
    float:left;
    .schButton{
        width:20px;
        border:0;
        padding:0;
        margin:0;
        text-indent:-9999em;
        background:url('../img/ico-sch.svg') no-repeat 0 50%;
    }

    &.subSch{
        //margin-right:18px;
    }
}
// 이전페이지
.pageBack{
    button{
        padding:0;
        margin:0;
        border:0;
        background:url('../img/backpage.svg') no-repeat 0 50%;
        text-indent:-9999em;
        width:40px;
        background-size:10px auto;
        z-index:100;
    }
}

.rightBtn{
    &.stg{
        a{
            color:#999;
        }
    }
    a{
        font-size:14px;
        color:#000;
        display:block;
        float:left;

        &.app{
            width:80px;
            height:20px;
            line-height:20px;
            border-radius: 20px;
            font-size:13px;
            color:#000;
            text-align:center;
            background:#F0F2F6;
        }
    }
}


.sideMenuBtn{
    .menu {
        position: absolute;
        top: 2px;
        left: 0;
        transform: translate(0, 0);
        cursor: pointer;
        transition: 0.5s ease;
        //height: 50px;

        &:hover .bar {
            //box-shadow: 1px 1px 7px 1px RGBa(0, 0, 0, 0.3);
        }
        
        .bar {
            width: 20px;
            height: 2px;
            background: #000;
            //box-shadow: 1px 1px 3px RGBa(0, 0, 0, 1);
            border-radius: 2px;
            transition: 0.4s ease;
          
            &:not(:first-child) {
                margin-top: 5px;
            }
        }
    }
    
    #sdmnu {
        position: absolute;
        left: -999px;
        top: -999px;
    }
    #sdmnu:checked + .menu {
        transform: translate(-50%,-50%) rotatey(180deg);
        margin-left:10px;

        .bar {
            transform: rotatey(180deg) rotatex(360deg);

            &:first-child {
                transform: rotate(-45deg);
                margin-top: 15px;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                margin-top: -9px;
                transform: rotate(45deg);
            }
        }
    }
}