@import '../variable.scss';

//sideMenu
#sideMenu .sideMenuBtn{
    position:relative;
    width: 20px;
    height: 16px;
    //background: url(../img/sideMenu.svg) no-repeat 0 50%;
}

#sideContent{
    width:70%;
    min-width:272px;
    max-width:500px;
    border:0;
    
    @include web{
        right:50%;
        margin-right:-350px;
    }

    .offcanvas-header{
        padding:10px 17px;

        .offcanvas-title{
            display:flex;
            width:100%;
            justify-content: space-between;

            .logo{
                display:block;
                width:50%;
                height:20px;
                line-height:20px;
                
                img{
                    float:left;
                    margin-top:3px;
                }
            }
            .app{
                display:block;
                width:50%;
                height:20px;
                text-align:right;

                button{
                    display:inline-block;
                    width:100%;
                    max-width:102px;
                    height:20px;
                    line-height:20px;
                    padding:0 10px;
                    border-radius: 20px;
                    background:#F0F2F6;
                    border:0;
                    font-size:13px;
                    color:#3E4665;

                    img{
                        float:left;
                        margin-top:5px;
                    }
                }
            }
        }
    }

    .offcanvas-body{
        padding:15px 17px;

        .loginmenu{
            display:block;
            width:100%;

            .before{
                display:flex;
                width:100%;
                justify-content: space-around;
            }

            .after{
                display:block;
                width:100%;

                .top{
                    display:flex;
                    width:100%;
                    justify-content: space-between;

                    strong{
                        font-size:14px;
                        font-weight:400 !important;

                        em{
                            font-size:16px;
                            color:#5568fd;
                            font-weight:700;
                            padding-left:2px;
                        }
                    }

                    button{
                        border:0;
                        background:0;
                        padding:0;
                        font-size:14px;
                        color:#999;
                        text-decoration: underline;
                    }
                }

                .menu{
                    display:flex;
                    width:100%;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-top:10px;

                    button{
                        width:48.5%;
                        min-width:100px;
                        height:33px;
                        border:1px solid #d5d5d5;
                        border-radius: 5px;
                        padding:0;
                        text-align:center;
                        font-size:14px;
                        color:#000;
                        background:#fff;
                        margin:5px 0;

                        .badge{
                            padding:0 !important;
                            width:18px;
                            height:18px;
                            border-radius: 18px !important;
                            background:#FF414F;
                            font-size:13px;
                            color:#fff;
                        }
                    }
                }
            }
        }

        .allmenulist{
            margin-top:20px;
            display:block;
            width:100%;
            border-top:1px solid #d5d5d5;

            .amn{
                display:block;
                width:100%;

                button{
                    position: relative;
                    height:40px;
                    width:100%;
                    border:0;
                    border-bottom:1px solid #d6d6d6;
                    padding:0 10px;
                    font-size:16px;
                    color:#1a1a1a;
                    font-weight:500;
                    background:#fff;
                    text-align:left;

                    &::after{
                        position:absolute;
                        top:14px;
                        right:11px;
                        content: ' ';
                        width:8px;
                        height:8px;
                        border:2px solid #888;
                        border-bottom:0;
                        border-right:0;
                        transform: rotate(224deg);
                        transition: all ease .1s;
                    }
                    &[aria-expanded='true']{
                        &::after{
                            top:16px;
                            transform: rotate(45deg);
                        }
                    }
                }

                .collapse, .collapsing{
                    width:100%;
                    background:#f6f6f7;
                    border-bottom:1px solid #d5d5d5;

                    ul{
                        display:block;
                        width:100%;
                        padding:15px 17px;
                        margin:0;

                        li{
                            width:100%;
                            list-style:none;
                            margin-bottom:10px;
                            
                            a{
                                font-size:15px;
                                color:#333;
                            }

                        }
                    }
                }
            }
        }

        .sfmenu{
            display:flex;
            width:100%;
            justify-content: space-around;
            margin-top:25px;

            button{
                padding:0 13px;
                min-width:30.5%;
            }
        }

    }
}