.custom-modal1 .modal-dialog .modal-content {
  border: 0;
  border-radius: 1rem;
}

.custom-modal1 .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.custom-modal1 .modal-dialog .modal-content .modal-header .modal-title {
  width: calc(100% - 20px);
}

.custom-modal1 .modal-dialog .modal-content .modal-header .rmTitle {
  width: 100%;
  font-size: 19px;
  color: #000;
  font-weight: 700;
}

.custom-modal1 .modal-dialog .modal-content .modal-header .rmInfo {
  margin-top: 10px;
}

.custom-modal1 .modal-dialog .modal-content .modal-header .rmInfo span {
  display: inline-block;
  height: 15px;
  line-height: 15px;
  font-size: 13px;
  color: #999;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #9c9c9c;
}

.custom-modal1 .modal-dialog .modal-content .modal-header .rmInfo span:last-child {
  border-right: 0;
}

.custom-modal1 .modal-dialog .modal-content .modal-body {
  padding: 0 17px 20px;
}

.custom-modal1 .modal-dialog .modal-content .modal-body .rmCont {
  padding-top: 15px;
  border-top: 1px solid #cacaca;
}

.custom-modal1 .modal-dialog .modal-content .modal-body .rmCont .sgn {
  font-size: 16px;
  color: #000;
}

.custom-modal1 .modal-dialog .modal-content .modal-body .rmCont .sgn span {
  display: block;
  height: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}

.custom-modal1 .modal-dialog .modal-content .modal-body .rmCont .text {
  padding-top: 25px;
  font-size: 16px;
  color: #000;
  line-height: 23px;
  white-space: pre-wrap;
}

.custom-modal1 .modal-dialog .modal-content .modal-body .alarm-txt {
  display: block;
  width: 100%;
  text-align: Center;
  font-size: 16px;
  color: #000;
  line-height: 19px;
}

.custom-modal1 .modal-dialog .modal-content .modal-body .alarm-btn {
  display: block;
  width: 100%;
  text-align: center;
}

.custom-modal1 .modal-dialog .modal-content .modal-body .alarm-btn button {
  height: 36px;
  background: #5567FD;
  color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 36px;
  padding: 0 27px;
}

.share {
  display: block;
  width: 100%;
  overflow: hidden;
}

.share .title {
  text-align: center;
}

.share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.share-list a {
  width: 50px;
}

.share-list a span {
  font-size: 13px;
  color: #000;
}

.share-url .col input {
  width: calc(100% - 80px);
  float: left;
}

.share-url .col input:disabled {
  background: #fff;
}

.share-url .col button {
  float: right;
}
