.nav {
  margin: 0;
}

.nav.disableList {
  padding-bottom: 20px;
}

.nav.nav-round {
  display: inline-block;
  width: 100%;
  padding: 0 17px;
}

.nav.nav-round .nav-item {
  display: block;
  margin-right: 6px;
  float: left;
}

.nav.nav-round .nav-item:last-child {
  margin-right: 0;
}

.nav.nav-round .nav-item .nav-link {
  display: inline-block;
  width: auto;
  padding: 0 16px;
  height: 35px;
  line-height: 35px;
  border-radius: 35px;
  border: 0;
  outline: 0;
  background: #F1F3F7;
  font-size: 14px;
  color: #000;
}

.nav.nav-round .nav-item .nav-link.active {
  color: #fff;
  background: #3D4665;
  font-weight: 700;
}

.nav.nav-round .nav-item .nav-link.disable {
  line-height: 33px;
  border: 1px solid #5368FF;
  background: #fff;
  color: #5368FF;
  margin-bottom: 10px;
}
