@charset "UTF-8";
.ai_rmd .left {
  display: block;
  width: 254px;
  height: 460px;
  float: left;
  overflow: hidden;
}

.ai_rmd .left ul {
  display: block;
  width: 100%;
  overflow: hidden;
}

.ai_rmd .left ul li {
  display: block;
  width: 146px;
  height: 146px;
  border-radius: 100%;
  clear: both;
}

.ai_rmd .left ul li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  float: left;
}

.ai_rmd .left ul li.active.up a {
  border: 3px solid #FB535F;
  background: #fff;
}

.ai_rmd .left ul li.active.up a .name {
  color: #000;
}

.ai_rmd .left ul li.active.up a .per {
  color: #FB535F;
}

.ai_rmd .left ul li.active.dn a {
  border: 3px solid #447AEB;
  background: #fff;
}

.ai_rmd .left ul li.active.dn a .name {
  color: #000;
}

.ai_rmd .left ul li.active.dn a .per {
  color: #447AEB;
}

.ai_rmd .left ul li.up a {
  background: #FB535F;
  border: 3px solid #FB535F;
}

.ai_rmd .left ul li.up a:hover {
  background: #fff;
}

.ai_rmd .left ul li.up a:hover .name {
  color: #000;
}

.ai_rmd .left ul li.up a:hover .per {
  color: #FB535F;
}

.ai_rmd .left ul li.dn a {
  background: #447AEB;
  border: 3px solid #447AEB;
}

.ai_rmd .left ul li.dn a:hover {
  background: #fff;
}

.ai_rmd .left ul li.dn a:hover .name {
  color: #000;
}

.ai_rmd .left ul li.dn a:hover .per {
  color: #447AEB;
}

.ai_rmd .left ul li .name {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
  padding-top: 43px;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}

.ai_rmd .left ul li .per {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  color: #fff;
  font-weight: 700;
}

.ai_rmd .left #chartdiv {
  width: 100%;
  height: 460px;
}

.ai_rmd .right {
  display: block;
  float: left;
  width: 673px;
  min-height: 435px;
  float: right;
}

.ai_rmd .right .itemRmdBox_w {
  position: relative;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox {
  width: 100%;
  overflow: hidden;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox {
  display: block;
  width: 100%;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info {
  display: block;
  width: 100%;
  height: 155px;
  float: left;
  overflow: hidden;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .thumb {
  display: block;
  float: left;
  width: 127px;
  height: 153px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .thumb span {
  display: block;
  padding-top: 10px;
  font-size: 14px;
  color: #333;
  font-weight: 300;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .thumb span em {
  display: block;
  font-style: normal;
  font-size: 18px;
  color: #3e72ed;
  font-weight: 700;
  padding: 5px 0 10px 0;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info {
  position: relative;
  display: block;
  width: calc(100% - 127px);
  padding: 10px 0 0 20px;
  float: left;
  overflow: hidden;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .title {
  display: block;
  width: 100%;
  float: left;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .title strong {
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .con {
  display: block;
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .con span {
  display: block;
  width: 100%;
  height: 30px;
  float: left;
  line-height: 30px;
  font-size: 15px;
  color: #666;
  font-weight: 300;
  letter-spacing: -0.025em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .con span em {
  font-style: normal;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .date {
  position: absolute;
  top: 10px;
  right: 0;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_info .info .date span {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  font-weight: 300;
  letter-spacing: -0.025em;
}

.itemInfo {
  display: block;
  width: 100%;
  height: 40px;
  background: #f6f6f6;
  padding: 0 15px;
  margin: 20px 0 0 0;
  border-radius: 5px;
  float: left;
  overflow: hidden;
  clear: both;
}

.itemInfo dl {
  display: block;
}

.itemInfo dl dt {
  display: block;
  width: auto;
  height: 40px;
  line-height: 40px;
  float: left;
  font-size: 14px;
  color: #333;
  font-weight: 700;
}

.itemInfo dl dd {
  display: block;
  width: auto;
  height: 40px;
  line-height: 40px;
  float: left;
  padding-left: 15px;
  font-size: 14px;
  color: #333;
  font-weight: 300;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox .rmd_graph {
  display: block;
  width: 100%;
  min-height: 315px;
  margin-top: 20px;
  float: left;
  background: #f8f8f8;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-top {
  position: relative;
  display: block;
  width: 100%;
  float: left;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-top .title {
  display: block;
  width: 100%;
  min-height: 34px;
  line-height: 34px;
  float: left;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-top .title em {
  font-weight: 700;
  font-style: normal;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-top .text {
  display: block;
  width: 100%;
  margin-top: 10px;
  line-height: 21px;
  float: left;
  font-size: 15px;
  font-weight: 300;
  color: #666;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-top .text span {
  display: block;
  width: 100%;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-top .date {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 14px;
  color: #999;
  font-weight: 300;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-top .date em {
  font-style: normal;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid {
  display: block;
  width: 100%;
  margin-top: 10px;
  float: left;
  overflow: hidden;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .left {
  display: block;
  width: 210px;
  height: 107px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .left ul {
  position: relative;
  display: block;
  width: 100%;
  float: left;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .left ul::after {
  position: absolute;
  top: 17px;
  left: calc(50% - 1px);
  content: '';
  width: 1px;
  height: 72px;
  background: #d6d6d6;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .left ul li {
  display: block;
  width: 104px;
  height: 105px !important;
  float: left;
  text-align: center;
  padding: 11px 0 12px 0;
  clear: none;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .right {
  display: block;
  width: 460px;
  height: 107px;
  min-height: 107px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .right strong {
  display: block;
  float: left;
  font-size: 15px;
  color: #333;
  font-weight: 300;
  margin: 14px 0 0 21px;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5px;
  float: left;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .right ul li {
  display: block;
  width: 33%;
  float: left;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .right ul li:nth-child(2n) {
  position: relative;
  width: 34%;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .right ul li:nth-child(2n)::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 60px;
  content: '';
  background: #d6d6d6;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .right ul li:nth-child(2n)::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 60px;
  content: '';
  background: #d6d6d6;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .right ul li span, .ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .right ul li em {
  display: block;
  text-align: center;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .right ul li span {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-mid .right ul li em {
  font-style: normal;
  font-size: 14px;
  color: #999;
  font-weight: 300;
  margin-top: 10px;
}

.ai_rmd .right .itemRmdBox_w .itemRmdBox .rmdBox-btm {
  display: block;
  width: 100%;
  min-height: 315px;
  float: left;
  margin-top: 23px;
}

.rmd_bot_tabw .nav {
  border-bottom: 0;
}

.rmd_bot_tabw .nav li {
  width: auto;
  height: 32px;
  padding-right: 30px;
}

.rmd_bot_tabw .nav li:last-child {
  padding-right: 0;
}

.rmd_bot_tabw .nav li:first-child::before {
  content: '';
  padding-right: 0;
}

.rmd_bot_tabw .nav li::before {
  content: '│';
  line-height: 17px;
  font-size: 15px;
  color: #666;
  padding: 2px 30px 0 0;
  float: left;
}

.rmd_bot_tabw .nav li.active a {
  border: 0;
  color: #333;
  font-weight: 700;
  border-bottom: 3px solid #333;
}

.rmd_bot_tabw .nav li a {
  padding: 0 0 17px 0;
  margin: 0;
  line-height: 17px;
  font-size: 16px;
  color: #666;
  font-weight: 300;
  float: left;
}

.rmd_bot_tabw .nav li a:hover {
  border: 0;
  color: #333;
  font-weight: 700;
  border-bottom: 3px solid #333;
  background: none;
}

.rmd_bot_tabw .tab-content {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 40px;
}

.rmd_bot_tabw .tab-content .tab-pane {
  width: 100%;
  overflow: hidden;
}

.rmd_bot_tabw .tab-content .tab-pane p {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 300;
  color: #666;
  margin-bottom: 20px;
}

.rmd_bot_tabw .tab-content .tab-pane dl {
  display: block;
  overflow: hidden;
}

.rmd_bot_tabw .tab-content .tab-pane dl dt {
  display: block;
  width: 120px;
  margin: 0 0 20px 0;
  float: left;
  clear: left;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  color: #333;
  font-weight: 700;
  text-align: left;
  text-indent: 5px;
}

.rmd_bot_tabw .tab-content .tab-pane dl dd {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
}

.rmd_bot_tabw .tab-content .tab-pane dl dd label {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #666;
  font-weight: 300;
  float: left;
  padding-right: 20px;
  margin: 0 0 20px 0;
}

.rmd_bot_tabw .rmd-bot-sch {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: 44px;
  line-height: 43px;
  border-top: 1px solid #d7d7d7;
  text-align: center;
}

.rmd_bot_tabw .rmd-bot-sch button {
  border: 0;
  outline: 0;
  background: none;
  font-size: 14px;
  color: #3e72ed;
  font-weight: 300;
}

.rmd_bot_tabw .rmd-bot-sch button span {
  padding: 0 3px;
}

.rmd-bot-top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 65px;
  line-height: 65px;
  border-bottom: 1px solid #d7d7d7;
  padding: 0 35px;
}

.rmd-bot-top strong {
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.rmd-bot-top .close {
  margin-top: 25px;
}

.rmd-bot-top .algzm-tab {
  display: block;
  margin-top: 15px;
  float: right;
}

.rmd-bot-top .algzm-tab ul li {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0 8px;
  margin-left: 30px;
}

.rmd-bot-top .algzm-tab ul li.fst {
  position: absolute;
  top: 5px;
  left: 0;
  height: 60px;
  line-height: 60px;
}

.rmd-bot-top .algzm-tab ul li.fst a {
  font-size: 18px;
}

.rmd-bot-top .algzm-tab ul li.fst.active {
  line-height: 60px;
  border-bottom: 2px solid #3e72ed;
}

.rmd-bot-top .algzm-tab ul li.fst.active a {
  color: #3e72ed;
}

.rmd-bot-top .algzm-tab ul li a {
  font-size: 16px;
  color: #333;
  font-weight: 300;
  text-decoration: none;
}

.rmd-bot-top .algzm-tab ul li.active {
  border-bottom: 2px solid #333;
  line-height: 50px;
}

.rmd-bot-top .algzm-tab ul li.active a {
  font-weight: 700;
}

p.tbl-guide {
  font-size: 14px;
  font-weight: 300;
}

.rmd-bot-cont {
  display: block;
  width: 100%;
  padding-top: 30px;
}

.rmd-bot-cont .left {
  display: block;
  width: 220px;
  height: 200px;
  float: left;
  border: 1px solid #e1e1e1;
  border-radius: 7px;
}

.rmd-bot-cont .left .bot {
  display: block;
  width: 100%;
  height: 200px;
  text-align: center;
  float: left;
}

.rmd-bot-cont .left .bot .name {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.rmd-bot-cont .left .bot .name a:hover {
  text-decoration: none;
}

.rmd-bot-cont .left .bot .name em {
  display: block;
  font-style: normal;
  font-size: 14px;
  color: #333;
  font-weight: 300;
}

.rmd-bot-cont .left .bot .name strong {
  display: block;
  font-size: 24px;
  color: #3e72ed;
  font-weight: 700;
}

.rmd-bot-cont .left .bot .thumb {
  display: inline-block;
  width: 125px;
  margin-top: 10px;
}

.rmd-bot-cont .left .bot .thumb img {
  width: 100%;
}

.rmd-bot-cont .left .info {
  display: block;
  width: 100%;
  float: left;
  margin-top: 10px;
}

.rmd-bot-cont .left .info dl {
  padding: 0 25px;
}

.rmd-bot-cont .left .info dl dt {
  width: 105px;
  text-align: left;
  font-size: 14px;
  color: #333;
  font-weight: 300;
  float: left;
  clear: left;
  margin-bottom: 8px;
}

.rmd-bot-cont .left .info dl dt:last-child {
  margin-bottom: 0;
}

.rmd-bot-cont .left .info dl dd {
  width: calc(100% - 105px);
  margin-left: 0;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  float: left;
  margin-bottom: 8px;
}

.rmd-bot-cont .left .info dl dd:last-child {
  margin-bottom: 0;
}

.rmd-bot-cont .right {
  display: block;
  height: 200px;
  float: left;
  padding-left: 40px;
  overflow: hidden;
}

.rmd-bot-cont .right .info dl {
  display: block;
  width: 100%;
}

.rmd-bot-cont .right .info dl dt {
  width: 125px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  letter-spacing: -0.025em;
  float: left;
  clear: left;
}

.rmd-bot-cont .right .info dl dd {
  width: 570px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
  color: #666;
  font-weight: 300;
  letter-spacing: -0.025em;
  padding: 0;
  margin: 0;
  float: left;
}

.rmd-bot-cont .right .info dl dd em {
  font-style: normal;
}

.rmd-bot-cont .right .info {
  display: block;
  overflow: hidden;
}

.rmd-bot-cont .graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  float: left;
}

.rmd-bot-cont .graph .graph-box {
  display: block;
  width: calc(50% - 15px);
}

.rmd-bot-cont .btn-box {
  display: block;
  width: 100%;
  padding-top: 10px;
}

.rmd-bot-cont .btn-box .btn {
  display: inline-block;
  height: 40px;
  border-radius: 40px;
  padding: 0 20px;
}

.rmd-bot-cont .btn-box .btn-default {
  background: #fff;
  border: 1px solid #d7d7d7;
}

.rmd-bot-cont .btn-box .btn-primary {
  background: #3e72ed;
}

.rmd-bot-cont .btn-box .btn:active, .rmd-bot-cont .btn-box .btn:focus, .rmd-bot-cont .btn-box .btn:visited {
  outline: 0;
}

.rmd-alg-cont {
  display: block;
  width: 100%;
  padding-top: 30px;
  float: left;
}

.rmd-alg-cont .left {
  display: block;
  width: 254px;
  float: left;
}

.rmd-alg-cont .left .alg {
  display: block;
  width: 100%;
  height: 240px;
  line-height: 240px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  padding: 20px 0 19px 0;
}

.rmd-alg-cont .right {
  position: relative;
  display: block;
  width: 673px;
  float: right;
}

.rmd-alg-cont .right .cont {
  display: block;
  width: 100%;
  line-height: 20px;
  float: left;
  font-size: 15px;
  color: #666;
  font-weight: 300;
  margin-top: 30px;
}

.rmd-alg-cont .right .b-data {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  margin-top: 20px;
}

.rmd-alg-cont .right .b-data .guide {
  display: block;
  width: 100%;
  float: left;
}

.rmd-alg-cont .right .b-data .guide dl dt {
  display: block;
  float: left;
  font-size: 15px;
  color: #333;
  font-weight: 500;
}

.rmd-alg-cont .right .b-data .guide dl dd {
  display: block;
  float: left;
  font-size: 15px;
  font-weight: 300;
  padding-left: 5px;
}

.rmd-alg-cont .right .b-data .box {
  display: block;
  width: 100%;
  float: left;
  margin-top: 21px;
}

.rmd-alg-cont .right .b-data .box .left {
  display: block;
  width: 210px;
  height: 107px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.rmd-alg-cont .right .b-data .box .left ul {
  position: relative;
  display: inline-block;
}

.rmd-alg-cont .right .b-data .box .left ul::after {
  position: absolute;
  top: 17px;
  left: calc(50% - 1px);
  content: '';
  width: 1px;
  height: 72px;
  background: #d6d6d6;
}

.rmd-alg-cont .right .b-data .box .left ul li {
  display: block;
  width: 104px;
  float: left;
  text-align: center;
  padding: 11px 0 12px 0;
}

.rmd-alg-cont .right .b-data .box .right {
  display: block;
  width: 460px;
  height: 107px;
  min-height: 107px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.rmd-alg-cont .right .b-data .box .right strong {
  display: block;
  float: left;
  font-size: 15px;
  color: #333;
  font-weight: 300;
  margin: 14px 0 0 21px;
}

.rmd-alg-cont .right .b-data .box .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5px;
  float: left;
}

.rmd-alg-cont .right .b-data .box .right ul li {
  display: block;
  width: 33%;
  float: left;
}

.rmd-alg-cont .right .b-data .box .right ul li:nth-child(2n) {
  position: relative;
  width: 34%;
}

.rmd-alg-cont .right .b-data .box .right ul li:nth-child(2n)::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 60px;
  content: '';
  background: #d6d6d6;
}

.rmd-alg-cont .right .b-data .box .right ul li:nth-child(2n)::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 60px;
  content: '';
  background: #d6d6d6;
}

.rmd-alg-cont .right .b-data .box .right ul li span, .rmd-alg-cont .right .b-data .box .right ul li em {
  display: block;
  text-align: center;
}

.rmd-alg-cont .right .b-data .box .right ul li span {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
}

.rmd-alg-cont .right .b-data .box .right ul li em {
  font-style: normal;
  font-size: 14px;
  color: #999;
  font-weight: 300;
  margin-top: 10px;
}

.rmd-alg-cont .right .b-data .alg-btn {
  position: absolute;
  top: -10px;
  right: 0;
}

.rmd-alg-cont .right .b-data .alg-btn .btn {
  display: block;
  width: 130px;
  height: 40px;
  line-height: 38px;
  padding: 0;
  text-align: center;
  border: 1px solid #d6d6d6;
  border-radius: 40px;
  font-size: 16px;
  color: #333;
  font-weight: 300;
  float: left;
  margin-left: 10px;
}

.rmd-alg-cont .right .b-data .alg-btn .btn:focus {
  outline: 0;
}

.rmd-alg-cont .right .b-data .alg-btn .btn-default {
  background: #fff;
  border: 1px solid #dddde1;
}

.rmd-alg-cont .right .b-data .alg-btn .btn-primary {
  background: #3e72ed;
  color: #fff;
  border: 1px solid #3e72ed;
}

.rmd-alg-cont .right .date {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 13px;
  color: #999;
  font-weight: 300;
}

.algzm .alg-title {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  z-index: 99;
}

.algzm .alg-title em {
  font-style: normal;
}

.algzm .alg-title::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 1px;
  width: 155px;
  height: 12px;
  background: #FFE8DB;
}

.algzm .rmd-alg-cont {
  padding-top: 20px;
}

.algzm-all {
  display: block;
  width: 100%;
  float: left;
}

.algzm-all .left {
  display: block;
  width: 465px;
  float: left;
}

.algzm-all .left .list ul {
  display: block;
  width: 100%;
  padding-right: 7px;
}

.algzm-all .left .list ul li {
  position: relative;
  display: block;
  width: 100%;
  height: 46px;
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
  float: left;
}

.algzm-all .left .list ul li span {
  font-size: 14px;
  font-weight: 300;
}

.algzm-all .left .list ul li:hover {
  background: #f5f5f5;
}

.algzm-all .left .list ul li.active {
  background: #3e72ed;
}

.algzm-all .left .list ul li.active span {
  color: #fff !important;
}

.algzm-all .left .list ul li.active::after {
  content: '';
  position: absolute;
  top: 15px;
  right: -7px;
  display: block;
  width: 7px;
  height: 13px;
  background: url(../img/sub/algzm/active.png) no-repeat 0 0;
  font-weight: bold;
}

.algzm-all .left .list span {
  display: block;
  width: 20%;
  height: 46px;
  line-height: 46px;
  text-align: center;
  float: left;
}

.algzm-all .left .list span.li02 {
  height: 40px;
  line-height: 18px;
  padding: 4px 0;
}

.algzm-all .left .list-top {
  display: block;
  width: 458px;
  height: 48px;
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  font-weight: 500;
  float: left;
}

.algzm-all .left .paging {
  margin-top: 33px;
}

.algzm-all .right {
  position: relative;
  display: block;
  width: 459px;
  float: right;
}

.algzm-all .right .algzm-title {
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.algzm-all .right .algzm-title em {
  font-style: normal;
}

.algzm-all .right .algzm-cont {
  display: block;
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
  line-height: 18px;
  font-weight: 300;
}

.algzm-all .right .algzm-data {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  margin-top: 15px;
}

.algzm-all .right .algzm-data .guide {
  dipslay: block;
  width: 100%;
}

.algzm-all .right .algzm-data .guide dt {
  display: block;
  float: left;
  font-size: 15px;
  color: #333;
  font-weight: 500;
}

.algzm-all .right .algzm-data .guide dd {
  display: block;
  float: left;
  font-size: 15px;
  color: #333;
  font-weight: 300;
  padding-left: 5px;
}

.algzm-all .right .algzm-data .guide dd span {
  display: inline-block;
  height: auto;
  line-height: 21px;
  font-size: 15px;
}

.algzm-all .right .algzm-data .guide dd span::before {
  content: '';
  padding: 0;
  float: none;
}

.algzm-all .right .algzm-data .box {
  display: block;
  width: 100%;
  float: left;
  margin-top: 21px;
}

.algzm-all .right .algzm-data .box .left {
  display: block;
  width: 109px;
  height: 107px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.algzm-all .right .algzm-data .box .left .alg {
  display: block;
  width: 100%;
  height: 107px;
  padding: 11px 0 12px 0;
  text-align: center;
}

.algzm-all .right .algzm-data .box .left ul {
  position: relative;
  display: inline-block;
}

.algzm-all .right .algzm-data .box .left ul::after {
  position: absolute;
  top: 17px;
  left: calc(50% - 1px);
  content: '';
  width: 1px;
  height: 72px;
  background: #d6d6d6;
}

.algzm-all .right .algzm-data .box .left ul li {
  display: block;
  width: 104px;
  float: left;
  text-align: center;
  padding: 11px 0 12px 0;
}

.algzm-all .right .algzm-data .box .right {
  display: block;
  width: 339px;
  height: 107px;
  min-height: 107px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.algzm-all .right .algzm-data .box .right strong {
  display: block;
  float: left;
  font-size: 15px;
  color: #333;
  font-weight: 300;
  margin: 14px 0 0 21px;
}

.algzm-all .right .algzm-data .box .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5px;
  float: left;
}

.algzm-all .right .algzm-data .box .right ul li {
  display: block;
  width: 33%;
  float: left;
}

.algzm-all .right .algzm-data .box .right ul li:nth-child(2n) {
  position: relative;
  width: 34%;
}

.algzm-all .right .algzm-data .box .right ul li:nth-child(2n)::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 56px;
  content: '';
  background: #d6d6d6;
}

.algzm-all .right .algzm-data .box .right ul li:nth-child(2n)::after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 56px;
  content: '';
  background: #d6d6d6;
}

.algzm-all .right .algzm-data .box .right ul li span, .algzm-all .right .algzm-data .box .right ul li em {
  display: block;
  text-align: center;
}

.algzm-all .right .algzm-data .box .right ul li span {
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
}

.algzm-all .right .algzm-data .box .right ul li em {
  font-style: normal;
  font-size: 14px;
  color: #999;
  font-weight: 300;
  margin-top: 10px;
}

.algzm-all .right .algzm-data .alg-btn {
  position: absolute;
  top: -10px;
  right: 0;
}

.algzm-all .right .algzm-data .alg-btn .btn {
  display: block;
  width: 130px;
  height: 40px;
  line-height: 38px;
  padding: 0;
  text-align: center;
  border: 1px solid #d6d6d6;
  border-radius: 40px;
  font-size: 16px;
  color: #333;
  font-weight: 300;
  float: left;
  margin-left: 10px;
}

.algzm-all .right .algzm-data .alg-btn .btn:focus {
  outline: 0;
}

.algzm-all .right .algzm-data .alg-btn .btn-default {
  background: #fff;
  border: 1px solid #dddde1;
}

.algzm-all .right .algzm-data .alg-btn .btn-primary {
  background: #3e72ed;
  color: #fff;
  border: 1px solid #3e72ed;
}

.algzm-all .right .per {
  display: block;
  width: 100%;
  min-height: 380px;
  float: left;
  margin-top: 23px;
}

.algzm-all .right .per .box-title {
  font-size: 18px;
}

.algzm-all .right .per .chartbox {
  display: block;
  width: 100%;
  height: 280px;
  margin-top: 20px;
}

.algzm-all .right .per .chartbox .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-bottom: 0;
  margin-top: 27px;
}

.algzm-all .right .per .chartbox .nav-tabs li {
  float: none;
  margin-bottom: 0;
}

.algzm-all .right .per .chartbox .nav-tabs li.active a {
  background: #fff;
  color: #3e72ed;
  border: 1px solid #3e72ed;
}

.algzm-all .right .per .chartbox .nav-tabs li a {
  display: block;
  width: 62px;
  margin: 5px;
  line-height: 28px;
  height: 30px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  padding: 0;
  text-align: center;
  font-size: 13px;
  color: #666;
  font-weight: 300;
  background: #f6f6f6;
}

.algzm-all .right .more {
  position: absolute;
  top: 0;
  right: 0;
}

.algzm-all .right .more button {
  background: none;
  padding: 0;
  border: 0;
  font-size: 12px;
  font-weight: 300;
  color: #3e72ed;
}

.bot-sch-w {
  position: relative;
}

.schItemBox {
  display: block;
  height: auto;
  overflow: hidden;
}

.schItemBox .left {
  display: block;
  width: 200px;
  min-height: 450px;
  height: 100%;
  background: #f5f5f5;
  padding: 25px;
  float: left;
}

.rankList li {
  display: block;
  padding-bottom: 20px;
  overflow: hidden;
  clear: left;
}

.rankList li .num {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  padding-right: 3px;
}

.rankList li .txt {
  display: block;
  float: left;
}

.rankList li .txt a strong {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #333;
}

.rankList li .txt span {
  display: block;
  font-size: 12px;
  font-weight: 300;
  color: #666;
  padding-top: 10px;
}

.rankList li .txt span em {
  font-size: 16px;
}

.schItemBox .right {
  display: block;
  width: 720px;
  min-height: 430px;
  float: right;
}

.schItemBox .right .date {
  font-size: 13px;
  color: #999;
  font-weight: 300;
  padding-top: 10px;
}
