#allmenu .allmenu_wrap {
  width: 1250px;
  max-width: 1250px;
  margin: 150px auto;
  background: #fff;
}

#allmenu .allmenu_wrap .allmenu_header {
  position: relative;
  width: 100%;
  height: 60px;
  float: left;
  background: #333b58;
  overflow: hidden;
}

#allmenu .allmenu_wrap .allmenu_header strong {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-indent: 30px;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  float: left;
}

#allmenu .allmenu_wrap .allmenu_header .close {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: .7;
  cursor: pointer;
}

#allmenu .allmenu_wrap .allmenu_header .close:hover {
  opacity: 1;
}

#allmenu .allmenu_wrap .allmenu_content {
  position: relative;
  width: 100%;
  padding: 60px 0;
  clear: both;
  overflow: hidden;
}

#allmenu .allmenu_wrap .allmenu_content .menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1035px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  float: left;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list {
  display: inline-block;
  width: 207px;
  height: 372px;
  float: left;
  padding: 0 40px;
  border-left: 1px solid #ddd;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list:first-child {
  border-left: 0;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list .amenu {
  clear: both;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list .amenu.thumb {
  padding-top: 110px;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list .amenu.m01 {
  background: url(../img/header/allthumb01.png) no-repeat center top;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list .amenu.m02 {
  background: url(../img/header/allthumb02.png) no-repeat center top;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list .amenu.m03 {
  background: url(../img/header/allthumb03.png) no-repeat center top;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list .amenu strong {
  display: block;
  height: 35px;
  line-height: 35px;
  float: left;
  font-size: 16px;
  color: #333;
  font-weight: 780;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list .amenu ul {
  display: block;
  float: left;
  clear: both;
  margin-top: 10px;
  margin-bottom: 30px;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list .amenu ul li {
  display: block;
  height: 20px;
  line-height: 20px;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list .amenu ul li a {
  font-size: 14px;
  color: #666;
  font-weight: 300;
}

#allmenu .allmenu_wrap .allmenu_content .menu .menu_list .amenu ul li a:hover {
  color: #4c84ff;
}

#allmenu .allmenu_wrap .allmenu_content .side {
  display: inline-block;
  float: left;
}

#allmenu .allmenu_wrap .allmenu_content .side .side01 {
  display: block;
  width: 100%;
}

#allmenu .allmenu_wrap .allmenu_content .side .side01 ul li {
  display: block;
  margin-bottom: 10px;
}

#allmenu .allmenu_wrap .allmenu_content .side .side01 ul li a {
  display: inline-block;
  width: 140px;
  height: 34px;
  line-height: 32px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  color: #333;
  font-weight: 300;
}

#allmenu .allmenu_wrap .allmenu_content .side .side02 {
  display: block;
  margin-top: 15px;
  width: 140px;
  border: 1px solid #ddd;
}

#allmenu .allmenu_wrap .allmenu_content .side .side02 strong {
  display: inline-block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  font-weight: 700;
  text-align: center;
}

#allmenu .allmenu_wrap .allmenu_content .side .side02 ul {
  display: block;
  padding: 10px 0 20px 0;
}

#allmenu .allmenu_wrap .allmenu_content .side .side02 ul li {
  height: 30px;
}

#allmenu .allmenu_wrap .allmenu_content .side .side02 ul li a {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #666;
  font-weight: 300;
}

#header_w {
  position: relative;
  width: 100%;
  float: left;
  overflow: hidden;
  background: #fff;
}

#header_w .top_w {
  width: 100%;
  height: 79px;
  background: #333b58;
}

#header_w .top_w .top {
  width: 1030px;
  margin: 0 auto;
}

#header_w #realheader {
  width: 100%;
  height: 119px;
  margin: 0 auto;
  border-bottom: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

#header_w #realheader #header {
  position: relative;
  width: 1030px;
  margin: 0 auto;
}

#header_w #realheader #header .logo {
  display: block;
  margin: 20px 0 0 2px;
  float: left;
}

#header_w #realheader #header .logo a {
  display: inline-block;
  width: 140px;
  height: 23px;
  text-indent: -9999em;
  background: url(../img/header/logo.png);
}

#header_w #realheader #header .info {
  position: absolute;
  top: 20px;
  right: 0;
}

#header_w #realheader #header .info ul li {
  display: block;
  float: left;
  margin-left: 5px;
}

#header_w #realheader #header .info ul li a {
  display: inline-block;
  height: 15px;
  line-height: 15px;
  font-size: 13px;
  color: #888;
  font-weight: 300;
}

#header_w #realheader #header .info ul li a span {
  line-height: 15px;
  font-size: 13px;
  color: #666;
  padding-left: 3px;
}

#header_w #realheader #header .info ul li:first-child {
  padding-left: 0;
  margin-left: 0;
}

#header_w #realheader #header .info ul li:first-child::before {
  content: '';
}

#header_w #realheader #header .info ul li::before {
  padding-right: 6px;
  content: '\00B7';
}

#header_w #realheader #header .nav {
  display: block;
  width: 100%;
  float: left;
  clear: left;
  margin-top: 23px;
}

#header_w #realheader #header .nav .allmenu {
  display: block;
  width: 36px;
  height: 36px;
  float: left;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#header_w #realheader #header .nav .main_menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 470px;
  float: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#header_w #realheader #header .nav .main_menu li {
  display: inline-block;
  height: 52px;
}

#header_w #realheader #header .nav .main_menu li a {
  display: block;
  text-align: center;
  min-width: 77px;
  height: 36px;
  line-height: 36px;
  border-bottom: 3px solid #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 15px;
  color: #333;
  font-weight: 400;
  padding: 0 0 13px 0;
  float: left;
}

#header_w #realheader #header .nav .main_menu li a:hover {
  font-weight: 800;
  border-bottom: 3px solid #333;
  text-decoration: none;
}

#header_w #realheader #header .nav .main_menu li a.active {
  font-weight: 800;
  border-bottom: 3px solid #333;
}

#header_w #realheader #header .nav .add_menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 298px;
  height: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 12px;
  border-left: 1px solid #ddd;
}

#header_w #realheader #header .nav .add_menu li {
  display: inline-block;
}

#header_w #realheader #header .nav .add_menu li a {
  display: block;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  color: #666;
  font-weight: 400;
  float: left;
}

#header_w #realheader #header .nav .sch {
  position: relative;
  display: block;
  width: 220px;
  float: right;
}

#header_w #realheader #header .nav .sch .form-group {
  width: 100%;
}

#header_w #realheader #header .nav .sch input {
  width: 100%;
  height: 33px;
  line-height: 33px;
  border: 0;
  border-bottom: 1px solid #3e72ed;
  font-size: 15px;
  color: #3e72ed;
  padding-right: 32px;
  padding-left: 2px;
}

#header_w #realheader #header .nav .sch input::-webkit-input-placeholder {
  font-size: 15px;
  color: #3e72ed;
  letter-spacing: -0.025em;
}

#header_w #realheader #header .nav .sch input:-ms-input-placeholder {
  font-size: 15px;
  color: #3e72ed;
  letter-spacing: -0.025em;
}

#header_w #realheader #header .nav .sch input::-ms-input-placeholder {
  font-size: 15px;
  color: #3e72ed;
  letter-spacing: -0.025em;
}

#header_w #realheader #header .nav .sch input::placeholder {
  font-size: 15px;
  color: #3e72ed;
  letter-spacing: -0.025em;
}

#header_w #realheader #header .nav .sch input:focus {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #3e72ed;
  font-weight: 400;
}

#header_w #realheader #header .nav .sch button {
  background: 0;
  border: 0;
  color: #3e72ed;
  position: absolute;
  top: 10px;
  right: 0;
}

.member_simple .modal-footer {
  text-align: center;
}
