.issue-analysis .chartbox { display: block; min-height: 300px; background: #f7f7f7; }

.latest-issue { position: relative; display: block; }

.latest-issue .nav { border: 0; }

.latest-issue .nav li { margin: 0; }

.latest-issue .nav li a { border: 0; margin: 0; padding: 0 15px; min-width: 70px; height: 40px; line-height: 40px; text-align: center; font-size: 16px; color: #666; background: #ebebeb; border-radius: 40px; margin-right: 10px; font-weight: 300; }

.latest-issue .nav li.active a, .latest-issue .nav li:hover a { background: #3e72ed; color: #fff; }

.latest-issue .tab-content ul { display: block; }

.latest-issue .tab-content ul li { display: block; margin-bottom: 20px; }

.latest-issue .tab-content ul li .tit { display: block; }

.latest-issue .tab-content ul li .tit a { display: inline-block; max-width: 100%; font-size: 16px; color: #3e72ed; font-weight: 300; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-bottom: 1px solid #3e72ed; }

.latest-issue .tab-content ul li .tit .date { display: block; font-size: 13px; color: #999; line-height: 20px; padding-top: 5px; }

.latest-issue .tab-content ul li .txt { font-size: 14px; color: #666; line-height: 20px; height: 40px; }

.latest-issue .more { position: absolute; top: 10px; right: 0; }

.latest-issue .more a { font-size: 14px; color: #999; font-weight: 300; }

.latest-issue .more a::before { content: '+'; padding-right: 5px; }

.issue-relation .table_w table { overflow: hidden; }

.issue-relation .table_w table thead { width: 100%; float: left; }

.issue-relation .table_w table thead tr { display: table; width: 100%; }

.issue-relation .table_w table tbody { float: left; width: 100%; height: 400px; overflow-y: scroll !important; overflow-x: hidden; }

.issue-relation .table_w table tbody tr { display: table; width: 100%; }

.empty { display: -webkit-box; display: -ms-flexbox; display: flex; min-height: 800px; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.empty.issue-empty p { display: block; width: 100%; line-height: 26px; font-size: 16px; color: #666; font-weight: 300; text-align: center; padding-bottom: 20px; }

.empty.issue-empty button { display: block; width: 115px; height: 30px; line-height: 28px; float: none; border: 1px solid #3e72ed; background: #fff; border-radius: 5px; font-size: 14px; color: #3e72ed; padding: 0; margin: 0; }

.empty.issue-empty button:hover, .empty.issue-empty button:focus { background: #3e72ed; color: #fff; }

.empty.issue-empty button span { padding: 0; margin: 0; }
