@charset "UTF-8";
.itemHomeBox {
  display: block;
  width: 100%;
}

.itemHomeBox .left {
  display: block;
  width: 235px;
  float: left;
}

.itemHomeBox .right {
  display: block;
  width: calc(100% - 235px);
  padding-left: 50px;
  float: left;
}

.itemHomeBox .left .item_cdn {
  display: block;
  width: 100%;
  height: 170px;
  border-radius: 5px;
  background: #f9f9f9 url(../img/bu_item_cdn.png) no-repeat center 20px;
  text-align: center;
}

.itemHomeBox .left .item_cdn span {
  display: inline-block;
  width: 95px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  padding: 0 10px;
  background: #7774f7;
  color: #fff;
  margin-top: 70px;
  border-radius: 22px;
}

.itemHomeBox .left .item_cdn strong {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #333;
}

.itemHomeBox .left .item_info {
  display: block;
  width: 100%;
  margin-top: 20px;
}

.itemHomeBox .left .item_info span {
  display: block;
  width: 100%;
  height: 15px;
  line-height: 15px;
  margin-top: 10px;
}

.itemHomeBox .left .item_info span.sig {
  font-size: 15px;
  color: #666;
  font-weight: 300;
}

.itemHomeBox .left .item_info span.sig em {
  font-style: normal;
  font-weight: 300;
}

.itemHomeBox .left .item_info span.info {
  font-size: 15px;
  color: #333;
  font-weight: 300;
}

.itemHomeBox .left .item_info span.info em {
  font-style: normal;
  font-weight: 700;
}

.itemHomeBox .left .more {
  display: block;
  margin-top: 20px;
}

.itemHomeBox .left .more a {
  font-size: 12px;
  color: #4c84ff;
  font-weight: 300;
}

.itemHomeBox .left .more a::after {
  content: '→';
}

.itemHomeBox .left .enp_info {
  display: block;
  margin-top: 120px;
}

.itemHomeBox .left .enp_info .tree {
  display: block;
  font-size: 14px;
  color: #666;
  font-weight: 300;
}

.itemHomeBox .left .enp_info .info {
  display: block;
  font-size: 15px;
  color: #333;
  font-weight: 300;
  margin-top: 10px;
}

.itemHomeBox .left .item_tit {
  display: block;
}

.itemHomeBox .left .item_tit span {
  display: block;
  font-size: 15px;
  color: #666;
  font-weight: 300;
}

.itemHomeBox .left .item_tit strong {
  display: block;
  margin-top: 20px;
}

.itemHomeBox .left .item_tit strong.guide {
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.itemHomeBox .left .item_tit strong.name {
  font-size: 30px;
  color: #333;
  font-weight: 300;
  margin-top: 30px;
}

.itemHomeBox .left .item_tit strong.info {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.itemHomeBox .left .item_txt {
  display: block;
  margin-top: 40px;
}

.itemHomeBox .left .item_txt .txt {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  color: #333;
  font-weight: 300;
  line-height: 30px;
  margin: 10px 0 20px 0;
  letter-spacing: -0.05em;
}

.itemHomeBox .left .item_mn {
  display: block;
  margin-top: 40px;
}

.itemHomeBox .left .item_mn em {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  font-style: normal;
  padding: 0 10px;
  font-size: 13px;
  color: #666;
  background: #ededed;
  border-radius: 22px;
}

.itemHomeBox .left .item_mn .list {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #333;
  margin: 10px 0 15px;
}

.itemHomeBox .left .date {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  color: #666;
  font-weight: 300;
}

.itemHomeBox .right .top {
  display: block;
  height: 170px;
  margin-bottom: 20px;
}

.itemHomeBox .right .top strong {
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemHomeBox .right .top span {
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 18px;
  color: #666;
  margin-top: 20px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemHomeBox .right .con {
  display: block;
}

.itemHomeBox .right .con .nav {
  display: block;
  width: 100%;
  border: 0;
}

.itemHomeBox .right .con .nav li {
  margin: 0;
}

.itemHomeBox .right .con .nav li.active a, .itemHomeBox .right .con .nav li:hover a {
  color: #4c84ff;
  border: 1px solid #4c84ff;
  background: #fff;
}

.itemHomeBox .right .con .nav li a {
  border: 0;
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 0;
  width: 62px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #d7d7d7;
  background: #f5f5f5;
  font-size: 13px;
  color: #333;
  font-weight: 500;
  text-align: Center;
  border-radius: 5px;
}

.itemHomeBox .right .con .nav li.sub {
  float: right;
}

.itemHomeBox .right .con .nav li.sub a {
  margin-right: 0;
  width: 120px;
  background: #fff;
}

.itemHomeBox .right .con .tab-content {
  display: block;
  margin-top: 20px;
}

.itemHomeBox .right .con .tab-content .guide {
  display: block;
}

.itemHomeBox .right .con .tab-content .guide span {
  display: block;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: #666;
  font-weight: 300;
}

.itemHomeBox .right .con .tab-content .guide span em {
  font-style: normal;
}

.itemHomeBox .right .con .tab-content .guide span::before {
  content: '\00b7';
  padding-right: 3px;
}

.itemHomeBox .right .chartbox {
  display: block;
  margin-top: 20px;
  min-height: 300px;
  background: #f8f8f8;
}
