.browser_w {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #333B58;
  text-align: center;
}

.browser_w .browser {
  position: relative;
  display: inline-block;
  width: 1030px;
}

.browser_w .top_close {
  position: absolute;
  top: 30px;
  right: -200px;
  color: #e8e8e8;
  z-index: 999;
  height: 18px;
  line-height: 18px;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  cursor: pointer;
}

.browser_w .top_close::before {
  background: none;
  float: none;
}

.browser_w .top_close::after {
  content: "X";
  border: 1px solid #e8e8e8;
  height: 18px;
  line-height: 18px;
  text-align: center;
  width: 18px;
  display: inline-block;
  margin-left: 10px;
  background: none;
  float: none;
}

#wrap {
  position: relative;
  width: 100%;
  min-width: 1100px;
  height: auto;
}

#container_w {
  position: relative;
  min-height: 1700px;
  clear: both;
}

#container {
  width: 1070px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 30px;
}

#content {
  position: relative;
  display: inline-block;
  width: 1030px;
  min-height: 800px;
  background: #fff;
  overflow: hidden;
  clear: both;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  padding: 40px 35px 60px;
  margin: 20px 20px 0;
}

#content.nbg {
  width: 1070px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  padding: 0;
  margin: 101px 0 0 0;
  padding: 0 20px 0px;
}

#container_banner {
  display: block;
  width: 1030px;
  margin: 40px 20px 160px 20px;
  overflow: hidden;
}

#container_banner .banner_box {
  display: block;
  width: 300px;
  height: 250px;
  background: #d6d6d6;
  float: left;
}

#container_banner .banner_box:nth-child(2n+1) {
  margin: 0 65px 0 64px;
}

#agfooter {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
  padding-bottom: 100px;
}

#agfooter address {
  display: inline-block;
  float: none;
  font-size: 13px;
  color: #999;
  text-align: 300;
  line-height: 20px;
}

#agfooter .flogo {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

#c_side {
  position: absolute;
  width: 160px;
  left: 50%;
  margin-left: 555px;
}

#c_side .s_menu {
  display: block;
  width: 100%;
  float: left;
}

#c_side .s_menu.s_m02 {
  margin-top: 55px;
  border-bottom: 1px solid #bdbdbd;
}

#c_side .s_menu.s_m02 .s_list {
  height: auto;
}

#c_side .s_menu .title_s {
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
}

#c_side .s_menu .title_s .setting {
  color: #a1a1a1;
}

#c_side .s_menu .tab_title {
  height: 60px;
  border-top: 2px solid #000;
}

#c_side .s_menu .tab_title ul li {
  width: 50%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left;
  border-bottom: 1px solid #bdbdbd;
}

#c_side .s_menu .tab_title ul li a {
  font-size: 14px;
  color: #999;
  font-weight: 300;
}

#c_side .s_menu .tab_title ul li.active {
  border-bottom: 1px solid #000;
}

#c_side .s_menu .tab_title ul li.active a {
  color: #333;
  font-weight: 700;
}

#c_side .s_menu .s_list_w {
  display: block;
  width: 100%;
  float: left;
  min-height: 54px;
  max-height: 440px;
}

#c_side .s_menu .s_list_w .bx-viewport {
  overflow-y: hidden !important;
  overflow-x: visible !important;
}

#c_side .s_menu .s_list {
  display: block;
  width: 100%;
  float: left;
}

#c_side .s_menu .s_list li {
  position: relative;
  display: block;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #dfdfdf;
  float: left;
  clear: both;
}

#c_side .s_menu .s_list li.empty {
  line-height: 54px;
  min-height: 54px;
  cursor: pointer;
}

#c_side .s_menu .s_list li.empty::after {
  content: '+';
  color: #999;
  font-size: 20px;
}

#c_side .s_menu .s_list li:last-child {
  border-bottom: 0;
}

#c_side .s_menu .s_list li:hover .popover {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 130px;
  display: block;
  background: none;
  border: 0;
  z-index: 999;
}

#c_side .s_menu .s_list li:hover .popover .popover-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  background: #fff;
  opacity: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 8px;
}

#c_side .s_menu .s_list li:hover .popover .popover-content a {
  display: block;
  font-size: 13px;
  color: #333;
  float: left;
}

#c_side .s_menu .s_list .myItemList {
  display: block;
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0 10px;
}

#c_side .s_menu .s_list .myItemList .name {
  display: block;
  float: left;
  width: 72px;
  font-size: 13px;
  color: #333;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#c_side .s_menu .s_list .myItemList .per {
  float: right;
  padding-right: 10px;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  color: #666;
}

#c_side .s_menu .s_list .myItemList .own {
  float: right;
  font-size: 13px;
  color: #999;
  font-weight: 300;
  font-style: normal;
}

#c_side .s_menu .s_list .myItemList .own .badge {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 9px;
  color: #fff;
  background: #fc2f39;
  padding: 0;
  font-style: normal;
  margin: -3px 0 0 3px;
}

#c_side .s_menu .s_list .ad {
  display: block;
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 0 10px;
  text-align: center;
}

#c_side .s_menu .s_list .ad a {
  font-size: 13px;
  color: #fc2f2f;
}

#c_side .s_menu .s_menu_control {
  display: block;
  float: left;
  width: 100%;
  height: 42px;
  line-height: 42px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

#c_side .s_menu .s_menu_control.disabled a {
  color: #cacaca;
}

#c_side .s_menu .s_menu_control a {
  width: 50%;
  float: left;
  text-align: center;
  font-size: 12px;
  color: #767676;
  font-weight: bold;
}

#c_side .side_banner {
  display: block;
  width: 100%;
  margin-top: 35px;
  clear: both;
  float: left;
  overflow: hidden;
}
