.mysignal {
  display: inline-block;
  width: 100%;
}

.mysignal .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
}

.mysignal .left .list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 177px;
  height: 130px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mysignal .left .list.list01 {
  background: #fff url(../img/sub/mysignal/sig01.png) no-repeat -43px 40px;
}

.mysignal .left .list.list02 {
  background: #fff url(../img/sub/mysignal/sig02.png) no-repeat -30px 45px;
}

.mysignal .left .list .check {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: 700;
}

.mysignal .left .list strong {
  display: inline-block;
  line-height: 30px;
  font-size: 25px;
  font-weight: 700;
  color: #FC2F39;
}

.mysignal .left .list span {
  display: inline-block;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #333;
}

.mysignal .right {
  position: relative;
  display: block;
  width: calc(100% - 430px);
  height: 130px;
  padding-top: 5px;
  text-align: right;
  float: right;
}

.mysignal .right dl {
  display: inline-block;
  width: 450px;
  border-top: 2px solid #333;
  text-align: left;
}

.mysignal .right dl dt {
  display: block;
  width: 210px;
  height: 42px;
  line-height: 42px;
  padding-left: 20px;
  float: left;
  clear: left;
  border-bottom: 1px solid #d7d7d7;
}

.mysignal .right dl dd {
  display: block;
  width: 240px;
  height: 42px;
  line-height: 42px;
  float: left;
  font-size: 16px;
  color: #666;
  font-weight: 300;
  border-bottom: 1px solid #d7d7d7;
}

.mysignal .right dl dd button {
  width: 75px;
  height: 28px;
  line-height: 26px;
  border: 1px solid #3e72ed;
  background: #fff;
  border-radius: 5px;
  font-size: 14px;
  color: #3e72ed;
  padding: 0;
  float: none;
  margin-left: 20px;
}

.mysignal .right dl dd button:hover {
  background: #3e72ed;
  color: #fff;
  font-weight: 500;
}

.mysignal .right .bnr {
  display: inline-block;
  padding-left: 10px;
}

.mysignal .right .app {
  position: absolute;
  top: -65px;
  right: 0;
  display: block;
  height: 40px;
  z-index: 99;
}

.mysignal .right .app .btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  padding: 0 15px;
  border: 0;
}

.mysignal .right .app .btn-android {
  background: #000;
  margin: 0 5px;
}

.mysignal .right .app .btn-android span {
  display: inline-block;
  text-align: left;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  background: url(../img/sub/introduce/bu_android.jpg) no-repeat 0 10px;
  background-size: 18px 20px;
  padding-left: 30px;
  float: left;
}

.mysignal .right .app .btn-ios {
  background: #000;
  margin: 0 5px;
}

.mysignal .right .app .btn-ios span {
  display: inline-block;
  width: 100%;
  height: 40px;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  color: #fff;
  background: url(../img/sub/introduce/bu_ios.png) no-repeat 0 5px;
  background-size: 19px 25px;
  padding-left: 40px;
  float: left;
}

.none-svc {
  position: relative;
  display: block;
  padding-left: 7px;
  overflow: hidden;
}

.none-svc .txt {
  display: block;
}

.none-svc .txt strong {
  font-size: 30px;
  font-weight: 700;
  color: #7874F7;
}

.none-svc .txt span {
  display: block;
  padding-top: 10px;
  color: #333;
  line-height: 32px;
}

.none-svc .txt span font {
  size: 18px;
  weight: 300;
}

.none-svc .sch {
  display: block;
  width: 100%;
  overflow: hidden;
  float: left;
}

.none-svc .sch .left {
  display: block;
  width: 400px;
  height: 50px;
  border-bottom: 2px solid #7874F7;
  float: left;
}

.none-svc .sch .left input {
  height: 48px;
  border: 0;
  width: 355px;
  float: left;
  font-size: 17px;
  font-weight: 300;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.none-svc .sch .left input::-webkit-input-placeholder {
  font-size: 17px;
  color: #7874F7;
}

.none-svc .sch .left input:-ms-input-placeholder {
  font-size: 17px;
  color: #7874F7;
}

.none-svc .sch .left input::-ms-input-placeholder {
  font-size: 17px;
  color: #7874F7;
}

.none-svc .sch .left input::placeholder {
  font-size: 17px;
  color: #7874F7;
}

.none-svc .sch .left button {
  float: left;
  background: #7874F7;
  color: #fff;
  border: 0;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  padding: 0;
  margin-top: 5px;
}

.none-svc .sch .right {
  float: left;
  width: calc(100% - 400px);
  text-align: right;
}

.none-svc .sch .right .btn {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  border-radius: 50px;
  padding: 0 25px;
}

.none-svc .sch .right .btn-android {
  background: #000;
}

.none-svc .sch .right .btn-android span {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: url(../img/sub/introduce/bu_android.jpg) no-repeat 0 50%;
  padding: 0 20px 0 30px;
}

.none-svc .sch .right .btn-ios {
  background: #000;
  margin-left: 10px;
}

.none-svc .sch .right .btn-ios span {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: url(../img/sub/introduce/bu_ios.png) no-repeat 0 8px;
  padding: 0 30px 0 60px;
}
