.mysignal {
  display: block;
  width: 100%;
  overflow: hidden;
}

.mysignal .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
}

.mysignal .left .list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 177px;
  height: 130px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mysignal .left .list.list01 {
  background: #fff url(../img/sub/mysignal/sig01.png) no-repeat -43px 40px;
}

.mysignal .left .list.list02 {
  background: #fff url(../img/sub/mysignal/sig02.png) no-repeat -30px 45px;
}

.mysignal .left .list .check {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: 700;
}

.mysignal .left .list strong {
  display: inline-block;
  line-height: 30px;
  font-size: 25px;
  font-weight: 700;
  color: #FC2F39;
}

.mysignal .left .list span {
  display: inline-block;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #333;
}

.mysignal .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 440px);
  height: 130px;
  overflow: hidden;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  float: right;
}

.mysignal .right dl {
  display: block;
  padding: 10px 0;
  float: left;
}

.mysignal .right dl dt {
  display: block;
  width: 175px;
  height: 40px;
  line-height: 40px;
  float: left;
  clear: left;
}

.mysignal .right dl dd {
  display: block;
  height: 40px;
  line-height: 40px;
  float: left;
  font-size: 16px;
  color: #666;
  font-weight: 300;
}

.mysignal .right dl dd button {
  width: 75px;
  height: 28px;
  line-height: 26px;
  border: 1px solid #3e72ed;
  background: #fff;
  border-radius: 5px;
  font-size: 14px;
  color: #3e72ed;
  padding: 0;
  float: none;
  margin-left: 20px;
}

.mysignal .right dl dd button:hover {
  background: #3e72ed;
  color: #fff;
  font-weight: 500;
}

.mysignal .right button {
  width: 165px;
  height: 40px;
  line-height: 38px;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  background: #3e72ed;
  margin: 0 0 10px 45px;
  border: 0;
  float: left;
}
