.board_pager {
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
  margin-top: 40px;
}

.paging {
  display: block;
  width: 100%;
  overflow: hidden;
  clear: both;
  float: left;
}

.pagination li.disabled a {
  display: none;
}

.pagination li:first-child a {
  border: 1px solid #dedede;
  border-radius: 0;
}

.pagination li:first-child a span {
  border: none;
}

.pagination li:last-child a {
  border: 1px solid #dedede;
  border-radius: 0;
}

.pagination li:last-child a span {
  border: none;
}

.pagination li.active a,
.pagination li.active span, .pagination li.active a:hover, .pagination li.active span:hover, .pagination li.active a:active, .pagination li.active span:active {
  background: #3e72ed;
  color: #fff;
  font-weight: 500;
  border: 0;
}

.pagination li a {
  width: 34px;
  height: 34px;
  line-height: 32px;
  border: 0;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  padding: 0;
  margin: 0 5px;
  border: 1px solid #fff;
}

.pagination li a:hover, .pagination li a:focus, .pagination li a:active {
  background: #3e72ed;
  border: 0;
  color: #fff;
  font-weight: 500;
}

.ui-datepicker .ui-datepicker-header {
  background: #fbfbfb;
  border: 1px solid #d6d6d6;
}

.ui-datepicker .ui-datepicker-title {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.ui-datepicker-calendar thead th {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  padding: 1em .4em;
}

.ui-widget-content .ui-datepicker-calendar .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  font-weight: 300;
  color: #666;
  font-size: 13px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  background: #fefefe;
  text-align: center;
  padding: .4em;
}

.ui-datepicker-calendar .ui-state-highlight,
.ui-widget-content .ui-datepicker-calendar .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #4379EB;
  background: #4379EB;
  color: #fff;
  font-weight: 500;
}

.ui-state-default.ui-state-active, .ui-state-default:hover {
  background: #efefef !important;
  color: #666 !important;
}

.popover {
  font-size: 14px;
  font-weight: 300;
  color: #666;
  line-height: 23px;
}

.check-radio {
  display: block;
  overflow: hidden;
  clear: both;
}

.check-radio.pn-a {
  position: absolute;
  top: 0;
  right: 0;
}

.check-radio ul li {
  display: block;
  float: left;
  margin-right: 20px;
}

.check-radio ul li input {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  float: left;
  cursor: pointer;
}

.check-radio ul li label {
  font-size: 14px;
  color: #333;
  font-weight: 300;
  padding-left: 5px;
  cursor: pointer;
}

.check-radio ul li label span {
  font-size: 12px;
  color: #999;
}

.table_w {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
}

.table_w .tbl-top {
  display: block;
  width: 100%;
  float: left;
}

.table_w .tbl-top .btn {
  display: inline-block;
  height: 34px;
  line-height: 32px;
  padding: 0 20px;
  border: 1px solid #dfdfdf;
  margin-right: 8px;
  border-radius: 34px;
  background: #fff;
  font-size: 14px;
}

.table_w .tbl-top .btn-md {
  height: 36px;
  line-height: 34px;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 25px;
}

.table_w .tbl-top .btn span {
  color: #666;
  font-weight: 300;
}

.table_w .tbl-top .btn:hover {
  border: 1px solid #666;
  color: #333;
}

.table_w .tbl-top .btn:hover span {
  color: #333;
}

.table_w .tbl-top .btn-primary {
  background: #4379EB;
  border: 0;
}

.table_w .tbl-top .btn-primary span {
  color: #fff;
}

.table_w .tbl-top .btn-primary:hover {
  border: 0;
}

.table_w .tbl-top .btn-primary:hover span {
  color: #fff;
}

.table_w .tbl-top .left {
  display: block;
  float: left;
  padding: 3px 0 2px 0;
}

.table_w .tbl-top .left dl dt {
  display: block;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #333;
  font-weight: 700;
  float: left;
}

.table_w .tbl-top .left dl dd {
  position: relative;
  display: block;
  margin-left: 10px;
  float: left;
}

.table_w .tbl-top .left dl dd input[type="text"] {
  display: block;
  width: 170px;
  background: #f6f7f8;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  height: 36px;
  line-height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 26px 0 20px;
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
  cursor: pointer;
  color: #999;
}

.table_w .tbl-top .left dl dd .datebtn {
  position: absolute;
  top: 11px;
  left: 145px;
  color: #3272ed;
  border: 0;
  background: none;
  padding: 0;
}

.table_w .tbl-top .left dl dd button {
  display: block;
  float: left;
}

.table_w .tbl-top .right {
  display: block;
  float: right;
}

.table_w .tbl-top .right.lh36 {
  line-height: 36px;
}

.table_w .tbl-top .right .form-inline {
  float: left;
}

.table_w .tbl-top .right .btn {
  height: 40px;
  line-height: 38px;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 0;
}

.table_w .tbl-top .right > span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #666;
  padding-top: 10px;
}

.table_w .guide {
  display: block;
  clear: both;
  float: left;
}

.table_w .guide span {
  display: block;
  height: 23px;
  line-height: 23px;
  font-size: 14px;
  font-weight: 300;
  color: #999;
}

.table_w .guide span::before {
  content: '\00B7';
  padding-right: 5px;
}

.table_w .guide p {
  display: block;
  height: 23px;
  line-height: 23px;
  font-size: 14px;
  font-weight: 300;
  color: #666;
}

.table_w .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #999;
  font-weight: 300;
}

.table_w table {
  border-collapse: separate;
  border-top: 1px solid #666;
}

.table_w table thead tr th {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  border-top: 1px solid #dfdfdf;
  border-bottom: 0;
  background: #f5f5f5;
  text-align: center;
  border-left: 0;
}

.table_w table tbody tr:first-child td {
  border-top: 1px solid #666;
}

.table_w table tbody tr td {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 300;
  color: #666;
  border-bottom: 1px solid #dfdfdf;
  border-top: 0;
}

.table_w table tbody tr td .item {
  padding-left: 15px;
}

.table_w table tbody tr td.bdl {
  border-left: 1px solid #dfdfdf;
}

.table_w table tbody tr td .empty {
  min-height: 350px;
  vertical-align: middle;
}

.table_w table tbody tr td a {
  display: block;
  max-width: 280px;
  color: #666;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table_w table tbody tr td a.lg {
  max-width: 550px;
}

.table_w table tbody tr td .elipsis {
  display: block;
  width: 160px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: text;
}

.table_w table tbody tr td .btn {
  display: inline-block;
  height: 27px;
  line-height: 25px;
  border: 1px solid #dbdbdb;
  background: #f5f5f5;
  padding: 0 12px;
  font-size: 14px;
  color: #333;
  font-weight: 300;
  border-radius: 0;
}

.table_w table tbody tr td .btn:active, .table_w table tbody tr td .btn:focus, .table_w table tbody tr td .btn:visited {
  outline: 0;
}

.table_w table tbody tr:hover th, .table_w table tbody tr:hover td {
  background: #fafafc;
}

.table_w table-hover tbody tr:hover th, .table_w table-hover tbody tr:hover td {
  background: #fafafc;
}

.table_w table.signal {
  border-top: 0;
}

.table_w table.signal thead tr th {
  font-size: 15px;
  font-weight: 300;
  background: #f6f6f6;
  border-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.table_w table.signal thead tr th:first-child {
  border-radius: 5px 0 0 5px;
}

.table_w table.signal thead tr th:last-child {
  border-radius: 0 5px 5px 0;
}

.table_w table.signal tbody tr:first-child td {
  padding-top: 20px;
}

.table_w table.signal tbody tr td {
  border-top: 0;
  border-bottom: 0;
  padding-top: 7px;
  padding-bottom: 8px;
}

.table_w table.table-lft {
  border-top: 1px solid #333;
}

.table_w table.table-lft tbody tr th {
  font-size: 14px;
  color: #333;
  font-weight: 700;
  height: 47px;
  line-height: 47px;
  text-indent: 10px;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 15px;
  background: #f5f5f5;
  border-top: 0 !important;
}

.table_w table.table-lft tbody tr td {
  height: 47px;
  line-height: 47px;
  padding: 0 15px;
  font-size: 14px;
  color: #666;
  font-weight: 300;
}

.table_w table.table-lft tbody tr:first-child td {
  border-top: 0;
}

.table_w table.table-nboder {
  border-top: 0;
  vertical-align: middle;
}

.table_w table.table-nboder.l-boder tbody tr th, .table_w table.table-nboder.l-boder tbody tr td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-right: 1px solid #dfdfdf;
}

.table_w table.table-nboder.l-boder tbody tr th:last-child, .table_w table.table-nboder.l-boder tbody tr td:last-child {
  border-right: 0;
}

.table_w table.table-nboder.l-boder tfoot tr:last-child th, .table_w table.table-nboder.l-boder tfoot tr:last-child td {
  border-top: 0;
}

.table_w table.table-nboder.l-boder tfoot tr th, .table_w table.table-nboder.l-boder tfoot tr td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}

.table_w table.table-nboder.l-boder tfoot tr th:first-child, .table_w table.table-nboder.l-boder tfoot tr td:first-child {
  border-left: 0;
}

.table_w table.table-nboder.l-boder tfoot tr th span, .table_w table.table-nboder.l-boder tfoot tr td span {
  font-size: 14px;
  font-weight: 300;
  color: #666;
}

.table_w table.table-nboder tbody tr.sell {
  background: #EFF3FC;
}

.table_w table.table-nboder tbody tr.buy {
  background: #FCE7E7;
}

.table_w table.table-nboder tbody tr.bpboder th, .table_w table.table-nboder tbody tr.bpboder td {
  border-top: 1px solid #dfdfdf;
}

.table_w table.table-nboder tbody tr.btboder th, .table_w table.table-nboder tbody tr.btboder td {
  border-bottom: 1px solid #dfdfdf;
}

.table_w table.table-nboder tbody tr th {
  border-bottom: 0;
  border-top: 0;
  font-size: 14px;
  font-weight: 300;
  border-right: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}

.table_w table.table-nboder tbody tr th:first-child {
  border-left: 0;
}

.table_w table.table-nboder tbody tr th.info {
  background: #f5f5f5;
}

.table_w table.table-nboder tbody tr td {
  border-bottom: 0;
  border-top: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 3px;
  padding-right: 3px;
}

.table_w table.table-nboder tbody tr td a:hover {
  text-decoration: underline;
}

.table_w table.table-nboder tbody tr td.info {
  background: #f5f5f5;
}

.table_w table.table-bordered {
  border-left: 0 !important;
  border-right: 0 !important;
  vertical-align: middle;
  border-bottom: 0;
}

.table_w table.table-bordered.small-line tfoot tr:last-child {
  border-top: 0;
}

.table_w table.table-bordered.small-line tfoot tr.active th, .table_w table.table-bordered.small-line tfoot tr.active td {
  border-left: 0;
}

.table_w table.table-bordered.small-line tfoot tr th, .table_w table.table-bordered.small-line tfoot tr td {
  padding-top: 10px;
  padding-bottom: 11px;
  border-left: 0;
}

.table_w table.table-bordered.small-line thead tr th, .table_w table.table-bordered.small-line thead tr td {
  padding-top: 11px;
  padding-bottom: 12px;
}

.table_w table.table-bordered.small-line tbody tr th, .table_w table.table-bordered.small-line tbody tr td {
  padding-top: 10px;
  padding-bottom: 11px;
}

.table_w table.table-bordered thead tr.sboder th {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  font-weight: 300;
  border-left: 0;
}

.table_w table.table-bordered thead tr.big th, .table_w table.table-bordered thead tr.big td {
  padding: 18px 0 19px 0;
}

.table_w table.table-bordered thead tr th, .table_w table.table-bordered thead tr td {
  vertical-align: middle;
}

.table_w table.table-bordered thead tr th:first-child, .table_w table.table-bordered thead tr td:first-child {
  border-left: 0;
}

.table_w table.table-bordered thead tr th:last-child, .table_w table.table-bordered thead tr td:last-child {
  border-right: 0;
}

.table_w table.table-bordered tbody tr.nbtboder th, .table_w table.table-bordered tbody tr.nbtboder td {
  border-top: 0;
  border-bottom: 0;
}

.table_w table.table-bordered tbody tr.btboder th, .table_w table.table-bordered tbody tr.btboder td {
  border-top: 0;
  border-bottom: 1px solid #d7d7d7;
}

.table_w table.table-bordered tbody tr.nblboder th, .table_w table.table-bordered tbody tr.nblboder td {
  border-left: 0;
  border-right: 0;
}

.table_w table.table-bordered tbody tr th, .table_w table.table-bordered tbody tr td {
  border-left: 0;
  vertical-align: middle;
}

.table_w table.table-bordered tbody tr th:first-child, .table_w table.table-bordered tbody tr td:first-child {
  border-left: 0;
}

.table_w table.table-bordered tbody tr th:last-child, .table_w table.table-bordered tbody tr td:last-child {
  border-right: 0;
}

.table_w table.table-bordered tbody tr th a, .table_w table.table-bordered tbody tr td a {
  display: inline-block;
  color: #4379EB;
}

.table_w table.table-bordered tbody tr th a.obj, .table_w table.table-bordered tbody tr td a.obj {
  color: #666;
}

.table_w table.table-bordered tbody tr th.sell, .table_w table.table-bordered tbody tr td.sell {
  background: #EFF3FC;
}

.table_w table.table-bordered tbody tr th.buy, .table_w table.table-bordered tbody tr td.buy {
  background: #FCE7E7;
}

.table_w table.table-bordered tfoot tr:last-child th, .table_w table.table-bordered tfoot tr:last-child td {
  border-top: 0;
}

.table_w table.table-bordered tfoot tr td, .table_w table.table-bordered tfoot tr th {
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 300;
}

.table_w table.table-bordered tfoot tr td span, .table_w table.table-bordered tfoot tr th span {
  font-size: 14px;
  font-weight: 300;
  color: #333;
}

.table_w table.table-bordered tfoot tr td:first-child, .table_w table.table-bordered tfoot tr th:first-child {
  border-left: 0;
}

.table_w table.table-bordered tfoot tr td:last-child, .table_w table.table-bordered tfoot tr th:last-child {
  border-right: 0;
}

.table_w table.table-bordered.tbnborder tbody tr:first-child td, .table_w table.table-bordered.tbnborder tbody tr:first-child th {
  border-top: 1px solid #666;
}

.table_w table.table-bordered.tbnborder tbody tr td, .table_w table.table-bordered.tbnborder tbody tr th {
  border: 0;
  border-bottom: 1px solid #dfdfdf;
}

.table_w table.mitem thead tr th {
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
  border-left: 0;
}

.table_w table.mitem thead tr:nth-child(2n) th:last-child {
  border-right: 1px solid #dfdfdf;
}

.table_w table.mitem tbody tr td {
  padding-left: 7px;
  padding-right: 7px;
  vertical-align: middle;
}

.table_w table.mitem tbody tr td a {
  display: block;
  float: left;
}

.table_w table.mitem tbody tr td a.view {
  color: #4379EB;
  text-decoration: underline;
  float: none;
}

.table_w table.mitem tbody tr td .tgglyphi {
  cursor: pointer;
}

.table_w table.mitem tbody tr td .tgglyphi::before {
  display: block;
  content: '';
  width: 16px;
  height: 14px;
  background: url(https://img.thinkpool.com/www/img/chart_icon.png) no-repeat 0 0;
}

.modal-index-table thead {
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
}

.modal-index-table thead tr {
  display: table;
  width: 100%;
}

.modal-index-table thead tr th:nth-child(4), .modal-index-table thead tr th:nth-child(5), .modal-index-table thead tr th:nth-child(6), .modal-index-table thead tr th:nth-child(7), .modal-index-table thead tr th:nth-child(8), .modal-index-table thead tr th:nth-child(9) {
  width: 103px;
}

.modal-index-table thead tr th:nth-child(1) {
  width: 90px;
}

.modal-index-table thead tr th:nth-child(2), .modal-index-table thead tr th:nth-child(3) {
  width: 80px;
}

.modal-index-table tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
}

.modal-index-table tbody tr {
  display: table;
  width: 100%;
}

.modal-index-table tbody tr td:nth-child(4), .modal-index-table tbody tr td:nth-child(5), .modal-index-table tbody tr td:nth-child(6), .modal-index-table tbody tr td:nth-child(7), .modal-index-table tbody tr td:nth-child(8), .modal-index-table tbody tr td:nth-child(9) {
  width: 102px;
}

.modal-index-table tbody tr td:nth-child(1) {
  width: 89px;
}

.modal-index-table tbody tr td:nth-child(2), .modal-index-table tbody tr td:nth-child(3) {
  width: 80px;
}

.label {
  padding: 0;
}

.label.sm-sig-label {
  display: block;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
}

.label.sm-sig-label.sig01 {
  background: #FB535F;
  color: #fff;
}

.label.sm-sig-label.sig02 {
  background: #4379EB;
  color: #fff;
}

.label.sm-sig-label.sig03 {
  border: 1px solid #CBCBCB;
  color: #999;
  line-height: 18px;
}

.label.sm-sig-label.sig04 {
  border: 1px solid #CBCBCB;
  color: #999;
  line-height: 18px;
}

.label.label-sm {
  display: inline-block;
  width: 56px;
  padding: 3px 5px 3px 5px;
  text-indent: 0;
  text-align: center;
  float: none;
  clear: left;
}

.label.label-sm.label-primary {
  background: #3e72ed;
  font-size: 13px;
  font-weight: 400;
}

.label.label-sm.label-danger {
  background: #FB535F;
  font-size: 13px;
  font-weight: 400;
}

.label.label-sm.label-default {
  background: #CBCBCB;
  font-size: 13px;
  font-weight: 400;
}

.modal-body strong span {
  font-size: 14px;
  color: #999;
  font-weight: 400;
  padding-left: 5px;
}

.tbl-more {
  display: block;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.tbl-more button {
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.tbl-more span {
  font-size: 14px;
  font-weight: 300;
  color: #666;
}

.sms_toggle .obj {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.sms.collapse {
  padding: 20px 0;
}

.sms.collapse span {
  display: block;
  width: 100%;
  min-height: 100px;
  line-height: 20px;
}
