.ui-widget.ui-widget-content {
  border: 1px solid #d9d9d9;
  padding: 8px;
}

.ui-menu {
  width: 100%;
  float: left;
}

.ui-menu .ui-menu-item-wrapper {
  padding: 0 14px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #999;
  font-weight: 300;
}

.ui-menu .ui-menu-item-wrapper em {
  float: left;
  color: #666;
  font-style: normal;
}

.ui-menu .ui-menu-item-wrapper em::first-letter {
  font-weight: 700;
  color: #447AEC;
}

.ui-menu .ui-menu-item-wrapper.ui-state-active, .ui-menu .ui-menu-item-wrapper.ui-state-focus {
  margin-left: 0;
  border: 0;
  color: #999;
  font-weight: 300;
  background: #f1f2f3;
}

.ui-menu .ui-menu-item-wrapper.ui-state-active em, .ui-menu .ui-menu-item-wrapper.ui-state-focus em {
  float: left;
  color: #666;
  font-style: normal;
}

.ui-menu .ui-menu-item-wrapper.ui-state-active em::first-letter, .ui-menu .ui-menu-item-wrapper.ui-state-focus em::first-letter {
  font-weight: 700;
  color: #447AEC;
}
