.constituentStocks__tabs {
  @include pill-tab-buttons;
  margin-top: 15px;
}

.constituentStocks__tab-content {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding-top: 20px;

  .chartBox {
    .chart,
    img {
      display: block;
      width: 100%;
    }
  }

  .itemList {
    padding-top: 20px;

    @include outline-more-button;
  }
}
