.item-dtl{
    display:block;
    padding:20px 0;
    width:100%;

    .txt{
        display:block;
        width:100%;
        font-size:16px;
        font-weight:700;
        line-height:20px;
        text-align:center;
    }

    .per{
        display:block;
        width:100%;
        background:#5368ff;
        border-radius: 5px;
        padding:15px 0;
        overflow:hidden;

        &>div{
            display:block;
            width:33%;
            float:left;

            &>span{
                display:block;
                width:100%;
                height:15px;
                line-height:15px;
                text-align: center;
                font-size:13px;
                color:#fff;
            }
            strong{
                display:block;
                width:100%;
                height:20px;
                line-height:20px;
                text-align: center;
                font-size:16px;
                color:#fff;

                &.up{
                    color:#FF4150;
                }

                span{
                    font-size:11px;
                    color:#fff;
                    font-weight:400;
                }
            }

            &:nth-child(2n){
                width:34%;
                border-left:1px solid #7B89FE;
                border-right:1px solid #7B89FE;
            }
        }
    }

    .guide{
        display:block;
        width:100%;
        font-size:13px;
        color:#999;
    }
}



.ai-dtl-box{
    display: block;
    width:100%;
    border:1px solid #ddd;
    border-radius: 5px;
    background:#fff;
    overflow:hidden;

    .itemTitle{
        display:block;
        width:100%;

        .name{
            font-size:13px;
            color:#000;
            font-weight:500;
        }
        .inum{
            font-size:11px;
            color:#999;
            margin-left:5px;
        }
    }

    .list-group{
        border:0;

        .list-group-item{
            display:flex;
            width:100%;
            justify-content: space-between;
            height:45px;
            line-height:45px;
            border:0;
            border-bottom:1px solid #e2e2e2;
            padding:0;
            margin:0;
            font-size:15px;
            color:#000;
            
            &:last-child{
                border-bottom:0;
            }

            span{
                display:block;

                .date{
                    color:#999;
                }

                &.date{
                    text-align:right;
                    min-width:40px;
                    color:#999;
                    font-size:13px;
                }
                &.corp{
                    text-align:right;
                    min-width:60px;
                    color:#999;
                    font-size:13px;
                }
            }
        }
    }

    .top{
        position: relative;
        display:block;
        width:100%;
        height:47px;
        float:left;
        padding:0 15px;

        .title{
            display:block;
            width:100%;
            height:47px;
            line-height:47px;
            float:left;
            font-size:16px;
        }
        .date{
            position: absolute;
            top:0;
            right:15px;
            height:47px;
            line-height: 47px;
            font-size:13px;
            color:#999;
        }

    }
    .con{
        display:block;
        width:100%;
        float:left;
        border-top:1px solid #ddd;
        padding:25px 15px;
    }
}

.textSlide{
    position:relative;
    display:block;
    width:100%;

    .carousel{

        padding-bottom:40px;

        .carousel-indicators{
            margin:0 !important;

            [data-bs-target]{
                padding:0;
                margin:0 5px;
                width:10px;
                height:10px;
                border-radius: 100%;
                background:#E5E6EC;
                border:0 !important;

                &.active{
                    background:#5368ff;
                }
            }
        }
    }
}

.timeLine{
    position: relative;
    width:100%;
    padding:27px 0;
    background:url(../img/bgTimeline.png) repeat-y 10px 0;
    

    .box{
        z-index:9;

        .title{
            display:block;
            width:100%;
            height:20px;
            line-height:20px;
            background-color: #fff;
            background-image:url(../img/bu_timeline.png);
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size:19px auto;
            padding-left:26px;
            font-size:14px;
            color:#000;
            margin-bottom:5px;
        }
        .list{
            display:block;
            width:100%;
            border-radius: 5px;
            background:#F5F5F9;
            margin-top:10px;
            padding:10px 15px;
            overflow:hidden;

            span{
                display:block;
                font-size:15px;
                line-height:20px;

                &.time{
                    color:#999;
                    float:left;
                }
                &.txt{
                    width:calc(100% - 45px);
                    color:#000;
                    float:right;
                }
            }
        }
    }
}

.alg-list{
    display:block;
    width:100%;
    overflow:hidden;

    .list{
        display:block;
        width:100%;
        overflow:hidden;

        .alg-name{
            display:inline-block;
            height:35px;
            line-height: 35px;
            border-radius: 35px;
            padding:0 15px;
            font-size:14px;
            color:#5368ff;
            border:1px solid #5368ff;
        }

        .info{
            display:block;
            width:100%;
            margin-top:10px;
            font-size:14px;
        }

        .per{
            display:block;
            width:100%;
            margin-top:10px;

            div{
                display:flex;
                flex-wrap: wrap;
                width:33%;
                height:47px;
                float:left;
                text-align:center;
                align-content: space-around;

                strong{
                    display:block;
                    width:100%;
                    font-size:20px;
                    font-weight:700;
                }

                span{
                    display:block;
                    width:100%;
                    font-size:12px;
                    color:#999;
                }

                &:nth-child(2n){
                    width:34%;
                    border-left:1px solid #D6D6D6;
                    border-right:1px solid #D6D6D6;
                }
            }
        }
    }
}