.rule-btn{
    position:absolute;
    top:22px;
    right:17px;

    button{
        display: block;
        width: 53px;
        height: 16px;
        line-height: 14px;
        padding: 0;
        border: 1px solid #d5d5d5;
        font-size: 11px;
        color: #999;
        border-radius: 16px;
        background: #fff;
    }
}