
.rdnItem-w{
    display:block;
    width:100%;
    padding:0 17px;

    &.bg-point{
        background:#F6F7F8;
    }

    &:first-child{
        .rdnItem{
            border-top:0;
            padding-top:0;
        }
    }
}
.rdnItem{
    display:flex;
    width:100%;
    padding:15px 0;
    border-top:1px solid #cacaca;
    align-items: center;
    overflow:hidden;

    .left{
        display:block;
        width:65%;
        float:left;

        &>div{
            display:block;
            width:100%;
            float:left;
        }

        .bullet{
            font-size:13px;
            color:#999;
            line-height:17px;
            height:17px;
        }

        .name{
            font-size:18px;
            color:#000;
            font-weight:700;
            height:22px;
            line-height:22px;

            &>span{
                display:block;
                float:left;
            }

            .circle-bullet{
                width:18px;
                height:18px;
                line-height:18px;
                border-radius: 100%;
                text-align:center;
                font-size:12px;
                color:#fff;
                margin-left:6px;
                margin-top:2px;

                &.bg-red{
                    background:#FF414F;
                }
            }
        }
        .info{
            min-height:18px;
            line-height:16px;
            font-size:14px;
            color:#000;
            padding-top:3px;
        }
        .tag{
            margin-top:10px;
            overflow:hidden;

            span{
                display:block;
                font-size:13px;
                color:#5368ff;
                float:left;
                padding-right:5px;

                &::before{
                    content:'#';
                }
            }
        }
    }
    .right{
        display:block;
        width:35%;
        text-align:right;
        float:left;

        &>div{
            display:block;
            width:100%;
            float:left;
        }

        .date{
            height:22px;
            line-height:22px;
            font-size:14px;
            color:#999;
        }
        .sellprice{
            height:22px;
            line-height:22px;
            font-size:14px;
            color:#000;
        }
        .per{
            height:22px;
            line-height:22px;
            font-size:14px;
        }
        .targetprice{
            height:22px;
            line-height:22px;
            font-size:14px;
            color:#000;
        }
    }
}
.rdn-btnbox{
    display:block;
    width:100%;
    text-align:center;

    button{
        margin:0 4px;
    }
}

.selectRdn{
    position:absolute;
    top:10px;
    right:17px;

    .form-select{
        font-size:13px;
    }

}