@charset "UTF-8";
.customer {
  display: block;
  width: 100%;
  overflow: hidden;
}
.customer .section_left {
  display: block;
  width: 630px;
  overflow: hidden;
  float: left;
}
.customer .section_right {
  display: block;
  width: 290px;
  overflow: hidden;
  float: right;
}
.customer .section_right .section_content:first-child {
  height: 292px;
}
.customer .btnbox {
  display: block;
  text-align: center;
  clear: both;
}
.customer .btnbox .btn {
  width: 180px;
  height: 40px;
  padding: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  border-radius: 40px;
  border: 0;
  outline: 0;
}
.customer .btnbox .btn-primary {
  background: #3e72ed;
  color: #fff;
}

.section_content {
  position: relative;
  display: block;
  width: 100%;
  min-height: 200px;
  padding-bottom: 50px;
  float: left;
}
.section_content .more {
  position: absolute;
  top: 0;
  right: 0;
}
.section_content .more a {
  font-size: 12px;
  font-weight: 300;
  color: #999;
}
.section_content ul {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section_content ul.svList li > a {
  border: 1px solid #3e72ed;
  color: #3e72ed;
  text-decoration: none;
}
.section_content ul.svList li > a:hover {
  background: #3e72ed;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}
.section_content ul.latest {
  display: block;
  margin-top: 12px;
}
.section_content ul.latest li {
  display: block;
  width: 100%;
  height: 24px;
  margin-top: 10px;
  float: left;
}
.section_content ul.latest li a {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  height: 24px;
  line-height: 24px;
  border: 0;
  font-size: 14px;
  font-weight: 300;
  color: #666;
}
.section_content ul.latest li a:hover {
  background: none;
  font-weight: 300;
  text-decoration: underline;
}
.section_content ul li {
  display: block;
  width: 196px;
  height: 50px;
  margin-top: 20px;
}
.section_content ul li a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 48px;
  text-align: center;
  float: left;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #666;
  text-decoration: none;
}
.section_content ul li a:hover {
  background: #f5f5f5;
  font-weight: 400;
}

.section_banner {
  display: flex;
  width: 100%;
  float: left;
  justify-content: space-between;
}

.customer .member_setting {
  display: block;
  width: 100%;
  float: left;
  padding-top: 125px;
  padding-bottom: 200px;
}
.customer .member_setting .title {
  display: block;
  width: 100%;
  text-align: center;
}
.customer .member_setting .title strong {
  display: inline-block;
  font-size: 40px;
  font-weight: 300;
  color: #333;
  height: 50px;
  line-height: 50px;
}
.customer .member_setting .title strong.idpw {
  padding-left: 60px;
  background: url(https://img.thinkpool.com/www/img/bu_idpw.png) no-repeat 0 50%;
}
.customer .member_setting .title strong.pw {
  padding-left: 60px;
  background: url(https://img.thinkpool.com/www/img/bu_pw.png) no-repeat 0 50%;
}
.customer .member_setting .title strong.mem {
  padding-left: 60px;
  background: url(https://img.thinkpool.com/www/img/bu_mem.png) no-repeat 0 50%;
}
.customer .member_setting .title strong.wrl {
  padding-left: 60px;
  background: url(https://img.thinkpool.com/www/img/bu_wrl.png) no-repeat 0 100%;
}
.customer .member_setting .title strong.rpt {
  padding-left: 60px;
  background: url(https://img.thinkpool.com/www/img/bu_rpt.png) no-repeat 0 100%;
}
.customer .member_setting .top_txt {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 80px;
}
.customer .member_setting .top_txt strong {
  display: block;
  font-size: 22px;
  font-weight: 500;
  width: 100%;
}
.customer .member_setting .top_txt strong span {
  font-weight: 500;
}
.customer .member_setting .top_txt > span {
  display: block;
  padding-top: 40px;
  font-size: 16px;
  line-height: 26px;
  color: #666;
  font-weight: 300;
  width: 100%;
}
.customer .member_setting .top_txt > span em {
  font-style: normal;
}
.customer .member_setting .top_txt .txt {
  display: block;
  padding-top: 40px;
  font-size: 16px;
  line-height: 30px;
  color: #666;
  font-weight: 300;
  width: 100%;
}
.customer .member_setting .top_txt .txt a {
  text-decoration: underline;
}
.customer .member_setting .btnbox {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
}
.customer .member_setting .btnbox p {
  padding: 20px 0 60px 0;
  text-align: center;
  font-size: 14px;
  color: #666;
  font-weight: 300;
}
.customer .member_setting .btnbox .btn {
  width: 140px;
  height: 40px;
  line-height: 40px;
  border: 0;
  padding: 0;
  text-align: center;
  float: none;
  font-size: 16px;
  font-weight: 300;
  border-radius: 40px;
  margin: 20px 10px;
}
.customer .member_setting .btnbox .btn-long {
  width: 180px;
}
.customer .member_setting .btnbox .btn:focus {
  outline: 0;
}
.customer .member_setting .btnbox .btn-primary {
  background: #3e72ed;
  color: #fff;
}
.customer .member_setting .btnbox .btn-default {
  background: #ebebeb;
  color: #666;
}
.customer .member_setting .complete_massage {
  display: block;
  width: 100%;
  float: left;
}
.customer .member_setting .complete_massage strong {
  display: block;
  text-align: center;
  font-size: 22px;
  color: #333;
  font-weight: 500;
}
.customer .member_setting .complete_massage span {
  display: block;
  padding-top: 30px;
  font-size: 16px;
  font-weight: 300;
  color: #666;
  line-height: 36px;
  text-align: center;
}
.customer .member_setting .complete_massage span em {
  font-style: normal;
}
.customer .member_setting .user_input {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding-top: 90px;
  text-align: center;
  clear: both;
}
.customer .member_setting .user_input p {
  font-size: 14px;
  color: #666;
  font-weight: 300;
}
.customer .member_setting .user_input form {
  display: inline-block;
  width: 450px;
  text-align: center;
}
.customer .member_setting .user_input form .form-group {
  position: relative;
  display: block;
  width: 100%;
  min-height: 60px;
  padding: 10px 0;
  margin: 0;
  text-align: left;
  float: left;
  border-bottom: 1px solid #000;
}
.customer .member_setting .user_input form .form-group.clause {
  display: none;
}
.customer .member_setting .user_input form .form-group textarea {
  display: block;
  width: calc(100% - 175px);
  min-height: 40px;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
  box-shadow: none;
  color: #787878;
  font-weight: 400;
}
.customer .member_setting .user_input form .form-group #ViewTimer {
  position: absolute;
  display: none;
  top: 10px;
  right: 130px;
  font-size: 13px;
  color: #333;
  font-weight: 500;
}
.customer .member_setting .user_input form .form-group .title {
  display: block;
  width: 165px;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  font-weight: 300;
  float: left;
  text-indent: 5px;
  text-align: left;
}
.customer .member_setting .user_input form .form-group input[type=text], .customer .member_setting .user_input form .form-group input[type=password] {
  display: block;
  width: calc(100% - 175px);
  height: 40px;
  float: left;
  border: 0;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 16px;
  box-shadow: none;
  color: #787878;
  font-weight: 400;
}
.customer .member_setting .user_input form .form-group input[type=text].pnum, .customer .member_setting .user_input form .form-group input[type=password].pnum {
  width: calc(100% - 275px);
}
.customer .member_setting .user_input form .form-group input[type=text]:focus, .customer .member_setting .user_input form .form-group input[type=password]:focus {
  border: 0;
  outline: 0;
  box-shadow: 0 0 6px rgba(62, 114, 237, 0.8);
}
.customer .member_setting .user_input form .form-group input[type=text]::placeholder, .customer .member_setting .user_input form .form-group input[type=password]::placeholder {
  font-size: 14px;
  color: #999;
  font-weight: 300;
}
.customer .member_setting .user_input form .form-group input[type=text]:disabled, .customer .member_setting .user_input form .form-group input[type=password]:disabled {
  background: none;
  font-weight: 300;
  color: #3e72ed;
}
.customer .member_setting .user_input form .form-group button {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 94px;
  height: 40px;
  line-height: 36px;
  border-radius: 5px;
  border: 1px solid #3e72ed;
  color: #3e72ed;
  font-weight: 300;
  font-size: 14px;
  background: #fff;
}
.customer .member_setting .user_input form .form-group button:hover, .customer .member_setting .user_input form .form-group button.active {
  background: #3e72ed;
  color: #fff;
  font-weight: 400;
}
.customer .member_setting .user_input form .form-group .txt {
  display: block;
  width: calc(100% - 175px);
  float: right;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  font-weight: 300;
}
.customer .member_setting .user_input form .form-group .txt em {
  font-style: normal;
}
.customer .member_setting .user_input form .form-group .agcheck {
  width: 137px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  font-weight: 300;
  float: left;
  padding-left: 50px;
  box-sizing: border-box;
}
.customer .member_setting .user_input form .form-group .agcheck input[type=radio] {
  margin-top: 15px;
}
.customer .member_setting .user_input form .btn {
  width: 140px;
  height: 40px;
  line-height: 40px;
  border: 0;
  padding: 0;
  text-align: center;
  margin-top: 60px;
  float: none;
  font-size: 16px;
  font-weight: 300;
  border-radius: 40px;
}
.customer .member_setting .user_input form .btn:focus {
  outline: 0;
}
.customer .member_setting .user_input form .btn-primary {
  background: #3e72ed;
  color: #fff;
}

.idlist {
  width: 450px;
  margin: 0 auto;
}
.idlist p {
  font-size: 16px;
  color: #666;
  font-weight: 300;
}

.clause_box {
  display: block;
  padding-top: 60px;
}
.clause_box .title {
  display: block;
  padding-bottom: 60px;
}
.clause_box .title strong {
  display: block;
  font-size: 40px;
  color: #333;
  font-weight: 300;
}
.clause_box .title span {
  display: block;
  padding-top: 40px;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}
.clause_box article {
  display: block;
  padding-bottom: 40px;
}
.clause_box article .tit {
  display: block;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.clause_box article .con {
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #666;
  font-weight: 400;
  white-space: pre-wrap;
  letter-spacing: -0.05em;
}

.clause_w {
  display: block;
  width: 100%;
  overflow: hidden;
  float: left;
}

.clause_w .top {
  display: block;
  float: left;
}

.clause_w .box {
  padding: 70px;
  display: block;
  width: 100%;
  float: left;
}
.clause_w .box.box-w {
  padding-bottom: 40px;
}
.clause_w .box.box-w .left {
  display: block;
  width: 100%;
  float: left;
  margin-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
  background: url(https://img.thinkpool.com/www/img/sub/customer/box01.png) no-repeat 100% 5px;
}
.clause_w .box.box-w .left strong {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #333;
}
.clause_w .box.box-w .left span {
  display: block;
  padding-top: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #666;
  font-weight: 300;
}
.clause_w .box.box-w .right {
  display: block;
  width: 100%;
  padding: 40px 0;
  float: left;
  background: url(https://img.thinkpool.com/www/img/sub/customer/box02.png) no-repeat 0 20px;
  text-align: right;
}
.clause_w .box.box-w .right strong {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #333;
}
.clause_w .box.box-w .right span {
  display: block;
  padding-top: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #666;
  font-weight: 300;
}
.clause_w .box.box-g {
  padding: 40px 70px;
  background: #FAFAFC;
}
.clause_w .box.box-g .left {
  display: block;
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
  background: url(https://img.thinkpool.com/www/img/sub/customer/box03.png) no-repeat 100% 0;
}
.clause_w .box.box-g .left strong {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #333;
}
.clause_w .box.box-g .left span {
  display: block;
  padding-top: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #666;
  font-weight: 300;
}
.clause_w .box.box-g .right {
  display: block;
  width: 100%;
  padding: 40px 0;
  float: left;
  background: url(https://img.thinkpool.com/www/img/sub/customer/box04.png) no-repeat 0 20px;
  text-align: right;
}
.clause_w .box.box-g .right strong {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #333;
}
.clause_w .box.box-g .right span {
  display: block;
  padding-top: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #666;
  font-weight: 300;
}
.clause_w .box .box-title-bullet {
  display: block;
  width: 130px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #7773F7;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.price_w {
  display: block;
  width: 100%;
  padding: 0 33px;
}

.price_w .top {
  display: block;
  width: 100%;
  overflow: hidden;
  padding-bottom: 60px;
  border-bottom: 1px solid #eaeaea;
  float: left;
}
.price_w .top .box {
  display: block;
  float: left;
}
.price_w .top .box .tit {
  display: block;
  font-size: 18px;
  color: #333;
  font-weight: 700;
}
.price_w .top .box .tit span {
  color: #7874F7;
}
.price_w .top .box .txt {
  display: block;
  padding-top: 20px;
}
.price_w .top .box .txt span {
  display: block;
  font-size: 15px;
  height: 20px;
  line-height: 25px;
  color: #666;
}
.price_w .top .box .txt span em {
  font-style: normal;
  color: #3e72ed;
  font-weight: 300;
}
.price_w .top .box .txt span::before {
  content: "·";
  padding-right: 5px;
}
.price_w .top button {
  display: block;
  float: right;
  margin: 45px 95px 0 0;
  width: 250px;
  height: 70px;
  text-align: center;
  border: 0;
  background: #3e72ed;
  border-radius: 5px;
}
.price_w .top button strong {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.price_w .top button span {
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  padding-top: 5px;
}

.price_w .btm {
  display: block;
  width: 100%;
  overflow: hidden;
  float: left;
  padding-top: 60px;
}
.price_w .btm .box {
  display: block;
  float: left;
  margin-bottom: 60px;
}
.price_w .btm .box .tit {
  display: block;
  font-size: 18px;
  color: #333;
  font-weight: 700;
}
.price_w .btm .box .tit span {
  color: #7874F7;
}
.price_w .btm .box .gbox {
  display: block;
  width: 100%;
  float: left;
  margin-top: 20px;
}
.price_w .btm .box .gbox .left .cont, .price_w .btm .box .gbox .right .cont {
  width: 389px;
  height: 186px;
  background: #f5f5f5;
  border-radius: 5px;
  padding: 30px;
}
.price_w .btm .box .gbox .left .cont strong, .price_w .btm .box .gbox .right .cont strong {
  display: block;
  font-size: 18px;
  color: #333;
  font-weight: 700;
  padding-bottom: 15px;
}
.price_w .btm .box .gbox .left .cont span, .price_w .btm .box .gbox .right .cont span {
  position: relative;
  display: block;
  font-size: 15px;
  color: #666;
  font-weight: 300;
  line-height: 23px;
  padding-left: 10px;
}
.price_w .btm .box .gbox .left .cont span::before, .price_w .btm .box .gbox .right .cont span::before {
  content: "·";
  position: absolute;
  top: 0;
  left: 0;
}
.price_w .btm .box .gbox .right .cont {
  float: right;
}
.price_w .btm .box .gbox .right::before {
  content: "+";
  height: 186px;
  line-height: 186px;
  font-size: 96px;
  font-weight: 700;
  color: #b3b3b3;
  float: left;
  padding: 0 28px;
  background: #fff;
}
.price_w .btm button {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 70px;
  text-align: center;
  border: 0;
  background: #3e72ed;
  border-radius: 5px;
}
.price_w .btm button strong {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.price_w .btm button span {
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  padding-top: 5px;
}

.c_qna .panel-default {
  width: 100%;
  margin-bottom: 0;
  float: left;
  margin-top: 0 !important;
}

.c_qna .panel-default .panel-collapse .panel-body {
  background: #FAFAFC;
  padding: 0 40px 40px;
}
.c_qna .panel-default .panel-collapse .panel-body::before {
  content: "A";
  display: block;
  float: left;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #666;
  padding-top: 3px;
}
.c_qna .panel-default .panel-collapse .panel-body span {
  display: block;
  max-width: 810px;
  float: left;
}

.c_qna .panel-default .panel-heading .panel-title {
  padding: 0;
}

.c_qna .panel-default .panel-heading .panel-title a.collapsed {
  background: none;
}

.c_qna .panel-default .panel-heading .panel-title a {
  display: block;
  background: #FAFAFC;
  padding: 20px 40px 25px 40px;
}
.c_qna .panel-default .panel-heading .panel-title a span::after {
  background: none;
}
.c_qna .panel-default .panel-heading .panel-title a span::before {
  content: "Q";
  padding-right: 15px;
}

.c-nav {
  display: block;
  width: 100%;
}
.c-nav .nav-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 0;
}
.c-nav .nav-tabs li {
  margin: 0 20px;
}
.c-nav .nav-tabs li a {
  font-size: 20px;
  border: 0;
  border-radius: 0;
  color: #333;
  padding: 0;
}
.c-nav .nav-tabs li a:hover, .c-nav .nav-tabs li a:focus, .c-nav .nav-tabs li a:visited {
  background: none;
  border: 0;
}
.c-nav .nav-tabs li.active a {
  color: #3e72ed;
  border-bottom: 1px solid #3e72ed;
}

@media (max-width: 720px) {
  .item_board_nav .nav {
    border-bottom: 0;
  }
  .item_board_nav .nav li {
    width: 33.3333333333%;
    margin-left: -1px;
  }
  .item_board_nav .nav li:first-child, .item_board_nav .nav li:nth-child(4n) {
    margin-left: 0;
  }
  .item_board_nav .nav li a {
    border-right: 1px solid #d6d6d6 !important;
    font-size: 36px;
    height: 104px;
    line-height: 104px;
  }
  .c-nav .nav li a {
    font-size: 36px;
    letter-spacing: -0.075em;
  }
  .customer .member_setting .title strong {
    font-size: 52px;
  }
  .customer .member_setting .title span {
    font-size: 36px;
  }
  .clause_box article .tit {
    font-size: 36px;
  }
  .clause_box article .con {
    font-size: 36px;
    line-height: 56px;
  }
}