@charset "UTF-8";
.usa-issue_stockContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.usa-issue_stockContent .stockContent_title {
  display: flex;
  height: 30px;
  align-items: center;
  gap: 10px;
}
.usa-issue_stockContent .stockContent_title .tit {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
}
.usa-issue_stockContent .stockContent_title .tit strong {
  color: #333;
}
.usa-issue_stockContent .stockContent_title .tit strong em {
  color: #447aec;
  font-style: normal;
}
.usa-issue_stockContent .stockContent_title .rate {
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
}
.usa-issue_stockContent .stockContent_title .rate.up {
  background: #ffdddd;
}
.usa-issue_stockContent .stockContent_title .rate.up span {
  color: #fc2f2f;
}
.usa-issue_stockContent .stockContent_title .rate.dn {
  background: #c2d2f8;
}
.usa-issue_stockContent .stockContent_title .rate.dn span {
  color: #1e56d1;
}
.usa-issue_stockContent .stockContent_summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  background: #f8f9fa;
  gap: 14px;
  padding: 30px 24px;
}
.usa-issue_stockContent .stockContent_summary strong {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; /* 120% */
}
.usa-issue_stockContent .stockContent_summary > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.usa-issue_stockContent .stockContent_summary > div span {
  font-size: 15px;
  color: #333;
}
.usa-issue_stockContent .stockContent_summary > div span::before {
  content: "·";
  padding-right: 5px;
}

.stockContent_reason {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.stockContent_reason .stockContent_reason_title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.stockContent_reason .stockContent_reason_title .tit {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}
.stockContent_reason .stockContent_reason_title .tit strong {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; /* 125% */
}
.stockContent_reason .stockContent_reason_title .tit em {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  padding-top: 3px;
}
.stockContent_reason .stockContent_reason_title > em {
  color: #999;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
}
.stockContent_reason .stockContent_reason_table table tbody tr td .itemName {
  width: 100%;
  gap: 2px;
}
.stockContent_reason .stockContent_reason_table table tbody tr td .itemName a {
  font-size: 15px;
  color: #666;
}
.stockContent_reason .stockContent_reason_table table tbody tr td .itemName a span {
  color: #141414;
}
.stockContent_reason .stockContent_reason_table table tbody tr td .rate {
  width: 100%;
  text-align: right;
  font-size: 15px;
}
.stockContent_reason .stockContent_reason_table table tbody tr td .rate.up {
  color: #F04C59;
}
.stockContent_reason .stockContent_reason_table table tbody tr td .rate.dn {
  color: #1E56D1;
}
.stockContent_reason .stockContent_reason_table table tbody tr td .reason {
  display: block;
  width: 100%;
  max-width: 317px;
}
.stockContent_reason .stockContent_reason_table table tbody tr td .reason a {
  display: inline-block;
}
.stockContent_reason .stockContent_reason_table table tbody tr td .tag {
  display: block;
  width: 100%;
  max-width: 237px;
}
.stockContent_reason .stockContent_reason_table table tbody tr td .tag a {
  display: inline-block;
}
