@use "../tools" as *;

.fraud-board {
  .board-write {
    .obj {
      border: 1px solid tp-color(text-muted);
    }
    textarea {
      border: 1px solid tp-color(text-muted);
      padding: 12px;
    }
    .board-checkbox {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      margin-bottom: 7px;

      input[type="checkbox"].checkbox-board {
        display: none !important;
      }
      input[type="checkbox"].checkbox-board + label {
        display: inline-block;
        padding-left: 30px;
        height: 22px;
        line-height: 22px;
        background: url(../img/board-checkbox.png) no-repeat 0 0;
        background-size: 22px auto;
        font-size: 14px;
        color: tp-color(ink);
        font-weight: 400;
        line-height: 22px;
      }
      input[type="checkbox"].checkbox-board:checked + label {
        display: inline-block;
        padding-left: 30px;
        height: 22px;
        line-height: 22px;
        background: url(../img/board-checkbox_check.png) no-repeat 0 0;
        background-size: 22px auto;
        font-size: 14px;
        color: tp-color(ink);
        font-weight: 400;
        line-height: 22px;
      }

      label {
        color: #444;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }
    .board-radio {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 14px;
      margin-bottom: 15px;

      input[type="text"] {
        width: calc(100% - 147px);
      }
      .board-radio-group {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;

        .board-radio-input {
          input[type="radio"].radio-board {
            display: none !important;
          }
          input[type="radio"].radio-board + label {
            display: inline-block;
            padding-left: 30px;
            height: 22px;
            line-height: 22px;
            background: url(../img/exp-rdo.png) no-repeat 0 0;
            background-size: 22px auto;
            font-size: 14px;
            color: tp-color(ink);
            font-weight: 400;
            line-height: 22px;
          }
          input[type="radio"].radio-board:checked + label {
            display: inline-block;
            padding-left: 30px;
            height: 22px;
            line-height: 22px;
            background: url(../img/exp-rdo_check.png) no-repeat 0 0;
            background-size: 22px auto;
            font-size: 14px;
            color: tp-color(ink);
            font-weight: 400;
            line-height: 22px;
          }

          label {
            color: #444;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
          }
        }
      }
    }
    .caution {
      width: 100%;
      margin-bottom: 15px;
      font-size: 13px;
      font-weight: 500;
      color: #444;
      line-height: 20px;
    }
  }
}
