#wrap #container .feature div.feature-head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 22px;
}
#wrap #container .feature div.feature-head h3 {
  font-size: 16px;
  margin: 0;
  line-height: 20px;
  font-weight: 700;
}
#wrap #container .feature div.feature-head h3 span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #5368ff;
}
#wrap #container .feature div.feature-head button {
  position: absolute;
  right: 0;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #999;
}
#wrap #container .feature .modal .modal-dialog {
  padding: 0px 17px;
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
}
#wrap #container .feature .modal .modal-dialog .modal-content {
  border: none;
  padding: 40px 30px;
  border-radius: 16px;
}
#wrap #container .feature .modal .modal-dialog .modal-content button.btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
}
#wrap #container .feature .modal .modal-dialog .modal-content div .modal-title {
  font-size: 16px;
  font-weight: 700;
  color: #070910;
  margin-bottom: 15px;
}
#wrap #container .feature .modal .modal-dialog .modal-content div .modal-sub {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
#wrap #container .feature .modal .modal-dialog .modal-content div .modal-sub2 .sub2-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f6fa;
  border-radius: 6px;
  padding: 6px 12px;
  margin-bottom: 5px;
}
#wrap #container .feature .modal .modal-dialog .modal-content div .modal-sub2 .sub2-box div.sub2-box-name {
  width: calc(100% - 133px);
  font-size: 16px;
  font-weight: 400;
  color: #070910;
}
#wrap #container .feature .modal .modal-dialog .modal-content div .modal-sub2 .sub2-box div.sub2-box-name em {
  color: #999;
  font-size: 13px;
}
#wrap #container .feature .modal .modal-dialog .modal-content div .modal-sub2 .sub2-box div span {
  font-weight: 500;
  font-size: 13px;
  color: #999;
}
#wrap #container .feature .modal .modal-dialog .modal-content div .modal-sub2 .sub2-box div strong {
  font-size: 16px;
  font-weight: 700;
  color: #fc525b;
}
#wrap #container .feature .feature-body {
  padding: 0px 17px;
}
#wrap #container .feature .feature-body .feature-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 15px;
  background: #f7f7f7;
  border-radius: 12px;
  margin-bottom: 10px;
}
#wrap #container .feature .feature-body .feature-box .feabox-left {
  width: 74%;
}
#wrap #container .feature .feature-body .feature-box div {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
#wrap #container .feature .feature-body .feature-box div div span {
  color: #999;
  font-weight: 400;
}
#wrap #container .feature .feature-body .feature-box div .feabox-bot {
  font-weight: 400;
  font-size: 13px;
}
#wrap #container .feature .feature-body .feature-box .feabox-right {
  width: 20%;
}
#wrap #container .feature .feature-body .feature-box .feabox-right .feabox-right-txt {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  float: right;
}
#wrap #container .feature .feature-body .feature-box .feabox-right .feabox-right-txt span {
  font-weight: 700;
  display: block;
  color: #fff;
  border-radius: 6px;
  padding: 6px 0;
  width: 70px;
  background: #cbcbcb;
}
#wrap #container .feature .feature-body .feature-box .feabox-right .feabox-right-txt span em {
  font-weight: 400;
}

.swiper-slide .feature-box:last-child {
  margin-bottom: 0 !important;
}

.up-bg {
  background: #ff4150 !important;
}

.down-bg {
  background: #5367ff !important;
}
