.gblbox {
  display: block;
  width: 100%;
  float: left;
  padding-bottom: 30px;
}

.infoguide {
  display: flex;
  width: 100%;
  padding: 4px;
  background: #f8f5ec;
  gap: 5px;
  justify-content: center;

  span {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    font-family: "inter";
    font-style: normal;
    letter-spacing: -0.25px;
    font-weight: 400;

    em {
      color: #10a37f;
    }
  }
}

.infocontent {
  display: block;
  width: 100%;
  float: left;
  margin-top: 20px;

  border-top: 1px solid #7abaaa;
  border-bottom: 1px solid #7abaaa;
  background: #f7f7f8;

  padding: 15px 8px 15px 13px;

  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  color: #333;
}
