.btn-img {
  border: 0;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff;
  text-indent: -9999em;
}

.topSch {
  display: block;
  width: calc(100% - 72px);
  height: 20px;
}
.topSch .input-group input {
  width: calc(100% - 40px);
  height: 20px;
  border: 0;
  font-size: 15px;
  padding: 0 10px 0 40px;
  background: none;
}
.topSch .input-group input:active, .topSch .input-group input:focus {
  outline: 0 !important;
  border: 0 !important;
}
.topSch .input-group input::placeholder {
  color: #cacaca;
}

.schButton {
  display: block;
  width: 20px;
  height: 20px;
  background: url(https://img.thinkpool.com/www/mobile/img/ico-sch.svg) no-repeat 0 0;
  margin-top: -1px !important;
  float: left;
}

@media (min-width: 719px) {
  body ul#autoComplete_list_1 {
    left: 50% !important;
    max-width: 700px;
    margin-left: -350px;
  }
}