.fraud-category {
  width: 100%;
  padding: 20px 20px 50px;
}
.fraud-category .category-title {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #363ede;
  line-height: 25px;
  margin-bottom: 20px;
}
.fraud-category .category-subtitle {
  color: #141414;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
.fraud-category .category-box .category-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  margin-bottom: 20px;
}
.fraud-category .category-box .category-list:last-child {
  margin-bottom: 0;
}
.fraud-category .category-box .category-list .list-title {
  width: 100%;
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #141414;
  font-size: 16px;
  font-weight: 700;
  line-height: 31px;
}
.fraud-category .category-box .category-list .list-title button {
  padding: 4px 13px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #363EDE;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #363ede;
}
.fraud-category .category-box .category-list .list-box {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  background: #F4F4F4;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.fraud-category .category-video {
  width: 100%;
  margin-top: 40px;
}
.fraud-category .category-video iframe {
  width: 100%;
  min-height: 250px;
  border-radius: 10px;
}

.sampleModal {
  width: 100%;
  padding: 0px 10px !important;
}
.sampleModal .modal-content {
  width: 100%;
  border-radius: 16px;
  border: none;
}
.sampleModal .modal-content .modal-header {
  width: 100%;
  border: none;
  background: #dad9ff;
  border-radius: 16px 16px 0px 0px;
  padding: 13px 20px;
  color: #141414;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.sampleModal .modal-content .modal-body {
  width: 100%;
  padding: 10px 10px 25px;
}
.sampleModal .modal-content .modal-body .sample-title {
  width: 100%;
  margin: 20px 0px 12px;
  color: #141414;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
.sampleModal .modal-content .modal-body .sample-box {
  width: 100%;
  padding: 16px;
  background: #f4f4f4;
  border-radius: 16px;
}
.sampleModal .modal-content .modal-body .sample-box .sample-list {
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
}
.sampleModal .modal-content .modal-body .sample-box .sample-list:last-child {
  margin-bottom: 0;
}
.sampleModal .modal-content .modal-body .sample-box .sample-list .list-num {
  min-width: 25px;
  min-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #ffc0c0;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}
.sampleModal .modal-content .modal-body .sample-box .sample-list .list-txt {
  color: #444;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}
.sampleModal .modal-content .modal-body .sample-box .sample-notice {
  width: 100%;
  margin-top: 7px;
}
.sampleModal .modal-content .modal-body .sample-box .sample-notice .notice-title {
  width: 100%;
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 3px;
}
.sampleModal .modal-content .modal-body .sample-box .sample-notice .notice-txt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  color: #ed2b2b;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.sampleModal .modal-content .modal-body .sample-box .more-title {
  width: 100%;
  color: #141414;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding-top: 7px;
  margin-bottom: 3px;
}
.sampleModal .modal-content .modal-body .sample-box .more-txt {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 6px;
}
.sampleModal .modal-content .modal-body .sample-box .more-txt:last-child {
  margin-bottom: 0;
}
.sampleModal .modal-content .modal-body .closeBtn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #999;
  background: #FFF;
  color: #444;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 20px;
}
.sampleModal .modal-content .modal-body .body-txt {
  width: 100%;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 30px;
}
.sampleModal .modal-content .modal-body .smsimg-box {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sampleModal .modal-content .modal-body .smsimg-box img {
  width: 100%;
}
.sampleModal .modal-content .modal-body .modal-img img {
  width: 100%;
}
.sampleModal .modal-content .modal-body .modal-txt {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.sampleModal .modal-content .modal-body .modal-video iframe {
  width: 100%;
  min-height: 250px;
  border-radius: 10px;
}
