.fraud-manager {
  width: 100%;
  padding: 20px 20px 50px;
}
.fraud-manager .manager-title {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #363ede;
}
.fraud-manager .manager-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.fraud-manager .manager-btn button {
  width: 100%;
  padding: 12px 10px 12px 30px;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #E1E1E1;
  background: #fff;
}
.fraud-manager .manager-btn button strong {
  display: block;
  margin-bottom: 4px;
  color: #141414;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
.fraud-manager .manager-btn button span {
  display: block;
  color: #444;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
