@use "../tools" as *;

@import "../variable.scss";
//item
#myItem {
  display: block;
  width: 100%;
  padding: 11px 17px;
  overflow-y: hidden;
  overflow-x: auto;

  .myItemList {
    display: inline-flex;
    min-width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .myItemBox {
    height: 73px;
    border: 1px solid #d5d5d5;
    border-radius: tp-radius(lg);
    margin-right: 10px;
    float: left;

    &:last-child {
      margin-right: 0;
    }

    &.title {
      display: flex;
      width: 84px;
      background: tp-color(primary-legacy);
      border: 0;
      text-align: Center;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px 0;

      strong {
        display: block;
        width: 100%;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
      }

      span {
        display: block;
        width: 100%;
        font-size: 13px;
        color: #fff;
        background: url(#{$imgUrlSv}/bu_item_title.png) no-repeat right 50%;
        background-size: 5px auto;
        padding: 0 7px;
      }
    }
    &.item {
      position: relative;
      display: flex;
      width: 84px;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px 12px;

      &-lg {
        width: 95px !important;
      }
      &-xlg {
        width: 125px !important;
      }
      &-null {
        width: calc(100% - 95px);
      }

      span {
        display: block;
        width: 100%;

        &.name {
          line-height: 15px;
          height: 15px;
          font-size: 13px;
          color: #000;
        }
        &.price {
          line-height: 22px;
          height: 22px;
          font-size: 16px;
          color: #000;
          font-weight: 700;
          margin-top: 3px;
        }
        &.per {
          line-height: 15px;
          height: 15px;
          font-size: 13px;
          font-weight: 700;
        }
        &.und {
          line-height: 15px;
          height: 15px;
          font-size: 13px;
          font-weight: 700;
        }
        &.fav {
          position: absolute;
          bottom: 9px;
          right: 5px;
          width: 13px;
          height: 13px;
          em {
            display: block;
            width: 100%;
            height: 13px;
            float: left;
            background: url(#{$imgUrlSv}/itemFav.png) no-repeat 0 0;
            background-size: cover;
          }
          &.active {
            em {
              background: url(#{$imgUrlSv}/itemFavOn.png) no-repeat 0 0;
              background-size: cover;
            }
          }
        }

        &.null {
          font-size: 13px;
          color: tp-color(text-muted);
        }
      }
    }
  }
}
