@charset "UTF-8";
.alarmlist {
  display: block;
  width: 100%;
}
.alarmlist > span {
  display: block;
  font-size: 14px;
  color: #999;
  padding-bottom: 5px;
}
.alarmlist > span::before {
  content: "·";
  color: #999;
  padding-right: 5px;
}
.alarmlist > div {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #d5d5d5;
}
.alarmlist > div.up .date {
  background: #FF414F;
}
.alarmlist > div.dn .date {
  background: #5367FF;
}
.alarmlist > div .tit {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.alarmlist > div .tit .date {
  font-size: 13px;
  color: #fff;
  display: block;
  width: 49px;
  height: 24px;
  line-height: 24px;
  border-radius: 24px;
  text-align: center;
  margin-right: 6px;
}
.alarmlist > div .tit .name {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-right: 5px;
}
.alarmlist > div .tit .cls {
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.alarmlist > div .cont {
  display: block;
  margin-top: 15px;
  padding-left: 55px;
  font-size: 15px;
  color: #000;
  line-height: 21px;
}
.alarmlist .shorcutBtn {
  background: none;
  padding: 0;
  border: 0;
}
