@import '../variable.scss';

.swp-guide{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top:0;
    left:0;
    width:100%;
    height:120px;
    z-index:10;
    background:rgba(246, 246, 246, 0.9);
    transition: .5s;

    img{
        margin-top:20px;
    }

    .gde-close{
        position:absolute;
        top:9px;
        right:20px;
        font-weight:700;
        color:#000;
        font-size:20px;
    }
}

.cdnSwiper{
    position: relative;
    display:block;
    width:100%;
    overflow:hidden;
    background:#DADFF2;
}

.itemCdn{
    position:relative;
    display:flex;
    width:100%;
    background:#DADFF2;
    flex-wrap:wrap;
    padding:20px 17px;

    &.vertical{
        .name{
            span{
                display:block;
                width:auto;
                border:0;
                background:none;
                line-height:18px;
                padding:0 5px;
                color:#000;
                font-weight:700;
            }
        }
        .more{
            position:absolute;
            top:20px;
            right:17px;

            a{
                font-size:14px;
                color:#7F8EB1;
                float:left;

                span{
                    display:block;
                    float:left;
                }

                &::after{
                    content:'';
                    border-top:1px solid #7F8EB1;
                    border-right:1px solid #7F8EB1;
                    width:6px;
                    height:6px;
                    transform: rotate(45deg);
                    display:block;
                    float:left;
                    margin-top:7px;
                    margin-left:5px;
                }
            }
        }
        .cont{
            padding:0;

            .swiper-wrapper{
                .swiper-slide{
                    div{
                        display:block;
                        width:100%;

                        em{
                            font-size:16px;
                            color:#7f8eb1;
                        }
                        span{
                            font-size:16px;
                            color:#000;
                            padding-left:5px;
                        }
                    }
                }
            }
        }
    }
    .name{
        display:block;
        width:100%;
        overflow:hidden;

        strong{
            display:block;
            height:20px;
            line-height:20px;
            font-size:16px;
            color:#3C67CD;
            font-weight:700;
            float:left;
            padding-right:3px;
        }

        span{
            display:inline-block;
            width:20px;
            height:20px;
            border-radius: 100%;
            border:1px solid #5568FD;
            background:#fff;
            color:#7290D8;
            text-align:center;
            padding:2px 0 3px 0;
            float:left;

            
            svg{
                vertical-align: top;
            }
        }
    }
    .cont{
        display:block;
        width:100%;
        height:50px;
        padding:0 50px 0 0;
        margin-top:10px;
        overflow:hidden;

        .swiper-wrapper{
            display:block;
            width:100%;
            height:100%;

            .swiper-slide{
                display:block !important;
                width:100%;
            }
        }

        .txt{
            font-size:15px;
            font-weight:500;
            color:#000;
        }
        .txt2{
            font-size:15px;
            color:#999;
        }
        .info{
            font-size:15px;
            
            .date{
                color:#999;
            }
        }
        .per{
            strong{
                font-size:20px;
                font-weight:700;
            }
            span{
                font-size:15px;
                font-weight:400;
            }
        }
    }
    .sttg{
        position:absolute;
        top:50%;
        right:17px;
        margin-top:-15px;
        border:0;
        padding:6px;

        width:30px;
        height:30px;
        border-radius: 100%;
        background:#BEC7E8;
        color:#1D3B6D;
        text-align:center;

        svg{
            float:left;
        }
    }

}

