//signal
.s_signal{
    .result{
        display:flex;
        justify-content: space-around;
        width:100%;
        padding:25px 0 10px 0;

        .s_result{
            display:flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            width:120px;
            height:120px;
            border-radius: 100%;

            &:last-child{
                border:1px solid #5368FF;
                color:#5368FF;
                margin-right:10px;
            }
            &:first-child{
                border:1px solid #FF4150;
                color:#FF4150;
                margin-left:10px;
                
            }
            span{
                display:block;
                width:100%;
                text-align:center;

                &.sig{
                    font-size:16px;
                }
                &.amount{
                    font-size:22px;
                    font-weight:700;
                }
            }
        }
    }
    
}