@import '../variable.scss';
.item-home-navi{
    position:sticky;
    top:48px;
    width:100%;
    background:#252F56;
    height:52px;
    padding:13px 17px;
    overflow-x: auto;
    overflow-y: hidden;
    z-index:98;
    float:none;

    
    .nav{
        width:100%;
        overflow-x:auto;
        overflow-y:hidden;
        white-space: nowrap;
        flex-wrap:nowrap;
    }
    .nav-item{
        display:block;
        float:left;
        margin-right:10px;

        .nav-link{
            font-size:15px;
            color:#9BA3C6;
            padding:0;
            float:left;

            &.active{
                color:#fff;
                font-weight:700;
            }
        }

        button{
            border:0;
            background:none;
            margin:0;
            padding:0;
            font-size:15px;
            color:#9BA3C6;
            float:left;

            &::before{
                content:'|';
                color:#9BA3C6;
                padding-right:7px;
            }
        }
    }
}