*{-webkit-text-size-adjust:none}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display:block;}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn,
em, img, ins, kbd, q, samp, small, strong,
sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-weight:normal;
    font-family:"Noto Sans KR";
}
body{
    width:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    line-height:1;
    font-family:"Noto Sans KR";
    font-size:16px;
    text-decoration: none;
}
ul, ol, li {list-style:none;}
fieldset, img {border:0;}
br {letter-spacing:normal;}
p {letter-spacing:normal;}
hr {display:none;}
address, caption, em, var {
    font-style:normal;
    font-weight:normal;
}
a {text-decoration:none}
a[href^="tel"] {font-style:normal}
a:hover,
a:active,
a:focus {text-decoration:none;}
input,
textarea,
select {letter-spacing:normal}
img {
    border:0;
    vertical-align:middle
}
legend, caption {
    position:absolute;
    left:-1000%;
    top:0;
    width:1px;
    height:1px;
    font-size:0;
    line-height:0;
    overflow:hidden;
}
table {
    width:100%;
    border:0;
    border-spacing:0;
    border-collapse:collapse;
}
input {vertical-align:middle}
caption {position:relative;}
caption span {
    visibility:hidden;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    width:1px;
    height:1px;
    font-size:0;
    line-height:0;
}

.up{color:#c8212f;}
.dn{color:#2160c8;}
.mid{color:#666;}
.fs18{font-size:18px;}
.ta_c{text-align:center !important;}
.ta_r{text-align:right !important;}
.ft_l{float:left;}
.ft_r{float:right;}

.mt_10{margin-top:10px;}
.mt_25{margin-top:25px;}
.mt_40{margin-top:40px;}
.mt_top{margin-top:14.0625vw;}

.blind{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0}


.paging{display:inline-block;width:100%;text-align:center;margin-top:50px;}
.paging a{display:inline-block;width:38px;height:38px;line-height:38px;text-align:center;border:1px solid #dcdcdc;font-size:16px;color:#555;font-weight:400;margin:0 3px;}
.paging strong{display:inline-block;width:38px;height:38px;line-height:38px;text-align:center;border:1px solid #f10a56;font-size:16px;color:#f10a56;font-weight:400;margin:0 3px;}


/* mwrap 모바일 */
#mwrap{width:100%;}
#mheader{position:fixed;width:100%;height:14.0625vw;background:#333;box-sizing:border-box;padding:0 4.6875vw;z-index:99;}
#mheader .logo{display:inline-block;float:left;width:16.25vw;margin:2.734375vw 0 0 0.78125vw;}
#mheader .minfo{display:inline-block;float:right;}
#mheader .minfo li{display:inline-block;float:left;margin-top:3.125vw;}
#mheader .minfo li a{display:inline-block;height:7.1875vw;line-height:7.1875vw;text-align:center;font-size:3.515625vw;color:#fff;border:0.234375vw solid #fff;margin-left:2.34375vw;padding:0 2.34375vw;}

#payheader{width:100%;height:14.0625vw;background:#dee1e9;text-align:center;}
#payheader a{display:inline-block;width:39.453125vw;margin-top:3.828125vw;}

#mcontainer{position:relative;width:100%;height:auto;display:inline-block;float:left;}
#mvisual{display:inline-block;width:100%;height:97.65625vw;box-sizing:border-box;padding:0 2.734375vw;background:url(../../img/m/mvisual.jpg) no-repeat 0 0;background-size:cover;}
#mvisual_s{display:inline-block;width:100%;height:48.125vw;box-sizing:border-box;padding:0 2.734375vw;background:url(../../img/m/mvisuals.jpg) no-repeat 0 0;background-size:cover;}
.mnav{display:inline-block;width:100%;height:11.875vw;margin-top:14.0625vw;border-bottom:0.234375vw solid #f10a56;}
.mnav li{display:inline-block;width:25%;height:11.875vw;line-height:11.875vw;float:left;}
.mnav li a{display:inline-block;width:100%;height:11.875vw;line-height:11.875vw;font-size:4.21875vw;color:#333;text-align:center;}
.mnav li a.on{color:#f10a56;}
.mv_txt{display:block;}
.mv_txt strong{display:block;font-size:8.59375vw;line-height:9.375vw;font-weight:bold;}
.mv_txt strong span{display:block;font-size:5.46875vw;color:#555;font-weight:300;padding-top:2.734375vw;}
.mv_txt strong span em{font-weight:400;}
.mv_txt strong > em{color:#f10a56;font-weight:bold;}
.mv_txt > span{display:block;font-size:3.90625vw;line-height:4.6875vw;font-weight:400;padding-top:1.5625vw;}

.sub_title{display:block;padding:3.125vw 4.296875vw 0 4.296875vw;}
.sub_title strong{display:block;font-size:5.625vw;color:#333;font-weight:bold;}
.sub_title span{display:block;padding-top:2.34375vw;font-size:3.515625vw;line-height:4.296875vw;}

.mc_tit{display:inline-block;width:100%;text-align:center;font-size:7.03125vw;font-weight:400;margin-top:7.8125vw;}
.mc_tit em{color:#f10a56;font-weight:bold;}

.mproList{display:inline-block;width:100%;margin-top:4.6875vw;float:left;border-top:0.15625vw solid #cbcbcb;}
.mproList li{display:inline-block;width:100%;border-bottom:0.15625vw solid #cbcbcb;padding:4.6875vw 0;float:left;overflow:hidden;}
.mproList li:after{display:block;clear:both;content:'';}
.mproList li .thumb{display:inline-block;width:22.34375vw;float:left;border-radius:1.953125vw;}
.mproList li .con{display:inline-block;width:63.28125vw;float:right;}

.mproList li .con .name{display:inline-block;width:100%;font-size:3.90625vw;color:#777;font-weight:bold;padding-bottom:0.78125vw;}
.mproList li .con .his{display:inline-block;width:100%;margin-top:1.5625vw;}
.mproList li .con .his span{display:inline-block;width:100%;height:5.078125vw;line-height:5.078125vw;font-size:3.515625vw;color:#777;}

.mc01bg{display:inline-block;width:100%;text-align:center;margin-top:7.8125vw;}
.mc01bg img{width:86.015625vw;}
.mc02bg{display:inline-block;width:100%;text-align:center;margin-top:4.6875vw;padding-bottom:6.640625vw;}
.mc02bg img{width:59.765625vw;}
.mc03bg{display:inline-block;width:100%;text-align:center;margin-top:7.8125vw;padding-bottom:7.8125vw;}
.mc03bg img{width:62.421875vw;}
.mc04bg{display:inline-block;width:100%;text-align:center;margin-top:7.03125vw;padding-bottom:8.59375vw;}
.mc04bg img{width:54.53125vw;}

#mcolumn .txt{display:inline-block;width:100%;margin-top:4.6875vw;box-sizing:border-box;padding:0 3.90625vw;}
#mcolumn .txt strong{display:block;font-size:4.6875vw;color:#333;line-height:5.859375vw;font-weight:300;padding-bottom:3.515625vw;}
#mcolumn .txt strong em{font-weight:bold;}
#mcolumn .txt span{display:inline-block;width:100%;line-height:4.84375vw;font-size:3.28125vw;font-weight:300;color:#555;}
#mcolumn .pg_txt{display:inline-block;width:100%;padding-bottom:3.90625vw;box-sizing:border-box;padding:0 3.90625vw;}
#mcolumn .pg_txt strong{display:block;font-size:3.28125vw;font-weight:bold;color:#555;}
#mcolumn .pg_txt span{display:inline-block;width:100%;font-size:3.28125vw;line-height:4.84375vw;font-weight:300;color:#555;margin-top:1.5625vw;}
#mcolumn .pg_txt span em{color:#f10a56;}

.mc01{padding:0 4.296875vw;}
.mc02{background:#eaf1f5;padding:0 4.296875vw;border-top:0.15625vw solid #cbcbcb;}
.mc03{background:#fff;padding:0 4.296875vw;border-top:0.15625vw solid #cbcbcb;}
.mc04{background:#f8f4e1;padding:0 4.296875vw;border-top:0.15625vw solid #cbcbcb;}

.m_tbl_top{display:inline-block;width:100%;clear:both;overflow:hidden;margin-top:7.8125vw;box-sizing:border-box;padding:0 1.953125vw;}
.m_tbl_top.btm{margin-top:0;}
.m_tbl_top select{display:inline-block;float:left;width:35.9375vw;height:8.4375vw;border:0.234375vw solid #cbcbcb;font-size:3.75vw;color:#666;cursor:pointer;}
.m_tbl_top .btn{display:inline-block;float:right;}
.m_tbl_top .btn a{display:inline-block;width:24.609375vw;height:8.4375vw;line-height:8.4375vw;text-align:center;font-size:3.75vw;color:#fff;background:#f10a56;border-radius:5px;}

.m_tbl_box{display:inline-block;width:100%;margin-top:2.34375vw;box-sizing:border-box;padding:0 1.953125vw 2.34375vw 1.953125vw;}
.m_tbl_box table thead th{border:0.234375vw solid #cbcbcb;font-size:3.75vw;color:#333;background:#ebebeb;padding:2.34375vw 0;}
.m_tbl_box table thead th:first-child{border-left:0;}
.m_tbl_box table thead th:last-child{border-right:0;}
.m_tbl_box table tbody td{border:0.234375vw solid #cbcbcb;border-left:0;border-right:0;padding:1.953125vw;}
.m_tbl_box table tbody tr:nth-child(2n) td{background:#fafafa;}
.m_tbl_box table tbody td span{display:inline-block;width:100%;text-align:center;font-size:3.75vw;color:#666;height:5.3125vw;line-height:5.3125vw;}
.m_tbl_box table tbody td span em{display:inline-block;width:100%;text-align:center;font-size:3.75vw;color:#666;height:5.3125vw;line-height:5.3125vw;}
.m_tbl_box table tbody td span em.up{color:#c8212f;}
.m_tbl_box table tbody td span em.dn{color:#2160c8;}

.m_tbl_box ul{display:inline-block;width:100%;border-top:0.234375vw solid #cbcbcb}
.m_tbl_box ul li{display:inline-block;width:100%;box-sizing:border-box;border-bottom:0.234375vw solid #cbcbcb;padding:3.125vw 2.34375vw;float:left;overflow:hidden;}
.m_tbl_box ul li .mthumb{display:inline-block;width:20.3125vw;float:left;}
.m_tbl_box ul li .mcon{display:inline-block;width:calc(100% - 24.21875vw);padding-left:3.90625vw;float:left;}
.m_tbl_box ul li .mcon strong{display:inline-block;width:100%;}
.m_tbl_box ul li .mcon strong .bu{display:inline-block;width:4.375vw;height:4.375vw;line-height:4.375vw;float:left;}
.m_tbl_box ul li .mcon strong .tit01{display:inline-block;height:4.375vw;line-height:4.375vw;font-size:4.21875vw;color:#15715c;padding-left:2.34375vw;}
.m_tbl_box ul li .mcon strong .tit02{display:inline-block;height:4.375vw;line-height:4.375vw;font-size:4.21875vw;color:#0f69d9;padding-left:2.34375vw;}
.m_tbl_box ul li .mcon a > span{display:inline-block;width:100%;line-height:4.53125vw;margin-top:1.5625vw;font-size:3.75vw;color:#666;}

.m_view_btn{display:inline-block;width:100%;text-align:right;box-sizing:border-box;padding:7.8125vw 1.953125vw 2.34375vw 1.953125vw;}
.m_view_btn.btm{padding-top:2.34375vw;}
.m_view_btn a{display:inline-block;height:8.4375vw;line-height:8.4375vw;background:#515151;font-size:3.75vw;color:#fff;padding:0 3.90625vw;border-radius:1.5625vw;}
.m_view_btn a.list{padding:0 6.640625vw;}
.m_view_top{display:block;box-sizing:border-box;margin:0 1.953125vw;border-top:0.234375vw solid #898989;border-bottom:0.234375vw solid #898989;overflow:hidden;}
.m_view_top .title{padding:2.734375vw 3.515625vw;border-bottom:0.234375vw solid #cbcbcb;}
.m_view_top .title strong{display:inline-block;width:100%;font-size:4.6875vw;color:#0f69d9;}
.m_view_top .title span{display:inline-block;width:100%;font-size:4.6875vw;color:#333;}
.m_view_top .muser_t{padding:2.734375vw 3.515625vw;border-bottom:0.234375vw solid #cbcbcb;}
.m_view_top .muser_t strong{display:inline-block;width:100%;font-size:4.6875vw;color:#333;}
.m_view_top .muser_t span{display:inline-block;width:100%;font-size:3.75vw;color:#888;padding-top:2.34375vw;}
.m_view_top .muser{display:inline-block;width:100%;padding:2.734375vw 3.515625vw;box-sizing:border-box;}
.m_view_top .muser .thumb{display:inline-block;width:24.453125vw;float:left;}
.m_view_top .muser .minfo{display:inline-block;margin-left:11.71875vw;padding:3.515625vw 0;}
.m_view_top .muser .minfo span{font-size:4.6875vw;color:#333;}
.m_view_top .muser .minfo em{font-size:3.75vw;color:#888;}

.m_veiwContent{display:inline-block;width:100%;min-height:150px;box-sizing:border-box;padding:7.8125vw 5.078125vw;font-size:3.75vw;line-height:5.625vw;color:#555;}
.m_viewContent_f{margin:7.8125vw 1.953125vw 0 1.953125vw;padding:4.6875vw 3.515625vw;background:#f5f5f5;font-size:3.125vw;color:#888;line-height:3.90625vw;border-bottom:0.234375vw solid #898989;text-align:center;}

.viewTitle_tbl{display:inline-block;width:100%;box-sizing:border-box;padding:0 1.5625vw;background:#f5f5f5;}
.viewTitle_tbl table th{}
.viewTitle_tbl table th strong{display:inline-block;width:100%;text-align:center;}
.viewTitle_tbl table th strong em{display:block;font-size:5.46875vw;color:#f10a56;padding-top:2.34375vw;}
.viewTitle_tbl table th strong span{display:block;font-size:3.75vw;color:#888;}
.viewTitle_tbl table td{border-bottom:0.234375vw solid #cbcbcb;padding:0 2.34375vw;font-size:3.75vw;color:#888;}
.viewTitle_tbl table tr:last-child td{border-bottom:0;}
.viewTitle_tbl table td dt{display:inline-block;width:17.96875vw;height:7.03125vw;line-height:7.03125vw;float:left;}
.viewTitle_tbl table td dd{display:inline-block;width:calc(100% - 17.96875vw);height:7.03125vw;line-height:7.03125vw;float:left;text-align:right;}

.mcoupon{display:inline-block;width:100%;box-sizing:border-box;padding:7.8125vw 6.640625vw;text-align:center;}
.mcoupon2{display:inline-block;width:100%;box-sizing:border-box;padding:7.8125vw 2.734375vw;text-align:center;}
.mcoupon p{font-size:3.75vw;color:#555;line-height:5.625vw;}
.thk{font-size:4.6875vw;line-height:5.46875vw;color:#3b67cc;}
.cst{padding-top:5.46875vw;font-size:3.75vw;line-height:4.53125vw;color:#555;}

.cp_box{display:inline-block;width:82.34375vw;box-sizing:border-box;border:0.78125vw solid #dcdcdc;background:#f7f7f7;padding:1.171875vw;margin-top:7.8125vw;}
.cp_con{display:inline-block;width:100%;box-sizing:border-box;border:0.234375vw solid #dcdcdc;padding:7.8125vw 0;}
.cp_con strong{display:block;font-size:6.09375vw;color:#333;}
.cp_con strong span{display:block;font-size:4.6875vw;padding-top:5.078125vw;}
.cp_con > span{display:block;padding-top:2.34375vw;font-size:6.09375vw;font-weight:bold;}
.cp_con em{display:block;padding-top:5.078125vw;font-size:4.6875vw;color:#f10a56;}
.cp_con a{display:inline-block;width:32.03125vw;height:10.9375;line-height:10.9375vw;text-align:center;font-size:4.6875vw;color:#fff;border-radius:1.5625vw;background:#f10a56;margin-top:5.078125vw;}

.cp_con2{display:inline-block;width:100%;box-sizing:border-box;border:0.234375vw solid #dcdcdc;padding:7.8125vw 0;}
.cp_con2 strong{display:block;font-size:6.09375vw;color:#333;}
.cp_con2 strong span{display:block;font-size:4.6875vw;padding-top:5.078125vw;}
.cp_con2 > span{display:block;padding-top:2.34375vw;font-size:6.09375vw;font-weight:bold;}
.cp_con2 em{display:block;padding-top:5.078125vw;font-size:4.6875vw;color:#f10a56;}
.cp_con2 a{display:inline-block;width:32.03125vw;height:10.9375;line-height:10.9375vw;text-align:center;font-size:4.6875vw;color:#fff;border-radius:1.5625vw;background:#3b66cc;margin-top:5.078125vw;}

.mqna{display:inline-block;width:100%;margin-top:9.375vw;text-align:left;}
.mqna strong{display:block;font-size:4.6875vw;color:#f10a56;font-weight:bold;}
.mqna li{display:inline-block;width:1005;font-size:3.28125vw;color:#555;line-height:5.859375vw;margin-top:2.734375vw;}
.mqna li em{display:inline-block;float:left;}
.mqna li div{display:inline-block;float:left;margin-left:0.78125vw;}
.mqna li div a{color:#1567cd;border-bottom:1px solid #1567cd;padding-bottom:5px;}


.bank{display:inline-block;width:100%;padding:2.34375vw 0;border-top:1px solid #cbcbcb;}
.bank li{display:inline-block;width:50%;float:left;box-sizing:border-box;}
.bank li:last-child{border-left:1px solid #cbcbcb;}

#mfooter{display:inline-block;width:100%;box-sizing:border-box;padding:0 4.296875vw 6.25vw 4.296875vw;background:#616161;float:left;border-top:0.15625vw solid #cbcbcb;}
#mfooter .mgd{display:inline-block;padding:3.90625vw 0 0 0;}
#mfooter .mgd span{display:inline-block;width:100%;box-sizing:border-box;font-size:3.046875vw;line-height:3.90625vw;color:#d7d7d7;padding-left:2.734375vw;background:url(../../img/m/bu_mgd.gif) no-repeat 1.015625vw 1.5625vw;background-size:0.78125vw 0.234375vw;}
#mfooter .mcopy{display:inline-block;width:100%;box-sizing:border-box;font-size:3.046875vw;line-height:3.90625vw;color:#d7d7d7;margin-top:4.296875vw;}
.gohome{display:inline-block;width:100%;text-align:center;margin-top:5.859375vw;}
.gohome a{display:inline-block;width:27.1875vw;height:7.1875vw;line-height:7.1875vw;border:0.234375vw solid #d7d7d7;font-size:3.515625vw;color:#d7d7d7;}


.paging_m{display:inline-block;width:100%;text-align:center;margin:3.90625vw 0;}
.paging_m a{display:inline-block;width:8.90625vw;height:8.90625vw;line-height:8.90625vw;text-align:center;border:1px solid #dcdcdc;font-size:3.75vw;color:#555;font-weight:400;margin:0 0.78125vw;}
.paging_m strong{display:inline-block;width:8.90625vw;height:8.90625vw;line-height:8.90625vw;text-align:center;border:1px solid #f10a56;font-size:3.75vw;color:#f10a56;font-weight:400;margin:0 0.78125vw;}

.payColumn{display:inline-block;width:100%;clear:both;padding:3.125vw 3.125vw 6.25vw 3.125vw;box-sizing:border-box;}
.pay_title{font-size:5.625vw;color:#333;font-weight:bold;padding:2.734375vw 3.90625vw;}
.pay_title2{font-size:5.625vw;color:#333;font-weight:bold;padding:5.859375vw 3.75vw;border-bottom:2px solid #cbcbcb;margin:0 3.125vw;}

.mpybox{display:inline-block;width:100%;box-sizing:border-box;margin-top:2.34375vw;border:2px solid #cbcbcb;background:#f7f7f7;padding:3.515625vw 0;}
.info_title{margin:0 3.515625vw;font-size:4.6875vw;color:#333;font-weight:400;padding:0 1.171875vw 3.125vw 1.171875vw;border-bottom:2px solid #cbcbcb;}
.mpybox dl{margin:0 3.515625vw;padding:0 1.171875vw;overflow:hidden;}
.mpybox dl dt{display:inline-block;width:50%;float:left;clear:left;margin-top:3.90625vw;font-size:3.75vw;color:#333;font-weight:300;}
.mpybox dl dd{display:inline-block;width:50%;text-align:right;float:left;margin-top:3.90625vw;font-size:3.75vw;color:#333;font-weight:400;}

.info_btn{display:inline-block;width:100%;text-align:center;margin:7.03125vw 0 3.90625vw 0;}
.info_btn a{display:inline-block;width:30.46875vw;height:9.375vw;line-height:9.375vw;text-align:center;font-size:4.6875vw;color:#fff;background:#838383;}

.mpybox2{display:inline-block;width:100%;box-sizing:border-box;margin-top:2.34375vw;border:2px solid #8295ba;background:#f7f7f7;padding:3.515625vw 0 0 0;background:#edf3ff;text-align:left;}
.mpybox2 dl{margin:0 3.515625vw;padding:0 1.171875vw;overflow:hidden;}
.mpybox2 dl dt{display:inline-block;width:50%;float:left;clear:left;margin-top:3.90625vw;font-size:3.75vw;color:#333;font-weight:300;}
.mpybox2 dl dd{display:inline-block;width:50%;text-align:right;float:left;margin-top:3.90625vw;font-size:3.75vw;color:#333;font-weight:400;}

.mpybox3{display:inline-block;width:100%;box-sizing:border-box;margin-top:7.8125vw;border:2px solid #8295ba;background:#f7f7f7;padding:3.515625vw 0;background:#edf3ff;text-align:left;clear:both;}
.mpybox3 dl{margin:0 3.515625vw;padding:0 1.171875vw;overflow:hidden;}
.mpybox3 dl dt{display:inline-block;width:50%;float:left;clear:left;margin-top:3.90625vw;font-size:3.75vw;color:#333;font-weight:300;}
.mpybox3 dl dd{display:inline-block;width:50%;text-align:right;float:left;margin-top:3.90625vw;font-size:3.75vw;color:#333;font-weight:400;}

.ch_date{display:inline-block;width:100%;background:#dae3f2;padding:2.734375vw 0;margin-top:3.90625vw;box-sizing:border-box;text-align:center;}
.ch_date strong{font-size:3.75vw;color:#2b57af;font-weight:400;line-height:4.53125vw;}
.ch_date .datebox{display:inline-block;width:100%;margin-top:2.34375vw;}
.ch_date .datebox select{display:inline-block;background:#fff;border:2px solid #828282;font-size:4.6875vw;height:9.765625vw;color:#888;padding:0 2.34375vw;}
.ch_date .datebox em{display:inline-block;font-size:3.75vw;}

.ch_cash{display:inline-block;width:100%;margin-top:4.296875vw;}
.ch_cash strong{display:block;padding:0 4.6875vw;font-size:3.75vw;color:#333;font-weight:400;}
.ch_cash p{display:inline-block;width:100%;margin-top:3.515625vw;text-align:center;font-size:3.75vw;color:#2959ae;line-height:4.53125vw;}

.cashList{position:relative;display:inline-block;width:100%;margin-top:2.34375vw;background:#dae3f2;text-align:center;padding-bottom:3.90625vw;box-sizing:border-box;}
.cashList ul{display:inline-block;padding-top:3.90625vw;}
.cashList li{display:inline-block;height:17.1875vw;float:left;padding:0 3.90625vw;}
.cashList li input[type="radio"]{display:inline-block;width:6.25vw;height:6.25vw;}
.cashList li label{display:block;line-height:4.53125vw;padding-top:1.5625vw;text-align:center;font-size:3.75vw;color:#333;font-weight:300;}

.cashList dl{display:inline-block;width:100%;padding:0;margin:0;}
.cashList dl dt{position:relative;display:inline-block;width:100%;clear:left;text-align:left;padding:0 5.46875vw;box-sizing:border-box;}
.cashList dl dt.num01{padding:0 8.203125vw;}
.cashList dl dt input[type="radio"]{display:inline-block;width:6.25vw;height:6.25vw;}
.cashList dl dt label{display:inline-block;font-size:3.75vw;color:#333;font-weight:300;}
.cashList dl dd{display:inline-block;width:100%;clear:left;padding:0 10.9375vw;box-sizing:border-box;}
.cashList dl dd.num01{padding:0 7.03125vw;}
.cashList dl dd select{display:inline-block;float:left;background:#fff;border:1px solid #8c8c8c;font-size:4.6875vw;width:18.75vw;height:9.765625vw;color:#888;padding-left:2.34375vw;margin:0 1.171875vw;border:2px solid #828282;}
.cashList dl dd input{display:inline-block;float:left;height:9.765625vw;line-height:9.765625vw;color:#888;box-sizing:border-box;margin:0 1.09375vw;border:2px solid #828282;padding:0 15px;}

.rtab{display:none;}
.ctab{display:none;}

.chdList{display:inline-block;width:100%;margin-top:2.34375vw;background:#dae3f2;text-align:center;padding-bottom:3.90625vw;}
.chdList ul{display:inline-block;padding-top:3.90625vw;}
.chdList li{display:inline-block;height:17.1875vw;float:left;box-sizing:border-box;text-align:center;padding:0 1.171875vw;}
.chdList li input[type="radio"]{display:inline-block;width:6.25vw;height:6.25vw;}
.chdList li label{display:block;line-height:4.53125vw;padding-top:1.5625vw;text-align:center;font-size:3.75vw;color:#333;font-weight:300;}

.agree_cash{position:relative;display:inline-block;width:100%;margin-top:2.34375vw;text-align:center;overflow:hidden;}
.agree_cash input[type="checkbox"]{position:absolute;top:0;left:-9999em;}
.agree_cash input[type="checkbox"] + label{display:inline-block;float:left;background:url(../../img/m/bg_chk.gif) no-repeat 2.734375vw 100%;background-size:4.921875vw 4.765625vw;font-size:3.515625vw;color:#777;font-weight:400;padding:1.328125vw 0 0 10.546875vw;height:4.765625vw;line-height:4.765625vw;}
.agree_cash input[type="checkbox"]:checked + label{background:url(../../img/m/bg_chk_on.gif) no-repeat 2.734375vw 100%;background-size:5.625vw 6.09375vw;}
.agree_cash a{display:inline-block;float:right;width:31.640625vw;height:7.8125vw;line-height:7.8125vw;text-align:center;background:#a4a4a4;font-size:3.28125vw;color:#fff;font-weight:400;margin-right:5.46875vw;}

.btn_mcash{display:inline-block;width:100%;margin:14.453125vw 0 7.8125vw 0;text-align:center;}
.btn_mcash a{display:inline-block;width:32.03125vw;height:10.9375vw;line-height:10.9375vw;text-align:center;background:#a4a4a4;border-radius:1.953125vw;font-size:4.6875vw;color:#fff;font-weight:400;margin:0 1.953125vw;}
.btn_mcash a.act{background:#3b67cc;}

.filebox_m{position:relative;}
.filebox_m input[type="file"]{position:absolute;top:0;left:-99999em;}
.filebox_m label {display:inline-block;width:24.609375vw;height:9.6875vw;line-height:9.6875vw;background:#a4a4a4;font-size:3.75vw;color:#fff;text-align:center;}
/* named upload */
.filebox_m .upload-name{display:inline-block;width:49.609375vw;background:#fff;border:2px solid #828282;box-sizing:border-box;padding:0 15px;font-size:3.75vw;}

.pay_guide{background:#f7f7f7;padding:0 5.859375vw;}
.pay_guide div{padding:5.859375vw 0;border-bottom:2px solid #c7c7c7;}
.pay_guide div:last-child{border-bottom:0;}
.pay_guide div strong{display:inline-block;width:100%;font-size:4.296875vw;color:#555;font-weight:bold;padding:1.953125vw 0;}
.pay_guide div li{display:inline-block;width:100%;padding:0 2.34375vw;box-sizing:border-box;background:url(../../img/m/bu_dot.png) no-repeat 0 1.875vw;background-size:0.625vw;font-size:3.28125vw;color:#555;font-weight:400;line-height:4.296875vw;margin:0.625vw 0;text-align:justify;}
.pay_guide div li a{color:#1567cd;border-bottom:1px solid #1567cd;padding-bottom:5px;}

.paycause{display:inline-block;width:100%;height:47.34375vw;border:2px solid #cbcbcb;margin-top:2.34375vw;box-sizing:border-box;padding:4.296875vw 3.90625vw;overflow-y:scroll;background:#f7f7f7;}
.paycause strong{display:block;font-size:4.6875vw;color:#333;font-weight:500;}
.paycause span{display:block;padding:4.296875vw 0;font-size:3.75vw;line-height:5.3125vw;color:#333;font-weight:300;}

.hspace100{display:block;height:7.8125vw;}
.hspace200{display:block;height:15.625vw;}
