#container.expert-container {
  .expert-content {
    width: 100%;
    padding: 0px 16px;

    .intro-box {
      width: 100%;
      padding: 30px 20px;
      background: #32323a;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .avatar {
        width: 98px;
        height: 98px;
        border: 1px solid rgba(255, 255, 255, 0.5019607843);
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 20px;
      }

      .name {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #fff;
        margin-bottom: 12px;
      }

      .txt {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #d4d4d8;
        text-align: center;

        button {
          padding: 2px 10px;
          border: 1px solid #71717b;
          background: none;
          border-radius: 50px;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: .32px;
          color: #d4d4d8;
          margin-left: 10px;
        }
      }
    }

    .title {
      width: 100%;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #fff;
      margin-bottom: 16px;
    }

    .check-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;

      button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        text-align: left;
        background: #15191C;
        border: 1px solid #3E444E;
        padding: 11px;
        padding-left: 21px;
        border-radius: 12px;

        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #d4d4d8;
          margin: 0;

          img{
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
          }
        }
      }
    }

    .tab-content {
      width: 100%;
    }

    .chart-box {
      width: 100%;
      padding: 20px;
      border: 1px solid #27272a;
      background: #18181b;
      border-radius: 12px;

      .txt {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        span {
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #71717b;
        }

        strong {
          font-weight: 700;
          font-size: 15px;
          line-height: 22px;
          color: #ff3657;
        }
      }

      img {
        width: 100%;
      }
    }

    button.more {
      width: 100%;
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;

      span {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #71717b;
      }
    }

    .alarm {
      position: relative;
      width: 100%;
      padding: 10px;
      padding-right: 32px;
      border: 1px solid #404244;
      background: #32323a;
      border-radius: 12px;
      margin-bottom: 14px;

      .alarm-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3px;

        p {
          margin: 0;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #d4d4d8;
        }

        strong {
          margin-left: 4px;
          font-weight: 700;
          font-size: 13px;
          line-height: 18px;
          color: #fff;
        }

        button {
          position: absolute;
          right: 10px;
          top: 4px;
          border: none;
          background: none;
          padding: 0;
          margin: 0;
        }
      }

      .alarm-list {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4px;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: all .4s ease;
        transform: translateY(-10px);

        &.active {
          max-height: 500px;
          padding: 16px 0 10px;
          opacity: 1;
          transform: translateY(0);
        }

        span {
          width: 100%;
          display: block;
          padding-left: 12px;
          position: relative;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: rgba(212, 212, 216, 0.8980392157);
          text-align: left;

          &::before {
            content: "";
            display: block;
            width: 3.2px;
            height: 3.2px;
            background: rgba(212, 212, 216, 0.8980392157);
            border-radius: 100%;
            position: absolute;
            left: 0;
            top: 7px;
          }
        }
      }

      .no-alarm {
        width: 100%;
        padding-left: 22px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;

        p {
          margin: 0;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #d4d4d8;
        }
      }
    }

    .exptSwiper05 {
      width: 100%;

      .swiper-wrapper {
        width: 100%;
        padding-top: 10px;

        .swiper-slide {
          position: relative;
          width: 100%;
          padding: 20px;
          border: 1px solid #404244;
          background: #18181b;
          border-radius: 12px;
          text-align: left;

          .tag {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
            padding: 2px 10px;
            border-radius: 50px;
            left: 20px;
            top: -10px;

            span {
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #0b0c0e;
            }
          }

          &.green {
            border-color: #34d399;

            .tag {
              background: linear-gradient(93.68deg, #6FFFAB 13.67%, #05BF7B 86.02%);
            }
          }

          &.red .tag {
            background: linear-gradient(90deg, #FF536D 0%, #D61B3A 100%);
          }

          &.gray .tag {
            background: #b6b6be;
          }
        }
      }
    }

    .box-grid {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px 10px;

      .box {
        min-width: 0;
        width: 100%;
        padding: 20px 16px;
        background: #24282F;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        border: none;

        .top {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          strong {
            width: 100%;
            max-width: 100%;
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            color: #fff;
          }

          span {
            font-weight: 400;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: .32px;
            color: #71717b;
          }
        }

        .bottom {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-end;

          span {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #d4d4d8;
            text-align: end;
          }

          strong {
            font-weight: 700;
            font-size: 20px;
            line-height: 34px;
            color: #ff3657;
          }
        }
      }
    }

    .no-use {
      width: 100%;
      height: 150px;
      padding: 10px;
      background: #313137;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;

      span {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #d4d4d8;
      }
    }

    .box-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;
    }

    .find {
      width: 100%;
      margin-top: 30px;

      button {
        width: 100%;
        padding: 13px;
        background: #34d399;
        border-radius: 10px;
        border: none;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #0b0c0e;
      }
    }
    .no-recommend{
      width: 100%;
      height: 150px;
      border: 1px solid #71717B;
      border-radius: 12px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      margin-top: 12px;

      p{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #71717B;
      }
    }
  }

  .item-top {
    position: relative;
    width: 100%;

    .item-name {
      max-width: calc(100% - 30px);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      margin-bottom: 16px;

      .circle {
        width: 20px;
        height: 20px;
        box-shadow: 0px 0px 15px 0px rgba(16, 185, 129, 0.2);
        background: #46464D;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-weight: 700;
        font-size: 8px;
        line-height: 20px;
        color: #fff;

        &:has(img) {
          background: transparent;
        }
        img{
          width: 100%;
        }
        &.tp{
          background: #5368FF;
        }
        &.rs{
          background: #6565FF !important;
        }
      }

      .name {
        max-width: calc(100% - 130px);
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #fff;
      }

      .code {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .32px;
        color: #71717b;
      }

      button {
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        display: block;
        position: absolute;
        top: -1.66px;
        right: 0;
      }
    }

    .item-txt {
      width: 100%;
      margin-bottom: 16px;

      p.txt {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #d4d4d8;

        strong {
          margin-left: 5px;
          font-weight: 700;
          color: #ff3657;

          &.green {
            color: #34d399;
          }
        }

        span {
          margin-left: 5px;
          margin-right: 5px;
          background: #ff3657;
          padding: 2px 5px;
          border-radius: 5px;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          letter-spacing: .32px;
          color: #fff;

          &.green {
            background: #34d399;
          }
        }
      }
    }

    .item-num {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid #3E444E;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .area {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        p {
          margin: 0;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #71717b;
        }

        strong {
          font-weight: 400 !important;
          font-size: 15px;
          line-height: 22px;
          color: #fff;

          span {
            color: #fff;

            &.red{
              color: #ff3657;
            }
            &.green {
              color: #34d399;
            }
          }
        }
      }
    }

    .item-box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding-bottom: 16px;

      .box {
        flex: 1;
        padding: 10px;
        background: #32323a;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 20px;
        border: none;

        .box-name {
          width: 100%;
          text-align: left;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #71717b;
        }

        strong {
          font-weight: 700;
          font-size: 15px;
          line-height: 22px;
          color: #fff;

          span {
            color: #fff;

            &.red{
              color: #ff3657;
            }
            &.green {
              color: #34d399;
            }
          }
        }
      }
    }
  }

  .item-bottom {
    width: 100%;
    padding-top: 16px;
    border-top: 1px solid #3E444E;

    .comment-box {
      width: 100%;
      padding: 10px;
      background: #32323A;
      border-radius: 10px;
      margin-bottom: 16px;
    }

    .comment-title {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 6px;
      margin-bottom: 10px;

      span {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #71717b;
      }
    }

    .comment {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;

        span {
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #71717b;
        }
      }

      .right {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #71717b;
      }
    }

    .comment-txt {
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #d4d4d8;
    }

    .bottom-txt {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin: 0;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #71717b;
      }

      button {
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        text-decoration: underline !important;
        color: #fff;
      }
    }
  }

  .strategy, .analyze {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }

  .strategy .box .date, .analyze .box .date {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .strategy .box .date p, .analyze .box .date p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #71717b;
  }

  .strategy .box .date span, .analyze .box .date span {
    padding: 0px 8px;
    background: #34d399;
    border-radius: 5px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #0b0c0e;
  }

  .strategy .box .box-title, .analyze .box .box-title {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 10px;
  }

  .strategy .box .box-txt, .analyze .box .box-txt {
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #d4d4d8;
  }

  .strategy .box .item-name, .analyze .box .item-name {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
  }

  .strategy .box .item-name .name, .analyze .box .item-name .name {
    max-width: calc(100% - 90px);
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
  }

  .strategy .box .item-name .code, .analyze .box .item-name .code {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .32px;
    color: #71717b;
  }

  .strategy .box .item-name button, .analyze .box .item-name button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
  }

  .strategy .box a, .analyze .box a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background: #32323A;
    border-radius: 10px;
  }

  .strategy .box a span, .analyze .box a span {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #d4d4d8;
  }

  .strategy .box .members-only, .analyze .box .members-only {
    width: 100%;
    position: relative;
  }

  .strategy .box .members-only p, .analyze .box .members-only p {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .strategy .box .members-only p span, .analyze .box .members-only p span {
    font-weight: 500;
    font-size: 15px;
    font-weight: 22px;
    color: #fff;
  }

  .strategy .box .members-only p img, .analyze .box .members-only p img {
    width: 18px;
  }

  .strategy .box .members-only img, .analyze .box .members-only img {
    width: 100%;
  }

  .counsel{
    .top-txt{
      width: 100%;
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #D4D4D8;
    }
    .counsel-group{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;

      &.mb-40{
        margin-bottom: 40px;
      }

      button{
        width: 100%;
        padding: 20px 16px;
        border-radius: 10px;
        background: #24282F;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;

        p{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          strong{
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            color: #FFFFFF;

            em{
              color: #34D399
            }
          }
          span{
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #D4D4D8;
          }
        }
      }
    }
    .counsel-list{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;

      button{
        width: 100%;
        padding: 20px;
        border: 1px solid #3E444E;
        background: #24282F;
        border-radius: 12px;

        .top{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 16px;

          .left{
            max-width: calc(100% - 90px);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            .circle{
              width: 28px;
              min-width: 28px;
              height: 28px;
              background: #404047;
              border-radius: 100%;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .name{
              width: auto;
              max-width: calc(100% - 80px);
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #fff;
            }
            .code{
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.32px;
              color: #71717B;
            }
          }
          .right{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            span{
              padding: 1px 5px;
              border: 0.6px solid #71717B;
              border-radius: 5px;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.32px;
              color: #71717B;
            }
          }
        }
        .txt{
          width: 100%;
          margin-bottom: 6px;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #D4D4D8;
          text-align: left;
        }
        .date{
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #71717B;
          text-align: left;
        }
        &.register{
          .circle{
            color: #34D399 !important;
          }
          .right{
            span{
              background: #71717B;
              color: #fff;
            }
          }
        }
      }
    }
    .no-counsel{
      width: 100%;
      height: 150px;
      background: #24282F;
      border: 1px solid #27272A;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;

      p{
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #D4D4D8;
      }
    }
  }

  .view-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }

  .setting{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;

    .title{
      margin-bottom: 0;
    }
    .number-box{
      width: 100%;
      border: 1px solid #737379;
      padding: 15px;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p{
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
      }
      button{
        background: #71717B;
        border-radius: 5px;
        padding: 3px 10px;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #D4D4D8;
      }
    }
    .txt{
      width: 100%;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #D4D4D8;
    }
    .setting-wrap, .setting-group{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;
    }
    .setting-group{
      border-bottom: 1px solid #3e444e;
      padding-bottom: 16px;

      &:last-child{
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    .setting-box{
      width: 100%;
      padding: 15px;
      border: 1px solid #737379;
      border-radius: 12px;

      &.no-payment{
        height: 100px;
        display: flex;
        background: #24282F;
        justify-content: center;
        border: 1px solid #27272A;
        align-items: center;
        
        .txt-group{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
        }
      }

      .txt-group{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4px;

        strong{
          font-weight: 700;
          font-size: 15px;
          line-height: 22px;
          color: #fff;

          span{
            color: #34D399;
          }
        }
        p{
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #D4D4D8;
        }
        .txt-flex{
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
        }
      }
      .mini-box{
        width: 100%;
        margin-top: 16px;
        background: #32323A;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.text-center{
          justify-content: center;
        }

        p{
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #D4D4D8;
        }
        button{
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #D4D4D8;
          text-decoration: underline;
        }
      }
      .date{
        width: 100%;
        margin-bottom: 6px;
        color: #71717B;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
      }
    }
    .go-store{
      width: 100%;

      button{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 10px;
        border-radius: 10px;
        background: #FFFFFF;

        span{
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #0B0C0E;
        }
      }
    }
  }
}

.text-truncate3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
}
