#header.expert-header {
  border-bottom: 1.111px solid rgba(24, 24, 27, 0.5);
  background: #15191c;

  &:has(.expert-header-top_sub) {
    background: #0B0C0E;
  }

  .expert-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;

    .expert-header-top_sideMenu {
      display: flex;
      align-items: center;
      gap: 7px;

      > button {
        padding: 0;
        margin: 0;
        background: none;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
      }
    }

    .expert-header-top_sub {
      position: relative;
      width: calc(100% - 119px);
      height: 26px;
      display: flex;
      align-items: center;
      gap: 38px;

      a {
        position: absolute;
        top: 0;
        left: 0;
      }

      strong {
        width: 100%;
        text-align: center;
        font-size: 18px;
        height: 26px;
        line-height: 26px;
        color: #d4d4d8;
        font-weight: 400 !important;
        padding-left: 25px;
      }
    }
  }
}

body:has(.exptNav_sub) #header.expert-header{
  background: #15191c;
}

.expert-header-globalMenu_sub {
  width: 100%;
  border-bottom: 1px solid #27272a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  a {
    width: 80px;
    height: 46px;
    padding: 11px 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #71717b;
    text-align: center;

    &:hover {
      color: #71717b;
    }

    &.active {
      border-bottom: 2px solid #fff;
      font-weight: 700;
      color: #fff;
    }
  }
}

.exptNav {
  position: sticky;
  z-index: 99;
  top: 63px;
  left: 0;
  width: 100%;
  background: #15191c;

  .expert-header-globalMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      position: relative;
      display: block;
      width: 33.3333333333%;
      padding: 10px 0;
      line-height: 22px;
      font-size: 15px;
      color: #71717b;
      text-align: center;

      &:hover {
        color: #71717b;
      }

      &.active {
        color: #fff;
        font-weight: 700;

        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: #fff;
          z-index: 99;
        }
      }
    }
  }
}

.exptNav_sub {
  position: sticky;
  z-index: 99;
  top: 48px;
  left: 0;
  width: 100%;
  background: #15191c;
}

#container.expert-container {
  width: 100%;
  background: #0b0c0e;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;

  button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .expert-content {
    width: 100%;
    padding: 0 16px;

    &.swiper-content {
      padding: 0;

      .title {
        padding: 0px 16px;
      }

      .swiper {
        width: 100%;
        padding: 0px 16px;

        .swiper-slide {
          width: 100%;
          max-width: 320px;
          padding: 20px;
          text-align: left;
        }

        &.exptSwiper01 .swiper-slide {
          border: 1px solid rgba(255, 255, 255, 0.1019607843);
          border-radius: 12px;
          background: linear-gradient(138.77deg, #0F4344 1.39%, #1D2027 41.85%, #1D2027 70.37%, #421E2E 103.87%);

          .top {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 12px;
            margin-bottom: 24px;

            .circle {
              width: 38px;
              height: 38px;
              border-radius: 100%;
              background: #E7000B;
              box-shadow: 0px 0px 15px 0px rgba(16, 185, 129, 0.2);
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              color: #fff;

              &:has(img) {
                background: transparent;
              }
              img{
                width: 100%;
              }
            }

            .item {
              max-width: calc(100% - 50px);
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;

              strong {
                max-width: 100%;
                font-weight: 700;
                font-size: 18px;
                line-height: 26px;
                color: #fff;
              }

              span {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: rgba(255, 255, 255, 0.6);
              }
            }
          }

          .bottom {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;

            .box {
              width: 50%;
              padding: 20px;
              border: 1px solid rgba(255, 255, 255, 0.1019607843);
              border-radius: 20px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-end;
              gap: 1px;

              .name {
                width: 100%;
                text-align: left;
                color: rgba(255, 255, 255, 0.6);
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
              }

              strong {
                font-weight: 700;
                font-size: 22px;
                line-height: 34px;
                color: #fff;

                span {
                  color: #ff3657;
                }
              }
            }
          }
        }

        &.exptSwiper02 .swiper-slide {
          border: 1px solid #27272a;
          background: #18181b;
          border-radius: 12px;

          .top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 24px;
            border-bottom: 1px solid #27272a;

            .left {
              max-width: calc(100% - 65px);
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 12px;

              .circle {
                width: 38px;
                height: 38px;
                border-radius: 100%;
                background: #E7000B;
                box-shadow: 0px 0px 15px 0px rgba(16, 185, 129, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: #fff;

                &:has(img) {
                  background: transparent;
                }
                img{
                  width: 100%;
                }
              }

              .item {
                max-width: calc(100% - 50px);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                strong {
                  max-width: 100%;
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 26px;
                  color: #fff;
                }

                span {
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 16px;
                  color: rgba(255, 255, 255, 0.6);
                }
              }
            }

            .right {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;

              span {
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #71717b;
              }

              strong {
                font-weight: 700;
                font-size: 22px;
                line-height: 25px;
                color: #ff3657;
              }
            }
          }

          .bottom {
            width: 100%;
            padding-top: 24px;

            .comment {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 12px;

              .left {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 6px;
              }

              p {
                margin: 0;
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #71717b;
              }
            }

            .txt {
              width: 100%;
              font-weight: 400;
              font-size: 15px;
              line-height: 24px;
              color: #d4d4d8;
            }
          }
        }

        &.exptSwiper03 .swiper-slide {
          padding: 0;
        }

        &.exptSwiper04 .swiper-slide {
          max-width: 100%;
          background: #27272a;
          border: none;
          border-radius: 12px;

          .date {
            width: 100%;
            margin-bottom: 3px;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #71717b;
          }

          .box-title {
            width: 100%;
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            color: #fff;
            margin-bottom: 16px;
          }

          .box-txt {
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #d4d4d8;
            margin-bottom: 16px;
          }

          .name {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;

            img {
              width: 20px;
              height: 20px;
              overflow: hidden;
              border-radius: 100%;
            }

            span {
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #34d399;
            }
          }
        }
      }
    }

    .main-title {
      width: 100%;
      padding: 0px 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 20px;

      span {
        color: #34d399;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
      }

      p {
        color: #fff;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
      }
    }

    .title {
      width: 100%;
      padding: 0;
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #fff;

      &.select {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;
        }

        .select-box {
          position: relative;
          width: 120px;
          background: #1c1c1e;
          border-radius: 10px;
          padding: 7px 12px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 12px;
          cursor: pointer;

          span {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #d4d4d8;
          }

          .option-box {
            display: none;
            position: absolute;
            z-index: 20;
            left: 0;
            top: 36px;
            width: 120px;
            background: #1c1c1e;
            border-radius: 10px;
            padding: 7px 12px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            button {
              width: 100%;
              height: 30px;
              border: none;
              background: none;
              text-align: left;
              color: #fff;
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #d4d4d8;
            }
          }

          &.active .option-box {
            display: flex;
          }
        }
      }
    }

    .flex-col {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;
    }

    .tab-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;

      .box {
        width: 100%;
        padding: 20px;
        background: #18181b;
        border-radius: 12px;
        border: 1px solid #27272a;
        display: flex;
        align-items: center;
        text-align: left;

        &.row-sb {
          justify-content: space-between;
        }

        &.col {
          flex-direction: column;

          .left {
            max-width: calc(100% - 140px);

            .name {
              width: 100%;

              p {
                width: 100%;
              }
            }
          }
        }

        .left {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .num {
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #fff;
            margin-right: 20px;
          }

          .avatar {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            margin-right: 16px;

            img {
              border-radius: 100%;
            }
          }

          .name {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            span {
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: .32px;
              color: #71717b;
            }
          }
        }

        p {
          margin: 0;
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #fff;
        }

        &:first-child {
          .num {
            color: #34d399;
          }

          .avatar {
            position: relative;

            img {
              border-radius: 100%;
            }

            &::after {
              content: "";
              display: block;
              position: absolute;
              top: -4px;
              right: -4px;
              width: 20px;
              height: 20px;
              background: url("https://img.thinkpool.com/www/mobile/img/expert/topmark-icon.png") no-repeat;
              background-size: 20px 20px;
              box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1019607843);
              box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1019607843);
            }
          }
        }

        .top {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 4px;
          padding-bottom: 16px;
          margin-bottom: 16px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);

          .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 4px;

            p {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;

              span {
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #71717b;
              }

              &:first-child strong {
                color: #34d399;
              }
            }
          }
        }

        .bottom {
          width: 100%;

          .comment {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            .left {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 6px;
            }

            p {
              margin: 0;
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #71717b;

              span {
                color: #34d399;
              }
            }
          }

          .txt {
            width: 100%;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #d4d4d8;
          }
        }

        &.box-row {
          background: #252528;

          .top {
            border: none;
            margin: 0;
            padding: 0;

            .left {
              max-width: calc(100% - 130px);

              .name {
                width: 100%;

                p {
                  width: 100%;
                }
              }
            }

            .right p:first-child strong {
              color: #ff6467;
            }
          }
        }

        .box-name {
          width: 100%;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 6px;
          margin-bottom: 8px;
          border: none;
          background: none;

          img {
            width: 20px;
            height: 20px;
            overflow: hidden;
            border-radius: 100%;
          }

          span {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #34d399;
          }
        }

        .box-txt {
          width: 100%;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #d4d4d8;
          margin-bottom: 8px;
        }

        .box-date {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #71717b;
          }

          span {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #34d399;
          }
        }

        .item-name {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          margin-bottom: 8px;

          .circle {
            width: 20px;
            height: 20px;
            box-shadow: 0px 0px 15px 0px rgba(16, 185, 129, 0.2);
            background: #E7000B;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            font-weight: 700;
            font-size: 8px;
            line-height: 20px;
            color: #fff;

            &:has(img) {
              background: transparent;
            }
            img{
              width: 100%;
            }
          }

          .name {
            max-width: calc(100% - 90px);
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            color: #fff;
          }

          .code {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: .32px;
            color: #71717b;
          }

          a {
            margin: 0;
            display: block;
            position: absolute;
            top: -1.66px;
            right: 0;
          }
        }
      }

      .news-box {
        position: relative;
        width: 100%;
        padding-left: 40px;

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          background: #fff;
          top: 3px;
          left: 6px;
          z-index: 2;
        }

        &:first-child {
          &::before {
            background: #1ee0ac;
          }

          .date {
            color: #1ee0ac;
          }
        }

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 1.33px;
          height: 100%;
          background: #27272a;
          left: 11px;
          top: 14px;
          z-index: 1;
        }

        &:last-child::after {
          content: none;
        }

        .date {
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #71717b;
          margin-bottom: 18px;
        }

        .news-title {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 6px;
          margin-bottom: 10px;

          span {
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
            color: #fff;
          }
        }

        .news-txt {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 4px;
          margin-bottom: 16px;

          p {
            margin: 0;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #d4d4d8;
          }
        }

        .comment-box {
          width: 100%;
          background: #252528;
          border-radius: 12px;
          padding: 16px;

          .comment-title {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;
            margin-bottom: 16px;

            span {
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #71717b;
            }
          }

          .comment-txt {
            width: 100%;
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #d4d4d8;
            text-align: left;
          }

          .comment-name {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;

            img {
              width: 18px;
              height: 18px;
              border-radius: 100%;
              overflow: hidden;
            }

            span {
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #34d399;
            }
          }
        }
      }
    }

    .box-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 12px;
    }

    .box {
      width: 100%;
      padding: 20px;
      background: #18181b;
      border-radius: 12px;
      border: 1px solid #27272a;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;

      &.inUse {
        flex-direction: column;
        background: #252528;
        border: none;

        .top {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          margin-bottom: 16px;

          .left {
            .name {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 8px;
              margin-bottom: 6px;

              strong {
                font-weight: 700;
                font-size: 18px;
                line-height: 26px;
                color: #fff;
              }

              span {
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #34d399;
              }

              a {
                margin: 0;
              }
            }

            .date {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;

              span {
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #71717b;
              }

              p {
                margin: 0;
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #d4d4d8;
              }
            }
          }

          .right {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            overflow: hidden;
          }
        }

        .btn-group {
          width: 100%;
          padding: 8px 10px;
          background: #1c1c1e;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 16px;

          span {
            width: 1px;
            height: 13px;
            background: #52525c;
          }

          button {
            padding: 0;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            border: none;
            background: none;

            p {
              margin: 0;
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #fff;
            }
          }
        }

        .bottom {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 4px;

          button {
            position: relative;
            margin: 0;
            padding: 0;
            padding-left: 12px;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: rgba(212, 212, 216, 0.8980392157);
            border: none;
            background: none;

            &::before {
              content: "";
              display: block;
              position: absolute;
              width: 3.5px;
              height: 3.5px;
              background: rgba(212, 212, 216, 0.8980392157);
              border-radius: 100%;
              left: 0;
              top: 9px;
            }
          }
        }
      }
    }
  }

  .swiper-pagination {
    position: relative;
    margin-top: 8px;

    .swiper-pagination-bullet {
      background: #3f3f46;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        width: 24px;
        border-radius: 9999px;
        background: #34d399;
      }
    }
  }

  .expt-box {
    width: 100%;
    border: 1px solid #27272a;
    background: #18181b;
    border-radius: 12px;
    padding: 20px;
    text-align: left;

    .box-area {
      width: 100%;
      padding: 0;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #27272a;
      background: none;
      border: none;
      text-align: left;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-bottom: 10px;

        img {
          border-radius: 100%;
        }
      }

      .name {
        width: 100%;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #fff;
        margin-bottom: 12px;
      }

      .tag-group {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 3px 10px;

        span {
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #34d399;
        }

        button {
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #71717b;

          &.active {
            color: #34d399;
          }
        }
      }

      .box-title {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #71717b;
        margin-bottom: 8px;
      }

      .p-group {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;

        p {
          margin: 0;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #fff;
        }
      }

      .txt {
        width: 100%;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #d4d4d8;
      }
    }

    button.add {
      width: 100%;
      margin-top: 20px;
      border: .6px solid #fff;
      padding: 8px;
      background: none;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;

      span {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #fff;
      }
    }

    .check-title {
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: #fff;
      margin-bottom: 20px;
    }
  }

  .tab-group {
    width: 100%;
    padding: 4px;
    background: #222227;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    button {
      height: 34px;
      flex: 1;
      box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1019607843);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
      border-radius: 10px;
      background: #222227;
      border: none;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #71717b;

      &.active {
        background: linear-gradient(90deg, #47474E 0%, #3A3A40 100%);
        color: #fff;
      }
    }
  }
}

.floating-btn_expt {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background: linear-gradient(180deg, rgba(11, 12, 14, 0.1) 0%, rgba(11, 12, 14, 0.5) 16.14%, #0B0C0E 21.97%);

  button {
    width: 100%;
    height: 45px;
    background: #34d399;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #0b0c0e;
  }
}
