.exptOffcanvas{
  width: 100%;
  height: 100%;

  &.offcanvas-bottom{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    max-height: 100%;
    background: #0B0C0E;
  }
  .offcanvas-header{
    width: 100%;
    max-width: 720px;
    height: 56px;
    background: #0B0C0E;
    padding: 0px 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    button{
      border: none;
      background: none;
      padding: 0;
      margin: 0;
    }
  }
  .offcanvas-body{
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    margin: 0 !important;
    padding: 0;
    padding-top: 56px;

    &::-webkit-scrollbar{
      display: none;
    }
  }
  &.payment{
    .offcanvas-body{
      padding-top: 0;

      .info-box{
        width: 100%;
        padding: 0px 36px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .avatar{
          width: 98px;
          height: 98px;
          border: 1px solid #FFFFFF80;
          border-radius: 20px;
          overflow: hidden;
          margin-bottom: 20px;
        }
        .title{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 12px;

          span{
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #34D399;
          }
          p{
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #fff;
          }
        }
        .txt{
          width: 100%;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #D4D4D8;
          text-align: center;
        }
      }
      .banner{
        width: 100%;
        height: 130px;
        background: #32323A;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 10px solid #0B0C0E;

        button{
          border: none;
          background: none;
          padding: 0;
          margin: 0;
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #fff;
        }
      }
      .box{
        width: 100%;
        padding: 30px 16px;
        background: #18181B;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        border-bottom: 10px solid #0B0C0E;

        .title{
          width: 100%;
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #fff;
        }
      }
      .use-list{
        .txt-group{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 4px;

          p{
            width: 100%;
            padding-left: 12px;
            position: relative;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #D4D4D8E5;

            &::before{
              position: absolute;
              content: '';
              display: block;
              width: 3.2px;
              height: 3.2px;
              border-radius: 100%;
              background: #D4D4D8E5;
              left: 0;
              top: 9px;
            }
          }
        }
      }
      .check{
        .radio-group{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 12px;

          .radio-box{
            width: 100%;

            label{
              width: 100%;
              padding: 15px;
              border: 1px solid #737379;
              border-radius: 12px;
              background: url('https://img.thinkpool.com/www/mobile/img/expert/check-icon.png') no-repeat;
              background-position: right 15px center;
              background-size: 16px 16px;
              cursor: pointer;

              p{
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #D4D4D8;
                margin-bottom: 5px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;

                &:last-child{
                  margin-bottom: 0;
                }
                em{
                  color: #71717B;
                  text-decoration: line-through;
                }
                strong{
                  color: #fff;
                }
                span{
                  padding: 3px 10px;
                  background: #34D399;
                  border-radius: 20px;
                  font-weight: 700;
                  font-size: 15px;
                  line-height: 19px;
                  color: #fff;
                }
              }
            }
            input[type=radio]{
              display: none;
            }
            &:has(input:checked){
              label{
                border-color: #34D399;
                background: url('https://img.thinkpool.com/www/mobile/img/expert/check-icon_atv.png') no-repeat;
                background-position: right 15px center;
                background-size: 16px 16px;
                cursor: pointer;
              }
            }
          }
        }
        .txt{
          width: 100%;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #D4D4D8;
        }
      }
      .contract{
        .contract-box{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;
          padding: 15px;
          border: 1px solid #FFFFFF80;
          border-radius: 12px;

          button{
            width: 100%;
            border: none;
            background: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #D4D4D8;
              display: block;
              padding-left: 24px;
              background: url('https://img.thinkpool.com/www/mobile/img/expert/checkbox02.png') no-repeat;
              background-size: 20px 20px;
              background-position: left;

              &.active{
                background: url('https://img.thinkpool.com/www/mobile/img/expert/checkbox02-atv.png') no-repeat;
                background-size: 20px 20px;
                background-position: left;
              }
            }
          }
        }
      }
      .guide{
        border: none;
        .txt{
          width: 100%;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #D4D4D8;
        }
      }
    }
    .offcanvas-footer{
      width: 100%;
      max-width: 720px;
      margin: 0 auto;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;

      button{
        width: 100%;
        height: 58px;
        background: #34D399 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #0B0C0E;
      }
    }
  }
  &.strategy{
    .offcanvas-body{
      padding: 0;

      .top{
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #27272A;

        .title{
          width: 100%;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: #fff;
          margin-bottom: 10px;
        }
        .date-name{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .date{
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #71717B;
          }
          .name{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 6px;

            span{
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #34D399;
            }
            img{
              width: 20px;
              height: 20px;
              border-radius: 100%;
              overflow: hidden;
            }
          }
        }
      }
      .bottom{
        width: 100%;
        padding-top: 20px;

        .tag-group{
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          flex-wrap: wrap;
          margin-bottom: 16px;

          span{
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #34D399;
          }
        }
        .txt{
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #D4D4D8;
          margin-bottom: 40px;

          &:last-child{
            margin-bottom: 0;
          }

          img{
            width: 100%;
          }
          p{
            background-color: #15191C !important;

            span{
              font-size: 15px !important;
              line-height: 22px !important;
              color: #D4D4D8 !important;
            }
          }
        }
      }
    }
  }
  &.counsel{
    .offcanvas-body{
      padding: 56px 16px;

      .input-group{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;

        .input-box{
          width: 100%;

          .title{
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #fff;
            margin-bottom: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span{
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #71717B;
            }
          }
          .items-search{
            width: 100%;
            padding: 13px 20px !important;
            background: #24282F !important;
            border-radius: 12px;
            border: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #D4D4D8;
            text-align: left;

            p{
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #D4D4D8;

              span{
                color: #34D399;
              }
            }
          }
          textarea{
            width: 100%;
            height: 453px;
            border-radius: 12px;
            background: #24282F;
            padding: 20px;
            border: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #D4D4D8;

            &:focus-visible{
              outline: none;
            }
          }
        }
      }
      .check-box{
        width: 100%;
        margin-top: 16px;

        input{
          display: none;

          &:checked + label{
            background: url('https://img.thinkpool.com/www/mobile/img/expert/checkbox02-atv.png') no-repeat;
            background-size: 24px 24px;
            background-position: left;
          }
        }
        label{
          width: 100%;
          height: 24px;
          padding-left: 30px;
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          color: #FFFFFF;
          background: url('https://img.thinkpool.com/www/mobile/img/expert/checkbox02.png') no-repeat;
          background-size: 24px 24px;
          background-position: left;
        }
      }
      .btn-group{
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;

        button{
          width: 100%;
          height: 48px;
          border: none;
          border-radius: 10px;
          background: #484852 !important;
          font-weight: 400;
          font-size: 15px;
          line-height: 22px;
          color: #D4D4D8;

          &:last-child{
            background: #34D399 !important;
            color: #0B0C0E;
          }
        }
      }
    }
    .search-offcanvas{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #0B0C0E;
      z-index: 9999;
      opacity: 0;
      transform: translateY(100%);
      transition: transform 0.3s ease-in-out;

      &.active{
        opacity: 1;
        transform: translateY(0);
      }

      .offcanvas-body{
        width: 100%;
        height: 100%;

        .recent-search{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 18px;
          margin-top: 40px;

          .title{
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #fff;
          }
          .items-list{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 12px;

            button{
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;
              padding: 2px 0px !important;

              .circle {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background: #E7000B;
                box-shadow: 0px 0px 15px 0px rgba(16, 185, 129, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 8px;
                line-height: 20px;
                color: #fff;

                &:has(img) {
                  background: transparent;
                }
                img{
                  width: 100%;
                }
              }
              .name{
                width: auto;
                max-width: calc(100% - 110px);
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
                color: #fff;
              }
              .code{
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.32px;
                color: #71717B;
              }
            }
          }
        }
        .input-box{
          position: relative;
        }
        .expert-autoComplete{
          display: none;
          width: 100%;
          position: absolute;
          top: 100%;
          left: 0;
          background: #27272A;
          border-radius: 12px;
          padding-bottom: 80px;

          &.show{
            display: block;
          }

          .auto-list{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0;
            padding-left: 0;
            overflow: hidden;
            margin: 0;

            li{
              width: 100%;
              padding: 14px 20px;
              background: #24282F;
              cursor: pointer;

              &:first-child{
                border-radius: 12px 10px 0 0;
              }
              p{
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #D4D4D8;

                span{
                  color: #00C29B;
                }
              }
              em{
                font-weight: 400;
                font-size: 11px;
                line-height: 16px;
                letter-spacing: 0.32px;
                color: #71717B;
              }
            }
          }
        }
      }
    }
  }
  &.counselDetail{
    .offcanvas-body{
      padding: 56px 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px;

      .counsel-content{
        width: 100%;

        .title{
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #fff;
          margin-bottom: 16px;
        }
        .counsel-box{
          width: 100%;
          padding: 20px;
          border: 1px solid #3E444E;
          background: #24282F;
          border-radius: 12px;

          .top{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            &.pb-border{
              padding-bottom: 16px;
              border-bottom: 1px solid #3E444E;
            }

            .left{
              max-width: calc(100% - 90px);
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;

              .circle{
                width: 28px;
                min-width: 28px;
                height: 28px;
                background: #404047;
                border-radius: 100%;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .name{
                width: auto;
                max-width: calc(100% - 80px);
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #fff;
              }
              .code{
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.32px;
                color: #71717B;
              }
            }
            .right{
              display: flex;
              justify-content: flex-end;
              align-items: center;
              gap: 10px;

              span{
                padding: 1px 5px;
                border: 0.6px solid #71717B;
                border-radius: 5px;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.32px;
                color: #71717B;
              }
            }
            .area{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 6px;

              p{
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #34D399;
              }
              span{
                background: linear-gradient(90deg, #34D399 0%, #50FFD0 100%);
                border-radius: 50px;
                padding: 2px 10px;
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #0B0C0E;
              }
            }
          }
          .bottom{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;

            .answer{
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #fff;
            }
            p{
              width: 100%;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #D4D4D8;

              img{
                width: 100%;
              }
            }
          }
          .txt{
            width: 100%;
            margin-bottom: 6px;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #D4D4D8;
            text-align: left;
          }
          .date{
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #71717B;
            text-align: left;
          }
          &.register{
            .circle{
              color: #34D399 !important;
            }
            .right{
              span{
                background: #71717B;
                color: #fff;
              }
            }
          }
        }
        .recommend-box{
          width: 100%;
          padding: 25px;
          background: #18181B;
          border-radius: 16px;
          border: 1.25px solid #34D399;
          box-shadow: 0px 8px 10px -6px #0000001A;
          box-shadow: 0px 20px 25px -5px #0000001A;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 16px;

          strong{
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #fff;
          }
          p{
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #D4D4D8;
          }
          button{
            width: 100%;
            height: 44px;
            background: linear-gradient(90deg, #34D399 0%, #50FFD0 100%) !important;
            box-shadow: 0px 4px 6px -4px #00BC7D33;
            box-shadow: 0px 10px 15px -3px #00BC7D33;
            border-radius: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #0B0C0E;
          }
        }
      }
    }
  }
  &.recommend{
    .offcanvas-body{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px;

      .body-content{
        width: 100%;
        padding: 0px 16px;

        .title{
          width: 100%;
          margin-bottom: 16px;
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #fff;
        }
        .item-box{
          width: 100%;
          padding: 20px;
          border: 1px solid #D4D4D8;
          background: #18181B;
          border-radius: 12px;
          text-align: left;
          margin-bottom: 16px;

          &:last-child{
            margin-bottom: 0;
          }

          .top{
            width: 100%;
            padding-bottom: 16px;
            border-bottom: 1px solid #3E444E;

            .box-name{
              width: 100%;
              margin-bottom: 16px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .left{
                width: 100%;
                max-width: calc(100% - 90px);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;

                .circle{
                  width: 20px;
                  height: 20px;
                  box-shadow: 0px 0px 15px 0px #10B98133;
                  background: #E7000B;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 100%;
                  font-weight: 700;
                  font-size: 8px;
                  line-height: 20px;
                  color: #fff;

                  &:has(img) {
                    background: transparent;
                  }
                  img{
                    width: 100%;
                  }
                }
                .name{
                  max-width: calc(100% - 90px);
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 26px;
                  color: #fff;
                }
                .code{
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 16px;
                  letter-spacing: 0.32px;
                  color: #71717B;
                }
              }
              .right{
                .tag{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 3px;
                  padding: 2px 10px;
                  border-radius: 50px;
                  left: 20px;
                  top: -10px;

                  span{
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 18px;
                    color: #0B0C0E;
                  }
                }
              }
            }
            .box-txt{
              p{
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #D4D4D8;

                strong{
                  margin-left: 5px;
                  font-weight: 700;
                  color: #FF3657;

                  &.green{
                    color: #34D399;
                  }
                }
                span{
                  margin-left: 5px;
                  margin-right: 5px;
                  background: #FF3657;
                  padding: 2px 5px;
                  border-radius: 5px;
                  font-weight: 400;
                  font-size: 11px;
                  line-height: 16px;
                  letter-spacing: 0.32px;
                  color: #fff;

                  &.green{
                    background: #34D399;
                  }
                }
              }
            }
          }
          .bottom{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;

            p{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;

              em{
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #71717B;
              }
              span{
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #D4D4D8;
              }
              strong{
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
                color: #D4D4D8;

                &.red{
                  color: #FF3657;
                }
                &.green{
                  color: #34D399;
                }
              }
            }
          }
          &.green{
            border-color: #34D399;

            .tag{
              background: linear-gradient(93.68deg, #6FFFAB 13.67%, #05BF7B 86.02%);
            }
          }
          &.red{
            .tag{
              background: linear-gradient(90deg, #FF536D 0%, #D61B3A 100%);
            }
          }
          &.gray{
            .tag{
              background: #B6B6BE;
            }
          }
        }
        .chart-box{
          width: 100%;
          border: 1px solid #3E444E;
          background: #24282F;
          padding: 20px;
          border-radius: 12px;

          .txt{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            p{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;

              em{
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #71717B;
              }
              strong{
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
                color: #fff;

                &.red{
                  color: #FF3657;
                }
                &.green{
                  color: #34D399;
                }
              }
              span{
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #FFFFFF;
              }
            }
          }
          .chart{
            width: 100%;

            img{
              width: 100%;
            }
          }
        }
        .box-group{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          .box{
            flex: 1;
            width: 100%;
            background: #32323A;
            padding: 20px 16px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;

            span{
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #71717B;
            }
            strong{
              font-weight: 700;
              font-size: 20px;
              line-height: 23px;
              color: #fff;

              &.red{
                color: #FF3657;
              }
              &.green{
                color: #34D399;
              }
            }
            p{
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #71717B;
            }
          }
        }
        .comment{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 30px;

          .comment-box{
            position: relative;
            width: 100%;
            padding-left: 40px;

            &::before{
              content: "";
              position: absolute;
              display: block;
              width: 12px;
              height: 12px;
              border-radius: 100%;
              background: #fff;
              top: 4px;
              left: 6px;
              z-index: 2;
            }
            &::after{
              content: "";
              position: absolute;
              display: block;
              width: 1.33px;
              height: calc(100% + 30px);
              background: #27272a;
              left: 11px;
              top: 14px;
              z-index: 1;
            }
            &:last-child{
              &::after{
                content: none;
              }
            }
            .box-title{
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 20px;

              p{
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #fff;
              }
              span{
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #71717B;
              }
            }
            .box{
              width: 100%;
              background: #24282F;
              padding: 20px;
              border-radius: 12px;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #D4D4D8;
            }
          }
        }
      }
      .body-footer{
        width: 100%;
        padding: 20px;
        padding-bottom: 40px;
        background: #32323A;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;

        .title{
          font-weight: 700;
          font-size: 18px;
          line-height: 26px;
          color: #fff;
        }
        .btn-group{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          button{
            flex: 1;
            width: 100%;
            padding: 7px 10px !important;
            border-radius: 50px;
            background: #252528 !important;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;

            span{
              font-weight: 400;
              font-size: 13px;
              line-height: 18px;
              color: #fff;
            }
          }
        }
        .link-group{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 6px;

          button{
            position: relative;
            width: 100%;
            padding-left: 12px !important;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none;
            background: none;
            text-align: left;

            &::before{
              content: '';
              display: block;
              position: absolute;
              width: 3.5px;
              height: 3.5px;
              background: #D4D4D8;
              border-radius: 100%;
              left: 0;
              top: 9px;
            }
            span{
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #D4D4D8;
            }
          }
        }
      }
    }
  }
  &.noUse, &.diagnosis{
    &.offcanvas-bottom{
      background: transparent;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      pointer-events: none;

      .offcanvas-body{
        flex-grow: 0;
        width: 100%;
        padding: 30px 20px;
        background: #32323A;
        border-radius: 20px 20px 0 0;
        pointer-events: auto;

        .title{
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 6px;
          margin-bottom: 10px;
          
          .left{
            width: 45px;
            height: 45px;
            border-radius: 100%;
            overflow: hidden;
          }
          .right{
            p{
              font-weight: 700;
              font-size: 18px;
              line-height: 26px;
              color: #fff;

              strong{
                color: #34D399;
              }
            }
          }
        }
        .txt{
          width: 100%;
          margin-bottom: 16px;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: #D4D4D8;
        }
        .check-box{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 8px;
          margin-bottom: 30px;
          
          .list{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;

            P{
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #fff;
            }
          }
        }
        .box{
          width: 100%;
          background: #32323A;
          border: 1px solid #404244;
          padding: 10px;
          border-radius: 12px;
          margin-bottom: 30px;
          
          P{
            width: 100%;
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #D4D4D8;
          }
        }
        .use-btn{
          width: 100%;

          button{
            width: 100%;
            height: 45px;
            border: none;
            background: #34D399 !important;
            border-radius: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #0B0C0E;
          }
        }
      }
    }
  }
  .related-items{
    width: 100%;

    .title{
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #fff;
      margin-bottom: 16px;
    }

    .items-group{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;

      button{
        border: none;
        background: #32323A !important;
        width: 100%;
        border-radius: 12px;
        padding: 16px 20px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;

        .left{
          width: 100%;
          max-width: calc(100% - 140px);
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          .name{
            max-width: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 6px;

            p{
              max-width: 100%;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #fff;
            }
            span{
              border: 0.6px solid #34D399;
              padding: 1px 5px;
              border-radius: 5px;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.32px;
              color: #34D399;
            }
          }
          .code{
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.32px;
            color: #71717B;
          }
        }
        .right{
          .a-group{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 6px;

            a{
              width: 42px;
              height: 47px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 3px;

              span{
                font-weight: 400;
                font-size: 11px;
                line-height: 16px;
                letter-spacing: 0.32px;
                color: #D4D4D8;
              }
            }
          }
        }
        &.holding{
          .left{
            .name{
              p{
                max-width: calc(100% - 53px);
              }
            }
          }
        }
      }
    }
  }
  p{
    margin: 0;
  }
}

body:has(#noUse.show) .offcanvas-backdrop.show {
  background: transparent;
  opacity: 0;
}

.expert-container .blur-bg{
  width: 100%;
  max-width: 720px;
  height: calc(100dvh - 95px);
  position: fixed;
  top: 95px;
  left: 50%;
  bottom: 0;
  right: 0;
  transform: translateX(-50%);
  z-index: 99;
  background: #00000010;
  backdrop-filter: blur(5px);
}

body{
  padding: 0 !important;
}