// us_home > airecom-tab
.airecom-tab {
  width: 100%;
  background: #F7F8FA;
  padding: 20px 16px 0;

  .nav {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #C3CACE;
    background: #E6E8EE;

    button {
      border: none;
      background: none;
      padding: 0;
      color: #666;
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;

      &.active {
        border-radius: 6px;
        background: #454860;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}

// us_home > airecom-tab

// us_home > ushome-hig
.ushome-hig {
  width: 100%;
  padding: 30px 16px 45px;
  background: #F7F8FA;

  .hig-title {
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #333;
  }

  .hig-con {
    width: 100%;
    margin-top: 15px;
    border-radius: 12px;
    background: #3D4166;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 25px 20px;

    button.hig-con_list {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: none;
      background: none;
      padding: 0;
      padding-bottom: 13px;

      &:last-child {
        padding-bottom: 0;
      }

      .hig-date {
        padding: 3px 10px;
        display: inline-block;
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.50);
        color: rgba(255, 255, 255, 0.70);
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        margin-right: 6px;
      }

      .hig-name {
        display: inline-block;
        width: auto;
        max-width: 92px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin-right: 3px;
        text-align: left;
      }

      .hig-per {
        display: inline-block;
        width: auto;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
      }
    }
  }
}

// us_home > ushome-hig

// 라디오버튼
.us_radio-btn input[type=checkbox] {
  position: absolute;
  display: none;
}

.us_radio-btn input[type=checkbox]:checked+.switch_label {
  background: #454860;
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 24px;
  background: #BFBFBF;
  border-radius: 99px;
  transition: 0.2s;
}

.us_radio-btn input[type=checkbox]:checked+.switch_label .onf_btn {
  left: 18px;
}

.onf_btn {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 22px;
  background: #fff;
  transition: 0.2s;
}

// 라디오버튼

// us_home > airecom-con02
.buy-head {
  padding: 30px 26px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.jcend {
    justify-content: end;
  }

  .us_radio-btn {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;

    .radio-txt {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #333;
      margin-right: 8px;
    }
  }

  .offcan-btn {

    button {
      padding: 0;
      width: 100%;
      border: none;
      background: none;
      display: flex;
      align-items: center;

      div {
        color: #666;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

// 선택 offcanvas
.offcanvas-order {
  --bs-offcanvas-height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  &.offcanvas-bottom {
    height: auto;
  }

  .order-header {
    padding: 24px 20px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .order-headertxt {
      color: #333;
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
    }

    button {

      &:focus {
        box-shadow: none;
      }
    }
  }

  .order-con {
    max-height: 300px;
    overflow-y: auto;

    .order-con_list {
      width: 100%;
      height: 60px;
      border: none;
      background: none;
      color: #141414;
      font-size: 16px;
      font-weight: 400;
      line-height: 60px;
      position: relative;

      &.active {
        background: #F4F6FD;
        color: #4F3FC6;
        font-weight: 500;

        &::after {
          position: absolute;
          content: "";
          background-image: url(../img/order-btn.png);
          background-position: center;
          background-size: 24px 24px;
          width: 24px;
          height: 24px;
          right: 20px;
          top: 18px;
        }
      }
    }
  }
}

// 선택 offcanvas

.buy-con {
  padding: 0px 16px 40px;

  .buy-con_box {
    width: 100%;
    text-align: left;
    border-radius: 8px;
    border: 1px solid #D5D9DD;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0;

    .buy-box_top {
      padding: 20px 20px 15px;
      background: #F7F9FA;

      .top1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        .top1-left {
          color: #969696;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
        }

        .top1-right {
          position: relative;
          font-size: 13px;
          font-weight: 400;
          line-height: 17px;
          color: #666;
          border: none;
          background: none;
          padding-right: 20px;

          &::after {
            position: absolute;
            top: 5px;
            right: 7px;
            content: "";
            width: 6px;
            height: 6px;
            border: 1px solid #666;
            border-left: 0;
            border-bottom: 0;
            transform: rotate(45deg);
          }
        }
      }

      .top2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;

        .box_name {
          display: inline-block;
          width: auto;
          max-width: calc(100% - 62px);
          color: #000;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          margin-right: 8px;
        }
      }

      .top3 {
        font-size: 13px;
        color: #666;
        font-weight: 400;
        line-height: 16px;
      }
    }

    .buy-box_bot {
      padding: 15px 20px;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          color: #666;
        }
      }
    }
  }

  .buy-con_txt {
    font-weight: 400;
    color: #666;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 30px;
  }

  button.more {
    width: 100%;
    height: 36px;
    background: #E7EBEF;
    border: 1px solid #DFE3E7;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.53px;
    color: #212121;
  }
}

// us_home > airecom-con02

//us_home > ai-intro
.ai-intro {
  padding: 20px 0px 0px;
  background: #F7F8FA;

  .us_ai-intro_main {
    width: 100%;
    height: 254px;
    margin-bottom: 30px;
    border-radius: 16px;
    padding: 30px 16px 20px 20px;
    background: #2BA6A4;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));

    .us_aiintro-main_icn {
      display: inline-block;
      border-radius: 100px;
      padding: 3px 13px;
      color: #fff;
      font-size: 13px;
      font-weight: 500;
      line-height: 19px;
      margin-bottom: 11px;
      background: #1F626B;
    }

    .us_aiintro-txt {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      line-height: 27px;

      span {
        color: #F9FF54;
        font-weight: 700;
        display: inline-block;
        margin-top: 3px;
      }
    }

    .us_aiintro-bot {
      margin-top: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .us_aiintro-stxt {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }

      .us_aiintro-main_img {

        img {
          width: 125px;
        }
      }
    }
  }

  .us_aiintro-con02 {
    padding: 20px 16px;

    .us_box-style {
      margin-bottom: 20px;

      .us_ai-box_maintxt {
        color: #212121;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 15px;
        margin-bottom: 10px;
      }

      .us_ai-box_stxt {
        color: #666;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 30px;

        span {
          font-weight: 500;
          color: #2BA6A4;
        }
      }

      .us_ai-box_img {
        width: 100%;

        img {
          width: 100%;
        }

        div {
          text-align: center;
        }
      }
    }
  }
}


// AI종목속보_상세보기
.content-header{
  width: 100%;
  height: 48px;
  max-width: 720px;
  position: sticky;
  top: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 16px;
  z-index: 10;
  background: #fff;
  
  &.content-border{
    border-bottom: 1px solid #DEE2E6;
  }

  button {
    text-align: left;
    border: none;
    background: none;
    padding: 0;
    margin-right: 10px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .header-txt{
    color: #222;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    span{
      color: #5368FF;
    }
  }
}

.us_news-detail {

  .news-detail {
    padding: 20px 16px 90px;

    .detail-head {
      padding-bottom: 16px;
      border-bottom: 1px solid #CACACA;

      .detail-title {
        color: #212121;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 10px;
      }

      .usnews-list_time {
        font-size: 13px;
        font-weight: 400;
        line-height: 19px;
        color: #999;
        display: flex;
        gap: 8px;

        .usnews-list_line {

          &::after {
            content: "";
            display: inline-block;
            width: 1px;
            height: 11px;
            background: #D7D7D7;
          }
        }
      }
    }
    .detail-body{
      margin-top: 20px;
      font-size: 16px;
      color: #000;
      line-height: 26px;
    }
  }
}

// 상장폐지 팝업창
.list-popup {
  .modal-dialog {
    margin: 0px 16px;

    .modal-content {
      border-radius: 16px;
      border: none;

      .modal-body {
        width: 100%;
        padding: 30px 20px;

        strong{
          display: block;
          color: #212121;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 13px;
        }

        span {
          display: block;
          color: #666;
          font-size: 14px;
          text-align: center;
          font-weight: 400;
          line-height: 21px;
        }
      }

      .listmodal-btn {
        width: 100%;

        button {
          width: 100%;
          height: 48px;
          border-radius: 0px 0px 16px 16px;
          border: none;
          background: #5567FD;
          color: #fff;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
        }
      }
    }
  }
}
// 상장폐지 팝업창