.usa-news {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  &.str {
    button {
      border: 0;
      background: none;
      gap: 1px;
      font-size: 13px;
      color: #666;
      letter-spacing: -0.325px;
    }

    & > div {
      .top {
        gap: 8px;
        justify-content: space-between;

        em {
          width: auto;
          padding: 0 10px;
        }
        .obj {
          width: calc(100% - 109px);
          font-size: 14px;
          color: #333;
          font-weight: 400;
          line-height: 21px;
        }
        .str {
          display: block;
          height: 21px;
          line-height: 21px;
          width: 45px;
          border-radius: 6px;
          font-weight: 400;
          font-size: 14px;
          text-align: center;

          &.str01 {
            background: #fbebeb;
            color: #e81a1a;
          }
          &.str02 {
            background: #e9f8e0;
            color: #26a911;
          }
          &.str03 {
            background: #e7f0ff;
            color: #225cff;
          }
          &.str04 {
            background: #f2edff;
            color: #6333cb;
          }
          &.str05 {
            background: #d4d4d4;
            color: #666;
          }
        }
      }
      .cont {
        display: block;
        width: 100%;
        height: 21px;
        line-height: 21px;

        em {
          font-size: 13px;
          color: #999;
          font-weight: 400;
          padding-right: 6px;
        }
        span {
          font-size: 14px;
          color: #333;
          font-weight: 400;
        }
      }
    }
  }

  button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 36px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #dfe3e7;
    background: #e7ebef;
    margin-bottom: 5px;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    padding-top: 16px;
    border-top: 1px solid #eaeaea;

    &:first-child {
      border-top: 0;
    }

    .top {
      display: flex;
      width: 100%;
      gap: 5px;

      em {
        display: block;
        height: 21px;
        width: 54px;
        text-align: center;
        line-height: 21px;
        border-radius: 99px;
        border: 1px solid rgba(153, 153, 153, 0.5);
        font-size: 12px;
        color: #666;
      }
      span {
        display: block;
        width: calc(100% - 59px);
        font-size: 14px;
        line-height: 21px;
        color: #000;
        font-weight: 500;
      }
    }

    .cont {
      display: block;
      width: 100%;
      font-size: 14px;
      font-size: 333;
      line-height: 21px;
      height: 42px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}

.bullet_str {
  display: block;
  height: 21px;
  line-height: 21px;
  width: 45px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;

  &.str01 {
    background: #fbebeb;
    color: #e81a1a;
  }
  &.str02 {
    background: #e9f8e0;
    color: #26a911;
  }
  &.str03 {
    background: #e7f0ff;
    color: #225cff;
  }
  &.str04 {
    background: #f2edff;
    color: #6333cb;
  }
  &.str05 {
    background: #d4d4d4;
    color: #666;
  }
}
