.change{
    .member-title{
        strong{
            background:url(../img/member/bu_change.jpg) no-repeat 0 50%;
            @media (max-width:425px) {
                background-size: 33px auto;
            }
        }
    }
    
}
.info-m{
    .member-title{
        strong{
            background:url(../img/member/bu_infom.png) no-repeat 0 50%;
            
            @media (max-width:425px) {
                background-size: 33px auto;
            }
        }
    }
}

.withdraw{
    .member-title{
        strong{
            background:url(../img/member/bu_withdraw.png) no-repeat 0 80%;

            @media (max-width:425px) {
                background:url(../img/member/bu_withdraw.png) no-repeat 0 70%;
                background-size: 35px auto;
            }
        }
    }
}


.change .user-input-info, .info-m .user-input-info{

    &.complete{
        .info{
            .input-list{
                &>div{
                    &>div{
                        input.form-control{
                            color:#3E72ED;
                        }
                    }
                }
            }
        }
    }
    .info{
        .input-list{
            &>div{
                border-bottom:1px solid #000;
                

                &>label{
                    width:100px;
                    height:52px;
                    line-height:42px;
                    padding:5px 0;
                    font-size:14px;

                    &.event{
                        height:auto;
                        min-height:52px;
                        padding:5px 0;
                        line-height:21px;
                    }
                }

                &>div{
                    width:calc(100% - 100px);
                    border-bottom:0;
                    min-height:52px;
                    padding:5px 0;
                    flex-wrap:wrap;

                    &.num.lg{
                        min-height:52px;
                        height:94px !important;
                        align-content: space-around;
                        align-items: center;
                        flex-wrap:wrap;

                        input.form-control, textarea.form-control{
                            width:100%;
                            margin:0;
                        }
                        button{
                            margin:0;
                        }
                    }
                    

                    input.form-control,textarea.form-control{
                        font-size:14px;
                        padding-right:0.5rem;

                        &.is-invalid{
                            padding-right:2.25em;
                        }

                        &:focus,&:active{
                            box-shadow:0 0 5px #3E72ED !important;
                        }

                        &::placeholder{
                            font-size:13px;
                        }
                    }

                    .valid-feedback,.invalid-feedback{
                        width:100%;
                    }

                }
            }
        }
    }
}