.member-title{
    display:block;
    padding:60px 0;
    text-align:center;

    strong{
        font-size:40px;
        font-weight:300 !important;
        padding-left:50px;
        background:url(../img/member/bu_idpw.png) no-repeat 0 50%;
    }

    @media (max-width:425px){

        padding:40px 0;

        strong{
            font-size:30px;
            background-size:30px auto;
            padding-left:40px;
        }
    }
}

.naver{
    .member-title{
        background:url(../img/member/bu_nv.png) no-repeat center top;
        background-size:50px auto;
        padding-top:70px;
        margin-top:40px;

        strong{
            display:block;
            width:100%;
            padding:0;
            background:none;
            font-size:23px;
            font-weight:500 !important;

            em.nv{
                color:#03875A;
                font-weight:500;
                font-style:normal;
            }
        }

        span{
            font-size:17px;
        }
    }

    .member-txt{
        display:block;
        width:100%;
        font-size:14px;
        text-align:center;

        a{
            color:#3E72ED;
            border-bottom:1px solid #3E72ED;
        }
    }
}

.idpw .user-input-info{
    .info{
        .input-list{
            &>div{
                border-bottom:1px solid #000;

                &>label{
                    width:100px;
                    height:52px;
                    line-height:42px;
                    font-size:14px;
                    padding:5px 0;
                }

                &>div{
                    width:calc(100% - 100px);
                    border-bottom:0;
                    min-height:52px;
                    padding:5px 0;
                    flex-wrap:wrap;

                    &.num.lg{
                        min-height:52px;
                        height:94px !important;
                        align-content: space-around;
                        align-items: center;
                        flex-wrap:wrap;

                        input{
                            width:100%;
                            margin:0;
                        }
                        button{
                            margin:0;
                        }
                    }
                    

                    input.form-control, textarea.form-control{
                        font-size:14px;
                        padding-right:0.5rem;

                        &.is-invalid{
                            padding-right:2.25em;
                        }

                        &:focus,&:active{
                            box-shadow:0 0 5px #3E72ED !important;
                        }

                        &::placeholder{
                            font-size:13px;
                        }
                    }

                    .valid-feedback,.invalid-feedback{
                        width:100%;
                    }

                }
            }
        }
    }
}

.idpw-result{
    &>span{
        font-size:15px;
        color:#999;
    }
}

.pw-guide{
    display:block;
    width:100%;

    div{
        display:block;
        width:100%;
        margin-top:10px;
        overflow:hidden;

        span{
            display:block;
            float:left;
            width:calc(100% - 21px);
            font-size:15px;
            color:#999;
            line-height:21px;
            padding-left:5px;

            @media (max-width:425px){
                font-size:13px;
            }
        }

        em{
            display:block;
            float:left; 
            font-size:15px;
            color:#999;
            line-height:21px;
            padding-left:5px;
            
            @media (max-width:425px){
                font-size:13px;
                line-height:19px;
            }
        }
        a{
            font-size:15px;
            line-height:21px;
            color:#3E72ED;
            border-bottom:1px solid #3E72ED;
            float:left;
            margin-left:5px;

            @media (max-width:425px){
                font-size:13px;
                line-height:19px;
            }
        }


        &::before{
            content:'※';
            font-size:15px;
            line-height:21px;
            color:#999;
            display:block;
            float:left;
            @media (max-width:425px){
                font-size:13px;
                line-height:19px;
            }
        }
    }
}

.pw-complete{
    display:block;
    width:100%;

    div{
        display:block;
        width:100%;

        &.userid{
            display:block;
            width:100%;
            text-align:center;
            font-size:17px;
            color:#3E72ED;

            strong{
                display:inline-block;
                font-size:25px;
                color:#3E72ED;
            }
        }

        strong{
            display:block;
            text-align:center;
            font-size:25px;
            line-height:35px;
            color:#000;
            font-weight:500 !important;

            @media (max-width:425px){
                font-size:20px;
                line-height:30px;
            }
        }

        span{
            display:block;
            text-align:center;
            font-size:17px;
            line-height:27px;
            font-weight:300;

            @media (max-width:425px){
                font-size:15px;
                line-height:25px;
            }
        }

        &.gm{
            text-align:center;

            em{
                display:inline-block;
                width:100%;
                font-size:15px;
                color:#999;
                line-height:20px;
                font-weight:300;
                
                &::before{
                    display:inline-block;
                    content:'※';
                    font-size:15px;
                    color:#999;
                }
            }
        }
    }
}