@charset "UTF-8";
#aiitemcarosel .swiper-pagination {
  margin-top: 10px !important;
}

.card-item {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 340px;
  height: 170px;
  border-radius: 10px;
  background-color: #5367ff;
  padding: 0 17px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}
.card-item .name {
  display: block;
  width: 100%;
  float: left;
  clear: left;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  z-index: 2;
}
.card-item .name span {
  font-size: 13px;
  font-weight: 400;
}
.card-item .price {
  display: block;
  width: 100%;
  float: left;
  clear: left;
  height: 27px;
  line-height: 27px;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  z-index: 2;
}
.card-item .price span {
  font-size: 13px;
  font-weight: 400;
}
.card-item .price2 {
  position: absolute;
  top: 25px;
  right: 22px;
  font-size: 13px;
  color: #fff;
  text-align: right;
  z-index: 2;
}
.card-item .price2 span {
  display: block;
  height: 15px;
  line-height: 15px;
}
.card-item .btnbox {
  display: block;
  width: 100%;
  height: 20px;
  float: left;
  clear: left;
  margin-top: 10px;
  z-index: 2;
}
.card-item .btnbox button {
  background: #3e4dbf;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  outline: 0;
  border: 0;
  border-radius: 20px;
  font-size: 13px;
  color: #fff;
  float: left;
}
.card-item .btnbox button img {
  float: right;
  margin-top: 5px;
  margin-left: 3px;
}
.card-item .og-guide {
  display: block;
  float: left;
  clear: left;
  height: 15px;
  line-height: 15px;
  margin-top: 15px;
  font-size: 13px;
  color: #b9c1fe;
  z-index: 2;
}
.card-item .tag {
  display: block;
  width: 100%;
  float: left;
  clear: left;
  font-size: 13px;
  color: #fff;
  z-index: 2;
}
.card-item .tag span {
  padding-right: 3px;
}
.card-item .tag span::before {
  content: "#";
}
.card-item .backImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.card-item-sv {
  background-image: none;
}
.card-item-sv .txt {
  display: block;
  width: 100%;
  float: left;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  text-align: center;
}
@media (max-width: 359px) {
  .card-item-sv .txt {
    font-size: 13px;
  }
}
.card-item-sv .btnbox {
  width: 100%;
  text-align: center;
}
.card-item-sv .btnbox button {
  float: none;
}
.card-item-ev {
  background-image: none;
}
.card-item-ev .txt {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
}
.card-item-ev .txt span {
  display: block;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.card-item-ev .txt strong {
  display: block;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.card-item-ev .txt em {
  display: block;
  font-size: 13px;
  color: #c0c7fc;
}
.card-item-ev .btnbox {
  width: 100%;
  text-align: center;
}
.card-item-ev .btnbox button {
  float: none;
}
.card-item-ev.bg-violet {
  background: #8450fd !important;
  gap: 4px;
}
.card-item-ev.bg-violet .txt {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
}
.card-item-ev.bg-violet .txt span {
  display: block;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
  font-weight: 500;
}
.card-item-ev.bg-violet .txt strong {
  display: block;
  font-size: 28px;
  line-height: 41px;
  color: #fff85c;
  font-weight: 700;
}
.card-item-ev.bg-violet .txt em {
  display: block;
  font-size: 16px;
  line-height: 23px;
  color: #fff85c;
  font-weight: 500;
}
.card-item-ev.bg-violet .btnbox {
  width: 100%;
  text-align: center;
}
.card-item-ev.bg-violet .btnbox button {
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: none;
  padding: 0 13px;
  background: #5121bf;
}
.card-item-ev.bg-violet .btnbox button img {
  margin: 0;
  padding: 0;
}

.item-pick .carousel {
  padding-bottom: 20px;
}
.item-pick .carousel-indicators {
  margin: 0;
  padding: 0;
}
.item-pick .carousel-indicators [data-bs-target] {
  margin: 0 5px;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 0;
  background: #e5e6ec;
  text-indent: -9999em;
}
.item-pick .carousel-indicators .active {
  background: #5368ff;
}

.fpbox {
  overflow: hidden;
}
.fpbox .fptitle {
  display: block;
  width: 100%;
  height: 35px;
  float: left;
}
.fpbox .fptitle a {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  border: 1px solid #5368ff;
  font-size: 14px;
  color: #5368ff;
  font-weight: 700;
  border-radius: 35px;
  float: left;
}
.fpbox .m-per {
  display: flex;
  justify-content: space-between;
  float: left;
  width: 100%;
}
.fpbox .m-per div {
  display: block;
  width: 33%;
  float: left;
  text-align: center;
}
.fpbox .m-per div span {
  font-size: 13px;
  color: #999;
  display: block;
  width: 100%;
  float: left;
}
.fpbox .m-per div strong {
  display: block;
  width: 100%;
  font-size: 23px;
  font-weight: 700;
  float: left;
}
.fpbox .m-per div .box {
  display: inline-block;
  width: 98px;
  background: #f6f6f7;
  border-radius: 5px;
  padding: 5px 0;
  float: none;
  margin-top: 5px;
}
.fpbox .m-per div .box span {
  font-size: 13px;
  color: #000;
}
.fpbox .m-per div:nth-child(2n) {
  width: 34%;
  padding: 0 7px;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}
.fpbox .m-chart {
  display: block;
  width: 100%;
  float: left;
}
.fpbox .m-chart .carousel {
  padding-bottom: 20px;
}
.fpbox .m-chart .carousel-indicators {
  margin: 0;
  padding: 0;
}
.fpbox .m-chart .carousel-indicators [data-bs-target] {
  margin: 0 5px;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 0;
  background: #e5e6ec;
}
.fpbox .m-chart .carousel-indicators .active {
  background: #5368ff;
}
.fpbox .m-list-w {
  display: block;
  overflow: hidden;
}
.fpbox .m-list-w .shorcutBtn {
  width: 100%;
  float: left;
}
.fpbox .m-list {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.fpbox .m-list .list {
  display: block;
  width: 695px;
  height: 90px;
}
.fpbox .m-list .list .itemcard {
  display: flex;
  width: 225px;
  height: 90px;
  margin-right: 10px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  padding: 15px 10px;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
.fpbox .m-list .list .itemcard .name {
  width: 100%;
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.fpbox .m-list .list .itemcard .name span {
  font-size: 13px;
}
.fpbox .m-list .list .itemcard .guide {
  width: 100%;
  height: 15px;
  line-height: 15px;
  font-size: 13px;
  color: #000;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fpbox .m-list .list .itemcard .info {
  width: 100%;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  color: #999;
  margin-top: 7px;
}
.fpbox .m-list .list .itemcard:last-child {
  margin-right: 0;
}

.msvc-nav-w {
  display: block;
  width: 100%;
  text-align: center;
  background: #f6f6f8;
  padding: 10px 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.msvc-nav-w .msvc-nav {
  display: inline-flex;
  justify-content: center;
}
.msvc-nav-w .msvc-nav a.nav-link {
  display: inline-block;
  min-width: 90px;
  height: 35px;
  line-height: 33px;
  border: 1px solid #d5d5d5;
  border-radius: 35px;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  padding: 0 8px;
  margin: 0 4px;
  float: none;
  background: #fff;
}
.msvc-nav-w .msvc-nav a.nav-link.active {
  border: 1px solid #5567fd;
  background: #5567fd;
  color: #fff;
}

.msvc-alarm-list {
  overflow: hidden;
}

.pf_w {
  display: block;
  width: 100%;
  overflow: hidden;
}
.pf_w .top {
  position: relative;
  display: block;
  width: 100%;
  float: left;
}
.pf_w .top .txt {
  width: 100%;
  padding: 25px 0;
  text-align: center;
}
.pf_w .top .txt span {
  display: block;
  font-size: 13px;
  color: #000;
}
.pf_w .top .txt strong {
  display: block;
  font-size: 20px;
  height: 25px;
  line-height: 25px;
  font-weight: 700;
}
.pf_w .top .btnbox {
  display: block;
  width: 100%;
  padding: 0 17px;
}
.pf_w .top .btnbox .guidebtn {
  display: block;
  width: 53px;
  height: 16px;
  line-height: 14px;
  padding: 0;
  border: 1px solid #d5d5d5;
  font-size: 11px;
  color: #999;
  border-radius: 16px;
  background: #fff;
}
.pf_w .top .btnbox .refresh {
  border: 0;
  background: none;
  font-size: 13px;
  color: #999;
  padding: 0;
}
.pf_w .tab-w {
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 0 17px;
  float: left;
}
.pf_w .tab-w.noPadding .nav.nav-tabs {
  padding: 0 17px;
}
.pf_w .tab-w .nav.nav-tabs {
  display: table;
  width: calc(100% - 34px);
  border: 0 !important;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 17px;
}
.pf_w .tab-w .nav.nav-tabs .nav-item {
  display: table-cell;
}
.pf_w .tab-w .nav.nav-tabs .nav-item .nav-link {
  display: block;
  width: 100%;
  height: 38px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #999;
  border: 1px solid #cacaca;
  border-bottom: 1px solid #5568fd;
  border-radius: 0;
  padding: 0;
}
.pf_w .tab-w .nav.nav-tabs .nav-item .nav-link.active {
  border: 1px solid #5568fd;
  border-bottom: 1px solid #fff;
  color: #5567fd;
  font-weight: 700;
  z-index: 99;
}
.pf_w .tab-w .tab-content {
  display: block;
  width: 100%;
  float: left;
}

.circle-badge {
  position: absolute;
  top: -5px;
  right: 5px;
  z-index: 77;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 11px;
  color: #fff;
  border-radius: 50%;
}
.circle-badge.bg-red {
  background: #ff414f;
}

.h_per {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 17px;
}
.h_per strong {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #cacaca;
  background: #f5f5f5;
  text-align: center;
  font-size: 13px;
  color: #000;
}
.h_per .dl_list {
  display: block;
  width: 100%;
  overflow: hidden;
}
.h_per .dl_list dl {
  display: block;
  width: 50%;
  height: 40px;
  line-height: 40px;
  float: left;
  border: 1px solid #cacaca;
  border-top: 0;
  padding: 0 8px;
  margin: 0;
}
.h_per .dl_list dl:nth-child(2n) {
  border-left: 0;
}
.h_per .dl_list dl dt {
  display: block;
  font-size: 13px;
  color: #000;
  float: left;
  font-weight: 400;
}
.h_per .dl_list dl dd {
  display: block;
  float: right;
  font-size: 13px;
  font-weight: 700;
}
.h_per .guide {
  display: block;
  padding-top: 10px;
  font-size: 13px;
  color: #999;
}
.h_per .guide::before {
  content: "·";
}

#pop-guide {
  position: absolute;
  top: 0;
  left: 17px;
  width: calc(100% - 34px);
  min-height: 154px;
  background: #f1f3f7;
  padding: 32px 10px 20px;
  z-index: 10;
  border-radius: 5px;
}
#pop-guide.hide {
  left: -9999em !important;
}
#pop-guide span {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #999;
  width: 100%;
  margin-top: 10px;
}
#pop-guide span::before {
  content: "·";
  padding-right: 2px;
}
#pop-guide .close {
  position: absolute;
  top: 5px;
  right: 13px;
  padding: 0;
}
#pop-guide .close button {
  background: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  color: #000;
}

.notJoin-msvc .text {
  display: block;
  width: 100%;
  min-height: 140px;
  line-height: 140px;
  text-align: center;
  font-size: 14px;
  color: #999;
}
.notJoin-msvc .ai-bnr {
  display: flex;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  padding: 25px 20px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.notJoin-msvc .ai-bnr.cn {
  padding: 10px 15px;
  min-height: 87px;
}
.notJoin-msvc .ai-bnr.cn .txt {
  width: calc(100% - 90px);
}
.notJoin-msvc .ai-bnr.cn .button.cancel {
  text-align: right;
}
.notJoin-msvc .ai-bnr .txt {
  width: 260px;
}
.notJoin-msvc .ai-bnr .txt span {
  display: block;
  font-size: 13px;
  color: #000;
}
.notJoin-msvc .ai-bnr .txt span.date {
  font-size: 14px;
  line-height: 20px;
}
.notJoin-msvc .ai-bnr .txt span.guide {
  font-size: 16px;
  line-height: 22px;
}
.notJoin-msvc .ai-bnr .txt strong {
  display: block;
  font-size: 16px;
  color: #5567fd;
  font-weight: 700;
}
.notJoin-msvc .ai-bnr .txt strong.cn-tit {
  color: #000;
  min-height: 20px;
  line-height: 20px;
}
.notJoin-msvc .ai-bnr .button {
  display: block;
  width: 30px;
}
.notJoin-msvc .ai-bnr .button.cancel {
  width: auto;
}
.notJoin-msvc .ai-bnr .button a {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 100%;
  background: #5567fd url(https://img.thinkpool.com/www/mobile/img/bu_rarw_xl.png) no-repeat center 50%;
  background-size: 15px auto;
  text-indent: -9999em;
}

.sq-nav {
  display: block;
  width: 100%;
  padding: 0 17px;
}
.sq-nav nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.sq-nav nav a.nav-link {
  display: inline-block;
  height: 33px;
  line-height: 31px;
  padding: 0 13px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  font-size: 14px;
  color: #000;
}
.sq-nav nav a.nav-link.active {
  color: #5567fd;
  font-weight: 700;
}

.paytolist {
  display: block;
  width: 100%;
  padding: 22px 17px;
}

.agzm-list {
  display: block;
  width: 100%;
  padding-bottom: 15px;
}
.agzm-list .list {
  display: block;
  width: 100%;
  padding-top: 20px;
}
.agzm-list .list strong {
  display: block;
  width: fit-content;
  min-width: 120px;
  height: 28px;
  line-height: 28px;
  background: #3d4665;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: 500 !important;
  text-align: center;
}
.agzm-list .list div {
  display: block;
  width: 100%;
  padding-top: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}

.rcv_bnr {
  padding: 25px 0 10px 0;
}
.rcv_bnr .text {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
}
.rcv_bnr .text strong {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 29px;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}
.rcv_bnr .text span {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 23px;
  font-size: 16px;
  color: #333;
}
.rcv_bnr .per {
  display: block;
  width: 100%;
  padding: 20px 0;
}
.rcv_bnr .per .swiper-slide > div {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.rcv_bnr .per .swiper-slide > div em {
  display: block;
  border-radius: 100px;
  height: 23px;
  line-height: 23px;
  padding: 0 10px;
  background: #edefff;
  font-size: 12px;
  color: #5368ff;
}
.rcv_bnr .per .swiper-slide > div strong {
  display: block;
  width: 100%;
  text-align: Center;
  line-height: 38px;
  font-size: 26px;
  font-weight: 700;
}
.rcv_bnr .per .swiper-slide > div span {
  display: block;
  width: 100%;
  text-align: Center;
  line-height: 17px;
  font-size: 12px;
  color: #333;
}
.rcv_bnr .rcv-btn {
  display: flex;
  width: 100%;
  justify-content: center;
}
.rcv_bnr .rcv-btn button {
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  width: 250px;
  height: 37px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #5368ff;
  border: 0;
  margin: 0;
}
.rcv_bnr .rcv-btn button span {
  display: block;
  font-size: 16px;
  color: #fff;
}
.rcv_bnr .rcv-btn button span em {
  color: #fcff55;
  font-weight: 700;
}
.rcv_bnr .rcv-btn.rcv-btn2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background: none;
}
.rcv_bnr .rcv-btn.rcv-btn2 button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
  width: 227px;
  height: auto;
  background: none;
}
.rcv_bnr .rcv-btn.rcv-btn2 button img {
  width: 100%;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
.blink {
  animation: blink-effect 1.5s step-end infinite;
  /*
  animation-name: blink-effect;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  animation-timing-function:step-end;
  */
}

.rcv_modal {
  display: block;
  width: 100%;
}
.rcv_modal .top-text {
  display: block;
  width: 100%;
  line-height: 23px;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.rcv_modal .top-text em {
  font-weight: 700;
}
.rcv_modal .price {
  display: block;
  width: 280px;
  margin: 0 auto;
  text-align: Center;
  height: 47px;
  line-height: 47px;
  background: #edefff;
  margin-top: 30px;
}
.rcv_modal .price dl {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
}
.rcv_modal .price dl dt {
  font-size: 16px;
  color: #000;
}
.rcv_modal .price dl dd {
  display: flex;
  align-items: center;
}
.rcv_modal .price dl dd del {
  font-size: 16px;
  color: #666;
}
.rcv_modal .price dl dd span {
  font-size: 16px;
  color: #000;
}
.rcv_modal .price dl dd em {
  font-size: 18px;
  color: #5368ff;
  font-weight: 700;
}
.rcv_modal .rcv_modal_btn {
  display: flex;
  margin: 30px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.rcv_modal .rcv_modal_btn button {
  width: 100px;
  padding: 0 10px;
  height: 36px;
  font-size: 16px;
  border-radius: 100px;
}
.rcv_modal .rcv_modal_btn button.btn-default {
  border: 1px solid #d6d6d6;
  color: #333;
}
.rcv_modal .rcv_modal_btn button.btn-primary {
  background: #5368ff;
  color: #fff;
}
.rcv_modal .rcv-items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}
.rcv_modal .rcv-items button {
  width: 254px;
  height: 40px;
  border-radius: 100px;
  background: #5368ff;
  font-size: 16px;
  color: #fff;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.rcv_modal .rcv-items button em {
  font-weight: 700;
}

.itemView {
  display: block;
  border-bottom: 1px solid #cacaca;
  padding: 20px 0 10px 0;
}
.itemView:first-child {
  border-top: 0;
}
.itemView .top {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: left;
}
.itemView .top .name {
  display: block;
  height: 22px;
  line-height: 24px;
  font-size: 22px;
  color: #000;
  font-weight: 700;
}
.itemView .top .name span {
  font-size: 13px;
  color: #000;
  font-weight: 400;
}
.itemView .top .info {
  font-size: 13px;
  color: #000;
  padding-top: 3px;
}
.itemView .top .tag {
  display: block;
  margin-top: 10px;
  text-align: left;
}
.itemView .top .tag span {
  display: block;
  font-size: 13px;
  color: #5368ff;
  padding-right: 5px;
  float: left;
}
.itemView .top .tag span::before {
  content: "#";
  float: left;
}
.itemView .con {
  display: block;
  width: 100%;
  padding: 10px 0 0 0;
  text-align: left;
}
.itemView .con strong {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.itemView .con span {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  padding-top: 5px;
}
.itemView .con span em {
  color: #999;
}
.itemView .shorcutBtn {
  margin-bottom: 10px;
}

.today-guide {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 10px;
}
.today-guide span {
  display: block;
  font-size: 13px;
  color: #999;
  float: left;
}
.today-guide span::before {
  content: "·";
  padding-right: 5px;
  float: left;
}

.today-alram {
  background: #f5f5f5;
  padding: 25px 0;
  text-align: center;
}
.today-alram .text {
  font-size: 13px;
  color: #999;
  line-height: 17px;
  padding: 0 30px;
}
.today-alram .btnbox {
  display: block;
  width: 100%;
  text-align: center;
}
.today-alram .btnbox button {
  height: 36px;
  line-height: 36px;
  padding: 0 14px;
  border: 0;
  border-radius: 5px;
  background: #5368ff;
  color: #fff;
  vertical-align: middle;
}
.today-alram .btnbox button img {
  float: left;
  margin: 10px 5px 0 0;
}

.bnrToday {
  position: relative;
  display: block;
  width: 100%;
  max-height: 163px;
  padding: 20px 15px 30px;
  overflow: hidden;
}
.bnrToday .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.bnrToday .bg-img img {
  width: 100%;
  height: 100%;
}
.bnrToday .bnr-img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  height: auto;
  z-index: 20;
}
.bnrToday .abs-box {
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  left: 0;
  bottom: 0;
  background: #fff;
  border-radius: 10px 10px 0 0;
  z-index: 20;
}

.rdnItem-w {
  display: block;
  width: 100%;
  padding: 0 17px;
}
.rdnItem-w.bg-point {
  background: #F6F7F8;
}
.rdnItem-w:first-child .rdnItem {
  border-top: 0;
  padding-top: 0;
}

.rdnItem {
  display: flex;
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid #cacaca;
  align-items: center;
  overflow: hidden;
}
.rdnItem .left {
  display: block;
  width: 65%;
  float: left;
}
.rdnItem .left > div {
  display: block;
  width: 100%;
  float: left;
}
.rdnItem .left .bullet {
  font-size: 13px;
  color: #999;
  line-height: 17px;
  height: 17px;
}
.rdnItem .left .name {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  height: 22px;
  line-height: 22px;
}
.rdnItem .left .name > span {
  display: block;
  float: left;
}
.rdnItem .left .name .circle-bullet {
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-left: 6px;
  margin-top: 2px;
}
.rdnItem .left .name .circle-bullet.bg-red {
  background: #FF414F;
}
.rdnItem .left .info {
  min-height: 18px;
  line-height: 16px;
  font-size: 14px;
  color: #000;
  padding-top: 3px;
}
.rdnItem .left .tag {
  margin-top: 10px;
  overflow: hidden;
}
.rdnItem .left .tag span {
  display: block;
  font-size: 13px;
  color: #5368ff;
  float: left;
  padding-right: 5px;
}
.rdnItem .left .tag span::before {
  content: "#";
}
.rdnItem .right {
  display: block;
  width: 35%;
  text-align: right;
  float: left;
}
.rdnItem .right > div {
  display: block;
  width: 100%;
  float: left;
}
.rdnItem .right .date {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #999;
}
.rdnItem .right .sellprice {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #000;
}
.rdnItem .right .per {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
}
.rdnItem .right .targetprice {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  color: #000;
}

.rdn-btnbox {
  display: block;
  width: 100%;
  text-align: center;
}
.rdn-btnbox button {
  margin: 0 4px;
}

.selectRdn {
  position: absolute;
  top: 10px;
  right: 17px;
}
.selectRdn .form-select {
  font-size: 13px;
}

.pf_w .empty {
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-size: 14px;
  color: #999;
}

.rule-btn {
  position: absolute;
  top: 22px;
  right: 17px;
}
.rule-btn button {
  display: block;
  width: 53px;
  height: 16px;
  line-height: 14px;
  padding: 0;
  border: 1px solid #d5d5d5;
  font-size: 11px;
  color: #999;
  border-radius: 16px;
  background: #fff;
}

#pfper .modal-header, #opn .modal-header, #PortfolioOptMD .modal-header {
  padding-bottom: 0;
  border-bottom: 0;
}
#pfper .modal-body, #opn .modal-body, #PortfolioOptMD .modal-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.pf-pop-guide {
  display: block;
}
.pf-pop-guide .tit {
  display: block;
  width: 100%;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  float: left;
  text-align: center;
}
.pf-pop-guide .txtbox {
  display: block;
  width: 100%;
  background: #f5f5f5;
  padding: 17px 15px;
  float: left;
  border-radius: 5px;
}
.pf-pop-guide .txtbox div {
  display: block;
  width: 100%;
  float: left;
}
.pf-pop-guide .txtbox div strong {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  float: left;
}
.pf-pop-guide .txtbox div span {
  display: block;
  width: 100%;
  line-height: 20px;
  font-size: 16px;
  color: #999;
  float: left;
}
.pf-pop-guide .txtbox div .dot {
  display: block;
  float: left;
}
.pf-pop-guide .txtbox div .dot span {
  width: calc(100% - 20px);
  line-height: 20px;
  font-size: 16px;
  color: #999;
  float: left;
}
.pf-pop-guide .txtbox div .dot::before {
  line-height: 20px;
  content: "·";
  display: block;
  float: left;
  margin-right: 5px;
}
.pf-pop-guide .guide {
  display: block;
  width: 100%;
  float: left;
}
.pf-pop-guide .guide div {
  display: block;
  width: 100%;
  float: left;
}
.pf-pop-guide .guide div span {
  display: block;
  line-height: 20px;
  font-size: 16px;
  color: #000;
  width: calc(100% - 20px);
  float: left;
}
.pf-pop-guide .guide div::before {
  content: "·";
  display: block;
  float: left;
  margin-right: 5px;
}

.item-dtl {
  display: block;
  padding: 20px 0;
  width: 100%;
}
.item-dtl .txt {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
.item-dtl .per {
  display: table;
  table-layout: auto;
  width: 100%;
  background: #5368ff;
  border-radius: 5px;
  padding: 15px 0;
  overflow: hidden;
}
.item-dtl .per > div {
  display: table-cell;
}
.item-dtl .per > div > span {
  display: block;
  width: 100%;
  height: 15px;
  line-height: 15px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
.item-dtl .per > div strong {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.item-dtl .per > div strong.up {
  color: #FF4150;
}
.item-dtl .per > div strong span {
  font-size: 11px;
  color: #fff;
  font-weight: 400;
}
.item-dtl .per > div:nth-child(2n) {
  border-left: 1px solid #7B89FE;
  border-right: 1px solid #7B89FE;
}
.item-dtl .guide {
  display: block;
  width: 100%;
  font-size: 13px;
  color: #999;
}

.ai-dtl-box {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
}
.ai-dtl-box .itemTitle {
  display: block;
  width: 100%;
}
.ai-dtl-box .itemTitle .name {
  font-size: 13px;
  color: #000;
  font-weight: 500;
}
.ai-dtl-box .itemTitle .inum {
  font-size: 11px;
  color: #999;
  margin-left: 5px;
}
.ai-dtl-box .list-group {
  border: 0;
}
.ai-dtl-box .list-group .list-group-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 45px;
  line-height: 45px;
  border: 0;
  border-bottom: 1px solid #e2e2e2;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #000;
}
.ai-dtl-box .list-group .list-group-item:last-child {
  border-bottom: 0;
}
.ai-dtl-box .list-group .list-group-item span {
  display: block;
}
.ai-dtl-box .list-group .list-group-item span.txt {
  width: 100%;
}
.ai-dtl-box .list-group .list-group-item span.date {
  color: #999;
}
.ai-dtl-box .list-group .list-group-item span.date {
  text-align: right;
  min-width: 40px;
  color: #999;
  font-size: 13px;
}
.ai-dtl-box .list-group .list-group-item span.corp {
  text-align: right;
  min-width: 60px;
  color: #999;
  font-size: 13px;
}
.ai-dtl-box .top {
  position: relative;
  display: block;
  width: 100%;
  height: 47px;
  float: left;
  padding: 0 15px;
}
.ai-dtl-box .top .title {
  display: block;
  width: 100%;
  height: 47px;
  line-height: 47px;
  float: left;
  font-size: 16px;
}
.ai-dtl-box .top .date {
  position: absolute;
  top: 0;
  right: 15px;
  height: 47px;
  line-height: 47px;
  font-size: 13px;
  color: #999;
}
.ai-dtl-box .con {
  display: block;
  width: 100%;
  float: left;
  border-top: 1px solid #ddd;
  padding: 25px 15px;
}
.ai-dtl-box .con .notJoin {
  position: relative;
  width: 100%;
}
.ai-dtl-box .con .notJoin.hide {
  display: none;
}
.ai-dtl-box .con .notJoin .ab-box {
  position: absolute;
  top: 50%;
  margin-top: -80px;
  width: 100%;
  height: 160px;
  text-align: center;
}
.ai-dtl-box .con .notJoin .ab-box .txt {
  line-height: 20px;
  font-size: 16px;
  color: #fff;
}
.ai-dtl-box .con .notJoin .ab-box .txt span {
  color: #FCFF00;
}
.ai-dtl-box .con .notJoin .ab-box .btnbox {
  margin-top: 20px;
}
.ai-dtl-box .con .notJoin .ab-box .btnbox button {
  display: inline-block;
  height: 37px;
  line-height: 37px;
  padding: 0 30px;
  font-size: 16px;
  background: #5368ff;
  border-radius: 37px;
  border: 0;
  color: #fff;
}
.ai-dtl-box .con .notJoin .ab-box .link {
  margin-top: 25px;
}
.ai-dtl-box .con .notJoin .ab-box .link a {
  padding-right: 15px;
  color: #fff;
  font-size: 13px;
  background: url(https://img.thinkpool.com/www/mobile/img/bu_rarw.png) no-repeat 100% 50%;
  background-size: 12px auto;
}

.textSlide {
  position: relative;
  display: block;
  width: 100%;
}
.textSlide .carousel {
  padding-bottom: 40px;
}
.textSlide .carousel .carousel-indicators {
  margin: 0 !important;
}
.textSlide .carousel .carousel-indicators [data-bs-target] {
  padding: 0;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #E5E6EC;
  border: 0 !important;
}
.textSlide .carousel .carousel-indicators [data-bs-target].active {
  background: #5368ff;
}

.timeLine {
  position: relative;
  width: 100%;
  padding: 27px 0;
  background: url(https://img.thinkpool.com/www/mobile/img/bgTimeline.png) repeat-y 10px 0;
}
.timeLine .box {
  z-index: 9;
}
.timeLine .box .title {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
  background-image: url(https://img.thinkpool.com/www/mobile/img/bu_timeline.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 19px auto;
  padding-left: 26px;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
}
.timeLine .box .list {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: #F5F5F9;
  margin-top: 10px;
  padding: 10px 15px;
  overflow: hidden;
}
.timeLine .box .list span {
  display: block;
  font-size: 15px;
  line-height: 20px;
}
.timeLine .box .list span.time {
  color: #999;
  float: left;
}
.timeLine .box .list span.txt {
  width: calc(100% - 45px);
  color: #000;
  float: right;
}
.timeLine .box .empty {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 140px;
  text-align: center;
}
.timeLine .box .empty span {
  font-size: 16px;
  color: #999;
}

.alg-list {
  display: block;
  width: 100%;
  overflow: hidden;
}
.alg-list .list {
  display: block;
  width: 100%;
  overflow: hidden;
}
.alg-list .list .alg-name {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 35px;
  padding: 0 15px;
  font-size: 14px;
  color: #5368ff;
  border: 1px solid #5368ff;
}
.alg-list .list .info {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
}
.alg-list .list .per {
  display: flex;
  justify-content: space-between;
  float: left;
  width: 100%;
  margin-top: 20px;
}
.alg-list .list .per div {
  display: block;
  width: 33%;
  float: left;
  text-align: center;
}
.alg-list .list .per div span {
  font-size: 13px;
  color: #999;
  display: block;
  width: 100%;
  float: left;
}
.alg-list .list .per div strong {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  float: left;
}
.alg-list .list .per div .box {
  display: inline-block;
  width: 90px;
  background: #f6f6f7;
  border-radius: 5px;
  padding: 5px 0;
  float: none;
  margin-top: 5px;
}
.alg-list .list .per div .box span {
  font-size: 13px;
  color: #000;
}
.alg-list .list .per div:nth-child(2n) {
  width: 34%;
  padding: 0 10px;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}

.topNavPf {
  padding: 20px 0 20px 0;
  background: #f6f6f8;
  display: block;
  width: 100%;
  overflow: hidden;
}

.visualTop {
  display: block;
  width: 100%;
  height: 156px;
  background: #262f56;
  padding: 25px 21px 25px 17px;
  text-align: center;
}
.visualTop.pftop {
  background: #36363e;
}
.visualTop.pftop strong {
  background-image: url(https://img.thinkpool.com/www/mobile/img/aipftop.png);
  background-repeat: no-repeat;
  background-size: 68px auto;
  background-position: 100% top;
}
.visualTop strong {
  display: inline-block;
  width: 100%;
  max-width: 390px;
  height: 106px;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  font-weight: 400;
  background-image: url(https://img.thinkpool.com/www/mobile/img/aivisualtop.png);
  background-position: 100% 11px;
  background-repeat: no-repeat;
  background-size: 108px auto;
  padding-left: 15px;
  text-align: left;
}
.visualTop strong span {
  font-weight: 700;
  color: #99a5ff;
  text-align: left;
}

.join-guide {
  display: block;
  width: calc(100% - 34px);
  max-width: 390px;
  margin: -25px auto 0 auto;
  padding: 30px 15px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #e6e6e6;
}
.join-guide .txt {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.join-guide .txt::before {
  display: inline-block;
  width: 15px;
  height: 10px;
  content: "";
  background: url(https://img.thinkpool.com/www/mobile/img/bu-modal-check.png) no-repeat 0 0;
  background-size: 12px auto;
  vertical-align: top;
  margin-top: 7px;
}
.join-guide .txt strong {
  display: inline-block;
  max-width: calc(100% - 20px);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400 !important;
}
.join-guide .txt strong em {
  font-weight: 700;
}
.join-guide .txt strong span {
  display: inline-block;
  font-size: 13px;
  color: #999;
  font-weight: 400;
}
.join-guide .guide {
  display: block;
  width: 100%;
  text-align: Center;
  margin-top: 20px;
  font-size: 15px;
  color: #000;
}
.join-guide .guide.text-violet span {
  color: #8450fd;
}
.join-guide .guide span {
  font-size: 18px;
  font-weight: 700;
  color: #5368ff;
}
.join-guide .guide span em {
  font-size: 14px;
  font-weight: 400;
}
.join-guide .button {
  display: block;
  width: 100%;
}
.join-guide .button > button {
  min-width: 200px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  background: #5567fd;
  font-size: 16px;
  color: #fff;
}

.section > .first-bnr-ad,
.section-inline-ad .first-bnr-ad {
  padding-bottom: 0;
}

.section.noPadding .first-bnr-ad {
  padding-bottom: 15px;
}

.first-bnr-ad {
  margin: 0 auto;
  width: calc(100% - 34px);
  max-width: 390px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.hp-w {
  position: relative;
  display: block;
  width: 238px;
  min-height: 347px;
  background: url(https://img.thinkpool.com/www/mobile/img/bghp.png) no-repeat 0 0;
  background-size: 100% 327px;
  margin: 20px auto 0;
  padding: 29px 8px 20px 12px;
}
.hp-w .carousel-inner {
  display: block;
  width: 100%;
  height: 327px;
}
.hp-w .carousel-indicators {
  margin: 0;
  padding: 0;
}
.hp-w .carousel-indicators [data-bs-target] {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #e5e6ec;
  margin: 0 3px;
  padding: 0;
  border-radius: 10px;
  border: 0;
}
.hp-w .carousel-indicators [data-bs-target].active {
  background: #5368ff;
}

.section-guide {
  width: 100%;
  margin-bottom: 10px;
}
.section-guide div {
  display: block;
  width: 100%;
  overflow: hidden;
}
.section-guide div::before {
  content: "·";
  display: block;
  float: left;
}
.section-guide div span {
  display: block;
  width: calc(100% - 10px);
  padding-left: 5px;
  float: left;
}
.section-guide div span em {
  color: #5368ff;
}

.spon {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: #f1f3f7;
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
}
.spon strong {
  font-size: 16px;
  font-weight: 400 !important;
}
.spon .sponList {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 5px;
  text-align: left;
  flex-wrap: wrap;
}
.spon .sponList span {
  display: block;
  width: calc((100% - 45px) / 3);
  margin: 7px 8px 0 7px;
}

.b-title {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: #f1f3f7;
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
}
.b-title strong {
  display: block;
  font-size: 16px;
  font-weight: 400 !important;
}
.b-title span {
  display: block;
  font-size: 14px;
  color: #999;
  padding-top: 10px;
}
