.item-home-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px 17px;
  height: 120px;
  background: #f6f6f8;
}

.item-home-info .date {
  width: 100%;
  height: 15px;
  line-height: 15px;
  font-size: 13px;
  color: #999;
}

.item-home-info .pnp {
  width: 100%;
}

.item-home-info .pnp .price {
  font-size: 30px;
  color: #000;
  font-weight: 700;
}

.item-home-info .pnp .per {
  font-size: 13px;
  color: #ff4150;
  font-weight: 700;
}

.item-home-info .tag {
  width: 100%;
  height: 15px;
  line-height: 15px;
}

.item-home-info .tag a {
  color: #000;
  font-size: 13px;
}

.item-home-info .tag span {
  font-size: 13px;
  color: #999;
  margin-left: 18px;
}

.item-home-info .tag span::before {
  font-size: 13px;
  content: '#';
  font-weight: 300;
  color: #5368FF;
  padding-right: 2px;
}

.item-home-info .fav {
  position: absolute;
  top: 24px;
  right: 17px;
  width: 45px;
  height: 37px;
  padding-top: 24px;
  background: url("../img/fav.png") no-repeat center top;
  background-size: 20px auto;
  text-align: center;
}

.item-home-info .fav span {
  font-size: 11px;
  color: #999;
}

.item-home-info .fav.active {
  background: url("../img/favOn.png") no-repeat center top;
  background-size: 20px auto;
}
