.item-home-signal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 73px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 17px 17px 0;
  padding: 10px 5%;
  border: 1px solid #5367FF;
  border-radius: 5px;
  background: url("../img/bu_item_signal.png") no-repeat 95% 50%;
  background-size: 6px auto;
}

.item-home-signal .state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 51px;
  height: 51px;
  border-radius: 100%;
  background: #7773F7;
}

.item-home-signal .state em {
  display: block;
  width: 14px;
  line-height: 14px;
  margin-top: -8px;
}

.item-home-signal .state span {
  display: block;
  width: 100%;
  height: 14px;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.075em;
}

.item-home-signal .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 75px);
  margin-left: 10px;
  padding: 6px 0;
}

.item-home-signal .info .signal_info {
  width: 100%;
  font-size: 13px;
  color: #000;
}

@media (max-width: 360px) {
  .item-home-signal .info .signal_info {
    font-size: 12px;
  }
}

.item-home-signal .info .signal_info .date {
  color: #9999;
}

.item-home-signal .info .signal_info .per {
  color: #7874F7;
}

.item-home-signal .info .pnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 15px;
  color: #000;
}

@media (max-width: 360px) {
  .item-home-signal .info .pnd {
    font-size: 13px;
  }
}

.item-home-signal .info .pnd .price span, .item-home-signal .info .pnd .date span {
  font-weight: 700;
}

.item-home-signal .info .pnd .date {
  margin-left: 10px;
}
