.c-theme {
  position: relative;
  padding: 20px 0 5px;
  border-bottom: 1px solid #e2e2e2;
}

.c-theme:last-child {
  border-bottom: 0;
}

.c-theme:first-child {
  padding-top: 0;
}

.c-theme:first-child .ab-btn.more {
  top: 0;
}

.c-theme .title {
  font-size: 15px;
  color: #5368ff;
  font-weight: 400 !important;
}

.c-theme #myItem {
  padding: 15px 0;
}

.c-theme #myItem .myItemList .myItemBox.item span.und, .c-theme #myItem .myItemList .myItemBox.item span.per {
  display: inline-block !important;
  width: auto !important;
  font-weight: 400 !important;
}

.c-theme #myItem .myItemList .myItemBox.item span.und {
  margin-right: 5px;
}
