@use "../tools" as *;

@import "../variable.scss";
.badge {
  height: 20px;
  line-height: 18px !important;
  min-width: 60px;
  text-align: center;
  font-size: 13px !important;
  border-radius: tp-radius(sm) !important;
  background: #fff;
  padding: 0 7px !important;
  font-weight: 400 !important;

  &.bg-custom {
    &-default {
      color: tp-color(text-secondary);
      border: 1px solid #676767;
    }
    &-primary {
      color: tp-color(primary);
      border: 1px solid #5468ff;
    }
    &-danger {
      color: #e73b84;
      border: 1px solid #e73b84;
    }
  }
}
