@use "../tools" as *;

@import "../variable.scss";

//시간
.upTime {
  position: absolute;
  top: 27px;
  right: 17px;
  height: 16px;
  line-height: 16px;
  text-align: right;
  font-size: 13px;
  color: tp-color(text-muted);

  @include mini {
    right: 10px;
    font-size: 11px;
  }
}

//latest
.latest {
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    height: 45px;
    line-height: 45px;
    padding: 0;
    border-bottom: 1px solid #e2e2e2;
    font-size: 16px;
    color: #000;

    &:last-child {
      border-bottom: 0;
    }
  }

  &-m {
    padding: 16px 0 0 0;
  }
}

//radio
.radionCheckingBox {
  padding: 10px 17px 0;

  .form-check-inline {
    margin-right: 15px;

    input[type="radio"] {
      width: 20px;
      height: 20px;
    }

    label {
      margin: 0.2em 0 0 0.5em;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      color: #000;
    }
  }
}

.itemUpdate {
  display: block;
  height: 15px;
  line-height: 15px;
  border-bottom: 1px solid #e2e2e2;
  text-align: right;
  margin: 5px 17px 0;
  padding: 10px 0;
  box-sizing: content-box;
  color: #989898;

  &.nbdtm {
    border-bottom: 0;
  }

  span {
    font-size: 13px;
    color: tp-color(text-muted);
  }
}

.ab-price {
  top: 22px;
  right: 17px;

  span {
    font-weight: 700;

    em {
      font-size: 10px;
    }

    &:first-child {
      font-size: 16px;
      color: #000;
    }

    &:nth-child(2n) {
      font-size: 12px;
    }
  }
}

.ab-btn {
  position: absolute;
  top: 25px;
  right: 15px;

  &.more {
    top: 20px;
    right: 0;
    height: 16px;

    button {
      background: #fff;
      border: 0;
      font-size: 14px;
      color: #000;
      height: 16px;
      line-height: 16px;
      padding: 0;
      margin: 0;
      float: left;
    }
  }
  &.doc {
    top: 20px;
    right: 0;

    button {
      height: 33px;
      padding: 0 14px;
      border: 1px solid #cfd3d9;
      font-size: 14px;
      border-radius: tp-radius(sm);
      color: #000;
      background: #fff;
    }
  }

  button {
    background: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    font-size: 14px;
    color: #000;
    height: 28px;
    padding: 0 5px 0 10px;
  }
}
