@use "../tools" as *;

//table
@import "../variable.scss";

table tbody tr td a {
  color: #000;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0 !important;
}
.table {
  &-custom {
    &-bordered {
      margin: 0;
      vertical-align: middle;

      thead {
        tr {
          &:first-child {
            th {
              border-top: 1px solid #000;
            }
          }
          th {
            height: 40px;
            min-height: 40px !important;
            background: #f5f5f5;
            border: 1px solid #cacaca;
            border-bottom: 0;
            font-size: 14px;
            color: #000;
            font-weight: 400;
            vertical-align: middle;
            text-align: center;

            &:first-child {
              border-left: 0;
            }
            &:last-child {
              border-right: 0;
            }
          }
        }
      }
      // thead
      tbody {
        tr {
          &:first-child {
            th,
            td {
              border-top: 1px solid #000;
            }
          }
          th.br {
            border-right: 1px solid #cacaca;
          }
          th,
          td {
            border-bottom: 1px solid #cacaca;
            height: 40px;
            min-height: 40px !important;
            font-size: 13px;
            color: #000;
            font-weight: 400;
            vertical-align: middle;
          }
          th span.itemObj {
            display: block;
            width: 100%;
            color: #000;

            @media (max-width: 320px) {
              max-width: 83px;
            }
            @media (max-width: 375px) {
              max-width: 120px;
            }
            @media (max-width: 425px) {
              max-width: 140px;
            }
          }
        }
      }
    }
    &-sbordered {
      vertical-align: middle;

      tbody {
        tr {
          &.bordered {
            th,
            td {
              border-bottom: 1px solid #000;
            }
          }
          th {
            font-size: 12px;
            color: tp-color(text-muted);
            font-weight: 400;
          }
          td {
            color: #000;
            span {
              font-size: 13px;
            }
          }
          th,
          td {
            vertical-align: middle;
            height: 40px;
            border-bottom: 1px solid #cacaca;
            padding: 0 6px !important;
          }
        }
      }
    }
    &-borderless {
      margin: 0;
      vertical-align: middle;

      :not(:first-child) {
        border-top: 1px solid #000 !important;
      }

      thead {
        tr {
          &:first-child {
            th {
              border-top: 1px solid #000;
            }
          }
          th {
            height: 40px;
            min-height: 40px !important;
            background: #f5f5f5;
            border-bottom: 0;
            font-size: 14px;
            color: #000;
            font-weight: 400;
            vertical-align: middle;
            text-align: center;

            &:first-child {
              border-left: 0;
            }
            &:last-child {
              border-right: 0;
            }
          }
        }
      }
      // thead
      tbody {
        tr {
          &:first-child {
            th,
            td {
              border-top: 1px solid #000;
            }
          }
          th.br {
            border-right: 1px solid #cacaca;
          }
          th,
          td {
            border-bottom: 1px solid #cacaca;
            height: 40px;
            min-height: 40px !important;
            font-size: 13px;
            color: #000;
            font-weight: 400;
            vertical-align: middle;

            span.itemObj {
              display: block;
              width: 100%;
              color: #000;

              @include mini {
                max-width: 83px;
              }
              @include mobile {
                max-width: 120px;
              }
              @include web {
                max-width: 140px;
              }
            }

            span.name {
              display: block;
              width: 100%;
              max-width: 80px;
            }
          }
          span {
            &.date {
              color: tp-color(text-muted);
              border: 0 !important;
            }
            &.per {
              color: tp-color(text-muted);
              &.up {
                color: #ff4150;
              }
              &.dn {
                color: tp-color(primary);
              }
            }
          }
        }
      }
    }
    &-sm {
      &.carou {
        tbody {
          tr {
            th,
            td {
              padding: 15px 7px;
              border: 1px solid #cacaca;
              font-weight: 400;
            }
            th {
              font-size: 14px;
              color: #000;
              background: #f3f3f3;
              border-left: 0;
              text-align: center;
            }
            td {
              border-right: 0;

              strong {
                display: block;
                width: 100%;
                font-size: 14px;
                line-height: 20px;
                color: #000;
                font-weight: 400 !important;
              }
              span {
                display: block;
                width: 100%;
                font-size: 14px;
                color: tp-color(text-muted);
                line-height: 20px;
              }
            }
          }
        }
      }

      &.vtop {
        thead,
        tbody {
          th,
          td {
            vertical-align: top !important;
          }
        }
      }
      border: 0 !important;

      thead {
        border: 0 !important;

        tr {
          th {
            font-size: 13px;
            color: #000;
            height: 40px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            font-weight: 400;
            text-align: center;
            background: #f5f5f5;
            padding: 0;
            vertical-align: middle;
          }
        }
      }
      tbody {
        border: 0 !important;

        tr {
          &.contxt {
            td {
              background: #f6f6f7;
            }
          }
          td {
            padding: 10px 5px;
            border-bottom: 1px solid #cacaca;
            font-size: 13px;
            color: #000;
            text-align: center;
            vertical-align: middle;

            .talkObj {
              display: block;
              width: 100%;
              float: left;
              .date {
                padding-right: 5px;
              }
            }
            .talkCon {
              float: left;
              width: 100%;
              margin-top: 10px;
              padding: 20px 10px 20px 60px;
              background: #f6f6f7;
            }

            .date {
              color: tp-color(text-muted);
            }

            .empty {
              height: 120px;
              line-height: 120px;
              text-align: center;
              width: 100%;

              font-size: 14px;
              color: tp-color(text-muted);
            }

            .delete {
              display: inlin-block;
              height: 28px;
              line-height: 26px;
              border: 1px solid #d6d6d6;
              border-radius: tp-radius(sm);
              padding: 0 13px;
              margin: 0;
              font-size: 14px;
              color: #000;
              background: #fff;

              &::before {
                content: "\00d7";
                color: tp-color(text-muted);
              }
            }
            .tag {
              display: block;
              width: 100%;
              text-align: center;
              padding: 0 0 5px 0;
              font-size: 13px;
              color: tp-color(primary);

              &::before {
                content: "#";
              }
              span {
                display: block;
                float: left;
              }
            }
            .guide {
              font-size: 13px;
              color: #000;
              line-height: 19px;
            }
            .name {
              max-width: 166px;
              color: #000;
            }
          }
        }
      }
    }

    &-snd {
      margin: 0;
      vertical-align: middle;

      :not(:first-child) {
        border-top: 1px solid #000 !important;
      }

      thead {
        tr {
          &:first-child {
            th {
              border-top: 1px solid #000;
            }
          }
          th {
            height: 40px;
            min-height: 40px !important;
            background: #f5f5f5;
            border-bottom: 0;
            font-size: 14px;
            color: #000;
            font-weight: 400;
            vertical-align: middle;
            text-align: center;
            border-left: 1px solid #cacaca !important;

            &:first-child {
              border-left: 0 !important;
            }
            &:last-child {
              border-right: 0;
            }
          }
        }
      }
      // thead
      tbody {
        tr {
          &:first-child {
            th,
            td {
              border-top: 1px solid #000;
            }
          }
          th.br {
            border-right: 1px solid #cacaca;
          }
          th,
          td {
            border-bottom: 1px solid #cacaca;
            border-left: 1px solid #cacaca !important;
            height: 40px;
            min-height: 40px !important;
            font-size: 13px;
            color: #000;
            font-weight: 400;
            vertical-align: middle;
            padding: 5px !important;

            &:first-child {
              border-left: 0 !important;
            }

            span.itemObj {
              display: block;
              width: 100%;
              color: #000;

              @include mini {
                max-width: 83px;
              }
              @include mobile {
                max-width: 120px;
              }
              @include web {
                max-width: 140px;
              }
            }

            span.name {
              display: block;
              width: 100%;
              max-width: 80px;
            }
          }
          span {
            &.date {
              color: tp-color(text-muted);
              border: 0 !important;
            }
            &.per {
              color: tp-color(text-muted);
              &.up {
                color: #ff4150;
              }
              &.dn {
                color: tp-color(primary);
              }
            }
          }
        }
      }
    }
  }
}
