@use "../tools" as *;

@import "../variable.scss";
//title
.title {
  display: inline-block;
  width: 100%;
  min-height: 18px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;

  span {
    color: tp-color(primary);
  }
  em {
    font-size: 13px;
    font-weight: 400;
  }

  &-bullet {
    padding-left: 22px;
    //메인라씨
    &-rassi {
      background: url(#{$imgUrlSv}/bu_tit_rassi.png) no-repeat 0 50%;
      background-size: 15px 15px;
    }
    //메인 ai신호
    &-ai {
      background: url(#{$imgUrlSv}/bu_tit_ai.png) no-repeat 17px 50%;
      background-size: 15px 15px;
    }
  }
}

.tit-guide {
  display: block;
  width: 100%;
  padding: 0 17px;
  font-size: 13px;
  color: tp-color(text-muted);
  min-height: 34px;
  line-height: 17px;
}
