.constituentStocks__tabs {
  @include pill-tab-buttons;
}

.constituentStocks__tab-content {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding-top: 20px;

  .chartBox {
    .chart-label {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 6px 10px;
      padding: 20px 0 15px;

      .label {
        width: 20%;
        font-size: 13px;
        color: $seohak-color-text;
        display: flex;
        align-items: center;
        gap: 0 8px;

        &::before {
          content: "";
          width: 9px;
          height: 9px;
          background: grey;
          border-radius: 100%;
        }
      }
    }
  }

  .itemList {
    padding-top: 20px;

    @include outline-more-button;
  }
}
