.fundFlow__tabs {
  @include pill-tab-buttons;
}

.fundFlow__tab-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;

  .tab-pane {
    .deposit__tabs,
    .netPurchase__tabs {
      @include segmented-tab-buttons;
    }

    .tab-content {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;

      .chart {
        padding-top: 12px;
      }
      .chart-label {
        @include dot-legend;
      }
    }

    &#netPurchase {
      .tab-content {
        .tab-pane {
          .chart-label {
            .label002 {
              &::before {
                background: #306ceb;
              }
            }
          }
        }
      }
    }
  }
}
